<div class="main">
    <div class="breadcrumb">
      <a href="../../../">return to homepage</a> > <a href="../../../products">Our Products</a> > <a href="../"> ASO Properties</a> > ASO Garden Estate 2
    </div> <!-- end: breadcrumb -->
    <div class="mainpagecontent">
      <div class="contentwrapper">
        <div class="pageheadnew">
          <div class="title">
            ASO Property
          </div>
         
        </div> <!-- end: pagehead -->
        <div class="asomainlong">
          <div id="property_slider_wrapper">
            <h3  style="padding-left:10px;">ASO Garden Estate 2, Karsana District</h3>
            <div style="display:inline-block; padding-left:10px; margin-right:10px; width:10px;"><i class="fa fa-map-marker" ></i>
            </div><h5 style="display:inline-block; width:200px;">KARSANA DISTRICT</h5></p>
            
          </div>
          <div class="property-images-slider">
            <div class="flexslider" id="details-slider4">
              <a class="fa fa-home property-type-icon" href="#"></a>
              <!-- <a class="status" href="#">for sale</a> -->
              <ul class="slides">
                <li>
                  <div class="image-wrapper"><img alt="gallery" src="ASO_GARDENS_KARSANA_2TER/SIZE_BIG/ASO ESTATE KARSANA - 2BEDROOM TERRACE.PNG"></div>
                </li>
                <li>
                  <div class="image-wrapper"><img alt="gallery" src="ASO_GARDENS_KARSANA_2TER/SIZE_BIG/ASO ESTATE KARSANA - 2BEDROOM TERRACE.PNG"></div>
                </li>
                <li>
                  <div class="image-wrapper"><img alt="gallery" src="ASO_GARDENS_KARSANA_2TER/SIZE_BIG/ASO ESTATE KARSANA - 2BEDROOM TERRACE.PNG"></div>
                </li>
                <li>
                  <div class="image-wrapper"><img alt="gallery" src="ASO_GARDENS_KARSANA_2TER/SIZE_BIG/ASO ESTATE KARSANA - 2BEDROOM TERRACE.PNG"></div>
                </li>
                
              </ul>
            </div>

            <!-- 
                <div class="flexslider" id="details-carousel4">
              <ul class="slides">
                <li><img src="AMAC_RELOCATION_MARKET_LUGBE_ENSUITE/SIZE_SMALL/EDIT_6.jpg"></li>
                <li><img src="AMAC_RELOCATION_MARKET_LUGBE_ENSUITE/SIZE_SMALL/EDIT.jpg"></li>
                <li><img src="AMAC_RELOCATION_MARKET_LUGBE_ENSUITE/SIZE_SMALL/EDIT_1.jpg"></li>
                <li><img src="AMAC_RELOCATION_MARKET_LUGBE_ENSUITE/SIZE_SMALL/EDIT_2.jpg"></li>
                
              </ul>
            </div>
        -->

            <br>
            <!--
                <div  style="position: relative; overflow: hidden;">
              <iframe width="740" height="315" src="https://www.youtube.com/embed/Xa1yk_IrbeU?rel=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             
            </div>
            -->

            <div id="map" style=" height: 400px; width: 100%"></div>
          </div>
          <article class="node node-apartment clearfix">
            <div class="pull-left overview">
                <div class="span3">
                  <h2>Features</h2>
                  <p>The estate has the following facilities:</p>
                  <div class="table">
                    <ul class="span2">
                      <li class="checked">Adequate Security</li>
                      <li class="checked">Liveable area: 124sqm</li>
                      <li class="checked">Ample Parking Lots</li>
                      <li class="checked">External Lighting</li>
                      <li class="checked">Water</li>
                      <li class="checked">Good road Network</li>
                      <li class="checked">Drainage</li>
                      <li class="checked">Good Landscape</li>
                      <li class="checked">Adequate Refuse Disposal System</li>
                    </ul>
                  </div> <!-- end: table -->
                </div> <!-- end: span3 -->
                <div class="clearfix"></div>
            </div>
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  <p>
                    ASO Garden estate Phase 2, Karsana is is a planned and serene community of exquisite homes. It is located after Gwarimpa along
                    Kubwa expressway. The estate consists of two phases, phase 1 and 2. The estate features 2 and 3-bedroom flats and terraces with
                    good road networks, playground for children and 24 hours of water supply..
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <h2>Price</h2>
            
            <div class="row">
              <p class="smlsize">* Price does NOT include VATand fee</p>
                <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                  <tr>
                    <th class="tablehead" style="background:#000; text-align:center;" colspan="3"><span style="color:#FFFFFF;">ASO Garden Estate 2, 2Bedroom Terrace Karsana District</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead" style="background:#972722; text-align:center;" width="33%"><span style="color:#FFFFFF;">House Type </span></th>
                    <th class="tablehead" style="background:#972722; text-align:center;" width="33%"><span style="color:#FFFFFF;">Size (Sq. M)</span></th>
                    <th class="tablehead" style="background:#972722; text-align:center;" width="33%"><span style="color:#FFFFFF;">Price Per Unit (₦)</span></th>
                  </tr>
                  <!-- <tr>
                    <th class="tablehead" style="text-align: center"><span style="color:#000000;">Type A First Floor</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">12.23</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">N 3,250,000</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead" style="background:#666; text-align: center"><span style="color:#FFF;">Type B First Floor</span></th>
                    <th class="tablehead" style="background:#666; text-align: center"><span style="color:#FFF;">10.4</span></th>
                    <th class="tablehead" style="background:#666; text-align: center"><span style="color:#FFF;">N 3,000,000</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead" style="text-align: center"><span style="color:#000000;">Warehouse First Floor</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">6.6 x 3.6</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">N 6,500,000</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead" style="text-align: center"><span style="color:#000000;">Restaurant First Floor</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">66.13</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">N 25,000,000</span></th>
                  </tr> -->
                  <tr>
                    <th class="tablehead" style="text-align: center"><span style="color:#000000;">2 Bedroom Terrace</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">124</span></th>
                    <th class="tablehead" style="background:#d97171; text-align: center"><span style="color:#000000;">₦ 22,500,000</span></th>
                  </tr>
                </table>
                <!--  <p class="smlsize"><span style="color:#FF0000;">Price is exclusive of tax and fee</span><br></p> -->
                <!-- <span style="color:#666;">Grey background indicates property is sold out</span> -->
              </div>

              <div class="row">
                <h4>Payment Plan</h4>
                <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                  <tr>
                    <th class="tablehead" style="background:#972722; text-align:center;" width="50%"><span style="color:#FFFFFF;">Flexible Payment Plan?</span></th>
                    <th class="tablehead" style="background:#972722; text-align:center;" width="50%"><span style="color:#FFFFFF;">Minimum Initial Deposit</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead" width="50%"><span style="color:#000000;">NO</span></th>
                    <th class="tablehead" style="background:#d97171;" width="25%"><span style="color:#000000;">₦ 22,500,000.00</span></th>
                  </tr>
                  
                </table>
              </div>
          </article>
          <!--<div style="margin-top:10px;"></div>
          <img src="../resources/img/properties/sponsors.png" alt="">
          <p class="redlink"><a href="" target="_blank">Take an Affordability Test <span class="smlsize">(please note this does not substitute for the prequalification exercise that will be conducted by the Bank in order to consider a customer eligible to participate in the product program)</span></a></p>-->
        </div> <!-- end: asomain -->	
      </div> <!-- end: contentwrapper -->	  
      <div class="asoshade gradient">	
        <div class="insideshadow">&nbsp;
        </div> <!-- end: insideshadow -->
      </div> <!-- end: asoshade -->
      <div class="asoside" style="padding-top:92px;">
        <div class="formpage">
          <div class="formpage1">
            <h3>OK, I am interested in this property...</h3>
            &nbsp;<h3 style="color: #DA251D"> Call: 07003300000, 096233233</h3>
             &nbsp;<h3 style="color: #DA251D">or, complete and submit this form</h3>
            <form class="houseform2" method="post" action="../form_processing.php" onsubmit="return formValidation();" id="houseform2">
              <input name="property" id="property" type="text" class="finalinput" placeholder="Aso Gardens Karsana - 2 Bedroom Terrace" value="Aso Gardens Karsana - 2 Bedroom Terrace" readonly>
              <label class="formlabel" style="margin-top:20px;">Select Title</label>
              <select name="title" id="title" class="finalinput" required="">
                <option value="" selected="selected">Please select</option>
                <option value="Mr." >Mr.</option>
                <option value="Mrs." >Mrs.</option>
                <option value="Miss." >Miss.</option>
                <option value="Dr" >Dr</option>
                <option value="Hon." >Hon.</option>
                <option value="Engr." >Engr.</option>
                <option value="Bar." >Bar.</option>
                <option value="Prof." >Prof.</option>
              </select>
              <input name="name" id="name" type="text" class="finalinput" placeholder="Your name (Surname first)*" value="">
              <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="">
              <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="">
              <input name="twitter" id="twitter" type="text" class="finalinput" placeholder="Twitter Handle" value="">
              <label class="formlabel" style="margin-top:20px;">Select State</label>
              <select name="state" id="state" class="finalinput">
                <option value="" selected="selected">Please select</option>
                <option value="Abuja FCT">Abuja FCT</option>
                <option value="Abia">Abia</option>
                <option value="Adamawa">Adamawa</option>
                <option value="Akwa Ibom">Akwa Ibom</option>
                <option value="Anambra">Anambra</option>
                <option value="Bauchi">Bauchi</option>
                <option value="Bayelsa">Bayelsa</option>
                <option value="Benue">Benue</option>
                <option value="Borno">Borno</option>
                <option value="Cross River">Cross River</option>
                <option value="Delta">Delta</option>
                <option value="Ebonyi">Ebonyi</option>
                <option value="Edo">Edo</option>
                <option value="Ekiti">Ekiti</option>
                <option value="Enugu">Enugu</option>
                <option value="Gombe">Gombe</option>
                <option value="Imo">Imo</option>
                <option value="Jigawa">Jigawa</option>
                <option value="Kaduna">Kaduna</option>
                <option value="Kano">Kano</option>
                <option value="Katsina">Katsina</option>
                <option value="Kebbi">Kebbi</option>
                <option value="Kogi">Kogi</option>
                <option value="Kwara">Kwara</option>
                <option value="Lagos">Lagos</option>
                <option value="Nassarawa">Nassarawa</option>
                <option value="Niger">Niger</option>
                <option value="Ogun">Ogun</option>
                <option value="Ondo">Ondo</option>
                <option value="Osun">Osun</option>
                <option value="Oyo">Oyo</option>
                <option value="Plateau">Plateau</option>
                <option value="Rivers">Rivers</option>
                <option value="Sokoto">Sokoto</option>
                <option value="Taraba">Taraba</option>
                <option value="Yobe">Yobe</option>
                <option value="Zamfara">Zamfara</option>
                <option value="Outside Nigeria">Outside Nigeria</option>
              </select><br>
              <label class="formlabel" style="margin-top:20px;">Outside Nigeria? Please specify</label>
              <input name="foreign_location" id="foreign_location" type="text" class="finalinput" placeholder="New York, USA" value=""><br>
              <p style="margin-top:-3px;">On which of these platforms did you first learn about ASO?</p>
              <p style="margin-top:-10px;">
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Radio" id="CheckboxGroup1_0">Radio</label>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Newspaper/Magazine" id="CheckboxGroup1_1">Newspaper/Magazine</label><br>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Flier" id="CheckboxGroup1_2">Flier</label>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Television" id="CheckboxGroup1_3">Television</label><br>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Billboard" id="CheckboxGroup1_4">Billboard</label>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Website" id="CheckboxGroup1_5">Website</label><br>
                <label class="medsize">
                <input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Social Media" id="CheckboxGroup1_7">Social Media</label>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Event" id="CheckboxGroup1_8">Event</label><br>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Referrals" id="CheckboxGroup1_10">Referrals</label>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="SMS" id="CheckboxGroup1_9">SMS</label><br>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Online Advert/News" id="CheckboxGroup1_6">Online Advert/News</label><br>
                <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Others (Please specify)" id="CheckboxGroup1_11">Others (Please specify)</label><br>
                <input name="other" type="text" size="40" class="formtext"></p>
                <p style="text-align:center;">
                <input class="btn-primary" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
              </p>
            </form>
          </div> <!-- end: formpage1 -->
          <div class="formpage2">
            <h1>Thank You!</h1>
            <p>You have successfully entered your details on our data base. We look forward to helping you own your dream home.</p>
            <p>We will contact you shortly.</p>
          </div> <!-- end: formpage2 -->
        </div> <!-- end: formpage -->
      </div> <!-- end: asoside -->
    </div> <!-- end: mainpagecontent -->
    <link href="../../../resources/css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/myhouse.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../../asomeadows/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../scripts/includes/jquery.flexslider-min.js"></script>
    <script src="../../../scripts/includes/select.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../scripts/includes/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../scripts/includes/flex-script.js"></script>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: 8.973457, lng: 7.360392}; 
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 8, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxAKYV235mrBxfT-THqgT2cYVRSackkqE&callback=initMap">
    </script>
    <script type="text/javascript">
      function formValidation() {
        var c_name=document.forms["houseform2"]["name"].value;
        if (c_name==null || c_name=="") {
            alert("Please enter your name");
            return false;
        }
        
        var x=document.forms["houseform2"]["email"].value;
        var atpos=x.indexOf("@");
        var dotpos=x.lastIndexOf(".");
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
            alert("Please ensure your email is correct");
            return false;
        } 
        
        var c_phone=document.forms["houseform2"]["phone"].value;
        if (c_phone==null || c_phone=="") {
            alert("Please enter your phone number");
            return false;
        } 
      }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28605460-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

       })();
    </script>
  </div> <!-- end: main -->
</div> <!-- end: asom -->
<div class="asor"></div> <!-- end: asor -->
<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->