<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Contact ASO - ASO Savings &amp; Loans, PLC</title>
<!--[if lte IE 7]><link href="css/800style.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href="../resources/css/main_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>

<script type="text/javascript" src="../scripts/scripts/stmenu.js"></script></head>

<body>
  <div class="container">
    <div class="leftsidebar">&nbsp;</div> <!-- end: leftsidebar -->
    <div class="content">
      <div class="header">
        <div class="top_header">
          <div class="left_section">
            <div class="logo">
              <img src="../resources/img/global/logo.png" alt="" width="140" height="50" onclick="MM_goToURL('parent','http://www.asoplc.com/');return document.MM_returnValue">
            </div> <!-- end: logo -->
          </div> <!-- end: left_section -->
          <div class="right_section">
            <div class="bottom_right_section">
              <ul id="toplinks">
                <li><a href="../pages/service/">Branch/ATM Locations</a></li>
                <li><a href="../pages/info/asopartners.php">Our Partners</a></li>
                <li><a href="https://mail.asoplc.com/exchweb/bin/auth/owalogon.asp">E-Mail Login</a></li>
                <li><a href="contactform.php">Contact Us</a></li>
              </ul>
            </div> <!-- end: bottom_right_section -->
            <div class="top_right_section">
              <form action="../search/search.php" method="get" name="search" id="search" style="padding-top:5px;">
                <input name="query" type="text" class="nmlgray" id="query" action="../search/include/js_suggest/suggest.php" columns="2" autocomplete="off" onclick="value=&quot;&quot;" delay="1500" value="search..." size="30">
                <input name="Search" type="image" class="searchfont" src="../resources/img/global/search.png" align="middle" style="padding-bottom:4px;">
                <input type="hidden" name="search" value="1">
              </form>   
            </div> <!-- end: top_right_section -->
          </div> <!-- end: right_section -->
          <div class="clearfix"></div> <!-- end: clearfix -->
        </div> <!-- end: top_header -->
        <div class="bottom_header">
          <div class="menu_option">
            <img src="../resources/img/main_menu/option_1_off.png" alt="" name="Image2" width="195" height="25" id="Image2" onmouseover="MM_swapImage('Image2','','../resources/img/main_menu/option_1_on.png',1)" onmouseout="MM_swapImgRestore()" onclick="MM_goToURL('parent','../pages/company/');return document.MM_returnValue">
          </div> <!--end: menu_option -->
          <div class="header_separator"></div> <!-- end: header_separator -->
          <div class="menu_option">
            <img src="../resources/img/main_menu/option_2_off.png" alt="" name="Image3" width="195" height="25" id="Image3" onmouseover="MM_swapImage('Image3','','../resources/img/main_menu/option_2_on.png',1)" onmouseout="MM_swapImgRestore()" onclick="MM_goToURL('parent','../pages/company/management_team.php');return document.MM_returnValue">
          </div> <!--end: menu_option -->
          <div class="header_separator"></div> <!-- end: header_separator -->
          <div class="menu_option">
            <img src="../resources/img/main_menu/option_3_off.png" alt="" name="Image4" width="195" height="25" id="Image4" onmouseover="MM_swapImage('Image4','','../resources/img/main_menu/option_3_on.png',1)" onmouseout="MM_swapImgRestore()" onclick="MM_goToURL('parent','../pages/company/boardofdirectors.php');return document.MM_returnValue">
          </div> <!--end: menu_option -->
          <div class="header_separator"></div> <!-- end: header_separator -->
          <div class="menu_option">
            <img src="../resources/img/main_menu/option_4_off.png" alt="" name="Image51" width="195" height="25" id="Image51" onmouseover="MM_swapImage('Image51','','../resources/img/main_menu/option_4_on.png',1)" onmouseout="MM_swapImgRestore()" onclick="MM_goToURL('parent','../pages/company/asocareers.php');return document.MM_returnValue">
          </div> <!--end: menu_option -->
          <div class="header_separator"></div> <!-- end: header_separator -->
          <div class="menu_option">
            <img src="../resources/img/main_menu/option_5_off.png" alt="" name="Image52" width="195" height="25" id="Image52" onmouseover="MM_swapImage('Image52','','../resources/img/main_menu/option_5_on.png',1)" onmouseout="MM_swapImgRestore()" onclick="MM_goToURL('parent','../pages/company/asocommunity.php');return document.MM_returnValue">
          </div> <!--end: menu_option -->
          <div class="clearfix"></div> <!-- end: clearfix -->
        </div> <!-- end: bottom_header -->
        <div class="clearfix"></div> <!-- end: clearfix -->
      </div> <!-- end: header -->
      <div class="maincontent">
        <div class="topbar">
          <a href="../index.php">return to homepage</a>
        </div> <!-- end: topbar -->
        <div class="main_contain">
          <div class="main_left" style="min-height:950px;">
            <div class="page_title">
              <img src="../resources/img/pageheaders/contactaso.png" alt="" width="690" height="50">
            </div> <!-- end: page_title -->
            <table width="690" cellpadding="0" cellspacing="0">
              <tr>
                <td><p align="center"><span style="border-bottom: 1px solid #e9e9e9;"><span class="headerblk"><span style="color:#DA251D">Corporate</span> Head Office</span></span></p>
            <p align="center">Plot 266,<br>FMBN Building,<br>Cadastral Zone A0,<br>Central Business District, Abuja.</p>
            <p align="center"><strong>Tel:</strong> 0704-163-1121, 09-2911983</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p class="smlblk" style="line-height:1.2em;">You can reach us by completing this contact form. Please note, to find out more about the <span class="redlink"><a href="../exco/" target="_blank">ASO EXCO 2013</a></span>, make sure to select the <b>ASO EXCO 2013</b> category and one of our EXCO team members will contact you shortly.</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p align="center"><strong><u>{txt_script_name2}</u></strong></p></td>
              </tr>
              <tr>
                <td>
                  <LOOP NAME="message">
                    <blockquote>
                      <p class="medblack"><strong>{message}</strong></p>
                    </blockquote>
                  </LOOP NAME="message">
                  <!-- Display posted information -->
                  <LOOP NAME="display_data">
                    <table width="600" border="0" cellpadding="3" cellspacing="0">
                      <tr>
                        <td><span class="medblack"><strong>{txt_name}</strong></span><br><span class="fontgrey">{name}</span></td>
                      </tr>
                      <tr>
                        <td><span class="medblack"><strong>{txt_email}</strong></span><br><span class="fontgrey">{email}</span></td>
                      </tr>
                      <tr>
                        <td><span class="medblack"><strong>{txt_attachment}</strong></span><br><span class="fontgrey">{my_attachment}</span></td>
                      </tr>
                      <tr>
                        <td><span class="medblack"><strong>{txt_attachment}</strong></span><br><span class="fontgrey">{another_attachment}</span></td>
      </tr>
                      <tr>
                        <td><p><span class="medblack"><strong>{txt_comment}</strong></span><br><span class="fontgrey">{comment}</span></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </LOOP NAME="display_data">
                </td>
              <tr>
              <tr>
                <td>
                  <IF NAME="display_form">
                    <form action="{script_self}" method="post" enctype="multipart/form-data">
                      <input type="hidden" name="required_fields" value="name, email, subject">
                      <input type="hidden" name="email_fields" value="email">
                      <input type="hidden" name="html_template" value="contactus.tpl.html">
                      <input type="hidden" name="mail_template" value="contactus.tpl.txt">
                      <!-- <input type="hidden" name="thanks" value="./docu/thanks.html" /> -->
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td><p><span class="smlred">{txt_mandatory_fields}</span> *</p></td>
                        </tr>
                        <tr>
                          <td><strong>Details</strong></td>
                        </tr>
                        <tr>
                          <td><span class="smlblk">{error:name='{txt_name}'||='<span style="color:#CC0000">{txt_name}':enderror}</span></span> *<br>
                          <input name="name" type="text" class="medgray" id="name" value="{name}" size="40">&nbsp;&nbsp;{required:name='<span style="color:#CC0000;">{txt_required_name}</span>':endrequired}</td>
                        </tr>
                        <tr>
                          <td><span class="smlblk">{error:email='{txt_email}'||='<span style="color:#CC0000;">{txt_email}':enderror}</span></span> *<br>
                          <input name="email" type="text" class="medgray" id="email" value="{email}" size="40">&nbsp;&nbsp;{required:email='<span style="color:#CC0000;">{txt_required_email}</span>':endrequired}</td>
                        </tr>
                        <tr>
                          <td><span class="smlblk">{txt_subject}</span><br>
                          <select name="subject" style="background:#D8251D; color:#FFFFFF; padding:2px;" id="subject">
                            <option value="" selected="selected" rel="none">Please select</option>
                            <option value="asoplcmail@gmail.com" rel="detailpromo">ASO EXCO 2013</option>
                            <option value="asoplccservice@gmail.com" rel="detailservice">Customer Service</option>
                            <option value="asoplcproperties@gmail.com" rel="detailproperty">Properties</option>
                            <option value="asoplcsplan@gmail.com" rel="detailinvestor">Investor Relations</option>
                            <option value="asoplcmail@gmail.com" rel="detailmedia">Media Relations</option>
                            <option value="asoplccservice@gmail.com" rel="detailcareer">Careers</option>
                          </select>
                          &nbsp;&nbsp;{required:subject='<span style="color:#CC0000;">{txt_required_subject}</span>':endrequired}</td>
                        </tr>
                        <tr rel="detailpromo">
                          <td>
                            <table width="690" cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>ASO Promotions</strong></p><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          <br>{required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr>
                                <td align="center"><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr rel="detailservice">
                          <td>
                            <table width="690" cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>ASO Customer Service</strong></p><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          <br>{required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr align="center">
                                <td><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr rel="detailproperty">
                          <td>
                            <table width="690" cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>ASO Properties</strong></p><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          <br>{required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr align="center">
                                <td><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr rel="detailinvestor">
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>Investor Relations</strong></p><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          &nbsp;&nbsp;{required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr align="center">
                                <td><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr rel="detailmedia">
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>Media Relations</strong></p><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          &nbsp;&nbsp;{required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr align="center">
                                <td><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr rel="detailcareer">
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><strong>Inquiry</strong></td>
                              </tr>
                              <tr>
                                <td><p class="fontgrey"><strong>Careers</strong></p></td>
                              </tr>
                              <tr>
                                <td><span class="smlblk">{txt_qualify}</span><br><input name="qualify" type="text" class="medgray" value="{qualify}" size="40"></td>
                              </tr>
                              <tr>
                                <td><span class="smlblk">{txt_attachment}</span><br><input name="my_attachment" type="file" class="medgray" size="40"></td>
                              </tr>
                              <tr>
                                <td><input name="another_attachment" type="file" class="medgray" size="40"></td>
                              </tr>
                              <tr>
                                <td><span class="smlblk">{error:comment='{txt_comment}'||='<span style="color:#CC0000;">{txt_comment}':enderror}</span></span> *<br>
                      <textarea name="comment" cols="70" rows="4" class="medgray">{comment}</textarea>          {required:comment='<span style="color:#CC0000;">{txt_required_comment}</span>':endrequired}</td>
                              </tr>
                              <tr>
                                <td>
                                  {txt_captcha_note}<br /><br />{captcha_content}
                                </td>
                              </tr>
                              <tr align="center">
                                <td><input name="mode_preview" type="submit" class="smlblack" value="{txt_preview}">&nbsp;&nbsp;<input name="send" type="submit" class="smlblack" value="{txt_submit}"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </IF NAME="display_form">
                </td>
              </tr>
            </table>
          </div> <!-- div: main_left -->
          <div class="main_shadow">
            <div class="midshadowtop">
            </div> <!-- end: midshadowtop -->
            <div class="midshadowmid">
            </div> <!-- end: midshadowmid -->
            <div class="midshadowlow">
            </div> <!-- end: midshadowlow -->
            <div class="clearfix"></div> <!-- end: clearfix -->
          </div> <!-- div: main_shadow -->
          <div class="main_right">
            <div class="globalmenu">
                      <script type="text/javascript">
<!--
stm_bm(["menu02d0",900,"../scripts/menu","blank.gif",0,"","",0,0,250,0,140,1,1,1,"","",0,0,1,2,"hand","hand","",1,25],this);
stm_bp("p0",[1,4,0,0,2,0,0,0,92,"",-2,"",-2,50,0,0,"#999999","#DA251C","",3,1,2,"#666666"]);
stm_ai("p0i0",[2,"","op1_off.png","op1_on.png",200,28,0,"","_self","","","","",0,0,0,"","",0,0,0,1,1,"#DA251C",1,"#DA251C",0,"","",3,3,0,0,"#000000","#FFFFFF","#FFFFFF","#FFFFFF","8pt Arial","8pt Arial",0,0,"","","","",0,0,0]);
stm_bpx("p1","p0",[1,2,-400,0,2,3,0,0,100,"",-2,"",-2,50,0,0,"#999999","#CCCCCC","",3,1,1]);
stm_aix("p1i0","p0i0",[0,"Products Overview","","",-1,-1,0,"../pages/products/","_self","","","","",0,0,0,"","",0,0,0,0,1,"#FFFFFF",1,"#CCCCCC",0,"","",3,3,0,0,"#000000","#FFFFFF","#000000","#FFFFFF","8pt Verdana","8pt Verdana"]);
stm_aix("p1i1","p1i0",[0,"Home Finance Solutions","","",-1,-1,0,"../pages/products/home-finance.php"]);
stm_aix("p1i2","p1i0",[0,"Individual Banking Solutions","","",-1,-1,0,"../pages/products/individual-banking.php"]);
stm_aix("p1i3","p1i0",[0,"Business Banking Solutions","","",-1,-1,0,"../pages/products/business-banking.php"]);
stm_aix("p1i4","p1i0",[0,"E-Banking Solutions","","",-1,-1,0,"../pages/products/e-banking.php"]);
stm_aix("p1i5","p1i0",[0,"Real Estate Investment Banking","","",-1,-1,0,"../pages/products/real-estate.php"]);
stm_ep();
stm_aix("p0i1","p0i0",[2,"","op2_off.png","op2_on.png",200,28,0,"http://mls.asoplc.com/","_blank"]);
stm_aix("p0i2","p0i0",[2,"","op3_off.png","op3_on.png"]);
stm_bpx("p2","p1",[1,2,-337]);
stm_aix("p2i0","p1i0",[0,"Questions & Answers","","",-1,-1,0,"../pages/service/faqs.php"]);
stm_aix("p2i1","p1i0",[0,"Branch/ATM Location","","",-1,-1,0,"../pages/service/"]);
stm_aix("p2i2","p1i0",[0,"Contact Us","","",-1,-1,0,"contactform.php"]);
stm_ep();
stm_aix("p0i3","p0i0",[2,"","op4_off.png","op4_on.png"]);
stm_bpx("p3","p1",[1,2,-348]);
stm_aix("p3i0","p1i0",[0,"Corporate Governance","","",-1,-1,0,"../pages/investors/"]);
stm_aix("p3i1","p1i0",[0,"Ratings","","",-1,-1,0,"../pages/investors/coverageratings.php"]);
stm_aix("p3i2","p1i0",[0,"Financials","","",-1,-1,0,"../pages/investors/asofinancials.php"]);
stm_aix("p3i3","p1i0",[0,"Questions & Inquiries","","",-1,-1,0,"contactform.php"]);
stm_ep();
stm_aix("p0i4","p0i0",[2,"","op5_off.png","op5_on.png"]);
stm_bpx("p4","p1",[1,2,-279]);
stm_aix("p4i0","p1i0",[0,"Newsroom","","",-1,-1,0,"../pages/media/"]);
stm_aix("p4i1","p1i0",[0,"Downloads","","",-1,-1,0,"../pages/media/asodownloads.php"]);
stm_ep();
stm_ep();
stm_em();
//-->
</script>
            </div> <!-- end: globalmenu -->
            <div style="display:block; height:3px; width:250px;"></div>
            <div class="menubottom2">
              <script type="text/javascript" language="JavaScript">
			<!--
			function parseNavigation(ob) {
			toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

			targetWindow = toBeBrokenDown[0];
			targetURL    = toBeBrokenDown[1];

			if (targetWindow!=='') {
				window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
	ob.selectedIndex = 0;
			} else {		
				window.open(targetURL,'_top')
			}
		}
//-->
</script>
              <form name="form" id="form" action="">
                <select class="searchfont" onchange="parseNavigation(this)" style="width:208px; padding:2px;">
                  <option selected="selected">Quick Links</option>
                  <!--<option value="|../pages/promos/">ASO Promotions</option>-->
                  <option value="|../pages/service/faqs.php">FAQ's</option>
                  <option value="|../pages/info/affordability_calculator.php">Affordability Calculator</option>
                  <option value="|../pages/company/">About ASO</option>
                  <option value="|../pages/products/individual-banking.php">Individual Banking Solutions</option>
                  <option value="|../pages/products/business-banking.php">Business Banking Solutions</option>
                  <option value="|../pages/products/home-finance.php">Home Finance Solutions</option>
                  <option value="|../pages/investors/">Investor Relations</option>
                  <option value="|../pages/company/asocareers.php">Careers</option>
                  <option value="VenWin|../resources/downloads/SCMVendorQuestionnaire.pdf">Vendor Questionnaire</option>
                  <option value="|../pages/info/site_credits.php">Site Credits</option>
                </select>
              </form>
            </div> <!-- end: menubottom -->
            <div class="infoheader">
              <img src="../resources/img/infoheaders/ad1.png" alt="">
            </div> <!-- end: infoheader -->
            <div class="sidebarbtm">
            </div> <!-- end: sidebarbtm -->
            <div class="clearfix"></div> <!-- end: clearfix -->
          </div> <!-- div: main_right -->
          <div class="clearfix"></div> <!-- end: clearfix -->
        </div> <!-- end: main_contain -->
        <script type="text/javascript" src="../scripts/includes/usableforms.js"></script>
      </div> <!-- end: maincontent -->
      <div class="footer" style="clear:both;">
        <div class="footer_left">
          <div class="datemn">
            <script type="text/javascript">
              var mydate=new Date()
              var theYear=mydate.getFullYear()
              var day=mydate.getDay()
              var month=mydate.getMonth()
              var daym=mydate.getDate()
			  var hours=mydate.getHours()
              var minutes=mydate.getMinutes()
              var dn="AM"
              if (hours>=12)
                dn="PM"
              if (hours>12){
                hours=hours-12
              }
			  if (hours==0)
                hours=12
              if (minutes<=9)
                minutes="0"+minutes
              if (daym<10)
                daym="0"+daym
                var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
                var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
                document.write(dayarray[day]+"&nbsp; "+montharray[month]+" "+daym+", "+theYear+"&nbsp;&nbsp;&nbsp;"+hours+":"+minutes+"&nbsp;"+dn)
            </script>
          </div> <!-- end: datemn -->
        </div> <!-- end: footer_left -->
        <div class="footer_center">
          <div class="socialnetwork">
            <span style="vertical-align:middle;">Follow us on:</span> 
            <img src="http://www.asoplc.com/resources/img/global/facebook.png" alt="Facebook" width="28" height="30" style="vertical-align:middle; margin-top:4px;" onClick="MM_openBrWindow('http://www.facebook.com/people/Aso-Plc/100000011536344','','toolbar=yes,location=yes,status=yes,menubar=yes,scrollbars=yes,resizable=yes')">
          </div> 
          <!-- end: socialnetwork -->
        </div> <!-- end: footer_center -->
        <div class="footer_right">
          <div class="btmlinks">
            <ul id="bottomlinks">
              <li><a href="../pages/info/">Terms/User Agreement</a></li>
              <li><a href="../pages/info/privacy_policy.php">Privacy Policy</a></li>
              <li><a href="../pages/info/fraud_alert.php">Fraud Alert</a></li>
            </ul>
          </div> <!-- end: btmlinks -->
        </div> <!-- end: footer_right -->
        <div class="clearfix"></div> <!-- end: clearfix -->
      </div> <!-- end: footer -->
    </div> <!-- end: content -->
    <div class="rightsidebar">&nbsp;</div> <!-- end: rightsidebar -->
    <div class="clearfix"></div> <!-- end: clearfix -->
  </div> <!-- end: container -->
  <div class="footer_btm_shadow">
    </div> <!-- end: footer_btm_shadow -->
</body>
</html>