.asologo-out {
	left:0;
}
.asologo-in {
	left:0;
}
.slide-out-div {
	display:none;
}
.contentwrapper {
	float:left;
}
.asohomemain {
	float:left;
}
.asomain {
	float:left;
}
.asomainmed {
	float:left;
}
.asoshade {
	float:left;
}
.asoside {
	float:left;
}
