<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Job Opportunity Form - ASO Savings &amp; Loans PLC</title>
<link href="../../style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #F3F3F3;
	margin-top: 0px;
}
.class1 a:link {
	color: #FFF;
	text-decoration: none;
  }
  .class1 a:visited {
	color: #FFF;
	text-decoration: none;
  }
  .class1 a {
	font-family: Arial;
	font-size: 10px;
  }
  .class1 a:hover {
	text-decoration: underline;
	color: #FFF;
  }
  .class1 a:active {
	text-decoration: none;
	color: #FFF;
  }
  .class2 a:link {
	color: #DA251C;
	text-decoration: none;
  }
  .class2 a:visited {
	color: #DA251C;
	text-decoration: none;
  }
  .class2 a {
	font-family: Arial;
	font-size: 12px;
  }
  .class2 a:hover {
	text-decoration: underline;
	color: #DA251C;
  }
  .class2 a:active {
	text-decoration: none;
	color: #DA251C;
  }
  p, td, br, form, div, span, blockquote {
      font-family:Arial,Helvetica,Geneva,Sans-serif,sans-serif;
      font-size:9pt;
  }


  .index {
      font-weight:bold;
  }


  #poweredby {
      text-align:center;
  }
-->
</style><script type="text/javascript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>
<script type="text/javascript" src="../../menu/scripts/stmenu.js"></script></head>

<body>
<div id="links2">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="35%"><img src="../../images/spacer.gif" width="272" height="1" /></td>
      <td width="18%" align="center"><span class="class1"><a href="../../content/cservice/findatm.php">Find ATM/Branch Locations</a></span></td>
      <td width="1%"><img src="../../images/spacer.gif" width="10" height="1" /></td>
      <td width="9%" align="center" class="class1"><a href="../../content/links/partners.php">Our Partners</a></td>
      <td width="1%" class="linksfont"><img src="../../images/spacer.gif" width="10" height="1" /></td>
      <td width="13%" align="center"><span class="class1"><a href="../../content/links/properties.php">Current Properties</a></span></td>
      <td width="1%"><img src="../../images/spacer.gif" width="10" height="1" /></td>
      <td width="9%" align="center"><span class="class1"><a href="https://mail.asoplc.com/exchweb/bin/auth/owalogon.asp" target="_blank">EMail Login</a></span></td>
      <td width="1%"><img src="../../images/spacer.gif" width="10" height="1" /></td>
      <td width="9%" align="center" class="class1"><a href="../../content/cservice/contactus.php">Contact Us</a></td>
      <td width="3%"><img src="../../images/spacer.gif" width="20" height="1" /></td>
    </tr>
  </table>
</div>
<div id="logo2"><img src="../../images/top_logo2.png" width="781" height="70" /></div>
<div id="strip2">
  <div id="welcome">Welcome to ASO Savings &amp; Loans PLC - 
    <script>
// 
var mydate=new Date()
var theYear=mydate.getFullYear()
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
daym="0"+daym
var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
document.write(dayarray[day]+", "+montharray[month]+" "+daym+", "+theYear)
</script>
  </div>
</div>
<div id="content2">
  <div id="main2">
    <div id="sidebar2">
      <div id="menu2">
<script type="text/javascript">
<!--
stm_bm(["menu02d0",900,"../menu/menu","blank.gif",0,"","",0,0,250,0,140,1,0,0,"../","",0,0,1,2,"default","hand","",1,25],this);
stm_bp("p0",[1,4,0,0,2,0,0,0,92,"",-2,"",-2,50,0,0,"#999999","#DA251C","",3,1,2,"#666666"]);
stm_ai("p0i0",[2,"","op1_off.png","op1_on.png",146,22,0,"index.php","_self","","","","",0,0,0,"","",0,0,0,1,1,"#DA251C",1,"#DA251C",1,"","",3,3,0,0,"#000000","#FFFFFF","#FFFFFF","#FFFFFF","8pt Arial","8pt Arial",0,0,"","","","",0,0,0],146,22);
stm_aix("p0i1","p0i0",[2,"","op2_off.png","op2_on.png",146,22,0,"","_self","","","","",0,0,0,"","",0,0,0,1,1,"#DA251C",1,"#DA251C",0],146,22);
stm_bpx("p1","p0",[1,2,5,0,2,3,0,0,100,"",-2,"",-2,50,0,0,"#999999","#CCCCCC","",3,1,1]);
stm_aix("p1i0","p0i0",[0,"About ASO","","",-1,-1,0,"content/about/aso.php","_self","","","","",0,0,0,"","",0,0,0,0,1,"#7EC4CF",1,"#CCCCCC",0,"","",3,3,0,0,"#000000","#FFFFFF","#000000","#FFFFFF","8pt Verdana","8pt Verdana"]);
stm_aix("p1i1","p1i0",[0,"Board Of Directors","","",-1,-1,0,"content/about/board.php"]);
stm_aix("p1i2","p1i0",[0,"Management Team","","",-1,-1,0,"content/about/management.php"]);
stm_aix("p1i3","p1i0",[0,"Careers","","",-1,-1,0,"content/about/career.php"]);
stm_aix("p1i4","p1i0",[0,"In Your Community","","",-1,-1,0,"content/about/community.php","_self","","","","",0,0,0,"","",0,0,0,0,1,"#FFFFFF"]);
stm_ep();
stm_aix("p0i2","p0i1",[2,"","op3_off.png","op3_on.png"],146,22);
stm_bpx("p2","p1",[]);
stm_aix("p2i0","p1i4",[0,"Individual Banking","","",-1,-1,0,"content/products/individual.php"]);
stm_aix("p2i1","p1i4",[0,"Mortgage Banking","","",-1,-1,0,"content/products/mortgage.php"]);
stm_aix("p2i2","p1i4",[0,"Small Business Banking","","",-1,-1,0,"content/products/sbb.php"]);
stm_aix("p2i3","p1i4",[0,"Real Estate Investment Banking","","",-1,-1,0,"content/products/realestate.php"]);
stm_ep();
stm_aix("p0i3","p0i1",[2,"","op4_off.png","op4_on.png"],146,22);
stm_bpx("p3","p1",[]);
stm_aix("p3i0","p1i4",[0,"Questions & Answers","","",-1,-1,0,"content/cservice/questions.php"]);
stm_aix("p3i1","p1i4",[0,"Branch/ATM Location","","",-1,-1,0,"content/cservice/findatm.php"]);
stm_aix("p3i2","p1i4",[0,"Contact Us","","",-1,-1,0,"content/cservice/contactus.php"]);
stm_ep();
stm_aix("p0i4","p0i1",[2,"","op5_off.png","op5_on.png"],146,22);
stm_bpx("p4","p1",[]);
stm_aix("p4i0","p1i4",[0,"Loan Calculator Tool","","",-1,-1,0,"content/calculators/calculator1.php"]);
stm_ep();
stm_aix("p0i5","p0i1",[2,"","op6_off.png","op6_on.png"],146,22);
stm_bpx("p5","p1",[]);
stm_aix("p5i0","p1i4",[0,"Audited Financials","","",-1,-1,0,"content/investor/auditedfinancials.php"]);
stm_aix("p5i1","p1i4",[0,"Quarterly Reports","","",-1,-1,0,"content/investor/quarterlyreports.php"]);
stm_aix("p5i2","p1i4",[0,"Historic Share Price","","",-1,-1,0,"content/investor/historicshareprice.php"]);
stm_aix("p5i3","p1i4",[0,"Submit A Question","","",-1,-1,0,"mail/contactform.php"]);
stm_ep();
stm_aix("p0i6","p0i1",[2,"","op7_off.png","op7_on.png"],146,22);
stm_bpx("p6","p1",[]);
stm_aix("p6i0","p1i4",[0,"Newsroom","","",-1,-1,0,"content/links/news1.php"]);
stm_aix("p6i1","p1i4",[0,"Company Profile","","",-1,-1,0,"download/ASO%20Corporate%20profile%202009.pdf","_blank"]);
stm_aix("p6i2","p1i4",[0,"PDF Downloads","","",-1,-1,0,"content/media/downloadpdf.php"]);
stm_ep();
stm_ep();
stm_em();
//-->
</script>
      </div>
      <div id="sub1"><img src="../../images/ad1.png" width="154" height="193" onclick="MM_goToURL('parent','../../aso.php');return document.MM_returnValue" /></div>
      <div id="sub">
        <iframe src="../../content/links/news.php" width="160" height="115" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    </div>
    <div id="section2">
      <div id="topheader"><img src="../../images/topad/top_ad4.png" width="576" height="100" /></div>
      <div id="maintext">
        <p class="detailtextgray">To apply for a job opening within ASO Savings &amp; Loans PLC, please fill out the form below and attach a Cover Letter &amp; CV where possible. An agent will contact you shortly.</p>
        <h4 class="detailheaderblk" align="center"><u>{txt_script_name2}</u></h4>


  <!-- Display error messages (required fields etc.) -->
  <LOOP NAME="message">
    <blockquote>
      <p class="detailtextred"><strong>{message}</strong></p>
      <blockquote>
        <p class="detailtextred">{fields}</p>
      </blockquote>
    </blockquote>
  </LOOP NAME="message">


  <!-- Display posted information -->
  <LOOP NAME="display_data">

    <table border="0" cellpadding="3" cellspacing="0">
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_name}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{name}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_email}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{email}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_address1}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{address1}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_address2}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{address2}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_city}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{city}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_state}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{state}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_phone}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{phone}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_dob1}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{dob1}&nbsp;{dob2},&nbsp;{dob3}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_sex}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{sex}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_state1}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{state1}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_status}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{status}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_religion}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{religion}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_years}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{years}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_secondary}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{secondary}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_university}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{university}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_course}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{course}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_degree}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{degree}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_qualify}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{qualify}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_years}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{years}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_experience1}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{experience1}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_experience2}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{experience2}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_experience3}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{experience3}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_experience4}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{experience4}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_experience5}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{experience5}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_attachment}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{my_attachment}</span></p></td>
      </tr>
      <tr>
        <td><p><span class="detailtextgray"><strong>{txt_attachment}</strong></span></p></td>
        <td>&nbsp;</td>
        <td><p><span class="detailtextred">{another_attachment}</span></p></td>
      </tr><tr>
        <td><p><span class="detailtextgray"><strong>{txt_comment2}</strong></span></p></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><p><span class="detailtextred">{comment2}</span></p></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </LOOP NAME="display_data">

  <!-- Display form -->
  <IF NAME="display_form">
  <form action="{script_self}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="required_fields" value="name, email" />
    <input type="hidden" name="email_fields" value="email" />
    <input type="hidden" name="html_template" value="career.tpl.html" />
    <input type="hidden" name="mail_template" value="career.tpl.txt, responder.tpl.txt" />
    <!-- <input type="hidden" name="thanks" value="./docu/thanks.html" /> -->

    <table width="500" border="0" align="center" cellpadding="3" cellspacing="0">
      <tr>
        <td colspan="2" class="clicktxt">* = {txt_mandatory_fields}</td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC" class="smlblkbold">Required</td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{error:name='{txt_name}'||='<span style="color:#CC0000">{txt_name}</span>':enderror} *<br />
        <input name="name" type="text" class="searchfont" id="name" value="{name}" size="40" />&nbsp;&nbsp;{required:name='<span style="color:#CC0000;">{txt_required_name}</span>':endrequired}</td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{error:email='{txt_email}'||='<span style="color:#CC0000;">{txt_email}</span>':enderror} *<br />
          <input name="email" type="text" class="searchfont" id="email" value="{email}" size="40" />          &nbsp;&nbsp;{required:email='<span style="color:#CC0000;">{txt_required_email}</span>':endrequired}</td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#CCCCCC" class="smlblkbold">Optional</td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_address1}<br />
        <input name="address1" type="text" class="searchfont" value="{address1}" size="40" />
        <br />
        <input name="address2" type="text" class="searchfont" value="{address2}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_city}<br />
        <input name="city" type="text" class="searchfont" value="{city}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_state}<br />
          <select name="state" type="text" class="searchfont" value="{state}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
            <option value="Anambra">Anambra</option>
            <option value="Bauchi">Bauchi</option>
            <option value="Bayelsa">Bayelsa</option>
            <option value="Benue">Benue</option>
            <option value="Borno">Borno</option>
            <option value="Cross River">Cross River</option>
            <option value="Delta">Delta</option>
            <option value="Ebonyi">Ebonyi</option>
            <option value="Edo">Edo</option>
            <option value="Ekiti">Ekiti</option>
            <option value="Enugu">Enugu</option>
            <option value="Gombe">Gombe</option>
            <option value="Imo">Imo</option>
            <option value="Jigawa">Jigawa</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Kano">Kano</option>
            <option value="Katsina">Katsina</option>
            <option value="Kebbi">Kebbi</option>
            <option value="Kogi">Kogi</option>
            <option value="Kwara">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Nassarawa">Nassarawa</option>
            <option value="Niger">Niger</option>
            <option value="Ogun">Ogun</option>
            <option value="Ondo">Ondo</option>
            <option value="Osun">Osun</option>
            <option value="Oyo">Oyo</option>
            <option value="Plateau">Plateau</option>
            <option value="Rivers">Rivers</option>
            <option value="Sokoto">Sokoto</option>
            <option value="Taraba">Taraba</option>
            <option value="Yobe">Yobe</option>
            <option value="Zamfara">Zamfara</option>
          </select></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_phone}<br />
        <input name="phone" type="text" class="searchfont" value="{phone}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_dob1}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{txt_dob2}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{txt_dob3}<br />
          <select name="dob1" class="searchfont" id="dob1" value="{dob1}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select name="dob2" class="searchfont" id="dob2" value="{dob2}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
            </select>
          <select name="dob3" class="searchfont" id="dob3" value="{dob3}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1984">1984</option>
            <option value="1983">1983</option>
            <option value="1982">1982</option>
            <option value="1981">1981</option>
            <option value="1980">1980</option>
            <option value="1979">1979</option>
            <option value="1978">1978</option>
            <option value="1977">1977</option>
            <option value="1976">1976</option>
            <option value="1975">1975</option>
            <option value="1974">1974</option>
            <option value="1973">1973</option>
            <option value="1972">1972</option>
            <option value="1971">1971</option>
            <option value="1970">1970</option>
            <option value="1969">1969</option>
            <option value="1968">1968</option>
            <option value="1967">1967</option>
            <option value="1966">1966</option>
            <option value="1965">1965</option>
            <option value="1964">1964</option>
            <option value="1963">1963</option>
            <option value="1962">1962</option>
            <option value="1961">1961</option>
            <option value="1960">1960</option>
            <option value="1959">1959</option>
            <option value="1958">1958</option>
            <option value="1957">1957</option>
            <option value="1956">1956</option>
            <option value="1955">1955</option>
            <option value="1954">1954</option>
            <option value="1953">1953</option>
            <option value="1952">1952</option>
            <option value="1951">1951</option>
          </select>
          <br /></td>
        </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_sex}<br />
          <select name="sex" type="text" class="searchfont" value="{sex}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_state1}<br />
          <select name="state1" type="text" class="searchfont" value="{state1}">
            <option value="" selected="selected">&nbsp;</option>
            <option>Please Select One</option>
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
            <option value="Anambra">Anambra</option>
            <option value="Bauchi">Bauchi</option>
            <option value="Bayelsa">Bayelsa</option>
            <option value="Benue">Benue</option>
            <option value="Borno">Borno</option>
            <option value="Cross River">Cross River</option>
            <option value="Delta">Delta</option>
            <option value="Ebonyi">Ebonyi</option>
            <option value="Edo">Edo</option>
            <option value="Ekiti">Ekiti</option>
            <option value="Enugu">Enugu</option>
            <option value="Gombe">Gombe</option>
            <option value="Imo">Imo</option>
            <option value="Jigawa">Jigawa</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Kano">Kano</option>
            <option value="Katsina">Katsina</option>
            <option value="Kebbi">Kebbi</option>
            <option value="Kogi">Kogi</option>
            <option value="Kwara">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Nassarawa">Nassarawa</option>
            <option value="Niger">Niger</option>
            <option value="Ogun">Ogun</option>
            <option value="Ondo">Ondo</option>
            <option value="Osun">Osun</option>
            <option value="Oyo">Oyo</option>
            <option value="Plateau">Plateau</option>
            <option value="Rivers">Rivers</option>
            <option value="Sokoto">Sokoto</option>
            <option value="Taraba">Taraba</option>
            <option value="Yobe">Yobe</option>
            <option value="Zamfara">Zamfara</option>
          </select></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_status}<br />
          <select name="status" class="searchfont" id="status">
            <option value="" selected="selected">&nbsp;</option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Divorced">Divorced</option>
          <option value="Seperated">Seperated</option>
        </select></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_religion}<br />
        <select name="religion" class="searchfont" id="religion">
          <option value="" selected="selected">&nbsp;</option>
          <option value="Christian">Christian</option>
          <option value="Moslem">Moslem</option>
          <option value="Other">Other</option>
        </select></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_secondary}<br />
        <input name="secondary" type="text" class="searchfont" value="{secondary}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_university}<br />
        <input name="university" type="text" class="searchfont" value="{university}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_course}<br />
        <input name="course" type="text" class="searchfont" value="{course}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_degree}<br />
        <input name="degree" type="text" class="searchfont" value="{degree}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_qualify}<br />
        <input name="qualify" type="text" class="searchfont" value="{qualify}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_years}<br />
        <input name="years" type="text" class="searchfont" value="{years}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">{txt_experience}<br />
          <input name="experience1" type="text" class="searchfont" value="{experience1}" size="40" /></td>
      </tr>
      <tr>
        <td width="150" bgcolor="#EEEEEE"><input name="experience2" type="text" class="searchfont" value="{experience2}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td><input name="experience3" type="text" class="searchfont" value="{experience3}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td bgcolor="#EEEEEE"><input name="experience4" type="text" class="searchfont" value="{experience4}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td><input name="experience5" type="text" class="searchfont" value="{experience5}" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_attachment}<br />
          <input name="my_attachment" type="file" class="searchfont" size="40" /></td>
      </tr>
      <tr valign="bottom">
        <td colspan="2" class="smlblknormal">
          <input name="another_attachment" type="file" class="searchfont" size="40" /></td>
      </tr>
      <tr valign="top">
        <td colspan="2" bgcolor="#EEEEEE" class="smlblknormal">{txt_comment2}<br />
          <textarea name="comment2" cols="45" rows="10" class="searchfont">{comment2}</textarea></td>
      </tr>
      <tr valign="top">
        <td colspan="2" class="smlblknormal">
          {txt_captcha_note}
          <br /><br />
          {captcha_content}</td>
      </tr>
      <tr valign="top">
        <td colspan="2" align="right"><input type="submit" name="mode_preview" value="{txt_preview}" />
          &nbsp;&nbsp;
        <input type="submit" name="send" value="{txt_submit}" />&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </form>
  </IF NAME="display_form">
      </div>
    </div>
</div>  
<div id="btmbar2">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:3px">
    <tr>
      <td width="66%"><img src="../../images/spacer.gif" width="515" height="1" /></td>
      <td width="15%" class="class1"><a href="../../content/links/terms.php">Terms/User Agreement</a></td>
      <td width="1%"><img src="../../images/seperator2.png" width="10" height="15" /></td>
      <td width="9%" class="class1"><a href="../../content/links/privacy.php">Privacy Policy</a></td>
      <td width="1%"><img src="../../images/seperator2.png" width="10" height="15" /></td>
      <td width="7%" class="class1"><a href="../../content/links/fraud.php">Fraud Alert</a></td>
      <td width="1%"><img src="../../images/spacer.gif" width="10" height="1" /></td>
    </tr>
  </table>
</div>
</div>
</body>
</html>
