@font-face {font-family:'FuturaLt'; src:url(../../resources/fonts/FutuLt_.eot); src:url(../../resources/fonts/FutuLt_.eot?#iefix) format('eot'), url(../../resources/fonts/FutuLt_.woff) format('woff'), url(../../resources/fonts/FutuLt_.ttf) format('truetype'), url(../../resources/fonts/FutuLt_.svg#webfontu5bANNiY) format('svg'); font-weight:normal; font-style:normal;}

@font-face {
	font-family:'HelveticaNeu'; src:url(../../resources/fonts/Helveti.eot?iefix) format("eot"); src:url(../../resources/Helveti.woff?iefix) format("woff"); src:url(../../resources/Helveti.ttf) format("truetype");
}

h1 {font-weight:700; color:#CCC;}
h2 {margin:20px 0 20px 0; text-align:center; font-weight:700; color:#DA251D; font-size:1.11em;}
h4 {margin:20px 0; font-weight:700; color:#DA251D;}
h5 {font-weight:700; color:#CCC; font-size:1em; margin:10px 0 10px 30px;}

ul {margin-left:30px; margin-bottom:20px;}

.fontred {color:#DA251D;}
.redlink a {color:#DF0024; text-decoration:underline;}
.redlink a:hover {text-decoration:none;}
.smlred, smlred a, smlred a:link, smlred a:visited, smlred a:active {font-family:Arial; font-size:10px; color:#B20C0C; font-weight:normal; text-decoration:underline;}
.smlred a:hover {text-decoration:none;}
.smlfont {font-size:10px;}
.whtlink a {text-decoration:underline; color:#FFFFFF;}
.whtlink a:hover {text-decoration:none;}
.fontgrey {color:#666666;}
.fontgrey.bold {font-weight:700;}

.voalign {vertical-align:middle;}
.hoalign {text-align:center;}
.ltalign {text-align:left;}

body {padding:0; margin:0; font-family:FuturaLt, Verdana, sans-serif; font-size:62.5%;}
.media_wrapper {margin:0; width:675px;}
.media_wrapper a img {border:none;}
.media_wrapper ul {list-style:none; padding-bottom:20px; float:left; list-style-type:none; margin:0;}
.media_wrapper ul li {position:relative; text-align:center; float:left; margin:3px; background-color:#121212; width:158px; height:123px; border:1px solid #292929; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; list-style:none;}
.media_wrapper ul li a {display:table-cell; text-align:center; vertical-align:middle; width:158px; height:123px; outline:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 0px 3px #000 inset; -webkit-box-shadow:0px 0px 3px #000 inset; box-shadow:0px 0px 3px #000 inset;}
.media_wrapper ul li a:hover {background-image:none;}
.media_wrapper ul li a img {vertical-align:middle; border:1px solid #222; opacity:0.6; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); -moz-box-shadow:1px 1px 3px #000; -webkit-box-shadow:1px 1px 3px #000; box-shadow:1px 1px 3px #000;}
.media_wrapper ul li a.photo {background:transparent url('../images/photo.png') no-repeat top right;}
.media_wrapper ul li a.video {background:transparent url('../images/movie.png') no-repeat top right;}
.media_wrapper ul li a.audio{background:transparent url('../images/music.png') no-repeat top right;}
.overlay{
	z-index:90; 
	background:transparent url('../images/grid_overlay.png') repeat top left; 
	width:100%; 
	height:100%; 
	position:fixed; 
	top:0px; 
	left:0px; 
	display:none; 
	opacity:1.0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);}
.preview{position:fixed; text-align:center; top:0px; left:0px; width:100%; height:100%; display:none; z-index:300;}
.preview_wrap{position:absolute; top:50%; left:50%; text-align:center; width:auto; padding:30px;}
.preview_wrap img{-moz-box-shadow:1px 1px 3px #000; -webkit-box-shadow:1px 1px 3px #000; box-shadow:1px 1px 3px #000;}
a.prev, a.next{background-color:#000; background-position:center center; background-repeat:no-repeat; border:1px solid #232323; position:fixed; width:20px; height:20px; top:50%; margin-top:-10px; opacity:0.6; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; z-index:101; cursor:pointer; outline:none;}
a.prev:hover, a.next:hover{border:1px solid #333; opacity:0.9;}
.nav a.disabled, .nav a.disabled:hover{opacity:0.4; border:1px solid #111; cursor:default;}
a.prev{left:4px; background-image:url('../images/prev.png');}
a.next{right:4px; background-image:url('../images/next.png');}
a.close{background:url('../images/close.png') no-repeat scroll center center #000000; cursor:pointer; height:21px; position:absolute; opacity:0.5; right:30px; top:7px; width:21px; background-image:url('../images/close.png');}
a.close:hover{opacity:1.0;}
.preview_loading{background:#000 url('../images/loading.gif') no-repeat center center; height:50px; left:50%; margin:-25px 0 0 -25px; opacity:0.8; position:fixed; top:50%; width:50px; z-index:400; border:1px solid #191919; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; -moz-box-shadow:1px 1px 3px #000; -webkit-box-shadow:1px 1px 3px #000; box-shadow:1px 1px 3px #000;}
.more{position:relative; clear:both; margin:10px -50px 20px -50px;}
.more a{text-align:center; display:block; background-color:#090909; color:#aaa; text-shadow:1px 1px 1px #000; height:30px; line-height:30px; margin:0 auto; width:100%; border:1px solid #000; text-decoration:none; font-size:11px; font-weight:bold; outline:none;}
.more a:hover{background-color:#111; border:1px solid #090909;}
.description{position:fixed; bottom:0px; left:0px; width:100%; height:40px; display:none; line-height:20px; background-color:#090909; opacity:0.9; text-align:center; z-index:200; font-size:12px; color:#fff; text-shadow:0 1px 0 #000; -moz-box-shadow:0px 0px 3px #000; -webkit-box-shadow:0px 0px 3px #000; box-shadow:0px 0px 3px #000; border-top:1px solid #000;}

.tipsy {padding:5px; font-size:10px; position:absolute; z-index:100000;}
.tipsy-inner {padding:5px 6px 4px 6px; background-color:black; color:white; max-width:300px; text-align:center;}
.tipsy-inner {border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }

.tipsy-arrow {position:absolute; background:url('../images/tipsy.gif') no-repeat top left; width:9px; height:5px;}

.tipsy-n  .tipsy-arrow {top:0; left:50%; margin-left:-4px;}
.tipsy-nw .tipsy-arrow {top:0; left:10px;}
.tipsy-ne .tipsy-arrow {top:0; right:10px;}
.tipsy-s .tipsy-arrow {bottom:0; left:50%; margin-left:-4px; background-position:bottom left;}
.tipsy-sw .tipsy-arrow {bottom:0; left:10px; background-position:bottom left;}
.tipsy-se .tipsy-arrow {bottom:0; right:10px; background-position:bottom left;}
.tipsy-e .tipsy-arrow {top:50%; margin-top:-4px; right:0; width:5px; height:9px; background-position:top right;}
.tipsy-w .tipsy-arrow {top:50%; margin-top:-4px; left:0; width:5px; height:9px}

.menuoption {float:left; width:175px; height:45px; margin-bottom:15px;}
.menuoption:hover {background-position:0 -45px; cursor:pointer;} 
.option1 {background-image:url('../images/option1.png');}
.option1on {background-image:url('../images/option1on.png');}
.option2 {background-image:url('../images/option2.png');}
.option3 {background-image:url('../images/option3.png');}
.option4 {background-image:url('../images/option4.png');}


#pageslide {
	display:none; 
	position:absolute; 
	position:fixed; 
	top:0; 
	height:100%; 
	z-index:999999; 
	width:260px; 
	padding:0; 
	background-color:#333; 
	color:#FFF; 
	-webkit-box-shadow:inset 0 0 5px 5px #222; 
	-moz-shadow:inset 0 0 5px 5px #222; 
	box-shadow:inset 0 0 5px 5px #222;
}
.container {
	width:100%;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
}
.container2 {width:100%; min-height:950px; background:url('../images/bg.png');}
header {width:100%; height:80px;  background:url('../images/menubk.png') repeat-x; position:fixed; top:0; z-index:2000;}
footer {width:100%; height:30px;  background:url('../images/footerbkgd.png') repeat-x; position:fixed; bottom:0;}
#header_content {width:980px; height:80px; display:block; margin:0 auto;}
#footer_content {width:980px; height:80px; display:block; margin:0 auto; color:#FFF;}
.logo {width:160px; height:60px; float:left; background:url('../../resources/img/global/logo_bkgd.png') no-repeat; text-align:center;}
.logo img {margin-top:5px;}
.top_menu {float:left; width:820px; height:60px;}
#toplinks {padding-top:20px; padding-left:255px;}
#toplinks li {display:inline; list-style-type:none; font-family:FuturaLt, Verdana, sans-serif; font-size:1.3em; padding-left:20px;}
#toplinks li a {color:#FFFFFF; text-decoration:none;}
#toplinks li a:hover {text-decoration:underline;}

.asocontent {
	width:675px; 
	float:left; 
	min-height:675px; 
	background:url('../images/tint.png'); 
	margin-left:215px;
}
.asocontent .exhibitcontent .confirmwrap {
	background:#FFF;
	padding:10px;
	margin-top:10px;
}
.asocontent .exhibitcontent .confirmsec {
	margin:20px auto 20px auto; 
	float:left; 
	color:#000;
}

#maincontent {width:980px; margin: 0 auto; padding-top:90px;}
.clearfix {clear:both; line-height:0;}
#footerlinks {text-align:right; vertical-align:middle; line-height:30px; padding-right:65px;}
#footerlinks li {display:inline; list-style-type:none; font-family:FuturaLt, Verdana, sans-serif; font-size:1.3em; padding-left:20px;}
#footerlinks li a {
	color: #FFF;
	text-decoration: none;
}
#footerlinks li a:hover {text-decoration:underline;}

.exhibitcontent {
	padding:0 10px 50px 10px; 
	color:#FFF; 
	font-size:1.3em; 
	line-height:1.8em;
}
.exhibitcontent p {
	margin-bottom:1.5em;
}
.exhibitcontent ul.showme li {
	list-style:disc;
}
.exhibitcontent table {
	width: 100%;
	border: 1px solid #DA251D;
	padding: 2px;
	color: #000;
	font-size: 11px;
	line-height: 1.5em;
}
.exhibitcontent table th {
	color:#FFFFFF;
	letter-spacing:0.2em;
	background:#DA251D;
	text-align:center;
}
.exhibitcontent table tr.odd {
	vertical-align:top;
	background:#FFEFEA;
}
.exhibitcontent table tr.even {
	vertical-align:top;
	background:#FFCFBF;
}
.exhibitcontent table td {
	padding:5px;
	vertical-align:middle;
}
.exhibitcontent table td.tdtop {
	padding:5px;
	vertical-align:top;
}
.exhibitcontent table td li {
	list-style:disc;
	margin-left:-15px;
	margin-bottom:1em;
}
.accordion {
	display: block;
	padding: 0;
	margin: 0;
	width: 650px;
	cursor: default !important;
}

.accordion .slice {
	display: block;
	margin: 0;
	padding: 0;
	width: 650px;
}

.accordion .slice .title {
	margin:0;
	padding:5px;
	font-family:"Trebuchet MS",sans-serif;
	letter-spacing:0.15em;
	text-transform:uppercase;
	font-size:12px;
	color:#DA251D;
	font-weight:bold;
	cursor:pointer;	
}

.accordion .slice .title:hover {
	color:#FFF;
	background-color:#000;
}

.accordion .slice .content {
	display:block;
	float:none;
	width:97%;
	margin:0;
	padding:10px;
}

.accordion .slice .content p {
	font-size:0.9em; 
	padding-right:10px;
}
.accordion .slice .content ul {
	font-size:0.9em; 
	margin-left:15px; 
	padding-right:10px;
}
.accordion .slice .content ul li {
	list-style:disc;
}
.accordion .slice.inactive {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
}

.accordion .slice.active {
	color:#FFF;
	background-color:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.accordion .slice h6 {
	font-size:0.9em; 
	color:#666;
}
.exhibitcontent #formcontent {
	margin:15px auto; 
	text-align:center; 
	width:630px; 
	position:relative; 
	height:100%;
}
.exhibitcontent #formwrapper {
	-moz-box-shadow:0px 0px 3px #aaa; 
	-webkit-box-shadow:0px 0px 3px #aaa;
	box-shadow:0px 0px 3px #aaa; 
	-moz-border-radius:0px 0px 10px 10px; 
	-webkit-border-radius:0px 0px 10px 10px; 
	border-radius:0px 0px 10px 10px; 
	border:2px solid #fff; 
	background-color:#f9f9f9; 
	width:630px; 
	color: #000;	
	overflow:hidden; 
	margin:0; 
	padding:0;
}
.exhibitcontent #formwrapper input {
    width:13px;
    height:13px;
    padding:0;
    margin:0 10px 0 0;
    vertical-align:middle;
    position:relative;
    top:-1px;
    *overflow:hidden;
}
.exhibitcontent #steps { 
    /*slide width*/ 
	width:630px; 
	/*height:320px; */
	overflow:hidden;
}
.exhibitcontent .step { 
    /*actual width*/ 
	float:left; 
	width:630px; 
	/*height:320px;*/
}
.exhibitcontent #navigation {
	width:630px; 
	height:45px; 
	background-color:#fff; 
	border-top:1px solid #fff; 
	-moz-border-radius:10px 10px 0px 0px;   
	-webkit-border-top-left-radius:10px;   
	-webkit-border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-top-right-radius:10px; 
	float:left; 
	display:none;
}
.exhibitcontent #navigation ul {
	list-style:none; 
	float:left; 
	margin-left:50px; 
	margin-top:0px;
}
.exhibitcontent #navigation ul li {
	float:left; 
	border-right:1px solid #ccc; 
	border-left:1px solid #ccc; 
	position:relative; 
	margin:0px 2px;
}
.exhibitcontent #navigation ul li a {
	display:block; 
	height:45px; 
	background-color:#444; 
	color:#777; 
	outline:none; 
	text-decoration:none; 
	line-height:45px; 
	padding:0px 10px; 
	border-right:1px solid #fff; 
	border-left:1px solid #fff; 
	background:#f0f0f0; 
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(240,240,240)), color-stop(0.55, rgb(227,227,227)), color-stop(0.78, rgb(240,240,240))); 
	background: -moz-linear-gradient(center bottom, rgb(240,240,240) 9%, rgb(227,227,227) 55%, rgb(240,240,240) 78%)
}
.exhibitcontent #navigation ul li a:hover, #navigation ul li.selected a {
	background:#666666; 
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(102,102,102)), color-stop(0.55, rgb(51,51,51)), color-stop(0.78, rgb(0,0,0))); 
	background: -moz-linear-gradient(center bottom, rgb(102,102,102) 9%, rgb(51,51,51) 55%, rgb(0,0,0) 78%); 
	color:#ffffff; 
	-moz-box-shadow:none; 
	-webkit-box-shadow:none; 
	text-shadow:none;
}
.exhibitcontent span.checked {
	background:transparent url('../../resources/img/icons/checked.png') no-repeat top left; 
	position:absolute; 
	top:0px; 
	left:1px; 
	width:20px; 
	height:20px;
}
.exhibitcontent span.error {
	background:transparent url('../../resources/img/icons/errored.png') no-repeat top left; 
	position:absolute; 
	top:0px; 
	left:1px; 
	width:20px; 
	height:20px;
}
.exhibitcontent #steps form fieldset {
	border:none; 
	/*margin-right:-24px; */
	padding-bottom:20px;
}
.exhibitcontent #steps form legend {
	text-align:left; 
	background-color:#DA251C; 
	color:#ffffff; 
	font-size:24px; 
	text-shadow:none; 
	font-weight:bold; 
	float:left; 
	width:625px; 
	padding:5px 0px 5px 10px; 
	margin:10px 0px 0px 0px; 
	border-bottom:1px solid #fff; 
	border-top:1px solid #d9d9d9;
}
.exhibitcontent #steps form p {
	float:left; 
	clear:both; 
	margin:5px 0px; 
	background-color:#f4f4f4; 
	border:1px solid #fff; 
	width:580px; 
	padding:10px; 
	margin-left:10px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	-moz-box-shadow:0px 0px 3px #aaa; 
	-webkit-box-shadow:0px 0px 3px #aaa; 
	box-shadow:0px 0px 3px #aaa;
}
.exhibitcontent #steps .noformat {
	float:left; 
	clear:both; 
	margin:5px 0px; 
	width:535px; 
	padding:10px; 
	margin-left:10px;
}
.exhibitcontent #steps form p label {
	width:200px; 
	float:left; 
	text-align:right; 
	margin-right:5px; 
	line-height:26px; 
	color:#666; 
	text-shadow:1px 1px 1px #fff; 
	font-weight:bold;
}
.exhibitcontent #steps form input:not([type=radio]),
.exhibitcontent #steps form textarea,
.exhibitcontent #steps form select {
	background:#ffffff; 
	border: 1px solid #ddd; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	outline:none; 
	padding:5px; 
	width:200px; 
	float:left;
}
.exhibitcontent #steps form input:focus {
	-moz-box-shadow:0px 0px 3px #aaa; 
	-webkit-box-shadow:0px 0px 3px #aaa; 
	box-shadow:0px 0px 3px #aaa; 
	background-color:#FFFEEF;
}
.exhibitcontent #steps form p.submit {
	background:none; 
	border:none; 
	-moz-box-shadow:none; 
	-webkit-box-shadow:none; 
	box-shadow:none;
}
.exhibitcontent #steps form button {
	border:none; 
	outline:none; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
	color:#ffffff; 
	display:block; 
	cursor:pointer; 
	margin:0px auto; 
	clear:both; 
	padding:7px 25px; 
	text-shadow:0 1px 1px #777; 
	font-weight:bold; 
	font-family:"Century Gothic", Helvetica, sans-serif;
	font-size:22px; 
	-moz-box-shadow:0px 0px 3px #aaa; 
	-webkit-box-shadow:0px 0px 3px #aaa; 
	box-shadow:0px 0px 3px #aaa; 
	background:#DA251C;
}
.exhibitcontent #steps form button:hover {
	background:#d8d8d8; 
	color:#666; 
	text-shadow:1px 1px 1px #fff;
}
.exhibitcontent .tab {
	width:550px; 
	text-align:left;
}
.exhibitcontent .hide{
	display:none;
}

/******** sponsors **************/

.sponsorListHolder{
	margin-bottom:30px;
}

.sponsor{
	width:155px;
	height:155px;
	float:left;
	margin:4px;
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background:url('../sponsors/background.jpg') no-repeat center center #f9f9f9;
}

.sponsorFlip:hover{
	border:1px solid #999;
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}

.sponsorFlip img{
	position:absolute;
	top:50%;
	left:50%;
	margin:-70px 0 0 -70px;
}

.sponsorData{
	display:none;
}

.sponsorDescription{
	font-size:10px;
	padding:20px 5px 5px 5px;
	color:#DA251D;
	line-height:1.5em;
}

.sponsorURL{
	font-size:10px;
	padding:5px 10px 5px 5px;
}

.menu, .menu ul {
	margin:0; 
	padding:0; 
	list-style:none; 
	float:left;
}
.menu .main {
	position:relative; 
	float:left; 
	clear:left; 
	overflow:hidden; 
	background:#DA251D; 
	border-right:5px solid #FFF; 
	margin-bottom:1px; 
}
.menu .sub li {
	margin-top:-45px;
}
.menu a {
	position:relative; 
	display:block; 
	width:180px; 
	text-decoration:none;
	font:normal bold 18px/35px arial, sans-serif; 
	color:#FFF; 
	background:#DA251D; 
	padding-left:10px;
	line-height:45px;
}
.menu a.top {
	-webkit-transition: margin 0.7s ease-in-out;
	-moz-transition: margin 0.7s ease-in-out;
	-ms-transition: margin 0.7s ease-in-out;
	-o-transition: margin 0.7s ease-in-out;
	transition: margin 0.7s ease-in-out;
}
.menu .sub a {
	font-size:1.2em; text-align:left; text-align:center; width:150px
}

.menu a.p1 {
	left: 195px;
}
.menu a.p2 {
	left:345px;
}
.menu a.p3 {
	left:490px;
}
.menu a.p4 {
	left:615px;
}
.menu a.p5 {
	left:765px;
}

.menu a:hover {background:#000; color:#FFF;}
.menu a.top:hover,
.menu .sub a:hover {margin-right:700px;}

.menu a.top.op2:hover,
.menu .sub a.op2:hover {margin-right:700px;}
.menu a.top.op3:hover,
.menu .sub a.op3:hover {margin-right:350px;}
.menu a.top.op4:hover,
.menu .sub a.op4:hover {margin-right:350px;}
.menu a.top.op5:hover,
.menu .sub a.op5:hover {margin-right:350px;}

.slideMenu, .slideMenu ul {
	padding-left:20px;
	border:currentColor;
	padding:0;
	margin:0;
	text-align:left;
	list-style-type:none !important;
	list-style-image:none !important;
	cursor:default !important;
	font-size:14px;
}

.slideMenu li {
	padding: 5px;
	padding-left: 15px;
	line-height: 1em;
}

.slideMenu a {
	color: #999; 
	text-decoration:none;
	outline: none;
}

.slideMenu a:hover {
	color: #000000;
}

.slideMenu .activeTrail > a:first-child {
	color: #000000; 
}

.slideMenu .activeTrail > a:first-child:hover {
	/*color: #00FF00;*/
}

.slideMenu .leaf {
	cursor: pointer !important;	
}

.slideMenu .leaf > a:first-child {
	padding-bottom: 0.2em;
}

.slideMenu .leaf.activeTrail {
	background: url("../img/menu/menu-leaf-active.gif") 0 5px no-repeat !important;
}

.slideMenu .leaf.collapsed {	
	background: url("../img/menu/menu-collapsed.gif") 0 5px no-repeat !important;
}

.slideMenu .leaf.expanded {
	background: url("../img/menu/menu-expanded.gif") 0 5px no-repeat !important;
}

.slideMenu .leaf.activeTrail.collapsed {	
	background: url("../img/menu/menu-collapsed-active.gif") 0 5px no-repeat !important;
}

.slideMenu .leaf.activeTrail.expanded {
	background: url("../img/menu/menu-expanded-active.gif") 0 5px no-repeat !important;
}

.slide-out-div {
	width:200px; 
	height:200px; 
	z-index:1001; 
	background:url('../img/icons/bg.jpg') repeat; 
	padding:0;
}
.slide-out-div img {
	vertical-align:middle; 
	margin-left:10px; 
	margin-right:10px;
}
.slide-out-div p {
	margin:5px 0 8px 0;
}
.slide-out-div a {
	text-decoration:none; 
	color:#666666; 
	font-size:1.3em;
}
.slide-out-div a:hover {
	text-decoration:underline; 
	color:#DA251D;
}


menu {
	float:left; 
	margin:0; 
	position:fixed; 
	display:block; 
	top:143px;
	z-index:100;
}

#menu_holder {
	margin: 0;
	margin-top: 50px;
	margin-right: -5px;
	margin-bottom: 0;
	margin-left: -15px;
	z-index: 10;
}

.hMenu {
	padding:0;
	margin:0;
	text-align:left;
	list-style-type:none !important;
	list-style-image:none !important;
	cursor:default !important;
	font-size:1.3em;	
	font-weight:bold;	
	width:175px;
}

.hMenu li {
	width: 100%;
	margin:0;
	padding:0;
	height:45px;	
	line-height:45px;			
	background:#DA251D; 
	border-right:5px solid #FFFFFF;
	border-bottom:1px solid #000000;
	padding-left: 10px;
	cursor: pointer !important;
	z-index: 5;
}

.hMenu li.leaf.collapsed {
	z-index: 1;
}

.hMenu li > a {
	color:#FFFFFF;
	text-decoration: none;
}

.hMenu > li {
	width:175px;	
}

.hMenu li ul {
	position: absolute;
	margin-top: -45px;
	margin-left: 20px;
	left: 100%;
	width: 100%;
	z-index: 4;
}

.hMenu > li > ul > li > ul {
	margin-left: 15px;
	z-index: 3;
}

.hMenu li > ul > li {
	background:#FFFFFF;	
	opacity:0.95;
	border-right:5px solid #DA251D;
}

.hMenu li > ul > li > a{
	color: #000000;
}

.hMenu li:hover {
	background:#000000;
	color:#FFFFFF;
}

.hMenu li > ul > li:hover {
	background:#000000;	
}

.hMenu li > ul > li:hover > a{
	color:#FFFFFF;
}

.hMenu li.activeTrail {
	background:#000;	
}

.hMenu .activeTrail > a:first-child {
	color:#FFF;
}

.hMenu .activeTrail > a:first-child:hover {
	color:#FFF;
}


.socialnetwork {	
	position: fixed;
	margin: 0;	
	width:50px; 
	float:left; 
	display:block; 
	min-height:400px; 
	overflow:hidden; 
	margin-top:104px;
	margin-left:890px;
	z-index: 5;
}
.network {
	float:left; 
	width:45px; 
	height:45px; 
	margin-bottom:8px; 
	background:url('../images/tint.png');
}
.network:hover {
	background-position:0 -45px; cursor:pointer;
}

.in {
	background-image:url('../images/icon_in.png');
}
.email {
	background-image:url('../images/icon_email.png');
}
.twitter {
	background-image:url('../images/icon_twitter.png');
}
.gplus {
	background-image:url('../images/icon_gplus.png');
}
.fb {
	background-image:url('../images/icon_fb.png');
}

.centreall p {
	margin:20px 0 20px 0; 
	text-align:center; 
	font-weight:700; 
	color:#DA251D;
}
.centreall ol {
	text-align:center;
}
.centreall ol li {
	margin-bottom:7px;
}
.sponsorBlock {
	display:block;
}
.exhibitmain, .conferencemain {
	width:613px;
	height:135px;
	border:1px solid #DA251D;
	padding:5px;
	margin-left:10px;
	margin-bottom:10px;
	color:#FFFFFF;
}
.exhibitmain h1, .conferencemain h1 {
	font-family:"HelveticaNeu", Arial, Helvetica, sans-serif !important; 
	font-weight:normal;
	font-size:20px;
	margin-bottom:25px;
}
a.selectexco {
	width:200px;
	height:80px;
	display:block;
	float:left;
	margin-left:4px;
	background-position:0px 0px;
}
a.selectexco:hover {
	background-position:0px -80px;
}
.exhibitmain ul, .conferencemain ul {
	text-align:center;
	margin:30px 0;
	list-style-type:none;
}
.exhibitmain li, .conferencemain li {
	display:inline;
	line-height:30px;
	margin-right:5px;
}
.exhibitmain li a, .conferencemain li a {
	color:#FFFFFF;
	font-size:1.5em;
	text-decoration:underline;
}
.exhibitmain li a:hover, 
.conferencemain li a:hover {
	color:#DA251D;
	text-decoration:none;
}


/*imagemap*/
.mapcontainer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 620px;
}
.mapcontainer .image_map {
	display:block;
	margin: 0;
	padding: 0;
	margin-left: 50px;
	width:527px;
	height:800px;
	background:url('../../resources/img/icons/exhibit2.png');
	position:relative;
}

.image_map > div > a {
	border: 1px solid transparent; /*DO NOT REMOVE*/
	cursor: pointer !important;
}

.image_map > div > a.booth.double {
	border: 1px solid red;
}

a.booth {
	display:block;
	background:transparent;	
	overflow:hidden;
	position:absolute;
	z-index: 7;
	cursor: pointer !important;		
	height:0;	
}
a.booth:hover {
	background-color: #880000;
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	filter: alpha(opacity=30); /* ie lt 7 */	
	opacity: .30; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .30 /* safari 1.x */
	-moz-opacity: .30; /* ff lt 1.5, netscape */	
}

a.booth.selected {
	background-color: #448800;
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	filter: alpha(opacity=30); /* ie lt 7 */	
	opacity: .30; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .30 /* safari 1.x */
	-moz-opacity: .30; /* ff lt 1.5, netscape */	
}

a.booth.selected:hover {
	background-color: #448800;
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	filter: alpha(opacity=30); /* ie lt 7 */	
	opacity: .30; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .30 /* safari 1.x */
	-moz-opacity: .30; /* ff lt 1.5, netscape */	
	cursor: default !important;
}

a.booth.unavailable, a.booth.unavailable:hover {
	background-color: #000000;
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	filter: alpha(opacity=30); /* ie lt 7 */	
	opacity: .30; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .30 /* safari 1.x */
	-moz-opacity: .30; /* ff lt 1.5, netscape */	
	cursor: default !important;
}

a.booth.selected.unavailable, a.booth.selected.unavailable:hover {
	background-color: #448800;
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	filter: alpha(opacity=30); /* ie lt 7 */	
	opacity: .30; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .30 /* safari 1.x */
	-moz-opacity: .30; /* ff lt 1.5, netscape */	
	cursor: default !important;
}

a.booth.reserved, a.booth.reserved:hover {
	background:url('../../resources/img/icons/reserved.png') 5px 2px no-repeat;		
	-ms-filter: "alpha(opacity=100)"; /* ie 8 */
	filter: alpha(opacity=100); /* ie lt 7 */	
	opacity: 1; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: 1 /* safari 1.x */
	-moz-opacity: 1; /* ff lt 1.5, netscape */		
	cursor: default !important;
}
a.booth.double.reserved, a.booth.double.reserved:hover {
	background:url('../../resources/img/icons/reserved.png') 18px 5px no-repeat;	
	-ms-filter: "alpha(opacity=100)"; /* ie 8 */
	filter: alpha(opacity=100); /* ie lt 7 */	
	opacity: 1; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: 1 /* safari 1.x */
	-moz-opacity: 1; /* ff lt 1.5, netscape */		
	cursor: default !important;
}
a.booth.double.reserved.unavailable, a.booth.double.reserved.unavailable:hover {
	background:#777777 url('../../resources/img/icons/reserved.png') 18px 5px no-repeat;	
	-ms-filter: "alpha(opacity=60)"; /* ie 8 */
	filter: alpha(opacity=60); /* ie lt 7 */	
	opacity: .60; /* standard: ff gt 1.5, opera, safari */
	-khtml-opacity: .60 /* safari 1.x */
	-moz-opacity: .60; /* ff lt 1.5, netscape */	
	cursor: default !important;
}


#boothinterfaces {
	display: none;
}
#boothinterfaces .boothinterface {
	display: none;
}
#boothinterfaces .boothinterfacetext {
	display: none;
}

.A1{left:62px;top:167px;width:30px;padding-top:25px}.A2{left:62px;top:193px;width:30px;padding-top:25px}.A3{left:62px;top:219px;width:30px;padding-top:25px}.A4{left:62px;top:245px;width:30px;padding-top:25px}.A5{left:62px;top:271px;width:30px;padding-top:25px}.A6{left:62px;top:297px;width:30px;padding-top:25px}.A7{left:62px;top:323px;width:30px;padding-top:25px}.A8{left:62px;top:349px;width:30px;padding-top:25px}.A9{left:62px;top:375px;width:30px;padding-top:25px}.A10{left:62px;top:401px;width:30px;padding-top:25px}.A11{left:62px;top:447px;width:30px;padding-top:25px}.A12{left:62px;top:473px;width:30px;padding-top:25px}.A13{left:62px;top:499px;width:30px;padding-top:25px}.A14{left:62px;top:525px;width:30px;padding-top:25px}.A15{left:62px;top:551px;width:30px;padding-top:25px}.A16{left:62px;top:577px;width:30px;padding-top:25px}.A17{left:62px;top:603px;width:30px;padding-top:25px}.A18{left:62px;top:629px;width:30px;padding-top:25px}.B1{left:122px;top:97px;width:30px;height:0;padding-top:25px}.B2{left:153px;top:97px;width:30px;height:0;padding-top:25px}.B3{left:184px;top:97px;width:30px;height:0;padding-top:25px}.B4{left:215px;top:97px;width:30px;height:0;padding-top:25px}.B5{left:122px;top:123px;width:30px;height:0;padding-top:25px}.B6{left:153px;top:123px;width:30px;height:0;padding-top:25px}.B7{left:184px;top:123px;width:30px;height:0;padding-top:25px}.B8{left:215px;top:123px;width:30px;height:0;padding-top:25px}.B9{left:122px;top:187px;width:30px;padding-top:25px}.B10{left:153px;top:187px;width:30px;height:0;padding-top:25px}.B11{left:184px;top:187px;width:30px;height:0;padding-top:25px}.B12{left:215px;top:187px;width:30px;height:0;padding-top:25px}.B13{left:120px;top:211px;width:63px;padding-top:29px}.B14{left:184px;top:211px;width:63px;padding-top:29px}.B15{left:121px;top:431px;width:63px;padding-top:29px}.B16{left:184px;top:431px;width:63px;padding-top:29px}.B17{left:122px;top:459px;width:30px;padding-top:25px}.B18{left:153px;top:459px;width:30px;padding-top:25px}.B19{left:184px;top:459px;width:30px;padding-top:25px}.B20{left:215px;top:459px;width:30px;padding-top:25px}.B21{left:123px;top:545px;width:30px;padding-top:25px}.B22{left:154px;top:545px;width:30px;padding-top:25px}.B23{left:185px;top:545px;width:30px;padding-top:25px}.B24{left:216px;top:545px;width:30px;padding-top:25px}.B25{left:123px;top:571px;width:30px;padding-top:25px}.B26{left:154px;top:571px;width:30px;padding-top:25px}.B27{left:185px;top:571px;width:30px;padding-top:25px}.B28{left:216px;top:571px;width:30px;padding-top:25px}.B29{left:123px;top:645px;width:30px;padding-top:25px}.B30{left:154px;top:645px;width:30px;padding-top:25px}.B31{left:185px;top:645px;width:30px;padding-top:25px}.B32{left:216px;top:645px;width:30px;padding-top:25px}.B33{left:123px;top:671px;width:30px;padding-top:25px}.B34{left:154px;top:671px;width:30px;padding-top:25px}.B35{left:185px;top:671px;width:30px;padding-top:25px}.B36{left:216px;top:671px;width:30px;padding-top:25px}.C1{left:280px;top:97px;width:30px;height:0;padding-top:25px}.C2{left:311px;top:97px;width:30px;height:0;padding-top:25px}.C3{left:342px;top:97px;width:30px;height:0;padding-top:25px}.C4{left:373px;top:97px;width:30px;height:0;padding-top:25px}.C5{left:280px;top:123px;width:30px;height:0;padding-top:25px}.C6{left:311px;top:123px;width:30px;height:0;padding-top:25px}.C7{left:342px;top:123px;width:30px;height:0;padding-top:25px}.C8{left:373px;top:123px;width:30px;height:0;padding-top:25px}.C9{left:280px;top:187px;width:30px;padding-top:25px}.C10{left:311px;top:187px;width:30px;height:0;padding-top:25px}.C11{left:342px;top:187px;width:30px;height:0;padding-top:25px}.C12{left:373px;top:187px;width:30px;height:0;padding-top:25px}.C13{left:278px;top:211px;width:64px;padding-top:29px}.C14{left:341px;top:211px;width:64px;padding-top:29px}.C15{left:278px;top:431px;width:64px;padding-top:29px}.C16{left:340px;top:431px;width:64px;padding-top:29px}.C17{left:280px;top:459px;width:30px;padding-top:25px}.C18{left:311px;top:459px;width:30px;padding-top:25px}.C19{left:342px;top:459px;width:30px;padding-top:25px}.C20{left:373px;top:459px;width:30px;padding-top:25px}.C21{left:281px;top:545px;width:30px;padding-top:25px}.C22{left:312px;top:545px;width:30px;padding-top:25px}.C23{left:343px;top:545px;width:30px;padding-top:25px}.C24{left:374px;top:545px;width:30px;padding-top:25px}.C25{left:281px;top:571px;width:30px;padding-top:25px}.C26{left:312px;top:571px;width:30px;padding-top:25px}.C27{left:343px;top:571px;width:30px;padding-top:25px}.C28{left:374px;top:571px;width:30px;padding-top:25px}.C29{left:281px;top:645px;width:30px;padding-top:25px}.C30{left:312px;top:645px;width:30px;padding-top:25px}.C31{left:343px;top:645px;width:30px;padding-top:25px}.C32{left:374px;top:645px;width:30px;padding-top:25px}.C33{left:281px;top:671px;width:30px;padding-top:25px}.C34{left:312px;top:671px;width:30px;padding-top:25px}.C35{left:343px;top:671px;width:30px;padding-top:25px}.C36{left:374px;top:671px;width:30px;padding-top:25px}.D1{left:433px;top:167px;width:30px;padding-top:25px}.D2{left:433px;top:193px;width:30px;padding-top:25px}.D3{left:433px;top:219px;width:30px;padding-top:25px}.D4{left:433px;top:245px;width:30px;padding-top:25px}.D5{left:433px;top:271px;width:30px;padding-top:25px}.D6{left:433px;top:297px;width:30px;padding-top:25px}.D7{left:433px;top:323px;width:30px;padding-top:25px}.D8{left:433px;top:349px;width:30px;padding-top:25px}.D9{left:433px;top:375px;width:30px;padding-top:25px}.D10{left:433px;top:401px;width:30px;padding-top:25px}.D11{left:433px;top:427px;width:30px;padding-top:25px}.D12{left:433px;top:453px;width:30px;padding-top:25px}.D13{left:433px;top:479px;width:30px;padding-top:25px}.D14{left:433px;top:505px;width:30px;padding-top:25px}.D15{left:433px;top:551px;width:30px;padding-top:25px}.D16{left:433px;top:577px;width:30px;padding-top:25px}.D17{left:433px;top:603px;width:30px;padding-top:25px}.D18{left:433px;top:629px;width:30px;padding-top:25px}

