		<a href="#myDivID" id="fancyBoxLink" style="display:none;">activate popup display</a>
		<div style="display:none;"> 
			<div id="myDivID">
				<img src="resources/img/fancybox/titlehead.png" alt="">
				<p><a href="asogarden/">I am interested in ASO Garden Estate and I would like to learn more</a></p>
				<!--<p><a href="exco/">Click to view details of the 3rd ASO Housing Exhibition &amp; Conference</a></p>-->
				<p><a href="property/">I am looking for a property – Show me all listings</a></p>
				<p><a href="mail/">I am interested in a mortgage and I would like someone to contact me</a></p>
				<p><a href="products/">I am interested in learning more about your products and services</a></p>
				<p><a href="company/branches/">Where can I find an ASO branch/ATM</a></p>
				<br/>
				<p><a href="javascript:void(0)" onclick="$.fancybox.close()">No, thanks</a></p>
			</div> <!-- end: myDivID -->
		</div> <!-- end: div -->
		<div class="main">
			<div class="mainpagecontent">
				<!--<div class="contentwrapper">
					<div class="asohomemain">-->
						<div id="banner">
							<div id="sliderContainer">
								<div id="backShadowContainer">
									<img class="IEtransFix" src="resources/img/icons/banner_shadow1.png" alt="">
								</div> <!-- end: backShadowContainer -->
								<ul id="slideShow">
									<!-- <li id="option8_slide">
										<a title="ASO Property Promotion" href="propertypromo/"><img src="resources/img/slider/newad24.png" alt="ASO Property Promotion"></a>
									</li>
									<li id="option7_slide">
										<a title="Kaduna Millennium City" href="millenniumcity/"><img src="resources/img/slider/newad22.png" alt="Kaduna Millennium City"></a>
									</li> 
									<li id="option6_slide">
										<a title="Grand Court" href="grandcourt/"><img src="resources/img/slider/newad21.png" alt="Grand Court"></a>
									</li>-->
									<li id="option5_slide">
										<a title="ASO E-Banking Solutions" href="products/atm/"><img src="resources/img/slider/newad17.png" alt="ASO E-Banking Solutions"></a>
									</li>
									<li id="option4_slide">
										<a title="ASO Flourish Account" href="products/flourish/"><img src="resources/img/slider/newad10.png" alt="ASO Flourish Account"></a>
									</li>
									<!--<li id="option3_slide">
										<a title="ASO MyHouse Account" href="products/myhouse/"><img src="resources/img/slider/newad5.png" alt="ASO MyHouse Account"></a>               
									</li>-->
									<li id="option2_slide">
										<a href="https://mls.asoplc.com/" title="ASO Multiple Listing System (MLS)"><img src="resources/img/slider/newad2.jpg" alt="ASO Multiple Listing System (MLS)"></a>
									</li>
									<li id="option1_slide">
										<a title="ASO Excel Account" href="products/excel/"><img src="resources/img/slider/newad4.png" alt="ASO Excel Account"></a>
									</li> 
								</ul>
								<div id="frontShadowContainer">
									<img class="IEtransFix" src="resources/img/icons/banner_shadow2.png" alt="">
								</div> <!-- end: frontShadowContainer -->
							</div> <!-- end: sliderContainer--> 
							<ul id="buttons"></ul>
						</div><!-- end: banner -->
						<div class="hmasoshade gradient">
							<div class="insideshadow">
								&nbsp;
							</div> <!-- end: insideshadow -->
						</div> <!-- end: hmasoshade -->
						<div id="hmnewsletter">
							<a href="property/preview/" target="_blank"><img src="resources/img/icons/mls_banner.png" alt=""></a>
							<div class="hmquicklinks">
				<script type="text/javascript">
									<!--
									function parseNavigation(ob) {
										toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

										targetWindow = toBeBrokenDown[0];
										targetURL    = toBeBrokenDown[1];

										if (targetWindow!=='') {
											window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
											ob.selectedIndex = 0;
										} else {		
											window.open(targetURL,'_top')
										}
									}
									//-->
								</script>
								<form name="form" id="form" action="">
									<select class="searchfont" onchange="parseNavigation(this)" style="width:225px; padding:2px;">
										<option selected="selected">Quick Links</option>
								<option value="|https://www.asoplc.com/company/">About ASO</option>
								<option value="|https://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|https://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|https://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|https://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|https://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|https://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|https://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|https://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|https://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|https://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|https://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|https://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|https://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|https://mls.asoplc.com/Property">Available Properties</option>
								<option value="|https://www.asoplc.com/whistleblower/">ASO Whistleblower Form</option>
									</select>
								</form>
							</div> <!-- end: quicklinks -->
						</div> <!-- end: hmnewsletter -->
						<div class="clearfix"></div> <!-- end: clearfix --> 
						<div class="lineseperator"></div> <!-- end: lineseperator -->
						<div class="contentdiv">
							<div class="menuoption1">
								<a href="products/myresidential/" class="menuoptionbk" style="background-image:url(resources/img/newmain_menu/option1_off.png);"></a>
								<!--<img src="resources/img/newmain_menu/option1_off.png" alt="">-->
							</div> <!-- end: menuoption -->
							<div class="menuoption2">
								<a href="products/current/" class="menuoptionbk" style="background-image:url(resources/img/newmain_menu/option2_off.png);"></a>
								<!--<img src="resources/img/newmain_menu/option2_off.png" alt="">-->
							</div> <!-- end: menuoption -->
							<div class="menuoption3">
								<a href="products/businesscurrent/" class="menuoptionbk" style="background-image:url(resources/img/newmain_menu/option3_off.png);"></a>
								<!--<img src="resources/img/newmain_menu/option3_off.png" alt="">-->
							</div> 
							<!-- end: menuoption -->
							<div class="menuoption4">
								<a href="products/web/" class="menuoptionbk" style="background-image:url(resources/img/newmain_menu/option4_off.png);"></a>
								<!--<img src="resources/img/newmain_menu/option4_off.png" alt="">-->
							</div> <!-- end: menuoption -->
						</div>


						<div class="contentdiv">
							<div id="fb_div">
								<a href="https://www.facebook.com/aso.plc/" target="_blank"><img src="resources/img/icons/hdr-facebook.png" alt=""></a>
								<!--<iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fasoplc&amp;width=243&amp;colorscheme=light&amp;show_faces=false&amp;border_color=fff&amp;stream=true&amp;header=false&amp;height=504" scrolling="no" frameborder="1" style="border:none; overflow:hidden; width:243px; height:504px;" allowTransparency="true"></iframe>-->
							</div>
							<div id="twitter_div">
								<a href="https://twitter.com/ASO_SAVINGS" target="_blank"><img src="resources/img/icons/hdr-twitter.png" alt=""></a>
								<!--<a class="twitter-timeline"  href="https://twitter.com/ASO_SAVINGS" data-widget-id="658016453526949888">Tweets by @ASO_SAVINGS</a>-->
							</div>
							<div id="google_div"> 
								<a href="https://plus.google.com/+asosavingsandloans" target="_blank"><img src="resources/img/icons/hdr-google.png" alt="" width="252" height="60"></a>
								<!--<iframe id="widgetFrame" src="https://widgplus.com/templates/new/activity.php?plusid=106126146711350910477&textcolor=000000&bg=FFFFFF&contentbg=FFFFFF&linkcolorDA251D" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:252px; height:510px;"></iframe>-->
							</div> <!-- end: google_div -->
							<div id="youtube_div">
								<a href="https://www.youtube.com/channel/UCgMyun9wSVlqiYTE5Iw_eFA" target="_blank"><img src="resources/img/icons/hdr-youtube.png" alt=""></a>
								<!--<iframe width="252" height="510" src="https://www.youtube.com/embed/videoseries?list=PLNhcQAXlPJxKcJ4zfA7pNkjML_bdun-Jn" frameborder="0" allowfullscreen></iframe>-->
							</div> <!-- end: youtube_div -->
							<div style="text-align: center;">
								<img style="height: 310px;" src="resources/img/ndprAudit2022/NITDA_Audit_Compliant_Logo_2022-18.svg" alt="">
							</div>
						</div>
						<div class="clearfix"></div>
					<!--</div> <!-- end: asohomemain -->	
				<!--</div> <!-- end: contentwrapper -->
					<div>
					<img src="resources/img/global/spacer.gif" height="80px" alt="">
				</div>	
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="scripts/includes/homebanner.js"></script>
			<script type="text/javascript" src="scripts/includes/slideshow.js"></script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
			<script type="text/javascript">
				$(document).ready(function () {
			Slider.Init();	
				});
	</script>
			<script src="scripts/includes/jquery.fancybox-1.3.4.js" type="text/javascript"></script>
	<script type="text/javascript">
				$(document).ready(function() { 
					$("a#fancyBoxLink").fancybox({ 
							'href' : '#myDivID', 
							'titleShow' : false,
							'autoScale' : true,
							'margin' : 0,
							'padding' : 0,
							'speedIn' : 300, 
							'speedOut' : 300, 
							'transitionIn' : 'fade', 
							'transitionOut' : 'fade',
							'overlayColor' : '#FFF', 
							'overlayOpacity' : 0.6 
					});  
					//$("a#fancyBoxLink").trigger('click');
				});
			</script>
			<script type="text/javascript">
				window.twttr = (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
			t = window.twttr || {};
			if (d.getElementById(id)) return t;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);

			t._e = [];
			t.ready = function(f) {
				t._e.push(f);
			};

			return t;
			}
			(document, "script", "twitter-wjs"));
	</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->