    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              ASO MLS Publication
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainlong">
            <div class="mlspage">
              <div class="mlspage1">
                <img src="../resources/img/mls-images/mls-header.png" alt="" style="margin-bottom:20px;">
                <form class="mlsform">
                  <input name="name" id="name" type="text" class="finalinput" placeholder="Your name*" value="Your name*">
                  <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="Email*">
                  <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="Phone">
                  <p><label for="survey">Where did you learn about the MLS Publication:</label></p>
                  <table width="500">
                    <tr>
                      <td width="250"><label>
                        <input type="radio" name="survey" value="Facebook" id="survey_0"> Facebook</label></td>
                      <td width="250"><label>
                        <input type="radio" name="survey" value="Google+" id="survey_2"> Google+</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" name="survey" value="Twitter" id="survey_1"> Twitter</label></td>
                      <td><label>
                        <input type="radio" name="survey" value="LinkedIn" id="survey_4"> LinkedIn</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" name="survey" value="E-Mail" id="survey_3"> E-Mail</label></td>
                      <td><label>
                        <input type="radio" name="survey" value="Other" id="survey_5"> Other</label></td>
                    </tr>
                    <tr>
                      <td>
                        <input class="sub_button" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
                      </td>
                    </tr>
                  </table>
                </form>
                <p>ASO Savings &amp; Loans Plc, the Mortgage Bank of Choice!</p>
              </div> <!-- end: mlspage1 -->
              <div class="mlspage2">
                <h1>Thank You!</h1>
                <p>You have successfully signed up to receive the ASO MLS Property Publication.</p>
                <p>We look forward to helping you own your dream home.</p>
              </div> <!-- end: mlspage2 -->
            </div> <!-- end: mlspage -->
          </div> <!-- end: asomainlong -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../mls/" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/utility.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->
<script type="text/javascript">
//<!--
$(function() {
    var formpage=$('.mlspage1');
    var thankpage=$('.mlspage2');

    $('.mlsform').on('submit', function(e) {
        e.preventDefault();
        e.stopPropagation();
        
        var formValid=true;
        var message='';
        var name=$(this).children('#name');
        var email=$(this).children('#email');
        
        formValid=!isEmpty(name.val());
        if (!formValid) {
            name.addClass('invalid');
            message = message  + "Please specify your name!\n";
        } else {
            name.removeClass('invalid');
        }
        
        formValid=isEmail(email.val());
        if (!formValid) {
            message = message  + "Please specify a valid email address!\n";
            email.addClass('invalid');			
        } else {
            email.removeClass('invalid');
        }
        
        if (!formValid) {
            if (message.length > 0)
                alert(message);
            return false;
        }
        
        request($(this), false, '/mls/index.php', false, function(obj, error) {
            if (error === true) {
                alert("Request Error: " + error);
            } else {
                formpage.fadeOut(500, function() {
                    thankpage.fadeIn(500);
                });
            }
        });
        
        return false;
    });
});
//mlspage1
//mlspage2
//-->
</script>