    <div class="main">
      <div class="breadcrumb">
        <a href="../products">return to homepage</a> / aso + union homes integration
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              ASO/Union Homes Integration 
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainmed">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, ipsum ut blandit commodo, libero nunc porttitor massa, in elementum purus turpis quis nisl. In id egestas lectus. Donec iaculis molestie facilisis. Proin ultricies ante sit amet nisi tristique rutrum. Nullam et velit egestas, aliquam mauris in, imperdiet nisi. Aenean nec metus vitae nunc aliquet volutpat non vitae quam. Fusce rhoncus enim pulvinar, aliquam dolor nec, pretium massa. Cras dignissim, odio ac congue tempus, enim magna euismod nisi, ut sodales leo metus vitae diam. Cras nec porta velit, eu vestibulum urna.</p>
            <p>Etiam nec vestibulum augue. Phasellus fringilla nulla ligula, id fermentum felis luctus vulputate. Fusce vitae ante porta lacus luctus malesuada. Morbi ac ornare ipsum. Vivamus molestie mauris rutrum, rhoncus mi non, vestibulum augue. Suspendisse quis hendrerit augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean dictum aliquam consectetur.</p>
            <p>Ut semper mollis sem non bibendum. Pellentesque semper augue justo, quis tincidunt mi dictum sit amet. Nulla sollicitudin est sed suscipit fermentum. Ut urna risus, posuere non nunc sed, sollicitudin ornare urna. Sed imperdiet urna id nulla dapibus, quis iaculis sapien volutpat. Nullam lacinia id metus ac laoreet. Nunc eu nibh quis libero feugiat malesuada. Nunc in sapien rhoncus, sodales lorem ut, tempor justo. In condimentum vel tortor nec ultrices. Etiam suscipit mauris elit, sit amet suscipit enim adipiscing sit amet. Aenean magna felis, tristique sit amet accumsan id, semper vitae orci. Sed eu mi tempor, vehicula justo et, laoreet neque. Duis malesuada interdum molestie. In quis mattis velit.</p>
            <div class="row">
              <article class="grid_4">
                <ul class="tabs">
                  <li class="active">
                    <a href="#tab4">Press Releases</a>
                  </li>
                  <li class="">
                    <a href="#tab5">F.A.Qs</a>
                  </li>
                  <li>
                    <a href="#tab6">Downloads</a>
                  </li>
                </ul> <!-- .tabs end -->
                <section class="tab-content-wrap">
                  <div style="display: block;" id="tab4" class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, ipsum ut blandit commodo, libero nunc porttitor massa, in elementum purus turpis quis nisl. In id egestas lectus. Donec iaculis molestie facilisis. Proin ultricies ante sit amet nisi tristique rutrum. Nullam et velit egestas, aliquam mauris in, imperdiet nisi. Aenean nec metus vitae nunc aliquet volutpat non vitae quam. Fusce rhoncus enim pulvinar, aliquam dolor nec, pretium massa. Cras dignissim, odio ac congue tempus, enim magna euismod nisi, ut sodales leo metus vitae diam. Cras nec porta velit, eu vestibulum urna.</p>
                    <p>Etiam nec vestibulum augue. Phasellus fringilla nulla ligula, id fermentum felis luctus vulputate. Fusce vitae ante porta lacus luctus malesuada. Morbi ac ornare ipsum. Vivamus molestie mauris rutrum, rhoncus mi non, vestibulum augue. Suspendisse quis hendrerit augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean dictum aliquam consectetur.</p>
                    <p>Ut semper mollis sem non bibendum. Pellentesque semper augue justo, quis tincidunt mi dictum sit amet. Nulla sollicitudin est sed suscipit fermentum. Ut urna risus, posuere non nunc sed, sollicitudin ornare urna. Sed imperdiet urna id nulla dapibus, quis iaculis sapien volutpat. Nullam lacinia id metus ac laoreet. Nunc eu nibh quis libero feugiat malesuada. Nunc in sapien rhoncus, sodales lorem ut, tempor justo. In condimentum vel tortor nec ultrices. Etiam suscipit mauris elit, sit amet suscipit enim adipiscing sit amet. Aenean magna felis, tristique sit amet accumsan id, semper vitae orci. Sed eu mi tempor, vehicula justo et, laoreet neque. Duis malesuada interdum molestie. In quis mattis velit.</p>
                  </div> <!-- #tab1 content end -->
                  <div style="display: none;" id="tab5" class="tab-content">
                    <p> Integer vestibulum pretium magna a rutrum. Cras ac sapien enim. Vivamus bibendum dictum hendrerit. Pellentesque varius gravida arcu vitae venenatis. Sed magna tellus, auctor vitae mattis eget, accumsan vitae ligula. Phasellus rutrum ullamcorper dui. Mauris sagittis at tortor laoreet ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam consectetur, dui sed sagittis tempus, nulla risus interdum leo, ornare tincidunt velit urna eget ipsum. Nulla non justo magna. Aliquam erat volutpat. Nam posuere nunc a tempus rutrum. Nulla facilisi. Etiam dignissim tempor eleifend. Integer vestibulum a libero id ultrices.</p>
                    <p>Etiam tempor elementum risus, ac auctor turpis egestas ut. Etiam aliquam urna consequat lectus vestibulum, et tincidunt lectus aliquet. Nullam sed ultrices est. Morbi sed felis euismod, viverra quam id, interdum magna. Phasellus malesuada, sem hendrerit ultrices tincidunt, metus tellus sodales metus, non tempus nulla justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel justo ut lectus porttitor iaculis. Sed condimentum lectus metus, sed scelerisque lectus sagittis at. Quisque fringilla suscipit aliquet.</p>
                  </div> <!-- #tab2 content end -->
                  <div style="display: none;" id="tab6" class="tab-content">
                    <h1>Merger Downloadable Files</h1>
                    <ul class="redbullet">
                      <li><p class="redlink">ASO File Number One...<a href="">Download</a></p></li>
                      <li><p class="redlink">ASO File Number Two...<a href="">Download</a></p></li>
                      <li><p class="redlink">ASO File Number Three...<a href="">Download</a></p></li>
                      <li><p class="redlink">ASO File Number Four...<a href="">Download</a></p></li>
                      <li><p class="redlink">ASO File Number Five...<a href="">Download</a></p></li>
                    </ul>
                  </div><!-- #tab6 content end -->
                </section><!-- .tab-content-wrap end -->
              </article><!-- .grid_4 end -->
            </div>
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../mls" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <link href="../resources/css/tabs.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/tabs.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->