    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../company">About ASO</a> > <a href="../../management">Management Team</a> > Enesi Makoju
       </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Management Team
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="../../../company">Our Story</a></li>
                  <li><a href="../../comingfrom">Where We're Coming From</a></li>
                  <li><a href="../../corporateprofile">Corporate Profile</a></li>
                  <li><a href="#">Directors and Board Appointees</a>
                    <ul>
                      <li><a href="../../board">View All</a></li>
                      <li class="first activeTrail"><a href="#">Mr. Ali Magashi</a></li>
                      <!--<li><a href="../musa/">Dr. Musa Ahmed Musa</a></li>-->
                      <li><a href="../okeowo/">Mr. Olutoyin Okeowo</a></li>
                      <!--<li><a href="../../board/adedigba/">Adekunle Adedigba</a></li>-->
                      <li><a href="../ahmed/">Risikatu Ladi Ahmed</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../../management">View All</a></li>
                      <!-- <li><a href="../adedigba">Adekunle Adedigba</a></li> -->
                      <li><a href="../ahmed">Risikatu Ladi Ahmed</a></li>
                      <li class="first activeTrail"><a href="#">Enesi Makoju</a></li>
                      <li><a href="../dahunsi">Titilayo Dahunsi</a></li>
                      <li><a href="../bello/">Richard Bello</a></li>
                      <!--<li class="first activeTrail"><a href="#">Enesi Makoju</a></li>-->
                      <li><a href="../gaga/">Ibrahim Gaga</a></li>
                    </ul>
                  </li>
                  <li><a href="../../achievements">Our Achievements</a></li>
                  <li><a href="../../recognition">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="teamprofile">
              <img src="../../../resources/img/teams/1.png" alt="">
              <div class="teamcontent">
                
                <p>
                  Enesi Makoju is an experienced investment banker and housing finance specialist with over 25 years work experience. His
                  experience includes working with reputable companies such as KPMG, Deloitte, Merchant Banking Corporation Nigeria Limited,
                  First Atlantic Bank, Citibank Nigeria Limited, FBN Capital Limited/ First Funds Limited, Family Homes Funds Limited and
                  Ancestral Holdings Limited where he held several positions and garnered experience in Credit and Investment Analysis,
                  Corporate Banking, Relationship Management, Corporate Finance, Tax Management and Consulting, Business Advisory Services,
                  Product Development and Capital Mobilization etc.
                </p>
                <p>
                  He obtained a BSc Economics from the University of Ilorin, Kwara State in 1995, an MBA (with distinction) from the University
                  of Nottingham in 2002 and an MSc in Major Program Management from the University of Oxford in 2011. More so, he is an Honorary
                  Senior member of the prestigious Chartered Institute of Bankers of Nigeria (CIBN).
                </p>
                <p>
                  He was a General Manager/Division Head of Structured Transaction and Advisory in ASO Savings and Loans plc from 2014-2019 and
                  the Chairman of the Bank’s Transaction Assurance and I.T Steering Committee. He was also the Chairman of the Fund’s Project
                  Monitoring Committee while working with Family Homes Funds Limited. 
                </p>
                <p>
                  He has attended several training courses in Audit & Business Advisory, Core Credit & Risk Analysis, Project Management Certification,
                  Basic Banking Program, Euromoney Corporate Finance, Banking Software Training and Euromoney VC & PE Program with Arthur Andersen Worldwide,
                  Citibank Nigeria, Prince2 (U.K), Merchant Banking Corp, First Funds Limited, First Atlantic Bank and Venture Capital Association of Nigeria
                  respectively.
                </p>
                <p>
                  He is currently the Executive Director, Corporate Services in ASO Savings & Loans Plc.
                </p>
                
              </div> <!-- end: teamcontent -->
            </div>  <!-- end: teamprofile -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->