    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../company">About ASO</a> > <a href="../../board">Board Of Directors</a> > Mr. Olutoyin Okeowo
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Board Of Directors
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="../../comingfrom/">Where We're Coming From</a></li>
                  <li><a href="../../corporateprofile/">Corporate Profile</a></li>
                  <li><a href="#">Board Of Directors</a>
                    <ul>
                      <li><a href="../../board/">View All</a></li>
                      <li><a href="../magashi/">Mr. Ali Magashi</a></li>
                      <!--<li><a href="../musa/">Dr. Musa Ahmed Musa</a></li>-->
                      <li class="first activeTrail"><a href="#">Mr. Olutoyin Okeowo</a></li>
                      <!--<li><a href="../../board/adedigba/">Adekunle Adedigba</a></li>-->
                      <li><a href="../ahmed/">Risikatu Ladi Ahmed</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../../management/">View All</a></li>
                      <!--<li><a href="../../management/adedigba/">Adekunle Adedigba</a></li>-->
                      <li><a href="../../management/ahmed/">Risikatu Ladi Ahmed</a></li>
                      <li><a href="../../management/dahunsi/">Titilayo Dahunsi</a></li>
                      <li><a href="../../management/bello/">Richard Bello</a></li>
                      <!--<li><a href="../../management/makoju/">Enesi Makoju</a></li>-->
                      <li><a href="../../management/gaga/">Ibrahim Gaga</a></li>
                    </ul>
                  </li>
                  <li><a href="../../achievements/">Our Achievements</a></li>
                  <li><a href="../../recognition/">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="teamprofile">
              <div class="teampicsection">
                <div class="teampic">
                  <img src="../../../resources/img/teams/okeowo_small.png" alt="" width="215" height="300">
                </div> <!-- end: teampic -->
                <div class="teamtitle">
                  <p>Olutoyin Okeowo<br><span class="smlred">Director</span></p>
                </div> <!-- end: teamtitle -->
                <div class="clearfix"></div> <!-- end: clearfix -->
              </div> <!-- end: teampicsection -->
              <div class="teamcontent">
                <p>Mr. Olutoyin Okeowo is a graduate of the University of Wales Institute of Science &amp; Technology where he obtained a Master’s Degree in Management Science &amp; Technology. He was a lecturer in the Faculty of Business Administration, University of Lagos before resigning to join the family business in 1986.</p>
                <p>He is currently the chairman of Oasis Insurance Plc and the Managing Director/Chief Executive Officer of Metropolitan Motors Limited (an accredited Dealer of Toyota Nigeria Limited in Nigeria). He is also the Chairman of the following companies; Daewoo Autoland Nigeria Limited, Mitob Ventures Limited and TMJ Properties Limited.</p>
                <p>He also sits on the board of the following companies and association; Mainland Trust LTD ( a member of the Nigerian Stock Exchange), VT Leasing LTD, Oasis Insurance PLC, Equipment Leasing Association of Nigeria, DN Meyer PLC and Funds Electronic Transfer Systems LTD.</p>
                <p>He is an active member of the Anglican Church of Nigeria. He is currently the Treasurer of the Diocese of Lagos West (Anglican Communion) and the Treasurer of the Supra-Diocesan Board West comprising of about 44 Dioceses.</p>
                <p>He is a member of the governing Council of the following institutions; Archbishop Vining College of Theology, Akure, Immanuel College of Theology, Ibadan, Ezekiel College of Theology, Ekpoma and Babington Macaulay Junior Seminary, Ikorodu.</p>
                <p>He is also a member of the Governing Council of the Ajayi Crowther University, Oyo.</p>
                <p>He is an alumnus of Lagos Business School and a former member of the Governing Council of the Alumni.</p>
                <p>He is happily married with children.</p>
              </div> <!-- end: teamcontent -->
            </div>  <!-- end: teamprofile -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->