    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../company">About ASO</a> > <a href="../../management">Management Team</a> > Risikatu Ladi Ahmed
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Management Team
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="../../comingfrom/">Where We're Coming From</a></li>
                  <li><a href="../../corporateprofile/">Corporate Profile</a></li>
                  <li><a href="#">Board Of Directors</a>
                    <ul>
                      <li><a href="../../board/">View All</a></li>
                      <li><a href="../../board/magashi/">Mr. Ali Magashi</a></li>
                      <!--<li><a href="../../board/musa/">Dr. Musa Ahmed Musa</a></li>-->
                      <li><a href="../../board/okeowo/">Mr. Olutoyin Okeowo</a></li>
                      <!--<li><a href="../../board/adedigba/">Adekunle Adedigba</a></li>-->
                      <li><a href="../../board/ahmed/">Risikatu Ladi Ahmed</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../../management/">View All</a></li>
                      <!--<li><a href="../../management/adedigba/">Adekunle Adedigba</a></li>-->
                      <li class="first activeTrail"><a href="../ahmed/">Risikatu Ladi Ahmed</a></li>
                      <li><a href="../dahunsi/">Titilayo Dahunsi</a></li>
                      <li><a href="../bello/">Richard Bello</a></li>
                      <!--<li><a href="../makoju/">Enesi Makoju</a></li>-->
                      <li><a href="../gaga/">Ibrahim Gaga</a></li>
                    </ul>
                  </li>
                  <li><a href="../../achievements/">Our Achievements</a></li>
                  <li><a href="../../recognition/">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="teamprofile">
              <img src="../../../resources/img/teams/ahmed_profile.jpg" alt="">
              <div class="teamcontent">
                <p>She holds a law degree from University of Maiduguri in 1989 and attended Nigerian Law School, Lagos between 1989 and 1990. She was enrolled and called to Nigeria Bar in December 1990. In 1998, she obtained a Post Graduate Diploma in Management from Abubakar Tafawa Balewa University, Bauchi and in 2006; she obtained her Master degree in law from University of Jos.</p>

                <p>Risi has over two decades of banking experience. Her Banking career started with Continental Merchant Bank in Lagos State, where she served as a Youth Corper (NYSC). Then Savannah Bank Plc (1993 to 1999) where she served as an Operations Staff and a Resident Auditor. She subsequently worked in Diamond Bank Plc (July 1999 to August 2015). Her exposure in the banking industry spanned through a number of job functions including Credit and Marketing, Banking Operations, Recovery, Audit and Regional Business in the North East.</p>

                <p>Prior to her appointment as the Executive Director, Corporate Services Directorate, she was the Executive Director, Institutional Banking and Public Sector. Risi was the Regional Manager, North East at Diamond Bank Plc. She has a track record of excellent performance which has earned her several commendations and awards.</p>

                <p>She is currently the Managing Director & Chief Executive Officer of ASO Savings & Loans Plc.</p>

                <p>She is an Honorary Senior Member of the Chartered Institute of Bankers of Nigeria (HCIB) and currently serving as a member of the Institute’s Membership Development & Services Committee (MD & SC) and a member of the Institute’s Consultative Committee for the 12th annual Banking and Finance Conference 2019.</p>
                
                <p>She is an alumna of Lagos Business School (SMP), University of Pennsylvania, Wharton Advanced Management Program and have also gone through leadership courses in Harvard Business School.</p>

              </div> <!-- end: teamcontent -->
            </div>  <!-- end: teamprofile -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->