    <div class="main">
      <div class="breadcrumb">
        <a href="../products">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              In Your Community
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainmed">
            <p>Corporate policy at ASO Savings is grounded on the principles of <strong>Corporate Social Responsibility</strong>.</p>
            <p>Learn more – view our:</p>
            <p class="redlink"><a href="../resources/downloads/CSR 2012_2013.pdf" target="_blank">2012/2013 CSR Report</a></p>
            <p class="redlink"><a href="../resources/downloads/CSR 2011_2012.pdf" target="_blank">2011/2012 CSR Report</a></p>
            <p class="redlink"><a href="../resources/downloads/2011 CSR PICTURES.jpg" target="_blank">2010/2011 CSR Report</a></p>
            <p class="redlink"><a href="../resources/downloads/CSR 2009_2010.pdf" target="_blank">2009/2010 CSR Report</a></p>
            <p>We support our community by offering financial assistance in the following areas:</p>
            <h2>Healthcare</h2>
            <p>We support a wide range of programs that encourage wellness and promote healthy living in the community. We will also strive to provide tools and information to help the community make proactive and educated health care decisions.</p>
            <h2>Education</h2>
            <p>We provide financial assistance to educational institutions (Primary and Secondary Schools) in need of renovation either structural, infrastructural or financial (Sponsorships / Scholarships).  We strive to empower pupils and students to develop creative ideas to improve their operational conditions as well as to elevate the educational standards within the community.</p>
            <h2>Low Income Housing Initiatives</h2>
            <p>We identify credible organizations specialising in the provision of low income housing within and around our communities and partner with them to provide basic, yet decent accommodation.</p>
            <h2>Youth Development through Sports</h2>
            <p>We invest in youth sports development by partnering with organisations who further facilitate involvement of sports in the community.</p>
            <h2>Free Counseling Services</h2>
            <p>We cater to individuals interested in mortgage loans. And we also partner with organizations involved in low income housing schemes to provide flexible options for our customers and community.</p>
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../mls/" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->