<div class="main">
  <div class="breadcrumb">
    <a href="../../../">return to homepage</a> > <a href="../../">About ASO</a> > <a href="../">Management Team</a>
  </div> <!-- end: breadcrumb -->
  <div class="mainpagecontent">
    <div class="contentwrapper">
      <div class="pagehead">
        <div class="pageheadinner">
          Management Team
        </div> <!-- end: pageheadinner -->
      </div> <!-- end: pagehead -->
      <menu>
        <ul class="slideMenu">
          <li><a href="#">About Us</a>
            <ul>
              <li><a href="../../">Our Story</a></li>
              <li><a href="../../comingfrom">Where We're Coming From</a></li>
              <li><a href="../../corporateprofile">Corporate Profile</a></li>
              <li><a href="#">Board Of Directors</a>
                <ul>
                  <li><a href="../../board">View All</a></li>
                  <li><a href="../../board/ayeni">Mr. Olatunde Ayeni</a></li>
                  <li><a href="../../board/maikori">Mr. Joshua Maikori</a></li>
                  <li><a href="../../board/musa">Dr. Musa Ahmed Musa</a></li>
                  <li><a href="../../board/okeowo/">Mr. Olutoyin Okeowo</a></li>
                  <li><a href="../../board/magashi/">Mr. Ali Magashi</a></li>
                  <!--<li><a href="../../board/usman">Hassan Musa Usman</a></li>-->
                  <!--<li><a href="../../board/shehu">Mohammed Inuwa Shehu</a></li>-->
                  <li><a href="../../board/adedigba">Adekunle Adedigba</a></li>
                </ul>
              </li>
              <li><a href="#">Management Team</a>
                <ul>
                  <li><a href="../../management">View All</a></li>
                  <!--<li><a href="../usman">Hassan Musa Usman</a></li>-->
                  <!--<li><a href="../shehu">Mohammed Inuwa Shehu</a></li>-->
                  <li><a href="../adedigba">Adekunle Adedigba</a></li>
                  <!--<li><a href="../rimi">Bilkisu Rimi</a></li>-->
                  <!--<li class="first activeTrail"><a href="#">Salma Mohammed</a></li>-->
                  <li><a href="../edeh">Tony Edeh</a></li>
                  <li><a href="../wanka/">Mohammed Wanka</a></li>
                </ul>
              </li>
              <li><a href="../../achievements">Our Achievements</a></li>
              <li><a href="../../recognition">Our Recognitions</a></li>
            </ul>
          </li>
        </ul>
      </menu>
      <div class="asomain">
        <div class="teamprofile">
          <img src="../../../resources/img/teams/mohammed_profile.png" alt="">
          <div class="teamcontent">
            <p>Salma's award-winning experience in service delivery within banking, business development, sales and marketing will deliver a strong focus in developing our talent and channeling ASO into a highly proactive and consumer driven institution.</p>
            <p>Salma worked as Head of Private Banking at Bond Bank and in the Treasury, Foreign Exchange and Consumer Banking roles at Intercontinental Bank PLC.</p>
            <p>Salma has a Master's degree in Human Resources Management from University of Luton and this is coupled with an Accounting degree from Bayero University Kano.</p>
          </div> <!-- end: teamcontent -->
        </div>  <!-- end: teamprofile -->
      </div> <!-- end: asomain -->	
    </div> <!-- end: contentwrapper -->	  
    <div class="asoshade gradient">	
      <div class="insideshadow">&nbsp;
      </div> <!-- end: insideshadow -->
    </div> <!-- end: asoshade -->
    <div class="asoside">
      <div id="newsletter">
        <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
      </div> <!-- end: newsletter -->
      <div class="quicklinks">
        <script type="text/javascript">
          <!--
          function parseNavigation(ob) {
            toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
  
            targetWindow = toBeBrokenDown[0];
            targetURL    = toBeBrokenDown[1];
  
            if (targetWindow!=='') {
              window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
              ob.selectedIndex = 0;
            } else {		
              window.open(targetURL,'_top')
            }
          }
          //-->
        </script>
        <form name="form" id="form" action="">
          <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
            <option selected="selected">Quick Links</option>
            <option value="|http://www.asoplc.com/company/">About ASO</option>
            <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
            <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
            <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
            <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
            <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
            <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
            <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
            <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
            <option value="|http://mls.asoplc.com/Property">Available Properties</option>
            <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
          </select>
        </form>
      </div> <!-- end: quicklinks -->
      <div class="infoheader">
        <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
      </div> <!-- end: infoheader -->
    </div> <!-- end: asoside -->
  </div> <!-- end: mainpagecontent -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

     })();
  </script>
</div> <!-- end: main -->
</div> <!-- end: asom -->
<div class="asor"></div> <!-- end: asor -->
<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->