    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">About ASO</a> > Directors And Board Appointees
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Directors and Board Appointees
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="../">Our Story</a></li>
                  <li><a href="../comingfrom/">Where We're Coming From</a></li>
                  <li><a href="../corporateprofile/">Corporate Profile</a></li>
                  <li><a href="#">Directors and Board Appointees</a>
                    <ul>
                      <li class="first activeTrail"><a href="#">View All</a></li>
                      <li><a href="ahmed/">Risikatu Ladi Ahmed</a></li>
                      <li><a href="magashi/">Mr. Ali Magashi</a></li>
                      <!--<li><a href="musa/">Dr. Musa Ahmed Musa</a></li>-->
                      <li><a href="okeowo/">Mr. Olutoyin Okeowo</a></li>
                      <!--<li><a href="adedigba/">Adekunle Adedigba</a></li>-->
                      
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../management/">View All</a></li>
                      <!--<li><a href="../management/adedigba/">Adekunle Adedigba</a></li>-->
                      <li><a href="../management/ahmed/">Risikatu Ladi Ahmed</a></li>
                      <li><a href="../management/dahunsi/">Titilayo Dahunsi</a></li>
                      <li><a href="../management/bello/">Richard Bello</a></li>
                      <!--<li><a href="../management/makoju/">Enesi Makoju</a></li>-->
                      <li><a href="../management/gaga/">Ibrahim Gaga</a></li>
                    </ul>
                  </li>
                  <li><a href="../achievements/">Our Achievements</a></li>
                  <li><a href="../recognition/">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <p>ASO’s Board is composed in a manner that guarantees competence, diverse experience and objectivity. Comprising a healthy mix of Executive and Non-Executive Directors, the Board is headed by a Chairman who is a Non-Executive Director and who steers the Board’s proceedings towards great achievements.</p>
            <p class="smlsize">click to view profile</p>
            <div class="demo">
              <div id="capslide_img_cont1" class="ic_container">
                <a href="magashi/"><img src="../../resources/img/teams/magashi_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <div class="ic_caption">
                  <p class="ic_category">Mr. Ali Mohammed Magashi</p>
                  <p class="ic_text">Chairman</p>
                </div> <!-- end: ic_caption -->
              </div> <!-- end: capslide_img_cont1 -->
            </div> <!-- end: demo -->
            <!--<div class="demo">
              <div id="capslide_img_cont2" class="ic_container">
                <a href="maikori/"><img src="../../resources/img/teams/maikori_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <!--<div class="ic_caption">
                  <p class="ic_category">Mr. Joshua Maikori</p>
                  <p class="ic_text">Director</p>
                </div> <!-- end: ic_caption -->
              <!--</div> <!-- end: capslide_img_cont2 -->
            <!--</div> <!-- end: demo -->
            <!--<div class="demo">
              <div id="capslide_img_cont3" class="ic_container">
                <a href="musa/"><img src="../../resources/img/teams/musa_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <!--<div class="ic_caption">
                  <p class="ic_category">Dr. Musa Ahmed Musa</p>
                  <p class="ic_text">Director</p>
                </div> <!-- end: ic_caption -->
              <!--</div> <!-- end: capslide_img_cont3 -->
            <!--</div>--> <!-- end: demo -->
            <div class="demo">
              <div id="capslide_img_cont4" class="ic_container">
                <a href="okeowo/"><img src="../../resources/img/teams/okeowo_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <div class="ic_caption">
                  <p class="ic_category">Mr. Olutoyin Okeowo</p>
                  <p class="ic_text">Director</p>
                </div> <!-- end: ic_caption -->
              </div> <!-- end: capslide_img_cont4 -->
            </div> <!-- end: demo -->
            <!--<div class="demo">
              <div id="capslide_img_cont5" class="ic_container">
                <a href="magashi/"><img src="../../resources/img/teams/magashi_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <!--<div class="ic_caption">
                  <p class="ic_category">Mr. Ali Mohammed Magashi</p>
                  <p class="ic_text">Director</p>
                </div> <!-- end: ic_caption -->
              <!--</div> <!-- end: capslide_img_cont5 -->
            <!--</div> <!-- end: demo -->
            <!--<div class="demo">
              <div id="capslide_img_cont6" class="ic_container">
                <a href="adedigba/"><img src="../../resources/img/teams/adedigba_small.png" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <!--<div class="ic_caption">
                  <p class="ic_category">Adekunle Demola Adedigba</p>
                  <p class="ic_text">Managing Director &amp;<br> Chief Executive Officer</p>-->
                <!--</div> <!-- end: ic_caption -->
              <!--</div> <!-- end: capslide_img_cont6 -->
            <!--</div> <!-- end: demo -->
            <div class="demo">
              <div id="capslide_img_cont7" class="ic_container">
                <a href="ahmed/"><img src="../../resources/img/teams/ahmed_small.jpg" alt="" width="215" height="300"></a>
                <div class="overlay" style="display:none;"></div> <!-- end: overlay -->
                <div class="ic_caption">
                  <p class="ic_category">Risikatu Ladi Ahmed</p>
                  <!--<p class="ic_text">Executive Director,<br> Corporate Services Director</p>-->
                  <p class="ic_text">Managing Director &amp;<br> Chief Executive Officer</p>
                </div> <!-- end: ic_caption -->
              </div> <!-- end: capslide_img_cont7 -->
            </div> <!-- end: demo -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
      <script type="text/javascript" src="../../scripts/includes/jquery.capSlide.js"></script>
      <script type="text/javascript">
      $(function() {
        $("#capslide_img_cont1").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          // url 			: 'ayeni/'
          url: 'magashi/'
        });
        $("#capslide_img_cont2").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url 			: 'maikori/'
        });
        $("#capslide_img_cont3").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url				: 'musa/'
        });
        $("#capslide_img_cont4").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url				: 'okeowo/'
        });
        $("#capslide_img_cont5").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url				: 'magashi/'
        });
        $("#capslide_img_cont6").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url				: 'adedigba/'
        });
        $("#capslide_img_cont7").capslide({
          caption_color	: 'white',
          caption_bgcolor	: 'black',
          overlay_bgcolor : 'black',
          border			: '',
          showcaption	    : false,
          url				: 'ahmed/'
        });
      });
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->