    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../">About ASO</a> > <a href="../">Directors And Board Appointees</a> > Mr. Isiyaku Ismaila
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Directors And Board Appointees
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="../../comingfrom/">Where We're Coming From</a></li>
                  <li><a href="../../corporateprofile/">Corporate Profile</a></li>
                  <li><a href="#">Directors And Board Appointees</a>
                    <ul>
                      <li><a href="../../board/">View All</a></li>
                      <li class="first activeTrail"><a href="#">Mr. Isiyaku Ismaila</a></li>
                      <li><a href="../../board/musa">Mr. Henry Semenitari</a></li>
                      <li><a href="../../board/okeowo">Amb. Umar Iliya Damagum</a></li>
                      <li><a href="../../board/adedigba">Mr. Daniel Kunle</a></li>
                     <!-- <li><a href="../../board/bello">Mr. Richard Femi Bello</a></li> -->
                     <!-- <li><a href="../../board/makoju">Mr. Enesi Makoju</a></li> -->

                     

                      <li><a href="../ahmed/">Risikatu Ladi Ahmed</a></li>

                      <li><a href="../magashi/">Mr. Abdul Kofarsauri</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../../management/">View All</a></li>
                      <li><a href="../../management/ahmed/">Risikatu Ladi Ahmed</a></li>
                     <!-- <li><a href="../../management/makoju/">Enesi Makoju</a></li> -->
                     <!-- <li><a href="../../management/bello/">Richard Bello</a></li> -->

                     

                      <li><a href="../../management/gbenga/">Gbenga Olaleru</a></li>

                    </ul>
                  </li>
                  <li><a href="../../achievements/">Our Achievements</a></li>
                  <li><a href="../../recognition/">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="teamprofile">
              <div class="teampicsection">
                <div class="teampic">
                  <img src="../../../resources/img/teams/isiyaku_ismaila.jpeg" alt="" width="215" height="300">
                </div> <!-- end: teampic -->
                <div class="teamtitle">
                  <p>Mr. Isiyaku Ismaila<br><span class="smlred">Non Executive</span></p>
                </div> <!-- end: teamtitle -->
                <div class="clearfix"></div> <!-- end: clearfix -->
              </div> <!-- end: teampicsection -->
              <div class="teamcontent">
                <p>
                  Isiyaku Ismalia is a Chartered Accountant and is currently a Principal Partner Hairuji and Associates. He had a distinguished
                  and meritorious career at the Federal Capital Territory Administration and FCT Internal Revenue Services from where he retired
                  as Director of Treasury. Over the years, he has built up his managerial capacity in Halal Fountain Hotel Limited, TRI System
                  Nigeria Limited and Habib Nigeria Bank Limited. 
                </p>
                <p>
                  He has attended several courses, workshops and seminars in Nigeria, Sri Lanka, Malta, Rwanda and Malaysia.
                </p>
                <p>
                  Isiyaku Ismalia is a Fellow of the Forensic and Investigative Auditor, African Business School, Association of National Accountants
                  of Nigeria, Institute of Fraud Examiners, and Institute of Treasury Management, He is a member of Chartered Institute of Bankers of
                  Nigeria, Financial Reporting Council of Nigeria, Joint Tax Board of the Federation, Chartered Institute of Purchasing and Supply Management
                  of Nigeria and Chartered Institute of Taxation of Nigeria. 
                </p>
                <p>
                  As part of his accomplishment, he was given several awards and commendations- Presidential Civil Service Merit Award, Distinguished 
                  embership Award at the Nigeria College of Accountancy Alumni Association, Distinguished Membership Award (ANAN), Certificate of Honour
                  by National Association of Nigerian Students (NANS), Commendation by HNBL for Achieving Deposit/ Profit Debt Recovery Target, Merit Award
                  by CBN Clearing House Committee, Commendation for Recovery of Non-Performing Credit by HNBL, Commendation from HNBL for Foiling Fraud Attempt
                  and Commendation from HNBL for Achieving Target.
                </p>
                <p>
                  He obtained a Bachelor degree in Business Administration and Master in International Affairs and Diplomacy at Ahmadu Bello University,
                  Zaria. He further obtained Master of Public Policy and Administration at Bayero University and an Accounting Certification from the Nigeria
                  College of Accountancy.
                </p>
              </div> <!-- end: teamcontent -->
            </div>  <!-- end: teamprofile -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->
