    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">About ASO</a> > Branch/ATM Locations
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Branch/ATM Locations
            </div>
          </div> <!-- end: pageheadnew -->
          <div class="asomainmed">
            <h1 style="text-align:center;">Corporate Head Office</h1>
            <p style="text-align:center;">Plot 266,<br>FMBN Building,<br>Cadastral Zone A0,<br>Central Business District, Abuja.</p>
            <p style="text-align:center;"><strong>Tel:</strong> 07003300000, 08160199698, 09079710746, 08094563000, 08055974602</p>
            <p class="alignmiddle"><img src="../../resources/img/icons/redseperator.png" alt=""></p>
            <h2>Branch Locations</h2>
            <h4>Abuja</h4>
            <div class="col2">
              <p><strong>Area 8 Branch</strong><br>
              No. 8 Ogbomoso Street,<br>Area 8 Garki.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
              <p><strong>Eagle Square Branch</strong><br>
              Parking Lot,<br>Federal Secretariat Building,<br>Central Business District</p>
            </div> <!-- end: col2 -->
            <!--<div class="col2">
              <p><strong>Area 11 Branch</strong><br>
              Plot 599, Cadastral Zone A3,<br>Sharon Shopping Centre,<br>Ahmadu Bello Way, Garki, Area 11</p>
            </div> <!-- end: col2 -->
            <!--<div class="col2">
              <p><strong>Bwari Branch</strong><br>
              Bwari Township Highway, Bwari</p>
            </div> <!-- end: col2 -->
            <!--<div class="clearfix"></div> <!-- end: clearfix -->

            <!--<div class="col2">
              <p><strong>Garki II Branch</strong><br>
              Plot 1580 Kabo crescent,<br>Garki II, Abuja</p>
            </div> <!-- end: col2 -->
            <div class="clearfix"></div><!-- end: clearfix -->
            <div class="col2">
              <p><strong>Head Office Branch</strong><br>
              Plot 266 FMBN building,<br>
              Cadastral Zone A0,<br>
              Central Business District</p>
            </div> <!-- end: col2 -->
            <div class="col2">
              <p><strong>Kubwa Branch</strong><br>
              Plot 185 Hamza Abudullahi Road<br>
              Off Gado Nasko Street.</p>
            </div> <!-- end: col2 -->
            <!--<div class="col2">
              <p><strong>Jikwoyi Branch</strong><br>
              Phase One,<br>
              Near Jikwoyi Police Station, Jikwoyi.</p>
            </div> <!-- end: col2 -->
            <!--<div class="clearfix"></div> <!-- end: clearfix -->
            <!--<div class="col2">
              <p><strong>Kado</strong><br>
              Kado Fish Market, Kado.</p>
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <!--<div class="col2">
              <p><strong>Kuje Branch</strong><br>
              Area Council Secretariat Road, Kuje</p>
            </div> <!-- end: col2 -->
            <div class="col2">
              <p><strong>National Assembly Branch</strong><br>
              Three Arms Zone, National Assembly.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
              <p><strong>Wuse Branch</strong><br>
              Suite G11, Febson Mall, Wuse Zone 4.</p>
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <!--<div class="col2">
              <p><strong>Zuba Branch</strong><br>
              Along Zuba Motor Park Road, Zuba.</p>
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Edo</h4>
            <div class="col2">
              <p>No 83 Sapele Road,<br>Benin City</p>
            </div> <!-- end: col2 -->
            <div class="col2">
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Kaduna</h4>
            <div class="col2">
              <p>28, Imam House,<br>Ahmadu Bello Way</p>
            </div> <!-- end: col2 -->
            <div class="col2">
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Kano</h4>
            <div class="col2">
              <p>Murtala Mohammed Way<br>No 18, Opposite Daula Hotel,<br>Kano.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Lagos</h4>
            <div class="col2">
              <p><strong>Victoria Island Branch</strong><br>
              No. 18 Construction House,<br>Adeyemo Alakija Street,<br>Victoria Island, Lagos.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
              <p><strong>Ikeja Branch</strong><br>
              19 Oba Akran Way,<br>Ikeja, Lagos.</p>
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <!--<h4>Nasarawa</h4>
            <div class="col2">
              <p><strong>Mararaba Branch</strong><br>
              Keffi/Nyanya Road,<br>
              Mararaba, Nasarawa State.</p>
            </div> <!-- end: col2 -->
            <!--<div class="col2">
            </div> <!-- end: col2 -->
            <!--<div class="clearfix"></div> <!-- end: clearfix -->
            <!--<h4>Niger</h4>
            <div class="col2">
              <p>NICON Building,<br>No.1 Bank Road,<br>Minna.</p>
            </div> <!-- end: col2 -->
            <!--<div class="col2">
            </div> <!-- end: col2 -->
            <!--<div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Rivers</h4>
            <div class="col2">
              <p>No. 2 Choba Street, D/Line,<br>Port - Harcourt.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            <h4>Ondo</h4>
            <div class="col2">
              <p>Tisco House<br>Alagbaka, Akure.</p>
            </div> <!-- end: col2 -->
            <div class="col2">
            </div> <!-- end: col2 -->
            <div class="clearfix"></div> <!-- end: clearfix -->
            
            <h2>ATM Locations</h2>
            <p>*All branch locations have ATM Machines</p>
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad2.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->