    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../company">About ASO</a> > <a href="../../board">Directors And Board Appointees</a> > Risikatu Ladi Ahmed
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Directors And Board Appointees
            </div>
          </div> <!-- end: pageheadnew -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">About Us</a>
                <ul>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="../../comingfrom/">Where We're Coming From</a></li>
                  <li><a href="../../corporateprofile/">Corporate Profile</a></li>
                  <li><a href="#">Directors And Board Appointees</a>
                    <ul>
                      <li><a href="../../board/">View All</a></li>
                      <li class="first activeTrail"><a href="#">Risikatu Ladi Ahmed</a></li>
                      <li><a href="../../board/musa">Mr. Henry Semenitari</a></li>
                      <li><a href="../../board/okeowo">Amb. Umar Iliya Damagum</a></li>
                      <li><a href="../../board/adedigba">Mr. Daniel Kunle</a></li>
                      <li><a href="../../board/maikori">Mr. Isiyaku Ismaila</a></li>
                      <li><a href="../../board/bello">Mr. Richard Femi Bello</a></li>
                      <li><a href="../../board/makoju">Mr. Enesi Makoju</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Management Team</a>
                    <ul>
                      <li><a href="../../management/">View All</a></li>
                      <li class="first activeTrail"><a href="#">Risikatu Ladi Ahmed</a></li>
                      <li><a href="../../management/makoju/">Enesi Makoju</a></li>
                      <li><a href="../../management/bello/">Richard Bello</a></li>
                      <li><a href="../../management/gbenga/">Gbenga Olaleru</a></li>
                    </ul>
                  </li>
                  <li><a href="../../achievements/">Our Achievements</a></li>
                  <li><a href="../../recognition/">Our Recognitions</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="teamprofile">
              <div class="teampicsection">
                <div class="teampic">
                  <img src="../../../resources/img/teams/ahmed_small.jpg" alt="Risikatu Ladi Ahmed" width="215" height="300">
                </div> <!-- end: teampic -->
                <div class="teamtitle">
                  <p>Risikatu Ladi Ahmed<br><span class="smlred">Managing Director & Chief Executive Officer</span></p>
                </div> <!-- end: teamtitle -->
                <div class="clearfix"></div> <!-- end: clearfix -->
              </div> <!-- end: teampicsection -->
              <div class="teamcontent">
                
                <p>
                  Risikatu Ladi Ahmed is an experienced result-oriented Bank Executive with consistent track record of exceeding goals and
                  expectation in banking business for almost 3 decades. She was appointed MD/CEO of ASO Savings and Loans Plc on the 1st of
                  May 2021 with a mandate to reposition the bank as a front liner in the Mortgage Banking Business. Being the first Female to
                  be appointed as the Managing Director and Chief Executive Officer of ASO Savings and Loans Plc and one of those Nigerian Bank Female
                  MD’s breaking the ceiling as recognized by Women in Management, Business and Public service (WIMBIZ). Risi has continued to provide
                  strategic direction and market position for the Bank.
                </p>

                <p>
                  She holds a law degree (LLB) from University of Maiduguri and was called to the Nigerian Bar Association in 1990. She also holds a
                  Masters’ degree in Law (LLM) from University of Jos and a Post Graduate Diploma in Management from Abubakar Tafawa Balewa University,
                  Bauchi. She is a graduate of Advanced Management Program (AMP) from Wharton Business School, University of Pennsylvania, USA and undertook
                  Executive level education in Harvard Business School of Boston, USA and an Alumna of Lagos Business School.
                </p>

                <p>
                  Prior to her appointment as MD/CEO of ASO Savings and Loans Plc, she was an Executive Director in the bank between 2015 to 2021. She led the
                  Corporate Services Directorate. Human capital, Employee relations and Supply Chain, Operations and Technology Group, Real Estate Inventory
                  Management Group, and Institutional Banking Group. In the course of her career, she has provided executive leadership, strategic and operational
                  leadership towards the attainment of strategic goals and aspirations.
                </p>

                <p>
                  Before her appointment with ASO Savings & Loans Plc, as an Executive Director in 2015, She worked in Diamond Bank Plc for 16 years between July 1999
                  to 2015 where she held various managerial and leadership positions. Her track record of excellent performance earned her several commendations and
                  awards. Her banking experience started from Continental Merchant Bank Plc, Lagos where she did her National Youth Service Corps program and later
                  proceeded to work with Savannah Bank Plc, from 1993 to 1999 before moving to Diamond Bank.
                </p>

                <p>
                  Risi is a change enabler of excellence and has demonstrated transformational leadership via her multiple high-level roles on different reputable platforms.
                  She sits as a member of Governing Council of the Chartered Institute of Bankers of Nigeria (CIBN) from 2020 to date and also serving on many Committees of the
                  Institute. Risi is a Fellow of the Chartered Institute of Bankers of Nigeria (FCIB), Fellow Institute of Credit Administration of Nigeria (FICA), Member
                  Institute of Directors Nigeria (IoD), Member	Nigerian Bar Association (NBA), Member International Federation of Women Lawyers (FIDA), and Member Association
                  of Professional Women Bankers and Women in Management, Business and Public service (WIMBIZ).
                </p>
                
                <p>
                  RRisi has been a keynote speaker in many banking related programs, she was one of the speakers in the CIBN-USA branch conference 2018, and 2nd Cate-Series
                  program organized by the Chartered Institute of Bankers of Nigeria (CIBN) USA in November 2021.
                </p>
                
                <p>
                  With her diligently acquired achievements, Risikatu Ahmed has continued to pave the way for young Female and Male bankers alike and will continue to do so.
                </p>
                
              </div> <!-- end: teamcontent -->
            </div>  <!-- end: teamprofile -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->