		<div class="main">
			<div class="breadcrumb">
				<a href="../../">return to homepage</a> > <a href="../../company">About ASO</a> > Our Partners
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pageheadnew">
						<div class="title">
							ASO Partners
						</div>
					</div> <!-- end: pageheadnew -->
					<div class="asomainmed">
						<h1 style="margin-left:10px;">Partners Profile</h1>
						<div class="partnerprofile-l">
							<img src="../../resources/img/icons/aidc.png" alt="" width="190" height="60">
						</div> <!-- end: partnerprofile-l -->
						<div class="partnerprofile-r">
							<h3>ASO Investment Development Company (AIDC)</h3>
							<p>ASO Investment Development Company (AIDC) Ltd is a fully integrated property Development and Management Company that specializes in the procurement and development of Property Assets in Nigeria with emphasis in and around Abuja for residential and commercial purposes.  AIDC is your one stop gateway to owning your own property.  AIDC incorporated in 2008, is a subsidiary of ASO Savings &amp; Loans PLC, the biggest Mortgage Bank in Nigeria.  The ASO/AIDC partnership ensures that customers get the value chain benefit in their property investment decisions.  As a result, the property ownership cycle becomes faster as all the requirements can be met within the ASO Group.  AIDC has trained and highly experienced personnel within its workforce to ensure repeat excellent performance and delivery.</p>
							<p class="redlink"><a href="http://www.aidc.com.ng" target="_blank">Visit Website</a></p>
						</div> <!-- end: partnerprofile-r -->
						<div class="clearfix"></div> <!-- end: clearfix -->
						<p class="alignmiddle"><img src="../../resources/img/icons/greyseperator.png" alt=""></p>
						<div class="partnerprofile-l">
							<img src="../../resources/img/icons/agis.png" alt="" width="95" height="95">
						</div> <!-- end: left_profile -->
						<div class="partnerprofile-r">
							<h3>Abuja Geographic Information Systems (AGIS)</h3>
							<p>The Abuja Geographic Information Systems (AGIS) project includes the introduction of SDI (Spatial Data Infrastructure) for F.C.T., the computerization of spatially related workflows in selected FCDA departments and agencies and the build up of the AGIS Resource Centre.</p>
							<p class="redlink"><a href="http://www.abujagis.com/" target="_blank">Visit Website</a></p>
						</div> <!-- end: partnerprofile-r -->
						<div class="clearfix"></div> <!-- end: clearfix -->
						<p class="alignmiddle"><img src="../../resources/img/icons/greyseperator.png" alt=""></p>
						<div class="partnerprofile-l">
							<img src="../../resources/img/icons/aicl.png" alt="" width="95" height="95">
						</div> <!-- end: partnerprofile-l -->
						<div class="partnerprofile-r">
							<h3>Abuja Investments Company Limited (AICL)</h3>
							<p>Abuja Investments Company Limited (AICL) evolved in October 2006 following the restructuring of Abuja Investment and Property Development Company Limited (AIPDC). AIPDC was incorporated in 1994 as the investment arm of the FCT with a mandate to facilitate, encourage and attract investments into the Federal Capital Territory (FCT).</p>
							<p>The AICL currently functions as an interface between government and investors interested in operating within the FCT. This mandate is carried out by facilitating business processes, offering due diligence on projects and providing advisory services.</p>
							<p class="redlink"><a href="http://www.abujainvestments.com" target="_blank">Visit Website</a></p>
						</div> <!-- end: partnerprofile-r -->
						<div class="clearfix"></div> <!-- end: clearfix -->
						<p class="alignmiddle"><img src="../../resources/img/icons/greyseperator.png" alt=""></p>
						<div class="partnerprofile-l">
							<img src="../../resources/img/icons/aea.png" alt="" width="95" height="95">
						</div> <!-- end: partnerprofile-l -->
						<div class="partnerprofile-r">
							<h3>Abuja Enterprise Agency (AEA)</h3>
							<p>Abuja Enterprise Agency (AEA) aims to promote entrepreneurship by providing support to people who would like to explore the option of starting in business. The agency offers a range of programmes which includes awareness raising, which enables clients to decide whether starting a business is the right thing to do, training programmes to help research and plan a business, programmes to develop the skills of managing a business and advice.</p>
							<p class="redlink"><a href="http://www.aea.org.ng" target="_blank">Visit Website</a></p>
						</div> <!-- end: partnerprofile-r -->
						<div class="clearfix"></div> <!-- end: clearfix -->
						<p class="alignmiddle"><img src="../../resources/img/icons/greyseperator.png" alt=""></p>
						<div class="partnerprofile-l">
							<img src="../../resources/img/icons/fmbn.png" alt="" width="95" height="95">
						</div> <!-- end: partnerprofile-l -->
						<div class="partnerprofile-r">
							<h3>Federal Mortgage Bank of Nigeria (FMBN)</h3>
							<p>Federal Mortgage Bank of Nigeria (FMBN) is the first operator in the Nigeria's formal institutional mortgage lending sector. The Bank thus has a history of retail, supervisory, regulatory and wholesale activities in the country's mortgage industry.</p>
							<p class="redlink"><a href="http://www.fmbnigeria.org" target="_blank">Visit Website</a></p>
						</div> <!-- end: partnerprofile-r -->
						<div class="clearfix"></div> <!-- end: clearfix -->
					</div> <!-- end: asomainmed -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<a href="../"></a>
					<div class="infoheader">
						<img src="../../resources/img/newinfoheaders/ad1.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->