<div class="main">
  <div class="breadcrumb">
    <a href="../../../">return to homepage</a> > <a href="../../">About ASO</a> > <a href="../">Board Of Directors</a>
  </div> <!-- end: breadcrumb -->
  <div class="mainpagecontent">
    <div class="contentwrapper">
      <div class="pagehead">
        <div class="pageheadinner">
          Board Of Directors
        </div> <!-- end: pageheadinner -->
      </div> <!-- end: pagehead -->
      <menu>
        <ul class="slideMenu">
          <li><a href="#">About Us</a>
            <ul>
              <li><a href="../../">Our Story</a></li>
              <li><a href="../../comingfrom">Where We're Coming From</a></li>
              <li><a href="../../corporateprofile">Corporate Profile</a></li>
              <li><a href="#">Board Of Directors</a>
                <ul>
                  <li><a href="../../board">View All</a></li>
                  <li><a href="../ayeni">Mr. Olatunde Ayeni</a></li>
                  <li><a href="../maikori">Mr. Joshua Maikori</a></li>
                  <li><a href="../musa">Dr. Musa Ahmed Musa</a></li>
                  <li><a href="../okeowo/">Mr. Olutoyin Okeowo</a></li>
                  <li><a href="../magashi/">Mr. Ali Magashi</a></li>
                  <!--<li><a href="../usman">Hassan Musa Usman</a></li>-->
                  <!--<li><a href="../shehu">Mohammed Inuwa Shehu</a></li>-->
                  <li><a href="../adedigba">Adekunle Adedigba</a></li>
                </ul>
              </li>
              <li><a href="#">Management Team</a>
                <ul>
                  <li><a href="../../management">View All</a></li>
                  <!--<li><a href="../../management/usman">Hassan Musa Usman</a></li>-->
                  <!--<li><a href="../../management/shehu">Mohammed Inuwa Shehu</a></li>-->
                  <li><a href="../../management/adedigba">Adekunle Adedigba</a></li>
                 <!-- <li><a href="../../management/dahunsi/">Titilayo Dahunsi</a></li> -->
                  <!--<li><a href="../../management/rimi">Bilkisu Rimi</a></li>-->
                  <!--<li><a href="../../management/mohammed">Salma Mohammed</a></li>-->
                  <li><a href="../../management/edeh">Tony Edeh</a></li>
                  <li><a href="../../management/wanka/">Mohammed Wanka</a></li>
                </ul>
              </li>
              <li><a href="../../achievements">Our Achievements</a></li>
              <li><a href="../../recognition">Our Recognitions</a></li>
            </ul>
          </li>
        </ul>
      </menu>
      <div class="asomain">
        <div class="teamprofile">
          <div class="teampicsection">
            <div class="teampic">
              <img src="../../../resources/img/teams/maimuna_small2.png" alt="" width="215" height="300">
            </div> <!-- end: teampic -->
            <div class="teamtitle">
              <p>Maimuna S. Aliyu<br><span class="smlred">Executive Director, Retail Banking</span></p>
            </div> <!-- end: teamtitle -->
            <div class="clearfix"></div> <!-- end: clearfix -->
          </div> <!-- end: teampicsection -->
          <div class="teamcontent">
            <p>Maimuna is the Executive Director, Retail Banking. In this position, she oversees Mortgage, Commercial, Retail and Consumer Banking activities of the bank.</p>
            <p>Prior to joining ASO Savings and Loans Plc in April 2009, Maimuna was the MD/CEO Maison Belle Global Services and Maison Belle Interiors Nigeria Limited. With more than 15 years professional work experience; she was the Zonal Head, North of the First City Monument Bank (FCMB) responsible for branch expansion across the Northern states of Nigeria and ensuring that set targets are met. She was also the Head of Public Sector in Abuja and the North and was responsible for Quality Risk Asset Creation in FCMB. In the course of her banking career, she served as the Zonal Director North of Continental Trust Bank Ltd.</p>
            <p>A graduate of University of Maiduguri, Maimuna earned a bachelor's degree in Accounting. She also holds an MBA Finance from the University of Maiduguri. She is a member of several professional bodies, notable amongst which are the Institute of Certified Public Accountants of Nigeria, Institute of Industrial and Corporate Administration and the Nigerian Institute of Management.</p>
          </div> <!-- end: teamcontent -->
        </div>  <!-- end: teamprofile -->
      </div> <!-- end: asomain -->	
    </div> <!-- end: contentwrapper -->	  
    <div class="asoshade gradient">	
      <div class="insideshadow">&nbsp;
      </div> <!-- end: insideshadow -->
    </div> <!-- end: asoshade -->
    <div class="asoside">
      <div id="newsletter">
        <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
      </div> <!-- end: newsletter -->
      <div class="quicklinks">
        <script type="text/javascript">
          <!--
          function parseNavigation(ob) {
            toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
  
            targetWindow = toBeBrokenDown[0];
            targetURL    = toBeBrokenDown[1];
  
            if (targetWindow!=='') {
              window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
              ob.selectedIndex = 0;
            } else {		
              window.open(targetURL,'_top')
            }
          }
          //-->
        </script>
        <form name="form" id="form" action="">
          <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
            <option selected="selected">Quick Links</option>
            <option value="|http://www.asoplc.com/company/">About ASO</option>
            <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
            <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
            <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
            <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
            <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
            <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
            <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
            <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
            <option value="|http://mls.asoplc.com/Property">Available Properties</option>
            <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
          </select>
        </form>
      </div> <!-- end: quicklinks -->
      <div class="infoheader">
        <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
      </div> <!-- end: infoheader -->
    </div> <!-- end: asoside -->
  </div> <!-- end: mainpagecontent -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

     })();
  </script>
</div> <!-- end: main -->
</div> <!-- end: asom -->
<div class="asor"></div> <!-- end: asor -->
<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->
