<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="../exhibit/">What to Expect</a></li>
            <li><a href="#">Fees &amp; Rates</a>
              <ul>
                <li><a href="../exhibit/booth/">Booth Fees</a></li>
                <li><a href="../exhibit/advert/">Advertisement Rates</a></li>
                <li><a href="../exhibit/payment/">Payment Details</a></li>
              </ul>
            </li>
            <li><a href="#">Sponsorship</a>
              <ul>
                <li><a href="../exhibit/benefits/">Sponsorship Benefits</a></li>
                <li><a href="../sponsors/">2013 Sponsors</a></li>
                <li><a href="../sponsors/2012/">Past Sponsors</a></li>
              </ul>
            </li>
            <li><a href="../register/">Register Now</a></li>
            <li><a href="../exhibit/faqs/">F.A.Q's</a></li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../exhibit/2012/exhibitors/">Past Exhibitors</a></li>
                <li><a href="../exhibit/2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li class="first activeTrail"><a href="index.php">About the Conference</a></li>
            <li><a href="../sponsors/">2013 Sponsors</a></li>
            <li><a href="#">Conference Speakers</a>
              <ul>
                <li><a href="speakers/">2013 Conference Speakers</a></li>
                <li><a href="speakers/2012/">Past Conference Speakers</a></li>
              </ul>
            </li>
            <li><a href="faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../travel/">Hotel &amp; Travel</a></li>
        <li><a href="../../mail/contactform.php" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>About the Conference</h2>
      <p>The ASO Affordable Housing Conference is fast becoming a meeting point for key Real Estate Investors and Professionals, Mortgage providers, Urban and Regional planners, Developers, Architects, Housing development authorities, the Government and other major stake holders in the Housing industry who understand the dynamics of affordable housing in Nigeria.</p>
      <p>Taking place for the second time, the 2013 edition will be holding at the International Conference Center with the theme; <b><i>"Achieving affordable housing delivery by creating 500,000 housing units by 2016”</i></b>. This international event provides a platform for sharing, debating, celebrating and promoting ideas on affordable housing research, policy formulation and strong advocacy with the government. It also seeks to put in place projects that would give low income earners in the country, access to affordable housing and it is a must attend for all who are interested in innovative solutions and partnerships in this regard.</p>
      <p>Taking place from the 11th – 13th April 2013, the conference is categorized into four thematic areas, namely Funding, Delivery and Infrastructure, Mortgages and Legal.</p>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>