<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="#">Exhibition 2013</a>
              <ul>
                <li><a href="../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../exhibit/exhibitors/">2013 Exhibitors</a></li>
                <li><a href="../../media/">Event Pictures/Videos</a></li>
                <li><a href="../../exhibit/faqs/">F.A.Qs</a></li>
              </ul>
            </li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../sponsors/2012/">2012 Sponsors</a></li>
                <li><a href="../../exhibit/2012/exhibitors/">2012 Exhibitors</a></li>
                <li><a href="../../exhibit/2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../sponsors/">2013 Sponsors</a></li>
            <li><a href="../speakers/">Conference Speakers</a></li>
            <li><a href="../../media/conf/">Event Pictures/Videos</a></li>
            <li><a href="../../media/conf/presentation/">Presentation Slides</a></li>
            <li class="first activeTrail"><a href="#">F.A.Qs</a></li>
          </ul>
        </li>
        <li><a href="../../../mail/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>ASO Affordable Housing Conference - Frequently Asked Questions</h2>
      <div id="va-accordion" class="accordion">
        <div class="slice slice-1">
          <h3 class="title">What is the ASO Affordable Housing Conference?</h3>
          <div class="content">
            <p>This is a 2 day event organized by ASO and designed to create a forum where all law makers and stakeholders involved in the Housing Industry, such as the Federal & State Government, Mortgage providers, Housing corporations, Estate developers. Interior decorators and state Governments etc, come together to review and deliberate on issues affecting affordable housing in Nigeria. Come join us at the International Conference Centre, Abuja from the11th through 12th April 2013, from 8am daily.</p>
          </div> <!-- end: va-content -->
        </div> <!-- end: va-slice va-slice-1 -->
        <div class="slice slice-2">
          <h3 class="title">What is Affordable Housing?</h3>
          <div class="content">
            <p>Affordable Housing are low cost, social or rented housing, made available to low income earners whose housing needs are not provided for in the society.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-2 -->
        <div class="slice slice-3">
          <h3 class="title">What is the theme of the conference?</h3>
          <div class="content">
            <p>The theme of the Conference is “Achieving Affordable Housing Delivery by Creating 500,000 Housing Units by 2016”.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-3 -->
        <div class="slice slice-4">
          <h3 class="title">Do I need to register before I attend the Conference?</h3>
          <div class="content">
            <p>No. There will be registration at the venue.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-4 -->
        <div class="slice slice-5">
          <h3 class="title">Who can attend the conference?</h3>
          <div class="content">
            <ul>
              <li>Federal and State Governments</li>
              <li>Ministries, Departments and Agencies (MDAs)</li>
              <li>Financial Institutions</li>
              <li>Development Finance Institutions (DFIs)/Development Banks</li>
              <li>Private Equity &amp; Other Investors</li>
              <li>Real Estate/Housing Associations</li>
              <li>Educational, Research &amp; Development Institutes</li>
              <li>Developers</li>
              <li>And the general public</li>
            </ul>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-5 -->
        <div class="slice slice-6">
          <h3 class="title">What are the topics to be discussed?</h3>
          <div class="content">
            <p>The topics to be discussed include;</p>
            <ul>
              <li>Funding and Financing of Affordable Housing</li>
              <li>Practical solutions for Delivery of Affordable Housing in Nigeria</li>
              <li>Mortgages: Addressing capital rules, responsible lending and consumer protection</li>
              <li>Legal: Ownership rights, title value, regulations and land development procedures in supporting the delivery of affordable housing.</li>
            </ul>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-6 -->
        <div class="slice slice-7">
          <h3 class="title">How will I benefit from the Conference?</h3>
          <div class="content">
            <p>The Affordable Housing Conference will enable you understand ASO’s Vision to drive a sustained, methodical objective and fact-based thinking, aimed at creating a new national vision on affordable housing and its consistent delivery.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-7 -->
        <div class="slice slice-8">
          <h3 class="title">What is the entrance fee?</h3>
          <div class="content">
            <p>It's free to the public.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-8 -->
        <div class="slice slice-9">
          <h3 class="title">How often would ASO organize Conferences like this?</h3>
          <div class="content">
            <p>It’s an annual event.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-9 -->
        <div class="slice slice-10">
          <h3 class="title">After the Conference, how will participants/stakeholders be notified of happenings in the industry?</h3>
          <div class="content">
            <p>Participants/stakeholders will be notified on further updates through the email addresses they provide at registration.</p>
          </div> <!-- end: va-content -->	
        </div> <!-- end: va-slice va-slice-10 -->
      </div> <!-- end: va-accordion -->
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->

  <script type="text/javascript" src="http://www.asoplc.com/scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="../../../scripts/includes/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="../../../scripts/includes/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="../../../scripts/includes/accordion.js"></script>
  <script type="text/javascript">
      $(function() {
          $('.accordion').accordion({
              effect: 'easeInOutBack',
              speed: 500,
          });
      });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>