<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="#">Exhibition 2013</a>
              <ul>
                <li><a href="../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../exhibit/exhibitors/">2013 Exhibitors</a></li>
                <li><a href="../../media/">Event Pictures/Videos</a></li>
                <li><a href="../../exhibit/faqs/">F.A.Qs</a></li>
              </ul>
            </li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../sponsors/2012/">2012 Sponsors</a></li>
                <li><a href="../../exhibit/2012/exhibitors/">2012 Exhibitors</a></li>
                <li><a href="../../exhibit/2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../sponsors/">2013 Sponsors</a></li>
            <li class="first activeTrail"><a href="#">Conference Speakers</a></li>
            <li><a href="../../media/conf/">Event Pictures/Videos</a></li>
            <li><a href="../../media/conf/presentation/">Presentation Slides</a></li>
            
            <li><a href="../faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../../../mail/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div> <!-- end: clearfix -->
  </menu>
  <article class="asocontent">
    <img src="../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>List of Conference Speakers</h2>
      <br><br>
      <table border="1" cellpadding="10" cellspacing="4" align="center">
        <tr>
          <th width="34%">Panelist</th>
          <th width="41%">Profile</th>
          <th width="25%">Selected For</th>
        </tr>
        <tr class="odd">
          <td class="tdtop">Evan Essinyi</td>
          <td class="tdtop">Affordable Housing Institute (AHI), Ghana</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Mr. Olufemi Fabanwo</td>
          <td class="tdtop">Director,  CBN, Abuja</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Tunde Reis</td>
          <td class="tdtop">MD, First World Communities Ltd.</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Miji Amodu</td>
          <td class="tdtop">Debt Management Office, Abuja</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Kalu A. Aja</td>
          <td class="tdtop">Legacy Pensions, Lagos</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Godwin Ehigiamusoe</td>
          <td class="tdtop">MD, LAPO Micro Finance Bank, Lagos</td>
          <td class="tdtop">Funding</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Dr. Delphine Sangodeyi</td>
          <td class="tdtop">AHI North and West Africa Associate, Paris</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Ibrahim Aliyu</td>
          <td class="tdtop">Chairman, Urban Shelter, Abuja</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Isoken Omo</td>
          <td class="tdtop">MD, AIDC, Abuja</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Professor A.O. Olorunnisola</td>
          <td class="tdtop">Dean, Postgraduate School, U.I, Ibadan, Oyo State</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Alagbe Oluwole</td>
          <td class="tdtop">Lecturer, Covenant University, Ota, Ogun State</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Alassane Ba</td>
          <td class="tdtop">MD, Shelter Afrique, Kenya</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Arch. Fatima Wali-Abdulrahman</td>
          <td class="tdtop">Chairman, Filmo Group Limited, Lagos</td>
          <td class="tdtop">Delivery &amp; Infrastructure</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Stephen Terseer ABAR</td>
          <td class="tdtop">1st Vice President, Nigerian Bar Association, Lagos</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Tunde Otubu</td>
          <td class="tdtop">Senior Lecturer, Faculty of Law, Unilag, Lagos</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Arc Nyan Etuk</td>
          <td class="tdtop">Abuja</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Sam Ikoku</td>
          <td class="tdtop">Nakachi consulting Limited, Abuja</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Akeju, Ajibola Andrew</td>
          <td class="tdtop">US Embassy, Abuja</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Bala Sanga</td>
          <td class="tdtop">EFCC, Abuja</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Albert Okumagba</td>
          <td class="tdtop">MD, BGL Securities, Lagos</td>
          <td class="tdtop">Legal</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
          <td class="tdtop">&nbsp;</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Kayode Omotosho</td>
          <td class="tdtop">Executive Secretary, MBAN, Lagos</td>
          <td class="tdtop">Mortgages</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Hassan Usman</td>
          <td class="tdtop">MD, ASO Savings & Loans Plc, Abuja</td>
          <td class="tdtop">Mortgages</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Sonnie Ayere</td>
          <td class="tdtop">CEO Dunn Loren Merrifield, Lagos</td>
          <td class="tdtop">Mortgages</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Ali Magashi</td>
          <td class="tdtop">MD, Kitari Consults Limited, Kano</td>
          <td class="tdtop">Mortgages</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Roland Igbinoba</td>
          <td class="tdtop">President/CEO, Piston Housing Company, Lagos</td>
          <td class="tdtop">Mortgages</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Femi Adewole</td>
          <td class="tdtop">Director, Shelter Afrique, Kenya</td>
          <td class="tdtop">Mortgages</td>
        </tr>
      </table>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>