<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="../">What to Expect</a></li>
            <li><a href="#">Fees &amp; Rates</a>
              <ul>
                <li class="first activeTrail"><a href="#">Booth Fees</a></li>
                <li><a href="../advert/">Advertisement Rates</a></li>
                <li><a href="../payment/">Payment Details</a></li>
              </ul>
            </li>
            <li><a href="#">Sponsorship</a>
              <ul>
                <li><a href="../benefits/">Sponsorship Benefits</a></li>
                <li><a href="../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../sponsors/2012/">Past Sponsors</a></li>
              </ul>
            </li>
            <li><a href="../../register/">Register Now</a></li>
            <li><a href="../faqs/">F.A.Q's</a></li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../2012/exhibitors/">Past Exhibitors</a></li>
                <li><a href="../2012">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../conf/">About the Conference</a></li>
            <li><a href="../../sponsors/">2013 Sponsors</a></li>
            <li><a href="#">Conference Speakers</a>
              <ul>
                <li><a href="../../conf/speakers/">2013 Conference Speakers</a></li>
                <li><a href="../../conf/speakers/2012/">Past Conference Speakers</a></li>
              </ul>
            </li>
            <li><a href="../../conf/faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../../travel/">Hotel &amp; Travel</a></li>
        <li><a href="../../../mail/contactform.php" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>Booth Fees for 2013 Housing EXCO</h2>
      <img src="../../images/offer1.png" alt="" width="665" height="100">
      <p><b>Exhibition Booth Size:</b> 3m x 3m (9sqm) minimum</p>
      <p><b>Cost:</b> N120,000</p>
      <p>Payments must be made within 48 hrs after Booth selection is made</p>
      <p class="hoalign"><a href="../../register/"><img src="../../../resources/img/icons/register.png" alt="" width="200" height="75"></a><br><span class="redlink"><a href="../payment/">ASO Payment Details</a></span></p>
      <p></p>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>