<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="#">Exhibition 2013</a>
              <ul>
                <li><a href="../../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../../exhibit/exhibitors/">2013 Exhibitors</a></li>
                <li><a href="../../">Event Pictures/Videos</a></li>
                <li><a href="../../../exhibit/faqs/">F.A.Qs</a></li>
              </ul>
            </li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../../sponsors/2012/">2012 Sponsors</a></li>
                <li><a href="../../../exhibit/2012/exhibitors/">2012 Exhibitors</a></li>
                <li><a href="../../../exhibit/2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../../sponsors/">2013 Sponsors</a></li>
            <li><a href="../../../conf/speakers/">Conference Speakers</a></li>
            <li><a href="../">Event Pictures/Videos</a></li>
            <li class="first activeTrail"><a href="#">Presentation Slides</a></li>
            <li><a href="../../../conf/faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../../../../mail/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div> <!-- end: clearfix -->
  </menu>
  <article class="asocontent">
    <img src="../../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>ASO Housing EXCO - Presentation Slides</h2>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/COMMUNIQUE FOR THE 2013 AFFORDABLE HOUSING CONFERENCE.pdf" target="_blank">Communique For The 2013 Affordable Housing Conference</a></p>
      <h1 align="center">Conference - Day 1</h1>
      <h5>Session 1</h5>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Aso Savings Funding to achieve the delivery of 500,000 housi.pdf" target="_blank">Funding To Achieve The Delivery Of 500,000 Housing Units By 2016</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Affordable Housing Event Aso 2 Godwin Ehigimouse.pdf" target="_blank">Affordable Housing &amp; Microfinance by Godwin Ehigiamusoe</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/AHI ASO presentation (1) Evan Essienyi.pdf" target="_blank">AHI Affordable Housing Institute by Evans Essienyi</a></p>
      <h5>Session 2</h5>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Legal Initiatives to Achieve the Delivery of 500000.pdf" target="_blank">Legal Initiatives to Achieve the Delivery of 500,000 Housing Units In Nigeria by 2016</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Legal initiatives to achieve the delivery of 500 (PAPER).pdf" target="_blank">Legal Initiatives to Achieve the Delivery of 500,000 Housing Units In Nigeria by 2016 (Paper)</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/AHI_DSangodeyi_ASO Conference 27032013.pdf" target="_blank">Legal Issues In The Delivery Of Affordable Housing In Nigeria by 2016</a></p>
      <h1 align="center">Conference - Day 2</h1>
      <h5>Session 1</h5>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/AHI_DSangodeyi_ASO Conference 27032013.pdf" target="_blank">AHI Delivery &amp; Infrastructure: Building Innovations by Dr. Sangodeyi</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/ASO Affordable Housing Conference.pdf" target="_blank">Exploring Indigenous Strategies for Affordable Housing Delivery by Arc. Wole Alagbe</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Aso Presentation  ibrahim aliyu_urban shelter.pdf" target="_blank">Building Innovation to Achieve 500,000 Housing Units by 2016</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/BUILDING INOVATIONS TO ACHIEVE TARGET-FATIMA WALI.pdf" target="_blank">Delivery &amp; Infrastructure - Building Innovations to Achieve Target by Fatima Wali-Abdurrahman</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/ASO 2013 DELIVERY + INFRA PANEL FEMI ADEWOYE.pdf" target="_blank">The Case for A New Approach to Delivery by Femi Adewole</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/PROF OLORUNNISOLA PANEL DISCUSSION.pdf" target="_blank">Building innovations to Achieve the Delivery of 500,000 Housing Units by 2016 – Panel Discussion</a></p>
      <h5>Session 2</h5>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/ASO 2013 MORTGAGE PANEL FEMI ADEWOYE.pdf" target="_blank">Facilitating Effective Demand Through Development of the Mortgage Market by Femi Adewole</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/Aso Affordable Housing Presentation ali Magahi.pdf" target="_blank">Affordable Housing Presentation by Ali Magahi</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/ASO HOUSING CONFERENCE & EXHIBITION-1 sunny ayere.pdf" target="_blank">Mortgages As A Tool In Creating 500,000 Housing Units by 2016 by Sonnie Ayere</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/AsoConference Paper KAYODE OMOTOSHO.pdf" target="_blank">Mortgages As A Tool In Creating 500,000 Housing Units by 2016 Paper Presented by K. Omotoso</a></p>
      <p class="redlink" style="text-align:center;"><a href="../../../../resources/downloads/exco/ROLAND IGBINOBA.pdf" target="_blank">Mortgages As A Tool In Creating 500,000 Housing Units by 2016 by Roland Igbinoba</a></p>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../../../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>