<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="../">What to Expect</a></li>
            <li><a href="#">Fees &amp; Rates</a>
              <ul>
                <li><a href="../booth/">Booth Fees</a></li>
                <li><a href="../advert/">Advertisement Rates</a></li>
                <li><a href="../payment/">Payment Details</a></li>
              </ul>
            </li>
            <li><a href="#">Sponsorship</a>
              <ul>
                <li class="first activeTrail"><a href="#">Sponsorship Benefits</a></li>
                <li><a href="../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../sponsors/2012/">Past Sponsors</a></li>
              </ul>
            </li>
            <li><a href="../../register/">Register Now</a></li>
            <li><a href="../faqs/">F.A.Q's</a></li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../2012/exhibitors/">Past Exhibitors</a></li>
                <li><a href="../2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../conf/">About the Conference</a></li>
            <li><a href="../../sponsors/">2013 Sponsors</a></li>
            <li><a href="#">Conference Speakers</a>
              <ul>
                <li><a href="../../conf/speakers/">2013 Conference Speakers</a></li>
                <li><a href="../../conf/speakers/2012/">Past Conference Speakers</a></li>
              </ul>
            </li>
            <li><a href="../../conf/faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../../travel/">Hotel &amp; Travel</a></li>
        <li><a href="../../../mail/contactform.php" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <table border="1" cellpadding="10" cellspacing="4" align="center">
        <tr>
          <th colspan="5">
            3RD ASO Housing EXCO Sponsorship Benefits
          </th>
        </tr>
        <tr style="color:#FFF; background:#000;">
          <td width="20%" align="center">Benefit</td>
          <td width="20%" align="center">Co-Host</td>
          <td width="20%" align="center">Diamond</td>
          <td width="20%" align="center">Gold</td>
        </tr>
        <tr class="odd"> 
          <td>Sponsorship Value</td>
          <td align="center">N3.5 million</td>
          <td align="center">N1.5 million</td>
          <td align="center">N750,000</td>
        </tr>
        <tr class="even">
          <td>Exclusive Benefits to Level</td>
          <td class="tdtop">
            <ul>
              <li>Featured in Billboard Advert (One Month) in Abuja and Lagos</li>
              <li>Mention of sponsor’s name in adverts for EXCO</li>
              <li>Company flag placement within exhibition venue (The International Conference Center)</li>
            </ul>
          </td>
          <td class="tdtop">
            <ul>
              <li>Automatic entry of booth visitors in Exhibition raffle draw for wonderful House Hold items</li>
            </ul>
          </td>
          <td class="tdtop">
            <ul>
              <li>Automatic entry of booth visitors in Exhibition raffle draw for wonderful House Hold items</li>
            </ul>
          </td>
        </tr>
        <tr class="odd">
          <td>Free Booth in Exhibition Hall</td>
          <td align="center">&nbsp;</td>
          <td align="center">Double</td>
          <td align="center">Single</td>
        </tr>
        <tr class="even">
          <td>Showcase spotlight TV (NTA Channel 5) show during  exhibition</td>
          <td align="center">1 Free advert slot in spotlight TV (NTA Channel  5) show during exhibition</td>
          <td align="center" valign="middle">30  mins</td>
          <td align="center" valign="middle">30  mins</td>
        </tr>
        <tr class="odd">
          <td>1 Free slot of live radio program before exhibition at CoolFM</td>
          <td align="center">30 mins</td>
          <td align="center">15 mins</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr class="even">
          <td>Reserved time slot to present at EXCO learning center</td>
          <td align="center">40 mins</td>
          <td align="center">30 mins</td>
          <td align="center">20 mins</td>
        </tr>
        <tr class="odd">
          <td>Mention during EXCO talk shows on Channels Television (Sunrise) and NTA (AM Express) prior to exhibition</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt="" width="20" height="20"></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr class="even">
          <td>Special advert display on multimedia screens in exhibition halls</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="odd">
          <td>Logo placement in all exhibition newspaper advertorial</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="even">
          <td>Logo display on multimedia screens in exhibition halls</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="odd">
          <td>Prominent and strategic placement of branded banner within venue</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="even">
          <td>Colored advert in brochure/event material</td>
          <td align="center">3 pages</td>
          <td align="center">2 pages</td>
          <td align="center">1 page</td>
        </tr>
        <tr class="odd">
          <td>Breakfast and Lunch</td>
          <td align="center">6 persons</td>
          <td align="center">5 persons</td>
          <td align="center">4 persons</td>
        </tr>
        <tr class="even">
          <td>Invitations to event opening ceremony</td>
          <td align="center">5 Invitations</td>
          <td align="center">4 Invitations</td>
          <td align="center">3 Invitations</td>
        </tr>
        <tr class="odd">
          <td>Exclusive advert for sponsors in national newspaper (A week to event)</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="even">
          <td>Listing in sponsorship directory in event brochure and website</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="odd">
          <td>Logo placement and product hype on ASO’s social media platform such as: facebook, twitter, Google+, YouTube</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
        <tr class="even">
          <td>Logo placement in event brochure and agenda</td>
          <td align="center" valign="middle">
            <img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle">
            <img src="../../../resources/img/icons/redcheck.png" alt="">
          </td>
        </tr>
        <tr class="odd">
          <td>Logo placement on event website</td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
          <td align="center" valign="middle"><img src="../../../resources/img/icons/redcheck.png" alt=""></td>
        </tr>
      </table>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>