<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="../../../exhibit/">What to Expect</a></li>
            <li><a href="#">Fees &amp; Rates</a>
              <ul>
                <li><a href="../../../exhibit/booth/">Booth Fees</a></li>
                <li><a href="../../../exhibit/advert/">Advertisement Rates</a></li>
                <li><a href="../../../exhibit/payment/">Payment Details</a></li>
              </ul>
            </li>
            <li><a href="#">Sponsorship</a>
              <ul>
                <li><a href="../../../exhibit/benefits/">Sponsorship Benefits</a></li>
                <li><a href="../../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../../sponsors/2012/">Past Sponsors</a></li>
              </ul>
            </li>
            <li><a href="../../../register/">Register Now</a></li>
            <li><a href="../../../exhibit/faqs/">F.A.Q's</a></li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../../exhibit/2012/exhibitors/">Past Exhibitors</a></li>
                <li><a href="../../../exhibit/2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../../conf/">About the Conference</a></li>
            <li><a href="../../../sponsors/">2013 Sponsors</a></li>
            <li><a href="#">Conference Speakers</a>
              <ul>
                <li><a href="../">2013 Conference Speakers</a></li>
                <li class="first activeTrail"><a href="#">Past Conference Speakers</a></li>
              </ul>
            </li>
            <li><a href="../../faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../../../travel/">Hotel &amp; Travel</a></li>
        <li><a href="../../../../mail/contactform.php" target="_blank">Contact Us</a></li>
      </ul>
    </div> <!-- end: menu_holder -->
    <div class="clearfix"></div> <!-- end: clearfix -->
  </menu>
  <article class="asocontent">
    <img src="../../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>2012 List of Conference Speakers</h2>
      <table border="1" cellpadding="10" cellspacing="4" align="center">
        <tr>
          <th>Sessions</th>
          <th>Speakers</th>
        </tr>
        <tr class="odd">
          <td class="tdtop">Frame Work for Effective Reform of the Nigerian Housing Finance Market</td>
          <td class="tdtop"><b>Mallam Sanusi Lamido Sanusi</b><br>
Governor, Central Bank of Nigeria</td>
        </tr>
        <tr class="even">
          <td class="tdtop">The Role of the FMBN in the Development of the Nigeria Mortgage Sector</td>
          <td class="tdtop"><b>Alhaji Gimba Ya’u Kumo</b><br>Managing Director/ Chief Executive Officer, Federal Mortgage Bank of Nigeria</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Fast Tracking the Development of the Nigerian Primary Mortgage Sector</td>
          <td class="tdtop"><b>Ali Magashi</b><br>Principal Partner/Chief Executive Officer, Kitari Consulting; Former Managing Director, Jigawa Savings &amp; Loans</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Expanding the Mortgage Sector-Critical Issues in Achieving an Effective Foreclosure Process</td>
          <td class="tdtop"><b>Dr. Gbolahan Elias</b><br>Managing Partner, G Elias &amp; Co (Solicitors and Advocates)</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Challenges in Delivering Quality Housing to Mass Market</td>
          <td class="tdtop"><b>Hakeem Ogunniran</b><br>Managing Director, UACN Property Development Company</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Connecting the Housing Market to the Nigerian Capital Market- Critical Building Blocks</td>
          <td class="tdtop"><b>Sonnie Ayere</b><br>Managing Director, Dubb Lorrel Merrifeld</td>
        </tr>
        <tr class="odd">
          <td class="tdtop">Bridging the Nigerian Housing Deficit-Prospects for Developing Affordable Housing</td>
          <td class="tdtop"><b>Brigadier General Patrick Tunde Reis</b> (PhD OON)<br>Participant, Administrative Staff College of Nigeria (ASCON) Badagry; Former Managing Director, Federal Housing Authority</td>
        </tr>
        <tr class="even">
          <td class="tdtop">Bridging the Housing Deficit- A Developer’s Perspective</td>
          <td class="tdtop"><b>Musa Dangoggo Aliyu</b><br>
Managing Director and Chief Executive, Urban Shelter Limited</td>
      </table>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>