<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li class="first activeTrail"><a href="#">What to Expect</a></li>
            <li><a href="#">Fees &amp; Rates</a>
              <ul>
                <li><a href="booth/">Booth Fees</a></li>
                <li><a href="advert/">Advertisement Rates</a></li>
                <li><a href="payment/">Payment Details</a></li>
              </ul>
            </li>
            <li><a href="#">Sponsorship</a>
              <ul>
                <li><a href="benefits/">Sponsorship Benefits</a></li>
                <li><a href="../sponsors/">2013 Sponsors</a></li>
                <li><a href="../sponsors/2012/">Past Sponsors</a></li>
              </ul>
            </li>
            <li><a href="../register/">Register Now</a></li>
            <li><a href="faqs/">F.A.Q's</a></li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="2012/exhibitors/">Past Exhibitors</a></li>
                <li><a href="2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../conf/">About the Conference</a></li>
            <li><a href="../sponsors/">2013 Sponsors</a></li>
            <li><a href="#">Conference Speakers</a>
              <ul>
                <li><a href="../conf/speakers/">2013 Conference Speakers</a></li>
                <li><a href="../conf/speakers/2012/">Past Conference Speakers</a></li>
              </ul>
            </li>
            <li><a href="../conf/faqs/">F.A.Q's</a></li>
          </ul>
        </li>
        <li><a href="../travel/">Hotel &amp; Travel</a></li>
        <li><a href="../../mail/contactform.php" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div> <!-- end: clearfix -->
  </menu>
  <article class="asocontent">
    <img src="../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <h2>ASO Housing EXCO</h2>
      <h1><u>Date:</u><span style="margin-left:50px;">April 11th - 13th, 2013</span></h1>
      <h1><u>Venue:</u><span style="margin-left:39px;">International Conference Centre, Abuja</span></h1>
      <h1><u>Time:</u><span style="margin-left:50px;">8 am - 5 pm daily</span></h1>
      <h4>For the Public</h4>
      <p>The ASO Housing Exhibition and Conference (EXCO) is one of the biggest and the most important exhibition and conference for Housing in Nigeria and will take place for the 3rd time at the International Conference Centre (ICC) Abuja. The theme for the 2013 Housing EXCO is <b><i>"Achieving affordable housing delivery by creating 500,000 housing units by 2016”</i></b>. This is pertinent as it provides a significant platform which will offer an ideal overview of industry trends for affordable housing in the country.</p>
      <p>This unique annual event brings together experts in the Housing value chain, Mortgage Lenders, State Government Housing Corporations and authorities in Nigeria's lands and Housing sector who will be there to show case their products and services.</p>
      <p>For variety of reasons, the event also attracts a huge buying audience that includes property development agencies, construction lead buyers, procurement officers, International trade agencies and many enthusiastic Nigerians who have but the same underlying idea- affordable housing.</p>
      <p>So if you are looking for that perfect opportunity to conveniently explore a variety of available houses, mortgage options, housing schemes plus valuable information on land titles and housing documentation, then 2013 Housing EXCO is the place to be.</p>
      <p>Come and also meet reputable Estate developers, experienced Artisans, exquisite Interior Decorators, renowned Architects, well known construction firms, Builders, Painters, Furniture makers and a host of others who are more than ready to provide you with all essentials in the home buying process.</p>
      <p>At the 2013 Housing EXCO, you can also win wonderful House hold items. All you have to do is visit any of our Diamond or Gold sponsors at the exhibition and get rewarded with a ticket to enter our special Draw. If you are our friend on Face book, you can also win an iPad each day by being the first to provide answers to our Housing EXCO riddles at the venue. Like us on Face book, follow us on twitter to find out more.</p>
      <p>We have fun activities too for the kids so bring the whole family along. Entrance to the exhibition is free.</p>
      <h4>For Exhibitors</h4>
      <p>Do you fall under any of these categories?</p>
      <ul class="showme">
        <li>Estate Developers</li>
        <li>Housing Corporatives</li>
        <li>State Governments</li>
        <li>Architects</li>
        <li>Building Contractors</li>
        <li>Interior Decorators</li>
        <li>Construction Firms</li>
        <li>Appliance Retailers</li>
        <li>Tiles Manufactures</li>
        <li>Home Security Solution Providers</li>
        <li>Furniture Manufacturers</li>
        <li>Artisans</li>
        <li>Brick Manufacturers</li>
        <li>Estate Surveyors</li>
        <li>Estate/ House Agents</li>
        <li>Building Owners</li>
        <li>Cleaning Agencies</li>
        <li>Property Developers</li>
        <li>Other Businesses involved in the Home Buying process.</li>
      </ul>
      <p>If yes, don't miss out on this great opportunity to meet potential clients from various works of life.</p>
      <p>Also, project your businesses better by taking advantage of our affordable advert options and sponsorship packages for our 2013 Housing EXCO. See <span class="redlink"><a href="advert/">Advert</a> / <a href="benefits/">Sponsorship</a></span>.</p>
      <p>You can't afford to miss this event!!!</p>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>