<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="#">Exhibition 2013</a>
              <ul>
                <li><a href="../../../sponsors/">2013 Sponsors</a></li>
                <li><a href="../../exhibitors/">2013 Exhibitors</a></li>
                <li><a href="../../../media/">Event Pictures/Videos</a></li>
                <li><a href="../../faqs/">F.A.Qs</a></li>
              </ul>
            </li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../../sponsors/2012/">2012 Sponsors</a></li>
                <li class="first activeTrail"><a href="#">2012 Exhibitors</a></li>
                <li><a href="../">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../../sponsors/">2013 Sponsors</a></li>
            <li><a href="../../../conf/speakers/">Conference Speakers</a></li>
            <li><a href="../../../media/conf/">Event Pictures/Videos</a></li>
            <li><a href="../../../media/conf/presentation/">Presentation Slides</a></li>
            <li><a href="../../../conf/faqs/">F.A.Qs</a></li>
          </ul>
        </li>
        <li><a href="../../../../mail/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <div class="centreall">
        <p>List of 2012 Exhibitors</p>
        <ol>
          <li>Absolute Lights &amp; Switches Ltd.</li>
          <li>AIDC</li>
          <li>Andi-kan Resources Limited</li>
          <li>Beyond Mirrors Ltd</li>
          <li>Brains &amp; Hammers Ltd</li>
          <li>Brent Ford</li>
          <li>Bridal Busstop</li>
          <li>Builders Stop Construction</li>
          <li>Century 21 Real Estate</li>
          <li>Chazah Real Estate Limited</li>
          <li>CITEC</li>
          <li>City View Homes</li>
          <li>C-ZARD &amp; Company Limited</li>
          <li>Daltrade Nigeria Limited</li>
          <li>Dayoadedayo Photography Limited</li>
          <li>De Shikenah Nig Ltd</li>
          <li>Del-trazi Limited</li>
          <li>Design By Sixty Ltd</li>
          <li>Divine Dominion Investment Plc</li>
          <li>Doshlaps Limited.</li>
          <li>Emeka Ilechukwu &amp: Associates</li>
          <li>Festrut Global Shelter</li>
          <li>FMBN</li>
          <li>Gambaraa Nigeria Limited</li>
          <li>Glory Group International Limited</li>
          <li>Godab Nigeria Limited</li>
          <li>Greater Port Harcourt City Development Authority</li>
          <li>Greensols</li>
          <li>Harps Properties</li>
          <li>Home Collections</li>
          <li>Hortigraph Nig Ltd.</li>
          <li>House Beautiful</li>
          <li>Integrax Resourcery Ltd.</li>
          <li>International Homes</li>
          <li>Intra Globe Services</li>
          <li>IRI</li>
          <li>Kene Onuora Consulting, Estate Surveyors And Value</li>
          <li>Mab Global Estate Limited</li>
          <li>Mercian 111 Nig Ltd</li>
          <li>Metro Realty Brokers</li>
          <li>Millenari Limited.</li>
          <li>Ofra &amp; Dovam Company Nigeria Limited</li>
          <li>Onshore Frontier Limited</li>
          <li>Pacific Homes Limited</li>
          <li>Patemax Integrated Concepts Limited</li>
          <li>Patnasonic Industries Limited</li>
          <li>Phlemin Integrated Global Limited</li>
          <li>Pikrakis Nigeria Ltd</li>
          <li>Rifeng Industries Systems</li>
          <li>Sazak Acres Biloque Company Ltd</li>
          <li>Sgr Property Management &amp; Investment Co</li>
          <li>Simba Group Ltd</li>
          <li>Stevenah Limited</li>
          <li>System Property Development Consortium Ltd</li>
          <li>Taes International Concept Ltd</li>
          <li>Taf Nigeria Homes Limited</li>
          <li>Trendy Homes Limited</li>
          <li>UACN Property Development Company</li>
          <li>UNITEK Ltd</li>
          <li>Urban Abode Nig Ltd</li>
          <li>Urban Shelter</li>
          <li>Wood-etal</li>
          <li>Woody Allen Nig. Ltd</li>
          <li>Wuraola Ventures Furniture Limited</li>
          <li>Zukhrufnig Ltd</li>
        </ol>
      </div> <!-- end: centreall -->
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>