<section id="maincontent">
  <menu>
    <div id="menu_holder">
      <ul class="hMenu">
        <li><a href="../../">Home</a></li>
        <li><a href="#">Exhibition</a>
          <ul>
            <li><a href="#">Exhibition 2013</a>
              <ul>
                <li><a href="../../sponsors/">2013 Sponsors</a></li>
                <li class="first activeTrail"><a href="#">2013 Exhibitors</a></li>
                <li><a href="../../media/">Event Pictures/Videos</a></li>
                <li><a href="../faqs/">F.A.Qs</a></li>
              </ul>
            </li>
            <li><a href="#">Exhibition 2012</a>
              <ul>
                <li><a href="../../sponsors/2012/">2012 Sponsors</a></li>
                <li><a href="../2012/exhibitors/">2012 Exhibitors</a></li>
                <li><a href="../2012/">Event Pictures/Videos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Conference</a>
          <ul>
            <li><a href="../../sponsors/">2013 Sponsors</a></li>
            <li><a href="../../conf/speakers/">Conference Speakers</a></li>
            <li><a href="../../media/conf/">Event Pictures/Videos</a></li>
            <li><a href="../../media/conf/presentation/">Presentation Slides</a></li>
            <li><a href="../../conf/faqs/">F.A.Qs</a></li>
          </ul>
        </li>
        <li><a href="../../../mail/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </menu>
  <article class="asocontent">
    <img src="../../images/exhibition.png" alt="" width="675" height="100">
    <div class="exhibitcontent">
      <table border="1" cellpadding="10" cellspacing="4" align="center" style="font-family:Verdana, Geneva, sans-serif;">
        <tr>
          <th colspan="2">
            List of 2013 Exhibitors
          </th>
        </tr>
        <tr style="color:#FFF; background:#000;">
          <td width="69%" align="center">COMPANY
</td>
          <td width="31%" align="center">INDUSTRY</td>
        </tr>
        <tr class="odd"> 
          <td align="center">Greater Port Harcourt City Development Authority</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Roydavis realty</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Kwik Kerb Nigeria</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Illuminators Millenium Concept</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Paramount Wood Works Ltd.</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="even">
          <td align="center">Qualitec Roofing Products</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Private Property Nigeria</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Zebra Technologies Ltd</td>
          <td align="center">Others</td>
        </tr>
        <tr class="odd">
          <td align="center">Redan FCT</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">IL Bagno Nigeria</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Eurohunter Resources Limited (Conmix)</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Raina Interior limited</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Midel Group</td>
          <td align="center">Professional Services</td>
        </tr>
        <tr class="even">
          <td align="center">Del - Trazi Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Private Estates International West Africa</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Saybros Nigeria Limited</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Plusworld Realtors and Roofing</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Dari  Investment</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Louis Valentino</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Full Gospel Business Men’s Fellowship International</td>
          <td align="center">Others</td>
        </tr>
        <tr class="odd">
          <td align="center">Design By Sixty Ltd</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="even">
          <td align="center">Urban Shelter Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Brains &amp; Hammers</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">ASO Investment Development Company</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Pine Creek Homes</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Funafred Associates Limited</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">National Health Insurance Scheme</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Beyond Mirror Limited</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Federal Mortgage Bank of Nigeria</td>
          <td align="center">Financial/Investments</td>
        </tr>
        <tr class="even">
          <td align="center">Alpha - Plus Associates Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Stevenah Limited</td>
          <td align="center">Professional Services</td>
        </tr>
        <tr class="even">
          <td align="center">Emeka Illechukwu &amp; Associates</td>
          <td align="center">Others</td>
        </tr>
        <tr class="odd">
          <td align="center">International Homes and Realty Ltd</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Taf Nigeria Homes Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Taes International Concept Limited</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="even">
          <td align="center">UACN Property Development Company</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Liquid Fire Integrated Services</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Bam Projects and Properties</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Interflora Landscaping</td>
          <td align="center">Architecture</td>
        </tr>
        <tr class="even">
          <td align="center">Doslaps Ventures Ltd</td>
          <td align="center">Others</td>
        </tr>
        <tr class="odd">
          <td align="center">System Property Development Consortium Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Metro Reality Broker</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Ado Bayero Royal City</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Barumark Investment and Development Company Ltd</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Federal Housing Authority</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Maanah Estate</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Buuhaus International Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Design Logic  Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Jabtech Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Pacific Homes Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">
City view Estate Ltd</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">CAAM Engineering</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Nafs S. Nig Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Firstgate Business Intermediaries Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Fatisan Enterprise/Adumek Intergrated Services</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="even">
          <td align="center">Bridal Busstop</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Linear Italia</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="even">
          <td align="center">Hexalix Properties Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Road Development Company Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Abuja Investment Company Limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="odd">
          <td align="center">Patemax Projects Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Accents In Water</td>
          <td align="center">Architecture</td>
        </tr>
        <tr class="odd">
          <td align="center">AIS Integrated Company Nigeria Ltd</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Chezel Interior Limited</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">Artscapes Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">Intercontinental Paints Ltd</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Nigerian Society of Engineers</td>
          <td align="center">Professional Services</td>
        </tr>
        <tr class="even">
          <td align="center">Marazzi Stone Limited</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr class="odd">
          <td align="center">CMB Building Maintenance and Investment Co. Ltd</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Waterock Development Company Limited</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Sungold Estate limited</td>
          <td align="center">Estate Development</td>
        </tr>
        <tr class="even">
          <td align="center">Rifeng Piping Systems</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="odd">
          <td align="center">Cotek Integrated Technologies Ltd</td>
          <td align="center">Professional Services</td>
        </tr>
        <tr class="even">
          <td align="center">WallPaper Professionals Ltd</td>
          <td align="center">Interior Decoration</td>
        </tr>
        <tr class="odd">
          <td align="center">CIBI Nigeria Limited</td>
          <td align="center">Construction &amp; Building Material</td>
        </tr>
        <tr class="even">
          <td align="center">GeoQinetiq Limited</td>
          <td align="center">Others</td>
        </tr>
        <tr class="odd">
          <td align="center">Nayo Tropical Technology</td>
          <td align="center">Others</td>
        </tr>
      </table>
    </div> <!-- end: exhibitcontent -->
  </article>
  <div class="socialnetwork">
    <a href="https://www.facebook.com/asoplc" class="network fb" rel="tooltip" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/ASO_SAVINGS" class="network twitter" rel="tooltip" title="Twitter" target="_blank"></a>
    <a href="https://plus.google.com/u/0/b/106126146711350910477/106126146711350910477/posts" class="network gplus" rel="tooltip" title="Google+" target="_blank"></a>
    <a href="https://www.linkedin.com/company/aso-savings-&-loans-plc" class="network in" rel="tooltip" title="LinkedIn" target="_blank"></a>
    <a id="mail" href="../2012/javascript_required" class="network email" rel="tooltip" title="Email"></a>
  </div> <!-- end: socialnetwork -->
  <div class="clearfix"></div> <!-- end: clearfix -->
  <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</section>