    <footer>
      <div id="footer_content">
        <ul id="footerlinks">
          <li><a href="http://www.asoplc.com" target="_blank">ASO HomePage</a></li>
          <li><a href="http://www.asoplc.com/pages/company/index.php" target="_blank">About Us</a></li>
          <li><a href="http://www.asoplc.com/mail/contactform.php" target="_blank">Contact Us</a></li>
        </ul>
      </div> <!-- end: footer_content -->
    </footer>
  </div> <!-- end: container2 -->
  <script type="text/javascript" src="http://www.asoplc.com/scripts/includes/jquery.tipsy.js"></script>
  <script type="text/javascript" src="http://www.asoplc.com/scripts/includes/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
    $.backstretch("http://www.asoplc.com/resources/img/icons/bg2.jpg", {speed: 150});
  </script>
  <script src="http://www.asoplc.com/scripts/includes/slideMenu.js" type="text/javascript"></script>
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
$(function() { 
	$('.hMenu').slideMenu({'animate':'width', 'event':'hover'});
});
//--><!]]>
  </script>
</div> <!-- end: maincontent -->
</body>
</html>