<!DOCTYPE HTML>
<html>
<head>
<?php
require_once('browsercompatability.html');
if ($compatmode === true) {
	echo "<meta http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE7\" />\n";
}
?>
<link href="https://www.asoplc.com/resources/css/reset.css" rel="stylesheet" type="text/css" />
<link href="https://www.asoplc.com/resources/css/stylev3.css" rel="stylesheet"  type="text/css">
<link rel="stylesheet" href="https://www.asoplc.com/resources/css/font-awesome.css" type="text/css" />
<!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <link href="https://www.asoplc.com/resources/css/ie8.css" rel="stylesheet"  type="text/css">
<![endif]-->
<!--[if IE]>
<link href="https://www.asoplc.com/resources/css/ie.css" rel="stylesheet"  type="text/css">
<![endif]-->
<title><?php echo $title; ?></title>
 <link rel="canonical" href="https://www.asoplc.com" />
<meta name="robots" content="index, follow" />

<meta name="description" content="ASO Savings & Loans PLC is a Primary Mortgage Institution (PMI), incorporated in Nigeria as a limited liability company on November 9, 1995." />
<meta name="keywords" content="Nigerian Properties, Nigerian mortgage, Properties in Nigeria, Investments in Nigeria, Abuja Properties, Abuja lands, FCT Nigeria properties, FCT lands, Nigeria lands, Lagos properties, Abuja Nigeria Properties, Lagos Nigeria properties, Abuja Mortgage, Nigerian affordable housing, Abuja affordable housing, Lagos affordable housing, Nigeria Real Estate, ASO savings">

<meta property="og:title" content="Mortgage Banking, Real Estate & Properties in Nigeria, Properties in Abuja, Properties in Lagos  - ASO Savings and Loans Plc." />
<meta property="og:description" content="ASO Savings & Loans PLC is a Primary Mortgage Institution (PMI), incorporated in Nigeria as a limited liability company on November 9, 1995."/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.asoplc.com" />
<meta property="og:image" content="https://www.asoplc.com/aso_logo1.jpg" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ASO_SAVINGS">
<meta name="twitter:creator" content="@ASO_SAVINGS">
<meta name="twitter:image" content="https://www.asoplc.com/aso_logo1.jpg">
<meta name="twitter:title" content="Mortgage Banking, Real Estate & Properties in Nigeria, Properties in Abuja, Abuja lands, Properties in Lagos  - ASO Savings and Loans Plc.">
<meta name="twitter:description" content="ASO Savings & Loans PLC is a Primary Mortgage Institution (PMI), incorporated in Nigeria as a limited liability company on November 9, 1995.">

</head>

<body>
<div class="wrapper">
  <div class="content">
    <div class="asol"></div> <!-- end: asol -->
    <div class="asom">
      <div class="head">
        <header>
          <div class="socialbar">
            <div class="socialbar-l">
              <div class="smfbtn"><a title="facebook" href="https://www.facebook.com/asoplc" target="_blank"><img width="30" height="30" alt="facebook" src="https://www.asoplc.com/resources/img/global/social/icon-facebook.png"></a></div>
              <div class="smfbtn"><a title="twitter" href="https://twitter.com/ASO_SAVINGS" 
    target="_blank"><img width="30" height="30" alt="twitter" src="https://www.asoplc.com/resources/img/global/social/icon-twitter.png"></a></div>
              <div class="smfbtn"><a title="youtube" href="https://www.youtube.com/asoplc" target="_blank"><img width="30" height="30" alt="youtube" src="https://www.asoplc.com/resources/img/global/social/icon-youtube.png"></a></div>
              <div class="smfbtn"><a title="google+" href="https://plus.google.com/106126146711350910477/posts" 
    target="_blank"><img width="30" height="30" alt="google+" src="https://www.asoplc.com/resources/img/global/social/icon-googleplus.png"></a></div>
              <div class="smfbtn"><a title="linkedin" href="https://www.linkedin.com/company/aso-savings-&-loans-plc" target="_blank"><img width="30" height="30" alt="linkedin" src="https://www.asoplc.com/resources/img/global/social/icon-linkedin.png"></a></div>
              <div class="smfbtn"><a title="instagram" href="https://instagram.com/asosavings#" target="_blank"><img width="32" height="32" alt="instagram" src="https://www.asoplc.com/resources/img/global/social/icon-instagram.png"></a></div>
              <div class="smfbtn"><a title="contact" href="https://www.asoplc.com/contact" target="_blank"><img width="30" height="30" alt="contact" src="https://www.asoplc.com/resources/img/global/social/icon-contact.png"></a></div>
            </div> <!-- end: socialbar-l -->
            <div class="socialbar-r">
              <div class="addthis_toolbox addthis_default_style">
                <div class="smbtn-facebook"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a></div>
                <div class="smbtn-twitter"><a class="addthis_button_tweet"></a></div>
                <div class="smbtn-google"><a class="addthis_button_google_plusone" g:plusone:size="medium"></a></div>
                <div class="smbtn-linkedin"><a class="addthis_button_linkedin_counter"></a></div>
                <div class="smbtn-instagram"><a class="addthis_button_instagram_follow"></a></div>
              </div> <!-- end: addthis_toolbox -->
            </div> <!-- end: socialbar-r -->
          </div> <!-- end: socialbar -->
          <div class="asoheader">
            <div class="asoheader-l">
              <div class="asologo-out">
                <div class="asologo-in">
                  <a href="https://www.asoplc.com"><img src="https://www.asoplc.com/resources/img/global/logo.png" alt="" width="140" height="50"></a>
                </div> <!-- end: asologo-in -->
              </div> <!-- end: asologo-out -->
            </div> <!-- end: asoheader-l -->
            <div class="asoheader-r">
              <div class="asoheader-rt">
                <ul id="toplinks">
                  <li><a href="https://www.asoplc.com/company/branches/">Branch/ATM Locations</a></li>
                  <!--<li><a href="https://www.asoplc.com/company/partners/">Our Partners</a></li>-->
                  <li><a href="https://mail.office365.com" target="_blank">E-Mail Login</a></li>
                  <li><a href="https://www.asoplc.com/mail/">Contact Us</a></li>
                </ul>
              </div> <!-- end: asotitle-rt -->
              <div class="asoheader-rb">
                <div class="asoheader-rbl">
                  &nbsp;
                </div> <!-- end: asotitle-rbl -->
                <div class="asoheader-rbr">
                  <form action="https://www.asoplc.com/search/search.php" method="get" name="search" id="search">
                    <fieldset>
                      <div class="input">
                        <input name="query" type="text" class="nmlgray" id="query" action="https://www.asoplc.com/search/include/js_suggest/suggest.php" columns="2" autocomplete="off" onclick="value=&quot;&quot;" delay="1500" value="search..." size="30" />
                      </div>
					  <!--
					  <input type="submit" id="searchSubmit" onClick="https://www.asoplc.com/search/search.php" value="" />
					  -->
					  <input type="submit" id="searchSubmit" value="" />
					  
                      <input type="hidden" name="search" value="1">
                    </fieldset>
                  </form>
                </div> <!-- end: asoheader-rbr -->
              </div> <!-- end: asoheader-rb -->  
            </div> <!-- end: asoheader-r -->
          </div> <!-- end: asoheader -->
          <div class="mainmenu">
            <nav id="topmenu">
              <ul class="menu-top">
                <li><a href="https://www.asoplc.com/" class="menu-button"><span class="menu-label">Home</span></a></li>
                <li><a href="#" class="menu-button menu-drop"><span class="menu-label">About ASO</span></a>
                  <div class="menu-dropdown aboutaso">
                    <div class="menu-row">
                      <p class="menuheading">Our History</p>
                      <ul class="menu-sub">
                        <li><a href="https://www.asoplc.com/company/" class="menu-subbutton"><span class="menu-label">Our Story</span></a></li>
                        <li><a href="https://www.asoplc.com/company/comingfrom/" class="menu-subbutton"><span class="menu-label">Where We're Coming From</span></a></li>
                        <li><a href="https://www.asoplc.com/company/corporateprofile/" class="menu-subbutton"><span class="menu-label">Corporate Profile</span></a></li>
                        <li><a href="https://www.asoplc.com/company/achievements/" class="menu-subbutton"><span class="menu-label">Our Achievements</span></a></li>
                        <li><a href="https://www.asoplc.com/company/recognition/" class="menu-subbutton"><span class="menu-label">Our Recognitions</span></a></li>
                      </ul>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row">
                      <p class="menuheading">Board of Directors</p>
                      <ul class="menu-sub">
                        <li><a href="https://www.asoplc.com/company/board/" class="menu-subbutton"><span class="menu-label">View All</span></a></li>
                        <li><a href="https://www.asoplc.com/company/board/magashi/" class="menu-subbutton"><span class="menu-label">Mr. Ali Magashi</span></a></li>
                        <!--<li><a href="https://www.asoplc.com/company/board/musa/" class="menu-subbutton"><span class="menu-label">Dr. Musa Ahmed Musa</span></a></li>-->
                        <li><a href="https://www.asoplc.com/company/board/okeowo/" class="menu-subbutton"><span class="menu-label">Mr. Olutoyin Okeowo</span></a></li>
                        <li><a href="https://www.asoplc.com/company/board/adedigba/" class="menu-subbutton"><span class="menu-label">Adekunle Adedigba</span></a></li>
                        <li><a href="https://www.asoplc.com/company/board/ahmed/" class="menu-subbutton"><span class="menu-label">Risikatu Ladi Ahmed</span></a></li>
                      </ul>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row">
                      <p class="menuheading">Management Team</p>
                      <ul class="menu-sub">
                        <li><a href="https://www.asoplc.com/company/management/" class="menu-subbutton"><span class="menu-label">View All</span></a></li>
                        <li><a href="https://www.asoplc.com/company/management/adedigba/" class="menu-subbutton"><span class="menu-label">Adekunle Adedigba</span></a></li>
                        <li><a href="https://www.asoplc.com/company/management/ahmed/" class="menu-subbutton"><span class="menu-label">Risikatu Ladi Ahmed</span></a></li>
                        <li><a href="https://www.asoplc.com/company/management/dahunsi/" class="menu-subbutton"><span class="menu-label">Titilayo Dahunsi</span></a></li>
                        <li><a href="https://www.asoplc.com/company/management/bello/" class="menu-subbutton"><span class="menu-label">Richard Bello</span></a></li>
                        <!--<li><a href="https://www.asoplc.com/company/management/makoju/" class="menu-subbutton"><span class="menu-label">Enesi Makoju</span></a></li>-->
                        <li><a href="https://www.asoplc.com/company/management/gaga/" class="menu-subbutton"><span class="menu-label">Ibrahim Gaga</span></a></li>
                      </ul>
                    </div> <!-- end: menu-row -->				  
                    <a class="menu_subfoot" href="https://www.asoplc.com/company/branches/"> + Contact Us</a>
                    <div class="clearfix"></div> <!-- end: clearfix -->
                  </div> <!-- end: menu-dropdown aboutaso -->
                </li>
                <li><a href="#" class="menu-button menu-drop"><span class="menu-label">Investor Relations</span></a>
                  <div class="menu-dropdown investorel">
                    <div class="menu-row">
                      <ul class="menu-sub lside">
                        <li><a href="https://www.asoplc.com/investor/" class="menu-subbutton"><span class="menu-label">Corporate Governance</span><div class="menu-desc">Board, Stakeholders &amp; Risk Management</div></a></li>
                        <li><a href="https://www.asoplc.com/investor/ratings/" class="menu-subbutton"><span class="menu-label">Ratings</span><div class="menu-desc">Analyst Coverage &amp; Ratings</div></a></li>
                        <li><a href="https://www.asoplc.com/mail/" class="menu-subbutton"><span class="menu-label">Questions &amp; Inquiries</span></a></li>
                      </ul>
                    </div>
                    <div class="menu-row">
                      <p class="menuheading">Financials</p>
                      <ul class="menu-sub rside">
                        <li><a href="https://www.asoplc.com/investor/financials/2017/" class="menu-subbutton"><span class="menu-label">2017</span></a></li>
                        <li><a href="https://www.asoplc.com/investor/financials/2012/" class="menu-subbutton"><span class="menu-label">2012</span></a></li>
                        <li><a href="https://www.asoplc.com/investor/financials/2011/" class="menu-subbutton"><span class="menu-label">2011</span></a></li>
                        <li><a href="https://www.asoplc.com/investor/financials/2010/" class="menu-subbutton"><span class="menu-label">2010</span></a></li>
                        <li><a href="https://www.asoplc.com/investor/financials/2009/" class="menu-subbutton"><span class="menu-label">2009</span></a></li>
                      </ul>
                    </div>				  
                    <a class="menu_subfoot" href="https://www.asoplc.com/investor/financials/2012/"> + 2012 Audited Financials</a>
                  </div>
                </li>
								<li><a href="https://www.asoplc.com/property/preview" class="menu-button menu-drop"><span class="menu-label">ASO Property</span></a>
                    <!-- <div class="menu-dropdown asocomm">
                      
                      <ul class="menu-sub">
                        <li><a href="https://www.asoplc.com/property/preview" class="menu-subbutton"><span class="menu-label">Property Update</span></a></li>
                        
                      </ul>
                      
                  </div> -->
                </li>
                <li class="menu-middle3"><a href="#" class="menu-button menu-drop"><span class="menu-label">Our Products</span></a>
                  <div class="menu-dropdown asoproducts">
                    <div class="menu-row">
                      <div style="padding-right:20px;">
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/products/" class="menu-subbutton"><span class="menu-label">ASO Products Home</span></a></li>
                        </ul>
                        <p class="menuheading">Individual Banking Solutions</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/products/current/" class="menu-subbutton"><span class="menu-label">ASO Current Account</span></a></li>
                          <li><a href="https://www.asoplc.com/products/nontarget/" class="menu-subbutton"><span class="menu-label">Non Target Savings</span></a></li>
                          <li><a href="https://www.asoplc.com/products/myhouse/" class="menu-subbutton"><span class="menu-label">Savings for Mortgage</span></a></li>
                          <li><a href="https://www.asoplc.com/products/othersavings/" class="menu-subbutton"><span class="menu-label">Savings For Other</span></a></li>
                          <li><a href="https://www.asoplc.com/products/personalloans/" class="menu-subbutton"><span class="menu-label">Personal Loans</span></a></li>
                          <li><a href="https://www.asoplc.com/products/faqs/" class="menu-subbutton"><span class="menu-label">F.A.Qs</span></a></li>
                        </ul>
                        <p class="menuheading">Business Banking Solutions</p>
                        <ul class="menu-sub mside">
                          <li><a href="https://www.asoplc.com/products/businesscurrent/" class="menu-subbutton"><span class="menu-label">Corporate Current</span></a></li>
                          <li><a href="https://www.asoplc.com/products/businessfixed/" class="menu-subbutton"><span class="menu-label">ASO Fixed Deposit</span></a></li>
                          <li><a href="https://www.asoplc.com/products/faqs/business/" class="menu-subbutton"><span class="menu-label">F.A.Qs</span></a></li>
                        </ul>
                      </div>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row rside">
                      <div>
                        <p class="menuheading">Home Finance Solutions</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/products/myresidential/" class="menu-subbutton"><span class="menu-label">MyResidential Mortgage</span></a></li>
                          <li><a href="https://www.asoplc.com/products/mybusiness/" class="menu-subbutton"><span class="menu-label">MyBusiness Mortgage</span></a></li>
                          <li><a href="https://www.asoplc.com/products/nhf/" class="menu-subbutton"><span class="menu-label">National Housing Fund (NHF)</span></a></li>
                          <li><a href="https://www.asoplc.com/myhousepurchase/" class="menu-subbutton"><span class="menu-label">MyHouse Purchase Program</span></a></li>
                          <li><img src="https://www.asoplc.com/resources/img/global/subarrow.png" class="textmiddle" style="margin-left:20px; float:left"><a href="https://www.asoplc.com/property/" class="menu-subbutton submenu_lvl1"><span class="menu-label">ASO Properties</span></a></li>
                          <li><a href="https://www.asoplc.com/products/faqs/homefinance/" class="menu-subbutton"><span class="menu-label">F.A.Qs</span></a></li>
                        </ul>
                        <p class="menuheading">E-Banking Solutions</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/products/mobile/" class="menu-subbutton"><span class="menu-label">Mobile Phone</span></a></li>
                          <li><a href="https://www.asoplc.com/products/web/" class="menu-subbutton"><span class="menu-label">Web/Internet Banking</span></a></li>
                          <li><a href="https://www.asoplc.com/products/atm/" class="menu-subbutton"><span class="menu-label">ATM</span></a></li>
                          <li><a href="https://www.asoplc.com/products/pos/" class="menu-subbutton"><span class="menu-label">POS</span></a></li>
                        </ul>
                      </div>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row rside">
                      <div>
                        <p class="menuheading">Real Estate Investment Banking</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/products/realestate/" class="menu-subbutton"><span class="menu-label">Explore</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <a class="menu_subfoot" href="https://www.asoplc.com/media/downloads/"> + ASO Downloads</a>
                  </div> <!-- end: menu-dropdown asoproducts -->
                </li>
                <li class="menu-middle4"><a href="#" class="menu-button menu-drop"><span class="menu-label">Learning Centre</span></a>
                  <div class="menu-dropdown lcentre">
                    <div class="menu-row">
                      <div>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/learningcentre/" class="menu-subbutton"><span class="menu-label">ASO Learning Centre Home</span></a></li>
                        </ul>
                        <p class="menuheading">A to Z on Mortgages</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/" class="menu-subbutton"><span class="menu-label">Mortgages in Nigeria</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/mortgageprocess/" class="menu-subbutton"><span class="menu-label">General Mortgage Steps</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/housetypes/" class="menu-subbutton"><span class="menu-label">House Types</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/glossary/" class="menu-subbutton"><span class="menu-label">Mortgage Glossary</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/credit/" class="menu-subbutton"><span class="menu-label">Credit Scoring In Nigeria</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/a2z/faqs/" class="menu-subbutton"><span class="menu-label">F.A.Qs</span></a></li>
                        </ul>
                      </div>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row mside">
                      <div>
                        <p class="menuheading">Mortgage Calculators</p>
                        <ul class="menu-sub mside">
                          <li><a href="https://www.asoplc.com/learningcentre/calculators/" class="menu-subbutton"><span class="menu-label">How much can I borrow?</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/calculators/payment/" class="menu-subbutton"><span class="menu-label">Payment Calculator</span></a></li>
                          <li><a href="https://www.asoplc.com/learningcentre/calculators/amortization/" class="menu-subbutton"><span class="menu-label">Amortization Calculator</span></a></li>
                        </ul>
                      </div>
                    </div> <!-- end: menu-row -->
                    <div class="menu-row rside">
                      <div>
                        <p class="menuheading">Getting Started</p>
                        <ul class="menu-sub">
                          <li><a href="https://www.asoplc.com/learningcentre/gettingstarted/" class="menu-subbutton"><span class="menu-label">ASO Mortgage Process</span></a></li>
                          <li><a href="https://www.asoplc.com/products/myresidential/" class="menu-subbutton"><span class="menu-label">Select ASO Mortgages</span></a></li>
                        </ul>
                        <p class="menuheading">Find My Dream Home</p>
                        <ul class="menu-sub">
                          <li><a href="https://mls.asoplc.com/" target="_blank" class="menu-subbutton"><span class="menu-label">Explore</span></a></li>
                        </ul>

                      </div>
                    </div> <!-- end: menu-row -->
                    <a class="menu_subfoot" href="#"> + ASO Promotions</a>
                  </div> <!-- end: menu-dropdown lcentre -->
                </li>
                <li class="menu-middle2"><a href="#" class="menu-button menu-drop"><span class="menu-label">News</span></a>
                  <div class="menu-dropdown newsroom">
                    <ul class="menu-sub">
											<li><a href=" https://www.asoplc.com/media/index.php#story1" class="menu-subbutton"><span class="menu-label">ASO Savings Commissions ASO Garden Estate, Karsana</span><br><span class="menu-desc">click to read article</span></a></li>
                      <li><a href=" https://www.asoplc.com/media/2015/index.php#story1" class="menu-subbutton"><span class="menu-label">ASO Partners With FCT On Karu and Lugbe Market Commissioning</span><br><span class="menu-desc">click to read article</span></a></li>
                      <li><a href=" https://www.asoplc.com/media/2014/index.php#story4" class="menu-subbutton"><span class="menu-label">FCT Minister Commissions The Luxurious ASO Grove Estate, Abuja</span><br><span class="menu-desc">click to read article</span></a></li>
                      <li><a href=" https://www.asoplc.com/media/2014/index.php#story3" class="menu-subbutton"><span class="menu-label">ASO Pays Courtesy Visit To The Governor Of Plateau State</span><br><span class="menu-desc">click to read article</span></a></li>
                      <li><a href=" https://www.asoplc.com/media/2014/index.php#story2" class="menu-subbutton"><span class="menu-label">ASO Investigates, Apprehends Fraudulent Staff For Impersonation</span><br><span class="menu-desc">click to read article</span></a></li>
                    </ul>
                    <a class="menu_subfoot" href="https://www.asoplc.com/media/"> + ASO Newsroom</a>
                  </div>
                </li>
                <!--<li class="menu-right"><a href="#" class="menu-button menu-drop"><span class="menu-label">Careers</span></a>
                  <div class="menu-dropdown asocareers">
                    <div class="pad10">
                      <h1>ASO Careers</h1>
                      <p class="menuheading">Employment Opportunities</p>
                      <p><span class="emp">We want ASO to be an employer of choice</span> — a company where people want to work, love their jobs, have a balanced life, are fully engaged and want to stay for the long term and that is why we are constantly looking for partners to help us provide the value and service our customers, employees and shareholders have come to expect.</p>
                      <p>We invite you to create your curriculum vitae below as a start in the journey of joining our exceptional team. Should we have something become available in your desired area, you will be considered.</p>
                    </div> <!-- end: pad10 -->
                    <!--<a class="menu_subfoot" href="#"> + Build Your CV</a>
                  </div>
                </li>-->
                <li class="menu-right"><a href="#" class="menu-button menu-drop"><span class="menu-label">In Your Community</span></a>
                  <div class="menu-dropdown asocomm">
                    <p><a href="https://www.asoplc.com/community/" class="menu-subbutton">Learn more</a></p>
                    <ul class="menu-sub">
                      <li><a href="https://www.asoplc.com/resources/downloads/CSR 2012_2013.pdf" target="_blank" class="menu-subbutton"><span class="menu-label">2012/2013 CSR Report</span><span class="menu-desc"> click to read report</span></a></li>
                      <li><a href="https://www.asoplc.com/resources/downloads/CSR 2011_2012.pdf" target="_blank" class="menu-subbutton"><span class="menu-label">2011/2012 CSR Report</span><span class="menu-desc"> click to read report</span></a></li>
                      <li><a href="resources/downloads/2011 CSR PICTURES.jpg" target="_blank" class="menu-subbutton"><span class="menu-label">2010/2011 CSR Report</span><span class="menu-desc"> click to read report</span></a></li>
                      <li><a href="https://www.asoplc.com/resources/downloads/CSR 2009_2010.pdf" target="_blank" class="menu-subbutton"><span class="menu-label">2009/2010 CSR Report</span><span class="menu-desc"> click to read report</span></a></li>
                    </ul>
                    <a class="menu_subfoot" href="https://www.asoplc.com/resources/downloads/CSR 2012_2013.pdf" target="_blank"> + 2012/2013 CSR Report</a>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </nav>
          </div> <!-- end: mainmenu -->
        </header>
      </div> <!-- end: head -->