    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">Corporate Governance</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              Audited Financials
            </div> <!-- end: title -->
          </div> <!-- end: pageheadnew -->
          <menu>
            <div class="accmenu">
              <ul class="slideMenu">
                <li><a href="#">Investor Relations</a>
                  <ul>
                    <li><a href="../">Corporate Governance</a></li>
                    <li><a href="../ratings/">Ratings</a></li>
                    <li class="first activeTrail"><a href="#">Financials</a>
                      <ul>
                        <li><a href="2017/">2017</a></li>
                        <li><a href="2012/">2012</a></li>
                        <li><a href="2011/">2011</a></li>
                        <li><a href="2010/">2010</a></li>
                        <li><a href="2009/">2009</a></li>
                      </ul>
                    </li>
                    <li><a href="../../mail/">Questions &amp; Inquiries</a></li>
                  </ul>
                </li>
              </ul>
            </div> <!-- end: accmenu -->
          </menu> 
          <div class="asomain">
            <div id="wowslider-container1">
                <div class="ws_images">
                  <ul>
                    <li><a href="2012/"><img src="../data1/images/miniad1.png" alt="click to view 2012 report" name="wows1_0" width="530" height="282" id="wows1_0" title="click to view 2012 report"/></a></li>
                    <li><a href="2011/"><img src="../data1/images/miniad2.png" alt="click to view 2011 report" name="wows1_1" width="530" height="282" id="wows1_1" title="click to view 2011 report"/></a></li>
                    <li><a href="2010/"><img src="../data1/images/miniad3.png" alt="click to view 2010 report" name="wows1_2" width="530" height="282" id="wows1_2" title="click to view 2010 report"/></a></li>
                    <li><a href="2009/"><img src="../data1/images/miniad4.png" alt="click to view 2009 report" name="wows1_3" width="530" height="282" id="wows1_3" title="click to view 2009 report"/></a></li>
                  </ul>
                </div>
                <div class="ws_bullets">
                  <div>
                    <a href="#" title="miniad1">1</a>
                    <a href="#" title="miniad2">2</a>
                    <a href="#" title="miniad3">3</a>
                    <a href="#" title="miniad4">4</a>
                  </div>
                  <div class="ws_shadow"></div>
                </div>
              </div>
              <div class="clearfix" style="padding-bottom:30px;"></div> <!-- end: clearfix -->
              <h1>2012</h1>
              <div class="step1">
                <p class="redlink"><a href="../../resources/downloads/AGM_2012_FULL.pdf" target="_blank">Audited Financials (full version)</a></p>
                <p class="redlink"><a href="../../resources/downloads/AGM_2012_ABRIDGE.pdf" target="_blank">Audited Financials (abridge version)</a></p>
                <p><b>Quarterly Reports</b></p>
                <div class="step2">
                  <p class="redlink"><a href="#" target="_blank">1st Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">2nd Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">3rd Quarter</a></p>
                  <p class="fontgrey">4th Quarter</p>
                </div> <!-- end: step2 -->
              </div> <!-- end: step1 -->
              <h1>2011</strong></h1>
              <div class="step1">
                <p class="redlink"><a href="../../resources/downloads/AGM_2011_FULL.pdf" target="_blank">Audited Financials (full version)</a></p>
                <p class="redlink"><a href="../../resources/downloads/AGM_2011_ABRIDGE.pdf" target="_blank">Audited Financials (abridge version)</a></p>
                <p><b>Quarterly Reports</b></p>
                <div class="step2">
                  <p class="redlink"><a href="#" target="_blank">1st Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">2nd Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">3rd Quarter</a></p>
                  <p class="fontgrey">4th Quarter</p>
                </div> <!-- end: step2 -->
              </div> <!-- end: step1 -->
              <h1>2010</strong></h1>
              <div class="step1">
                <p class="redlink"><a href="../../resources/downloads/AGM_2010_FULL.pdf" target="_blank">Audited Financials (full version)</a></p>
                <p class="redlink"><a href="../../resources/downloads/AGM_2010_ABRIDGE.pdf" target="_blank">Audited Financials (abridge version)</a></p>
                <p><b>Quarterly Reports</b></p>
                <div class="step2">
                  <p class="redlink"><a href="#" target="_blank">1st Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">2nd Quarter</a></p>
                  <p class="redlink"><a href="#" target="_blank">3rd Quarter</a></p>
                  <p class="fontgrey">4th Quarter</p>
                </div> <!-- end: step2 -->
              </div> <!-- end: step1 -->
              <h1>2009</strong></h1>
              <div class="step1">
                <p class="redlink"><a href="../../resources/downloads/Aso Report 2009.pdf" target="_blank">Audited Financials</a></p>
                <p><b>Quarterly Reports</b></p>
                <div class="step2">
                  <p class="redlink"><a href="../../resources/downloads/NSE Report Q1 ending June 30 2009.pdf" target="_blank">1st Quarter</a></p>
                  <p class="redlink"><a href="../../resources/downloads/NSE Report Q2 - ending September  30 2009.pdf" target="_blank">2nd Quarter</a></p>
                  <p class="redlink"><a href="../../resources/downloads/NSE Report Q3  - ending December 31 2009.pdf" target="_blank">3rd Quarter</a></p>
                  <p class="fontgrey">4th Quarter</p>
                </div> <!-- end: step2 -->
              </div> <!-- end: step1 -->
              <h1>2008</h1>
              <div class="step1">
                <p class="redlink"><a href="../../resources/downloads/ASAL 2008 financial statement.pdf" target="_blank">Audited Financials</a></p>
                <p><b>Quarterly Reports</b></p>
                <div class="step2">
                  <p class="redlink"><a href="../../resources/downloads/ASAL Q1 2008 statement.pdf">1st Quarter</a></p>
                  <p class="redlink"><a href="../../resources/downloads/ASAL 2nd Quarter - September 2008 _for publication_.pdf" target="_blank">2nd Quarter</a></p>
                  <p class="redlink"><a href="../../resources/downloads/ASO NSE Q3 2008 statement-DEC 08 _2.pdf" target="_blank">3rd Quarter</a></p>
                  <p class="fontgrey">4th Quarter</p>
                </div> <!-- end: step2 -->
              </div> <!-- end: step1 -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];

                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad7.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <link rel="stylesheet" type="text/css" href="../engine1/style.css" media="screen" />
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../engine1/jquery.js"></script>
      <script type="text/javascript" src="../engine1/wowslider.js"></script>
      <script type="text/javascript" src="../engine1/script.js"></script>
  <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->