    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">Learning Centre</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              A to Z on Mortgages
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Learning Centre</a>
                <ul>
                  <li><a href="../">Home</a></li>
                  <li><a href="#">A to Z on Mortgages</a>
                    <ul>
                      <li class="first activeTrail"><a href="#">Mortgages In Nigeria</a></li>
                      <li><a href="mortgageprocess/">General Mortgage Steps</a></li>
                      <li><a href="housetypes/">House Types</a></li>
                      <li><a href="glossary/">Mortgage Glossary</a></li>
                      <li><a href="credit/">Credit Scoring</a></li>
                      <li><a href="faqs/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Getting Started</a>
                    <ul>
                      <li><a href="../gettingstarted/">ASO Mortgage Process</a></li>
                      <li><a href="../../products/myresidential/">Select ASO Mortgages</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mortgage Calculators</a>
                    <ul>
                      <li><a href="../calculators/">How much can I borrow?</a></li>
                      <li><a href="../calculators/payment/">Payment Calculator</a></li>
                      <li><a href="../calculators/amortization/">Amortization Calculator</a></li>
                    </ul>
                  </li>
                  <li><a href="http://mls.asoplc.com/" target="_blank">Find My Dream Home</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <h1>Mortgages In Nigeria</h1>
            <p>Mortgage banking development in Nigeria can be traced to the establishment of the Nigeria Building Society in 1956. The vehicle used for this capital investment was the Common Wealth Development Corporation with advance share capital of 81,625,000, GB pounds. The society collapsed in early seventies due to its inability to perform its statutory functions. This led to government injecting N20m and changing its name to Federal Mortgage Bank of Nigeria (FMBN). To find out more on how the mortgage Industry in Nigeria has evolved since then, its challenges and achievements please follow the link below to read an enlightening research work on Mortgages in Nigeria.</p>
            <p><b> Written by:</b><br>
              <br>Dr Leke Oduwaye, O.S. Oduwaye &amp; Dr M.E Adebamowo
              <br>Department of  Urban and Regional Planning,
              <br>Faculty of Environmental Sciences 
              <br>University of Lagos, Akoka, Lagos.</p>
            <p class="redlink"><a href="../../resources/downloads/MORTGAGES IN NIGERIA.pdf" target="_blank">Mortgages in Nigeria</a></p>	
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->