    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../">Learning Centre</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Mortgage Payment Calculator
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Learning Centre</a>
                <ul>
                  <li><a href="../../">Home</a></li>
                  <li><a href="#">A to Z on Mortgages</a>
                    <ul>
                      <li><a href="../../a2z/">Mortgages In Nigeria</a></li>
                      <li><a href="../../a2z/mortgageprocess/">General Mortgage Steps</a></li>
                      <li><a href="../../a2z/housetypes/">House Types</a></li>
                      <li><a href="../../a2z/glossary/">Mortgage Glossary</a></li>
                      <li><a href="../../a2z/credit/">Credit Scoring</a></li>
                      <li><a href="../../a2z/faqs/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Getting Started</a>
                    <ul>
                      <li><a href="../../gettingstarted/">ASO Mortgage Process</a></li>
                      <li><a href="../../../products/myresidential/">Select ASO Mortgages</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mortgage Calculators</a>
                    <ul>
                      <li><a href="../">How much can I borrow?</a></li>
                      <li class="first activeTrail"><a href="#">Payment Calculator</a></li>
                      <li><a href="../amortization/">Amortization Calculator</a></li>
                    </ul>
                  </li>
                  <li><a href="http://mls.asoplc.com/" target="_blank">Find My Dream Home</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="entry">
              <div id="noscript">
                <h2>Please enable JavaScript to use this calculator</h2>
                <p>Sorry, this mortgage calculator requires JavaScript to be enabled in your 
browser.</p>
              </div>		 
              <form id="calculator" method="post">
                <fieldset>
                  <legend>Enter Your Mortage Requirement Details</legend>				 
                  <label title="Enter the value of mortgage you require" for="mortageamount">Mortgage Required <span class="note">(no commas eg: 94000)</span>
                  <input name="mortgageamount" id="mortgageamount" type="text" size="10" maxlength="8"></label>
                  <label title="Enter the number of years for repayment" for="mortgageterm">Repayment period <span class="note">(years, no commas eg: 20)</span>
                  <input name="mortgageterm" id="mortgageterm" type="text" size="10" maxlength="3"></label>
                  <label title="Enter the interest rate of the mortgage" for="interest">Interest rate <span class="note">(enter 5.65% as 5.65, 10% as 10 etc)</span>
                  <input name="interest" id="interest" type="text" size="10" maxlength="4"></label>
                  <input class="button" id="calcbtn" type="button" value="Calculate my payments">
                </fieldset>
                <fieldset>
                  <legend>your calculated payments...</legend>				
                  <label title="Your monthly repayment" 
for="repayment">Monthly repayment<input id="calcrepayment" type="text" size="10" maxlength="12"></label>
                  <label title="Monthly repayment interest only" for="repaymentinterest">(Interest only)<input id="calcinterest" type="text" size="10" maxlength="12"></label>
                  <label title="Caution!" for="highrepayment"><span class="style1">Caution</span>: if interest rates were to rise to <span id="scareme">scaryamount</span> it will be:<input id="scarycalcrepayment" type="text" size="10" maxlength="12"></label>
                  <label title="Caution" for="highrepaymentinterest">(Interest only)<input id="scarycalcinterest" type="text" size="10" maxlength="12"></label>
                  <input class="button" id="clearbtn" type="button" value="Clear the calculator">
                </fieldset>
              </form>
            </div>
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad9.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/del/mortgage.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->