    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">Learning Centre</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Getting Started with ASO Mortgages
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Learning Centre</a>
                <ul>
                  <li><a href="../../learningcentre">Home</a></li>
                  <li><a href="#">A to Z on Mortgages</a>
                    <ul>
                      <li><a href="../a2z">Mortgages In Nigeria</a></li>
                      <li><a href="../a2z/mortgageprocess/">General Mortgage Steps</a></li>
                      <li><a href="../a2z/housetypes/">House Types</a></li>
                      <li><a href="../a2z/glossary">Mortgage Glossary</a></li>
                      <li><a href="../a2z/credit">Credit Scoring</a></li>
                      <li><a href="../a2z/faqs">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Getting Started</a>
                    <ul>
                      <li class="first activeTrail"><a href="#">ASO Mortgage Process</a></li>
                      <li><a href="../../products/myresidential">Select ASO Mortgages</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mortgage Calculators</a>
                    <ul>
                      <li><a href="../calculators">How much can I borrow?</a></li>
                      <li><a href="../calculators/payment">Payment Calculator</a></li>
                      <li><a href="../calculators/amortization">Amortization Calculator</a></li>
                    </ul>
                  </li>
                  <li><a href="http://mls.asoplc.com/" target="_blank">Find My Dream Home</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="step" id="step1">
               <img src="../../resources/img/icons/mortgagestep1.png" alt="Customer calculates Affordability test based on loan amount">
               <p>Customer calculates Affordability test based on loan amount &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p> 
            </div> <!-- end: step1 -->
            <div class="step" id="step2"> 
               <img src="../../resources/img/icons/mortgagestep2.png" alt="Customer submits Mortgage Application form and relevant documents to ASO">
               <p>Customer submits Mortgage Application form and relevant documents to ASO &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p>
            </div> <!-- end: step2 -->
            <div class="step" id="step3">
              <img src="../../resources/img/icons/mortgagestep3.png" alt="Appraisal">				
              <p>Appraisal &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p>
            </div> <!-- end: step3 -->
            <div class="step" id="step4">	
              <img src="../../resources/img/icons/mortgagestep4.png" alt="ASO gives customer offer letter detailing terms and conditions of loan (if approved)">			
              <p>ASO gives customer offer letter detailing terms and conditions of loan (if approved) &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p>
            </div> <!-- end: step4 -->
            <div class="step" id="step5">	
              <img src="../../resources/img/icons/mortgagestep5.png" alt="Approved: Customer meets all conditions in offer letter">			
              <p>Approved: Customer meets all conditions in offer letter &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p>
            </div> <!-- end: step5 -->
            <div class="step" id="step6">	
              <img src="../../resources/img/icons/mortgagestep6.png" alt="ASO Disburses Funds">				
              <p>ASO Disburses Funds &nbsp;&nbsp;&nbsp; <span class="nextlink"><a href="#">Next Step</a></span></p>
            </div>
            <div class="step" id="step7">
              <img src="../../resources/img/icons/mortgagestep7.png" alt="Approved">				
              <p>Approved</p>
              <p>List of required documents</p>
              <b>Commercial Loan Requirements</b>
              <ol>
                <li>Must have existing checking account with ASO for a minimum  duration of 3 months (Individual Mortgage Requirement)</li>
                <li>Offer Letter</li>
                <li>Valuation report</li>
                <li>Pay slips (3 months)</li>
                <li>Statement of Account (6 months)</li>
              </ol>
              <p>Requirements for Construction and Renovation</p>
              <ol>
                <li>Certificate of Occupancy</li>
                <li>Approved Building Plan</li>
                <li>Original Bill of quantity (stamped, sealed and signed by a quantity surveyor)</li>
                <li>Deed of Assignment of sales Agreement</li>
              </ol>
            </div> <!-- end: step6 -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        function hideInitial(objs) {
          $(objs).each(function() {
            var v=$(this).css('display');
            if ((v != 'block') || (v != 'none')) {
              $(this).css('display', 'none');
            } else {
              $(this).hide();
            }
          });
        }
        
        $(function() {
          var stepids=0;
          $('.step').each(function() {
            $(this).attr('id', 'step_' + stepids);
            
            $(this).children('p:first').children('.nextlink').children('a:first').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                var parent=$(this).parent().parent().parent();
                var id=parseInt(parent.attr('id').replace('step_',''));
                var target=$('.step[id="step_' + (id+1) + '"]');
                if (target.length > 0) {
                    parent.slideUp(200, function() {
                        target.slideDown(200);
                    });
                }
                
                return false;
            });
            
            if (stepids > 0)
                $(this).hide();			
            
            stepids++;
          });
        });
                        
      //google analytics
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28605460-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->