    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../">Learning Centre</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              A to Z on Mortgages - F.A.Qs
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Learning Centre</a>
                <ul>
                  <li><a href="../../">Home</a></li>
                  <li><a href="#">A to Z on Mortgages</a>
                    <ul>
                      <li><a href="../">Mortgages In Nigeria</a></li>
                      <li><a href="../mortgageprocess/">General Mortgage Steps</a></li>
                      <li><a href="../housetypes/">House Types</a></li>
                      <li><a href="../glossary/">Mortgage Glossary</a></li>
                      <li><a href="../credit/">Credit Scoring</a></li>
                      <li class="first activeTrail"><a href="#">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Getting Started</a>
                    <ul>
                      <li><a href="../../gettingstarted/">ASO Mortgage Process</a></li>
                      <li><a href="../../../products/myresidential/">Select ASO Mortgages</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mortgage Calculators</a>
                    <ul>
                      <li><a href="../../calculators/index.php">How much can I borrow?</a></li>
                      <li><a href="../../calculators/payment/">Payment Calculator</a></li>
                      <li><a href="../../calculators/amortization/">Amortization Calculator</a></li>
                    </ul>
                  </li>
                  <li><a href="http://mls.asoplc.com/" target="_blank">Find My Dream Home</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <p class="smlsize">Click to expand/collapse</p>
            <div id="va-accordion" class="accordion">
              <h1>Mortgage Banking</h1>
              <div class="slice slice-1">
                <h3 class="title">I have just received my Offer Letter from FCDA, can I get a loan?</h3>
                <div class="content">
                  <p>Yes, but only if you meet the requirements. Please see any of our Customer Service Officers or your account officer for more details.</p>
                </div> <!-- end: va-content -->
              </div> <!-- end: va-slice va-slice-1 -->
              <div class="slice slice-2">
                <h3 class="title">FCDA has changed the value of my property upwards. Can I get an additional loan?</h3>
                <div class="content">
                  <p>Yes. But you will be required to pay 10% equity and 2% administrative fees. You will also be required to complete new application forms.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-2 -->
              <div class="slice slice-3">
                <h3 class="title">I want to start a business. Can ASO Savings &amp; Loans assist me with a mortgage?</h3>
                <div class="content">
                  <p>No. Mortgages are for Real Estate/Property only. If you wish to start or expand your business, please see either your Account Officer or any member of our Product &amp; Market team (at any of our branches) who will be pleased to offer advice on ASOs Small Business Banking products.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-3 -->
              <div class="slice slice-4">
                <h3 class="title">I am unable to come to your Head Office as I live out of town. Do you have direct phone lines?</h3>
                <div class="content">
                  <p>Yes. If you have any enquiries regarding mortgages please contact our Customer Service Officers (at any ASO branch - please ask for information for a branch closest to you) or call any of the following numbers:<br><br>09 6734619, 09 6734620, 09 6734623<br><br>If you have any other enquiries regarding our services you could visit our website www.asoplc.com, call our Customer Care line (09-7041631121) or mail customerservice@asoplc.com</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-4 -->
              <div class="slice slice-5">
                <h3 class="title">My house/allocation has been revoked by FCDA, what do I do?</h3>
                <div class="content">
                  <p>This is what in your Loan Agreement is called &lsquo;Force Majeure&rsquo;<strong>.</strong></p>
                  <p>Please come to our office with a copy of the Withdrawal Letter. We will process the withdrawal/revocation and the following will take place:</p>
                  <ul>
                    <li>Refund of monies deducted </li>
                    <li>Return of original documents received from you by the Bank i.e. original offer letter, receipt(s), etc.</li>
                    <li>Please note that COT and the administrative fees are non-refundable.</li>
                  </ul>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-5 -->
              <div class="slice slice-6">
                <h3 class="title">ASO has paid for my house, but I have not received the receipt of final payment. What do I do?</h3>
                <div class="content">
                  <p>Please request that one of our Customer Service Officers to do a manual check for your receipt. Once confirmed that your receipt has not been issued, ensure that your name and EOI number are taken and placed in our Unissued Receipt List. We shall forward it to the Head of Accounts, Ad-Hoc Committee on SOFGH, who will confirm to us if your document/payment is okay or not. If it is, we issue you a receipt within 2 weeks. But if not, they inform us of the outstanding requirements and we inform you via phone of the outcome.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-6 -->
              <div class="slice slice-7">
                <h3 class="title">I would like to rent/let/lease my property, can I do this?</h3>
                <div class="content">
                  <p>No, you are not allowed to rent/let/lease your property without prior consent of the bank.</p>
                  <p>If you intend to rent/let/lease your property, you should write to us indicating your intentions stating the rental period and amount. Should the information prove satisfactory, our Legal Team will give consent in writing to the rent/let/lease of the property.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-7 -->
              <div class="slice slice-8">
                <h3 class="title">I would like to pay off/reduce my mortgage loan, can I do this?</h3>
                <div class="content">
                  <p>Yes.<br>This is referred to as <strong>&lsquo;Balloon Payment&rsquo;</strong>.</p>
                  <p>To do this, you should first deposit the amount you wish to pay into your loan current account. Then request for a <strong>&lsquo;Balloon Payment Form&rsquo;</strong> from any of our Customer Service Officers who will be pleased to give you further information on processing your balloon payment (including the attendant charges).</p>
                  <p>Once the &ldquo;Balloon Payment&rsquo;&rsquo; is done, you can collect your new repayment plan from your branch within 48hours of submitting your request.</p>
                  <p>Alternatively contact your Account Officer to process this on your behalf.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-8 -->
              <div class="slice slice-9">
                <h3 class="title">What types of mortgages are available at ASO Savings and Loans?</h3>
                <div class="content">
                  <table border="1" cellspacing="0" cellpadding="5" width="100%">
                    <tr>
                      <td width="17" valign="top"><p>&nbsp;</p></td>
                      <td width="128" valign="top"><p><strong>TYPES OF MORTGAGES</strong></p></td>
                      <td width="96" valign="top"><p><strong>INTEREST RATES</strong></p></td>
                      <td width="90" valign="top"><p><strong>TENOR OF LOAN</strong></p></td>
                      <td width="120" valign="top"><p><strong>ELIGIBILITY</strong></p></td>
                      <td width="144" valign="top"><p><strong>REQUIREMENTS</strong></p></td>
                    </tr>
                    <tr>
                      <td width="17" valign="top"><p><strong>1</strong></p></td>
                      <td width="128" valign="top"><p><strong>NATIONAL HOUSING FUND (NHF)</strong></p></td>
                      <td width="96" valign="top"><p>6% </p></td>
                      <td width="90" valign="top"><p>Maximum of 30 years &nbsp;(but usually 60 minus your age)</p></td>
                      <td width="120" valign="top"><p>Civil Servants who have been contributing to the NHF Scheme<br><br>Other contributors to the scheme</p></td>
                      <td width="144" valign="top"><p>-NHF Form. N1,000.00<br>-ASO Current Account</p></td>
                    </tr>
                    <tr>
                      <td width="17" valign="top"><p><strong>2</strong></p></td>
                      <td width="128" valign="top"><p><strong>SOFGH LOANS</strong></p></td>
                      <td width="96" valign="top"><p>9.5%</p></td>
                      <td width="90" valign="top"><p>15 years</p></td>
                      <td width="120" valign="top"><p>- Owners-Occupiers<br>- Civil Servants<br>-    Political Office Holders<br>- Winning Bidders</p></td>
                      <td width="144" valign="top"><p>- Offer Letter<br>- 10% equity paid to FCDA<br>- ASO Current Account<br>- Domicile Salary with ASO<br>- Mortgage application forms</p></td>
                    </tr>
                    <tr>
                      <td width="17" valign="top"><p><strong>3</strong></p></td>
                      <td width="128" valign="top"><p><strong>COMMERCIAL LOANS</strong></p></td>
                      <td width="96" valign="top"><p>Negotiable in line with market.</p></td>
                      <td width="90" valign="top"><p>1-10 years</p></td>
                      <td width="120" valign="top"><p>- Individuals <br>- Development Companies</p></td>
                      <td width="144" valign="top"><p>- Have an existing current account with ASO for a minimum of 6 months<br>- Commercial loan forms</p></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-9 -->
              <div class="slice slice-10">
                <h3 class="title">Can I know my Mortgage Account Balance?</h3>
                <div class="content">
                  <p>Yes.<br>See one of our Customer Service Officers or your account officer.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-10 -->
              <div class="slice slice-11">
                <h3 class="title">May I get a loan to renovate my house?</h3>
                <div class="content">
                  <p>Yes.<br>Please contact our staff in the Products &amp; Market Division (at any ASO Branch). You will require the following in preparation for your loan:</p>
                  <ul>
                    <li>Bill of Quantities report for renovation</li>
                    <li>Valuation  Report</li>
                    <li>A minimum contribution of 25% of the total project cost</li>
                    <li>Legal mortgage over the property </li>
                  </ul>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-11 -->
              <div class="slice slice-12">
                <h3 class="title">Can I get a mortgage before I find my property?</h3>
                <div class="content">
                  <p>You cannot get a mortgage loan without having a property that you can use as security for the loan.</p>  
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-12 -->
              <div class="slice slice-13">
                <h3 class="title">How do I pay back my mortgage?</h3>
                <div class="content">
                  <p>The most common type of payment is the monthly repayment. Offering the greatest simplicity, your monthly repayments cover both the principal and the interest on the loan (deducted from your account monthly), so that at the end of the term/tenor you have completed all payments. Please note that ASO monthly repayments are calculated on a reducing annuity basis (see question 19 for more details)</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-13 -->
              <div class="slice slice-14">
                <h3 class="title">I am a Career Public Servant. Can I get a mortgage?</h3>
                <div class="content">
                  <p>Yes you can.<br>All career public servants can make an application for a mortgage as long as they are in full time employment at the date of application. However you are required to make a payment of at least 25-30% on the property of your choice, and domicile your salary with ASO.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-14 -->
              <div class="slice slice-15">
                <h3 class="title">What other costs will I incur in taking out a Mortgage?</h3>
                <div class="content">
                  <p>When you take out a mortgage, you should be aware that in addition, you will have to <u>pay valuation and  processing fees</u>. Once you take ownership of the property, ASO will insist you  take out <u>insurance cover on the building</u>. It is advisable to take out contents insurance as well.</p>
                  <p>Always look at the <u>total package</u> and not just focus on the costs or interest rates.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-15 -->
              <div class="slice slice-16">
                <h3 class="title">Is my Certificate of Occupancy with ASO?</h3>
                <div class="content">
                  <p>Please contact our Customer Service Officers who will check for you.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-16 -->
              <div class="slice slice-17">
                <h3 class="title">What is the early repayment charge for my mortgage?</h3>
                <div class="content">
                  <p>Your Offer Letter and the terms and conditions contained therein highlight in detail the early repayment charge associated with your mortgage.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-17 -->
              <div class="slice slice-18">
                <h3 class="title">Why is my interest payment higher than my principal payment?</h3>
                <div class="content">
                  <p>Your monthly repayment depends on the tenor of your loan and is calculated at a reducing annuity mortgage basis. The principal has to be spread over the period or duration of the loan. For example, if you a have N5millon loan for a tenor of 5years, the principal repayment has to be spread through 5 years. Therefore as you pay your principal (which makes up part of your monthly repayment) which has been spread, you reduce the interest paid on the loan.</p>
                  <p>While your monthly repayment remains as stated in your offer letter, the components of this repayment (interest and  principal) may be seen on your statement to vary. Your interest repayment on the onset is higher than the principal repayment, but tapers off (reduces) over time as you service your loan, while your principal repayment which starts off as lower than the interest repayment increases until it exceeds the interest portion of the repayment while the loan is being serviced.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-18 -->
              <div class="slice slice-19">
                <h3 class="title">Why do I need to pay insurance premium quarterly?</h3>
                <div class="content">
                  <p>To protect you from the risk associated with such unforeseen circumstances/damage like fire, collapse, storm etc. The insurance also helps protect your mortgage repayment in the event of you being temporarily incapacitated</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-19 -->
              <div class="slice slice-20">
                <h3 class="title">How do I make an insurance claim?</h3>
                <div class="content">
                  <p>In event of any unforeseen circumstance affecting you or your property (for which you got the mortgage) which could include damage to the property due to fire, rain storm, wind, earthquake etc; you can make an insurance claim in this instance by providing the following documents:<br><br>- Application letter to support the claim<br>- Pictures of the damage to the property<br>- FCDA Offer Letter and ASO Offer Letter<br>- Copy of the receipt for payment of the property<br>- Bill of quantities for the repair of the damage<br>- Duly completed Insurance Claim Form (available from your branch CSO)<br><br>Any of our Customer Service Officers will be happy to answer any other questions you have regarding making an insurance claim.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-20 -->
              <h1>Mortgage Banking - National Housing Fund (NHF)</h1>
              <div class="slice slice-21">
                <h3 class="title">Is ASO a registered Mortgage Institution with the Federal Mortgage Bank?</h3>
                <div class="content">
                  <p>Yes, it was incorporated in November 1995 as a limited liablilty company.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-21 -->
              <div class="slice slice-22">
                <h3 class="title">Is ASO one of the Mortgage Institutions licensed to participate in the National Housing Fund (NHF) operated by Federal Mortgage Bank of Nigeria (FMBN)?</h3>
                <div class="content">
                  <p>As stated above, ASO is a registered mortgage institution with FMBN and is licensed to participate in all mortgage schemes operated by FMBN, including the NHF.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-22 -->
              <div class="slice slice-23">
                <h3 class="title">How long has ASO been into providing Mortgage services?</h3>
                <div class="content">
                  <p>ASO has been providing mortgage services since 1995. It started by developing a housing estate at Jikwoyi</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-23 -->
              <div class="slice slice-24">
                <h3 class="title">What interest rates does ASO charge for its Mortgage facilities?</h3>
                <div class="content">
                  <ol>
                    <li>For mortgages under the NHF, ASO charges an annual interest rate of 6% for periods of up to 30 years (depending on age and income)</li>
                    <li>For mortgages under the Sale of Federal Government Houses programme (SOFGH) ASO charges an annual interest rate of 9.5% for periods of up to 15 years (depending on age and income)</li>
                    <li>For Commercial mortgages, interest rates are dependent on prevailing market rate. However tenors under this category typically range between 1 year to 5 years.</li>
                  </ol>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-24 -->
              <div class="slice slice-25">
                <h3 class="title">Is there a specific tenure for the mortgage facilities offered by ASO?</h3>
                <div class="content">
                  <p>As discussed above, the tenure of mortgages depends on the mortgage scheme, and as determined by the Federal Mortgage Bank of Nigeria (FMBN).</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-25 -->
              <div class="slice slice-26">
                <h3 class="title">Must I have an account with ASO before I benefit from your Mortgage services?</h3>
                <div class="content">
                  <p>To enjoy ASOs mortgage services, you are required to have a current account with ASO to accommodate the mortgage.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-26 -->
              <div class="slice slice-27">
                <h3 class="title">Must I operate my account for six months in ASO before I get a loan?</h3>
                <div class="content">
                  <p>To get a loan from ASO, you are required to have an operational account. However, you can still benefit from ASOs mortgage services even if you have not operated your account for up to six months.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-27 -->
              <div class="slice slice-28">
                <h3 class="title">Can retired employees also benefit from your mortgage services?</h3>
                <div class="content">
                  <p>Retirees can also participate in all our mortgages services except the NHF Loans.</p>
                  <p>As a client-focused institution, ASO caters for all class of customers including low income earners. However, this will depend on the value of their request.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-28 -->
              <div class="slice slice-29">
                <h3 class="title">Has ASO successfully accessed the National Housing Fund on behalf of its customers?</h3>
                <div class="content">
                  <p>Yes, we have over N1billion approved request</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-29 -->
              <div class="slice slice-30">
                <h3 class="title">Is the NHF Loan for only contributors to the scheme?</h3>
                <div class="content">
                  <p>Yes. The NHF loan is for contributors who have made subscribtion to the Fund for a period of at least six months. For new subscribers that wish to benefit from the scheme, they can make the six month payment at once and continue subsequent monthly payments.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-30 -->
              <div class="slice slice-31">
                <h3 class="title">At what interest rate does a Contributor access the NHF Loan through ASO?</h3>
                <div class="content">
                  <p>Eligible contributors can access the NHF loan at an interest rate of 6% per annum.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-31 -->
              <div class="slice slice-32">
                <h3 class="title">Can the NHF loan have tenors that are more than 10 years?</h3>
                <div class="content">
                  <p>Yes. Subject to age and income of the contributor, the NHF loan can be accessed for a maximum period of 30 years.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-32 -->
              <div class="slice slice-33">
                <h3 class="title">What makes a contributor eligible to access the NHF Loan?</h3>
                <div class="content">
                  <p>A contributor becomes eligible to access the NHF loan after making contributions for a minimum period of six months.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-33 -->
              <div class="slice slice-34">
                <h3 class="title">Is there an age limit after which a customer becomes ineligible to benefit from the NHF Loan?</h3>
                <div class="content">
                  <p>Yes. The age limit is 60 years, which corresponds with the retirement age in the civil service.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-34 -->
              <div class="slice slice-35">
                <h3 class="title">Can the NHF Loan be used to construct a new house?</h3>
                <div class="content">
                  <p>Yes, but you must have initially developed the house up to 30% completion stage.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-35 -->
              <div class="slice slice-36">
                <h3 class="title">Can it be used for renovating an existing house?</h3>
                <div class="content">
                  <p>Yes, you can apply for the purpose of renovation, as long as you have a certified Bill Of Quantities (BOQ).</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-36 -->
              <div class="slice slice-37">
                <h3 class="title">Is there a maximum amount that can be accessed by Contributors?</h3>
                <div class="content">
                  <p>Under the NHF scheme, the maximum amount that can be accessed is N5mm.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-37 -->
              <div class="slice slice-38">
                <h3 class="title">How long does it take for applications to be processed by FMBN?</h3>
                <div class="content">
                  <p>An average of 3 months, depending on the geographical location of property.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-38 -->
              <div class="slice slice-39">
                <h3 class="title">Does a contributor apply for the NHF Loan before or after identifying a house?</h3>
                <div class="content">
                  <p>After identifying and being offered the house by the owner.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-39 -->
              <h1>Mortgage Banking - Sales of Federal Government Houses</h1>
              <div class="slice slice-40">
                <h3 class="title">What is the Sale Of Federal Government Houses (SOFGH) programme about?</h3>
                <div class="content">
                  <p>Its a pilot scheme where houses owned by the Federal Government are mortgaged at a regulated interest rate under specific defined underwriting conditions. The mortgages generated under this scheme will eventually be sold to investors in the capital market.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-40 -->
              <div class="slice slice-41">
                <h3 class="title">What is involved in participating in the SOFGH programme?</h3>
                <div class="content">
                  <p>A Letter of offer for a Federal Government House from the Ad-Hoc committee FCT.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-41 -->
              <div class="slice slice-42">
                <h3 class="title">Where do I get information on the Sale Of Federal Government Houses programme?</h3>
                <div class="content">
                  <p>Access this information by visiting the website <span class="class3"><a href="http://www.fct.gov.ng" target="_blank">www.fct.gov.ng</a></span> or Room 109, Federal Capital Development Authority (FCDA), Area 11</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-42 -->
              <div class="slice slice-43">
                <h3 class="title">Does ASO assist customers in paying the initial 10% bid amount? (If yes, how?)</h3>
                <div class="content">
                  <p>Yes, prior to bidding or when an offer is made to the loan applicant. The loan applicant is required to make an equity contribution of 30% of the amount, and repayment of the 10% loan must be made within 90days of the offer.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-43 -->
              <div class="slice slice-44">
                <h3 class="title">How do I know if I have won the bid for the house I have identified?</h3>
                <div class="content">
                  <p>Access this information by visiting the website <a href="http://www.fct.gov.ng" target="_blank">www.fct.gov.ng</a> or watch for notices in national dailies</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-44 -->
              <div class="slice slice-45">
                <h3 class="title">What happens to my 10% bid amount when I lose the bid?</h3>
                <div class="content">
                  <p>You get refunded your equity (contribution) to the 10% on return of ASOs draft ifo Adhoc committee on sale of Fed Govt. Houses</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-45 -->
              <div class="slice slice-46">
                <h3 class="title">Does ASO have influence in the Adhoc Committe on SOFGH that gives its customers an edge over other bidders?</h3>
                <div class="content">
                  <p>No. ASO does not have any sought of influence in the Adhoc Committee, however, ASO abides by the guidelines outlined by the Committee.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-46 -->
              <div class="slice slice-47">
                <h3 class="title">Has ASO successfully assisted its customer to complete payments to the Adhoc Committee on Sale Of Federal Government Houses before?</h3>
                <div class="content">
                  <p>Yes, currently we have close to 6,000 customers benefiting from ASOs mortgage services.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-47 -->
              <div class="slice slice-48">
                <h3 class="title">Can I apply to ASO for a loan after I have paid the initial 10%?</h3>
                <div class="content">
                  <p>Yes, as long as you have an offer from FCDA.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-48 -->
              <div class="slice slice-49">
                <h3 class="title">Is the Sale Of Federal Government Houses programme open to all Nigerians?</h3>
                <div class="content">
                  <p>Yes.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-49 -->
              <div class="slice slice-50">
                <h3 class="title">How long will it take to get my receipt to confirm that ASO has made payments to the Adhoc Committee on SOFGH on my behalf?</h3>
                <div class="content">
                  <p>Though this process is entirely beyond the control of ASO, it usually takes an average of 30 days.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-50 -->
              <div class="slice slice-51">
                <h3 class="title">Will ASO assist its customers to take possession of occupied houses?</h3>
                <div class="content">
                  <p>The FCDA ensures that through its task-force.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-51 -->
              <div class="slice slice-52">
                <h3 class="title">What are the documentation requirements for getting a mortgage facility from ASO under the SOFGH programme?</h3>
                <div class="content">
                  <ul>
                    <li>Letter of offer/winning bidder;</li>
                    <li>6 Passports;</li>
                    <li>Completed ASO Loan Application form;</li>
                    <li>Executed Mortgage Loan Agreement;</li>
                    <li>Executed Deed of Assignment;</li>
                    <li>Executed Memorandum of Deposit;</li>
                    <li>AGIS form;</li>
                    <li>Letter of Domiciliation of Salary;</li>
                    <li>Terminal benefits from employer.</li>
                  </ul>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-52 -->
              <div class="slice slice-53">
                <h3 class="title">What will be the impact of a bulk repayment on subsequent monthly payments?</h3>
                <div class="content">
                  <p>Bulk payments will deflate the monthly repayments or reduce the tenor of the loan, whichever the applicant prefers.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-53 -->
              <div class="slice slice-54">
                <h3 class="title">When will the title documents to the house be transfered to me?</h3>
                <div class="content">
                  <p>All documents will be transferred to the customers upon making full payment of the mortgage loan to ASO.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-54 -->
              <h1>Mortgage Banking - Commercial Mortgage Facility</h1>
              <div class="slice slice-55">
                <h3 class="title">Does ASO provide other mortgage facilities that are not under the NHF and SOFGH schemes?</h3>
                <div class="content">
                  <p>Yes, ASO provides mortgage loans that are not under the NHF and SOFGH to its customers.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-55 -->
              <div class="slice slice-56">
                <h3 class="title">At what rate does ASO provide the Commercial Mortgage Facility?</h3>
                <div class="content">
                  <p>ASOs CMF is offered to customers at the prevailing market rates.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-56 -->
              <div class="slice slice-57">
                <h3 class="title">Is the Commercial Mortgage Facility for only houses?</h3>
                <div class="content">
                  <p>It can be used for shops, land and other real estate properties.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-57 -->
              <div class="slice slice-58">
                <h3 class="title">Can the Commercial Mortgage Facility be for tenors of up to 10 years?</h3>
                <div class="content">
                  <p>No, the maximum tenor under the CMF is 5 years.</p>
                </div> <!-- end: va-content -->
              </div> <!-- end: va-slice va-slice-58 -->	
              <div class="slice slice-59">
                <h3 class="title">Can I use the CMF to build a new house?</h3>
                <div class="content">
                  <p>Yes, you have to have developed the property to 30% completion stage.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-59 -->
              <div class="slice slice-60">
                <h3 class="title">Can the CMF be used to renovate an existing house?</h3>
                <div class="content">
                  <p><p>Yes it can provided that there is a Bill Of Quantities (BOQ) for the renovation work to be carried out.</p></p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-60 -->
              <div class="slice slice-61">
                <h3 class="title">Can a CMF be converted to an NHF Loan? (if yes, what is the procedure?)</h3>
                <div class="content">
                  <p>Yes, CMF could be granted to enable the customer make payment for a property pending release of NHF loan. When the NHF loan is granted, the CMF could then be converted to the NHF loan. However all outstanding payments under the CMF must be paid notwithstanding the NHF loan.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-61 -->
              <div class="slice slice-62">
                <h3 class="title">Can I use my shares to secure the CMF?</h3>
                <div class="content">
                  <p>Yes, normally, we will use the property being financed; shares come in as additional comfort.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-62 -->
              <div class="slice slice-63">
                <h3 class="title">What other Collaterals can be used to secure the CMF?</h3>
                <div class="content">
                  <p>Ideally, the property being financed or alternative real property. Other forms of securities, such as shares of quoted companies, may be accepted.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-63 -->
              <div class="slice slice-64">
                <h3 class="title">Is the CMF open to Civil servants?</h3>
                <div class="content">
                  <p>Yes, depends on the ability of the civil servant to pay back the loan.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-64 -->
              <div class="slice slice-65">
                <h3 class="title">Must I have an account with ASO to benefit from the CMF?</h3>
                <div class="content">
                  <p>Yes you would have to open a current account with ASO.</p>
                </div> <!-- end: va-content -->	
              </div> <!-- end: va-slice va-slice-65 -->
            </div> <!-- end: va-accordion -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad4.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/jquery.mousewheel.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/accordion.js"></script>
      <script type="text/javascript">
        $(function() {
            $('.accordion').accordion({
                effect: 'easeInOutBack',
                speed: 500,
            });
        });
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->