    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../learningcentre">Learning Centre</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              A to Z on Mortgages
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Learning Centre</a>
                <ul>
                  <li><a href="../../../learningcentre">Home</a></li>
                  <li><a href="#">A to Z on Mortgages</a>
                    <ul>
                      <li><a href="../../a2z">Mortgages In Nigeria</a></li>
                      <li class="first activeTrail"><a href="#">General Mortgage Steps</a></li>
                      <li><a href="../housetypes/">House Types</a></li>
                      <li><a href="../glossary">Mortgage Glossary</a></li>
                      <li><a href="../credit">Credit Scoring</a></li>
                      <li><a href="../faqs">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Getting Started</a>
                    <ul>
                      <li><a href="../../gettingstarted/">ASO Mortgage Process</a></li>
                      <li><a href="../../../products/myresidential">Select ASO Mortgages</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mortgage Calculators</a>
                    <ul>
                      <li><a href="../../calculators">How much can I borrow?</a></li>
                      <li><a href="../../calculators/payment">Payment Calculator</a></li>
                      <li><a href="../../calculators/amortization">Amortization Calculator</a></li>
                    </ul>
                  </li>
                  <li><a href="http://mls.asoplc.com/" target="_blank">Find My Dream Home</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <h3>Steps In The Mortgage Process <span class="nmlgray medsize">The 6 Stages of a Mortgage</span></h3>
            <img src="../../../resources/img/icons/mortgageprocess.png" alt="">
            <p class="smlsize">Here is a description of what really happens, what to expect and most importantly what will be expected of you at each stage of the mortgage process from initiation to closing. When you know what is on the way (or what is supposed to happen!) this will help you have a stress-free mortgage experience.</p>
            <h3>Getting Prepared</h3>
            <p>Get all your documents ready beforehand. Gather all relevant documents which you may need to access the facility. At this stage it is important for you to have met your loan officer to guide you on the prerequisite documents you will need to get started.</p>
            <p>It is much better to prepare before you apply because when your loan officer comes back to you for these items, this can add days to the mortgage process. Why not take an hour now to save a week!</p>
            <h3>Pre-Approval</h3>
            <p>At this stage the Loan Officer will require that the customer provide all income and asset documentation to determine mortgage qualification.  For example:</p>
            <ul class="redbullet">
              <li><p>Mortgage application form</p></li>
              <li><p>A credit report</p></li>
              <li><p>Bank Statement(last 6 months)</p></li>
              <li><p>Pay slips(last 3 months)</p></li>
              <li><p>Tax clearance</p></li>
              <li><p>Company profiles and</p></li>
              <li><p>Audited account e.t.c</p></li>
              <li><p>Offer letter for the house to be purchased</p></li>
              <li><p>Letter of Introduction from place of work</p></li>
              <li><p>Letter of Domiciliation of Salary from place of work and/or Domiciliation of business proceeds</p></li>
            </ul>
            <p><strong>N.B</strong>: It’s important to state that the dynamics for each mortgage process may differ thus it is necessary to consult with your loan officer on what documentations you require to obtain the necessary approval.</p>
            <p>Credit will be reviewed.  The loan data will be put through underwriting and a pre-approval will be issued. Without the above documents being in place prior to application, it can take weeks or even months from the time the borrower is pre-approved to the time there is an approval. Therefore the loan officer should address anything that comes up on the credit or in other documentation and educate as to what will be further required.</p>
            <p>Once the full mortgage application package is completed by borrower, the Loan Officer will now commence verification on documentation). Usually at this stage, the borrower will be asked to address the following (If any):</p>
            <ul class="redbullet">
              <li><p>Any credit inquiries or issues on the credit report,</p></li>
              <li><p>Customer’s Equity</p></li>
              <li><p>Search on title</p></li>
              <li><p>Property Valuation</p></li>
            </ul>
            <h3>Submission for processing</h3>
            <p>At this time the Mortgage Processors will review the package submitted by the loan officer. The processor will order a review of:</p>
            <ul class="redbullet">
              <li><p>Title examination/legal work</p></li>
              <li><p>An appraisal of affordability</p></li>
              <li><p>The borrower and their background</p></li>
              <li><p>Real estate professionals valuation report</p></li>
              <li><p>Collateral coverage</p></li>
              <li><p>Any other risks that may be involved.</p></li>
            </ul>
            <p>If the Processor sees something that the Loan Officer missed they will request this documentation to be provided immediately. Because of the complexities of the mortgage process, a second set of eyes is very important to ensure that no documentation is missing and that all necessary information is obtained.</p>
            <p><strong><em>At this time any one of those reports may spur a request for additional documentation from the borrower.</em></strong></p>
            <p>If there are no issues, your mortgage file will now be forwarded for full approval.</p>
            <h3>Approval</h3>
            <p>The underwriter is responsible for reviewing the entire loan package and issuing a final approval. Usually this approval will be given subject to your meeting all conditions necessary for your mortgage to be disbursed. Disbursement conditions are usually a set of loan guidelines which the bank has put together as terms guiding the loan. These conditions will be found in your mortgage approval offer.</p>
            <p>At this time it’s important to sit with your loan officer to guide you through these terms and conditions carefully, as certain acts can lead to breach of terms and condition and termination of the contract.</p>
            <h3>Closing</h3>
            <p>You made it! This is the time that you actually sign those papers committing yourself till the loan is fully liquidated.  If all the steps above have been followed, the funds will be disbursed and you now own your own home.</p>
            <h3>Collection</h3>
            <p>This is the most critical part of the whole process. It entails making sure your mortgage repayment is paid as at when due. With ASO you get a text messages reminding you of your mortgage payments and when it’s due. It’s important to constantly keep in touch with your loan officer should the payment terms become unfavorable. They will advise you on the best payment terms in which you can restructure your mortgage.</p>
            <h3>Summary</h3>
            <p>The mortgage process can be complicated and intrusive and there are many times during the process when a borrower can be asked to produce more information.  This can be frustrating at times and make the borrower feel like the lender is at fault. However, by taking the above steps the process can be made simple and easy.</p>
            <p>It is important for consumers to be educated about the process and understand the reasons behind them to relieve potential frustration. I hope we have prepared you for some of the possible delays that may arise and why they occur. I certainly hope that you will choose ASO to help you obtain your mortgage</p>
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->