    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Privacy Policy
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainmed">
            <p>The protection of customer information is one of the most important responsibilities of ASO Savings & Loans Plc (“ASO” or “the Bank”). This policy represents the Bank’s commitment to you regarding the safeguard and use of your information. When you entrust us with your information, it shall only be used within our strict guidelines. ASO has developed its Privacy Policy to help you understand what data we collect, why we collect it, and what we do with it.</p>

            <h3><b>Personal Data</b></h3>
            <p>Personal data is defined under the Nigerian Data Protection and Compliance Regulations (NDPR) as: “Any information relating to an identified or identifiable natural person ('data subject'); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person”.</p>

            <h3><b>The Information We Collect</b></h3>
            <p>ASO will only collect your information in line with relevant regulations and laws.</p>

            <h3><b>Who Is Responsible for Your Personal Information?</b></h3>
            <p>ASO is your data controller and is responsible for processing your personal information described in this Privacy Policy. ASO uses the personally identifiable information you provide to communicate with you in response to your enquiries, to provide the services you request, and to manage your account. Any personally identifiable information gathered by ASO will be used for these purposes only. We will not disclose or divulge such data outside of the Bank, other than to third party providers that assist us in providing the services. ASO does not share, sell, rent or trade personally identifiable information with third parties for their promotional purposes.</p>

            <h3><b>The Reasons ASO Savings and Loans Plc Collects and Stores Personal Data</b></h3>
            <p>To provide you with suitable services, ASO needs to collect personal data. When you sign up for any of our Online Solutions or other ASO products and services or promotions that require registration, we ask you for personal information (such as your name, email address and an account password). For certain services, such as our payment services, we require your debit card information. We typically do not store this information and when we do, we maintain the data in encrypted form on secure servers. We may combine the information you submit under your account with information from other ASO services or third parties in order to provide you with a better experience and to improve the quality of our services. In any event, ASO is committed to ensuring that the information we collect, and use is appropriate for this purpose, and does not constitute an invasion of your privacy.
            <br>
            Additionally, once you open an account with ASO, you have automatically signed up to receive marketing materials. However, customers who are not interested may decide to unsubscribe.</p>

            <h3><b>Who We Share Your Information With</b></h3>
            <p>We share information:</p>
            <ul class="redbullet">
              <li><p>With trusted businesses or persons for the purpose of processing personal information on your behalf. We require that these parties agree to process such information based on our instructions and in compliance with the General Data Protection Regulation and the Nigerian Data Protection Regulation and any other appropriate confidentiality and security measures.</p></li>
              <li><p>To satisfy any applicable law, regulation, legal process or enforceable governmental request.</p></li>
              <li><p>To enforce applicable Terms of Service, including investigation of potential violations thereof. </p></li>
            </ul>
            <p>If ASO becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.</p>

            <h3><b>How Your Information Will Be Used</b></h3>
            <p>We shall use your information:</p>

            <ul class="redbullet">
              <li><p>When you have provided your consent or when the Bank is required by the law to do so.</p></li>
              <li><p>To provide you with excellent products and services, to manage our business and to offer an enriched and enhanced customer experience.</p></li>
              <li><p>To manage transactions, respond to your requests, and to provide you with more relevant products and services.</p></li>
              <li><p>To provide relevant information on our products and services, carry out your instructions, and provide Online Banking, mobile banking and other online product and services.</p></li>
              <li><p>To detect and prevent financial crimes including fraud, financing for terrorism and money laundering, this is to ensure security and business continuity.</p></li>
              <li><p>To meet our compliance obligations, to comply with laws and regulations and to share with regulators when absolutely necessary.</p></li>
              <li><p>To send you general announcements or important news about your account and request your feedback when necessary.  </p></li>
            </ul>

            <h3><b>How Do We Collect Your Information?</b></h3>
            <p>We may collect information from a range of sources, and it may relate to any of the products or services we currently provide or may have provided in the past.</p>
            <p>ASO will collect your personal information when you carry out the under-listed activities: </p>

          <ul class="redbullet">
            <li><p>open an account or perform transactions such as make deposits or withdrawals from your account.</p></li>
            <li><p>apply for loans or use your debit card;</p></li>
            <li><p>seek advice about your investment; </p></li>
            <li><p>seek information from our customer service provider including information concerning complaints and disputes; </p></li>
            <li><p>seek information about your credit history from credit bureau companies;</p></li>
            <li><p>provide account information such as your personal details e.g. name, gender, date and place of birth; contact information such as address, email address, and mobile numbers; </p></li>
            <li><p>provide your employment information; </p></li>
            <li><p>provide information concerning your identity e.g. photo ID, passport information, National ID card and nationality; </p></li>
            <li><p>use your login credentials for online banking and mobile banking applications. </p></li>
          </ul>
          <p>We also conduct necessary investigations i.e., due diligence checks, and AML/CFT checks and obtain information that we need to support our regulatory obligations, e.g. information about transaction details and detection of any suspicious and unusual activities.</p>
          <p>ASO is required to retain information in accordance with the law, such as information needed for income tax and audit purposes. How long certain kinds of personal data should be kept may also be governed by specific business-sector requirements and agreed practices. Personal data may be held in addition to these periods depending on individual business needs.</p>

          <h3><b>Log  Information</b></h3>
            <p>When you access ASO’s online services, our servers automatically record information that your browser sends whenever you visit a website.</p>

          <h3><b>User Communications</b></h3>
            <p>When you send email or other communications to ASO, we may retain those communications in order to process your inquiries, respond to your requests and improve our services.</p>

          <h3><b>Under What Circumstances Will ASO Contact Me?</b></h3>
            <p>ASO will contact her customers in circumstances where information supplied is irrelevant and or additional information is required for our internal processes. Our aim is not to interfere or be intrusive, and we undertake not to ask irrelevant or unnecessary questions. Moreover, the information you provide will be subject to rigorous measures and procedures to minimize the risk of unauthorized access or disclosure.</p>

          <h3><b>Can I Find Out the Personal Data That ASO Holds About Me?</b></h3>
            <p>At your request, ASO shall confirm what information we hold about you and how it is processed. If ASO does hold personal data about you, you can request the following information:</p>

          <ul class="redbullet">
            <li><p>Contact details of the data protection officer, where applicable.</p></li>

            <li><p>The purpose of the processing as well as the legal basis for processing.</p></li>
            <li><p>The categories of personal data collected, stored and processed.</p></li>
            <li><p>Recipient(s) or categories of recipients that the data is/will be disclosed to.</p></li>
            <li><p>If we intend to transfer the personal data to a third party or international organization, information about how we ensure this is done securely. The Honorable Attorney General of the Federation (HAGF) will approve sending personal data to some countries because they require a minimum standard of data protection. In other cases, we shall ensure that there are specific measures in place to secure your information.</p></li>
            <li><p>How long the data will be stored.</p></li>
            <li><p>Details of your rights to correct, erase, restrict or object to such processing.</p></li>
            <li><p>Information about your right to withdraw consent at any time.</p></li>
            <li><p>How to lodge a complaint with the supervisory authority (NITDA).</p></li>
            <li><p>Whether the provision of personal data is a statutory or contractual requirement, or a requirement necessary to enter into a contract, as well as whether you are obliged to provide the personal data and the possible consequences of failing to provide such data.</p></li>
            <li><p>The source of personal data, if it was not collected directly from you.</p></li>
            <li><p>Any details and information of automated decision making, such as profiling, and any meaningful information about the logic involved, as well as the significance and expected consequences of such processing.</p></li>
          </ul> 

          <h3><b>What Forms of ID Will I Need to Provide in Order to Access This?</b></h3>
            <p>ASO shall accept the following forms of valid ID (but not limited to) when information on your personal data is requested: International Passport, Driving License, National Identity Card, Permanent Voter card.</p>

          <h3><b>More information</b></h3>
            <p>Please do not hesitate to get in touch with us via <a href="mailto:dataenquires@asoplc.com">dataenquires@asoplc.com</a> or the <a href="https://www.asoplc.com/mail">contact page</a> on this site if you have any questions or queries regarding our privacy policy. </p>



          
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->