    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Fraud Alert
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainmed">
            <h1>Help Protect Yourself from Fraud</h1>
            <p>At ASO, the protection of all your assets – including your identity – is our top priority. We have a number of safety measures in place to help protect you, including industry-standard technologies on our website and teams dedicated to fighting fraud and identity theft. You can depend on us to safeguard your personal and financial information.</p>
            <p>Be on the lookout for phishing emails that appear to come from ASO Savings &amp; Loans PLC. These fraudulent emails may tell you to update or confirm your account information as a result of a security update, technology upgrade, or routine maintenance. To help protect yourself from these fraudulent emails, you should:</p>
            <ul class="redbullet">
              <li><p>check for your name at the top of the email – we know your name, but fraudsters are unlikely to address you personally,</p></li>
              <li><p>never respond to these emails,</p></li>
              <li><p>never provide any Internet banking or telephone banking log on details, or any debit card details,</p></li>
              <li><p>install and keep up-to-date, anti-virus software,</p></li>
              <li><p>install personal firewall software.</p></li>
            </ul>
            <p>Please visit our <span class="redlink"><a href="privacy_policy.php">Privacy Policy</a></span> section on this ASO Web site for more information.</p> 
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad3.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->