    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Terms/User Agreement
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainmed">
            <p align="center"><strong>ACCESSING THIS WEB SITE OR VIEWING ANY OF ITS CONTENTS SHALL CONSTITUTE YOUR AGREEMENT WITH THE TERMS BELOW.<br><br>IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS BELOW, DO NOT ACCESS THIS SITE, OR ANY PAGES THEREOF.<br><br></strong></p>
            <p><strong>Use of Information and Materials</strong></p>
            <p>Any person is hereby authorized to view the information available from this website for informational purposes only. No part of this information may be redistributed, copied, or reproduced without the prior written consent of ASO Savings &amp; Loans PLC. The information contained in these pages is subject to change without notice. We reserve the right to modify, suspend or discontinue, temporarily or permanently, the site (or any part thereof) from time to time, for any or no reason and without notice. ASO Savings &amp; Loans PLC will not be liable for any modification, suspension or discontinuance of the site. The information and materials contained on the site is subject to change.</p>
            <p><strong>No Warranties.</strong></p>
            <p>The information and materials contained in the website are provided &quot;as is&quot; without warranty of any kind, either express or implied, including without limitation, any warranty of accuracy, adequacy or completeness of the information and materials, title, non-infringement of third party rights, merchantability, fitness for a particular purpose and freedom from computer virus.</p>
            <p><strong>Third Party Links.</strong></p>
            <p>ASO Savings &amp; Loans PLC,is happy to make available to you links to other partner sites and believes the links contained on its pages are to reputable companies. Nevertheless, ASO Savings &amp; Loans PLC, makes no representations or warranties regarding non-ASO sites or the companies maintaining them. ASO does not control or monitor such websites and thus does not endorse the content or the use of such websites. If you choose to access non-ASO websites through links on our pages, you accept responsibility for all related risks.</p>
            <p><strong>Member Account; Password and Security.</strong></p>
            <p>If you use our services, tools or programs on the sites requiring registration or account set up, we may supply you with a password and account designation upon completing the registration process. You are responsible for maintaining the confidentiality and security of the password and account, and are fully responsible for all activities that occur under your password or account. You agree to immediately notify us of any unauthorized use of your password or account, or any other breach of security of which you are aware, and to ensure that you properly close out of your account at the end of each session. If your status as a user of the site is terminated, you must:</p>
            <ol class="redbullet">
              <li><p>cease using the site and any information obtained from the site, and</p></li>
              <li><p>destroy all copies of your account information, password and any information obtained from the site.</p></li>
            </ol>
            <p><u><i>We assume no liability for any loss or damage arising from your failure to comply with this section.</i></u></p>
            <p><strong>Email</strong></p>
            <p>Email messages sent to ASO Savings &amp; Loans PLC over the Internet cannot be guaranteed to be completely secure. ASO Savings &amp; Loans PLC is not responsible for any damages incurred by users if they send a message to the bank, or if the bank sends a message to them at their request, over the Internet. The bank is not responsible in any way for direct, indirect, special or consequential damages arising out of the use of this website.</p>
          </div> <!-- end: asomainmed -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../mls/" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->