		<div class="main">
			<div class="breadcrumb">
				<a href="../../">return to homepage</a> > <a href="../">News Room</a> > <a href="#">2010</a>
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pagehead">
						<div class="pageheadinner">
							News Room
						</div> <!-- end: pageheadinner -->
					</div> <!-- end: pagehead -->
					<menu>
						<ul class="slideMenu">
							<li><a href="#">News Room</a>
								<ul>
									<li><a href="../">2018</a></li>
									<li><a href="../2015/">2015</a></li>
									<li><a href="../2014/">2014</a></li>
									<li><a href="../2013/">2013</a></li>
									<li><a href="../2012/">2012</a></li>
									<li><a href="../2011/">2011</a></li>
									<li class="first activeTrail"><a href="#">2010</a></li>
									<li><a href="../2009/">2009</a></li>
									<li><a href="../2008/">2008</a></li>
								</ul>
							</li>
						</ul>
					</menu>
					<div class="asomain">
						<h1>2010</h1>
						<p class="smlsize">click to expand/collapse</p>
						<ul id="accordion">
							<li>
								<a href="#" class="item">Ofonime Akpasom wins ASO MyHouse 1 FOR 4 Promo</a> <span><i class="fa fa-calendar-o"></i> November 22, 2010 </span>
								<ul> 
									<li>
										<p>Ofonime Akpasom has emerged winner of the ASO Savings and Loans "MyHouse 1 for 4 raffle draw", held at the ThisDay Dome in Abuja. He came tops to win the star prize - a three-bedroom bungalow apartment located in Kubwa, on the outskirts of the City Center.</p>
										<p>Other prizes won include flat screen television sets, microwave ovens, fridges and refrigerators. Account Holders with a minimum balance of N20,000 (Pearl Account), N200,000 (Ruby Account) and N500,000 (Black Diamond Account) participated in the raffle draw.</p>
										<p>The MyHouse 1 for 4 Promo raffle draw, organized by the management of ASO Savings &amp; Loans PLC, is aimed at rewarding customers of the bank for their continuous patronage. This is the second ASO Savings House Promo held this year. Earlier in February, a customer Mr. Aremu Yekini Olayiola won a three bedroom bungalow at Karu, a sub urban area of the Federal Capital Territory Abuja.</p>
										<p>The Federal Mortgage Bank of Nigeria (FMBN) will provide the National Housing Fund (NHF) mortgage for civil servants and AIDC will carry out the construction works.</p>
										<p>The project will be carried out in 3 phases and is expected to be completed in 18 months.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">ASO/AIDC, Cross River State Government Sign Housing Agreement</a> <span><i class="fa fa-calendar-o"></i> October 2010 </span>
								<ul>
									<li>

									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">Celebrating Brand Excellence</a> <span><i class="fa fa-calendar-o"></i> March 28, 2010 </span>
								<ul> 
									<li>
										<p>ASO has been recognized as one of the award winning brands exceeding expectations in mortgage service delivery in Nigeria by the publishers of Guardian Newspaper published in the Guardian of Sunday March 28, 2010 Celebrating Brand Excellence; page 62.</p>
										<p>The publishers of Guardian Newspaper stated that building a winning brand is like a close friendship. It requires a consistent relationship over time, trust and emotional connection. Effective branding requires the delivery of good quality and good value, innovation, relevant differentiation, convenience and accessibility with your brand.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">The Ground Breaking Ceremony Of The Luvu-Madaki Low Income Housing Scheme</a> <span><i class="fa fa-calendar-o"></i> March 18, 2010 </span>
								<ul>
									<li>
										<p>Hassan Usman, the MD/CEO ASO Savings &amp; Loans PLC In his remarks at the ASO/Fuller low income ground breaking ceremony, observed that over 120 million Nigerians face housing problems due to their low income levels. ASO stressed that this initiative is aimed at providing homes for poor Nigerians. The growing housing need is such that demands prompt action by all stakeholders and one that should be given the required attention due to the importance of housing.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">MyHouse Raffle Draws</a> <span><i class="fa fa-calendar-o"></i> 8 February, 2010 </span>
								<ul> 
									<li>
										<p class="redlink"><a href="../../resources/downloads/THE-CREATION-OF-EXCEPTIONAL-HOUSING-FINANCE-001.jpg" target="_blank">click to view full article</a></p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">MyHouse Presentation to the winner</a> <span><i class="fa fa-calendar-o"></i> 8 February, 2010 </span>
								<ul>
									<li>
										<p class="redlink"><a href="#">click to view full article</a></p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">ASO Savings &amp; Loans PLC Rewards Customers</a> <span><i class="fa fa-calendar-o"></i> 3 February, 2010 </span>
								<ul>
									<li>
										<p>A customer of ASO Savings &amp; Loans PLC, Mr. Aremu Yekini Olayiola, has won a three bedroom bungalow at Karu, a sub urban area of the Federal Capital Territory Abuja, as a star prize in the ASO My House customer reward promotion held at the weekend in Abuja.</p>
										<p>More than a 150 winners emerged and won various prizes ranging from flat screen television, Deep freezers, Chest freezers and microwave ovens as consolation prizes in the promotion.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">ASO Savings &amp; Loans PLC Malaria Drive</a> <span><i class="fa fa-calendar-o"></i> 29 January, 2010 </span>
								<ul>
									<li>
										<p>ASO Savings &amp; Loans PLC donated Insecticide Treated Nets to pregnant women as part of their "Malaria Awareness Drive Initiative" at the Mpape Clinic a suburb of Abuja on January 27, 2010.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">ASO Back to School Drive at GJSS Kabusa</a> <span><i class="fa fa-calendar-o"></i> 13 January, 2010 </span>
								<ul>
									<li>
										<p>ASO Savings &amp; Loans PLC as part of its Back to School Drive on January 13, 2010, donated school packs to each student of the Government Junior Secondary School Kabusa Abuja. The packs received by each of the students of the school contained Notebooks books, mathematical sets, Rulers, Pencils, Biros, Dictionaries and erasers.</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="item">ASO Savings &amp; Loans PLC Earns A3 ratings</a> <span><i class="fa fa-calendar-o"></i> 3 January, 2010 </span>
								<ul>
									<li>
										<p>ASO Savings &amp; Loans PLC (ASO) has received its second investment grade rating report of BBB (triple B) for long term investment and A3 for short term investment from the Global Credit Rating Company (GCR).</p>
										<p>The rating which was awarded last year, according a statement from the organisation, is consistent with the rating received in the previous financial year, which is effectively in line with its balance sheet which did not change significantly between year ended March 31, 2008 and March 31, 2009.</p>
									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- end: asomain -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<div class="infoheader">
						<img src="../../resources/img/newinfoheaders/ad7.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../scripts/includes/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="../../scripts/includes/accordion.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery('#accordion a.item').click(function () { 
				jQuery('#accordion li').children('ul').slideUp('fast');
			jQuery('#accordion a.item').each(function () {
				if (jQuery(this).attr('rel')!='') {
					jQuery(this).removeClass(jQuery(this).attr('rel') + 'Over');
				}
			});
			jQuery(this).siblings('ul').slideDown('fast')
			jQuery(this).addClass(jQuery(this).attr('rel') + 'Over');          
			return false; 
			}); 
			});
	</script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->