		<div class="main">
			<div class="breadcrumb">
				<a href="../../">return to homepage</a> > <a href="../">News Room</a> > <a href="#">2008</a> 
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pagehead">
						<div class="pageheadinner">
							News Room - 2008 Archive
						</div> <!-- end: pageheadinner -->
					</div> <!-- end: pagehead -->
					<menu>
						<ul class="slideMenu">
							<li><a href="#">News Room</a>
								<ul>
									<li><a href="../">2018</a></li>
									<li><a href="../2015/">2015</a></li>
									<li><a href="../2014/">2014</a></li>
									<li><a href="../2013/">2013</a></li>
									<li><a href="../2012/">2012</a></li>
									<li><a href="../2011/">2011</a></li>
									<li><a href="../2010/">2010</a></li>
									<li><a href="../2009/">2009</a></li>
									<li class="first activeTrail"><a href="#">2008</a></li>
								</ul>
							</li>
						</ul>
					</menu>
					<div class="asomain">
						<div class="wholeyear">
							<h1>2008</h1>
							<p class="smlsize">Click to expand/collapse</p>
							<ul id="accordion">
								<li>
									<a href="#" class="item">Two mortgage firms make NSE's merit award shortlist</a> <span><i class="fa fa-calendar-o"></i> 10 November, 2008 </span>
									<ul> 
										<li>
											<p>Two of Nigeria's foremost primary mortgage institutions (PMIs), Union Homes Savings &amp; Loans PLC. and ASO Savings &amp; Loans PLC, are among the 45 quoted companies short-listed by the National Council of the Nigerian Stock Exchange (NSE) for its 31st Annual President's Award for the 2007 financial year. A statement from the NSE said the nominees were short-listed on the strength of their adherence to NSE's post-listing requirements.</p>
											<p>The statement said that over 300 companies had won the prestigious awards over the years, noting that this year's winner in each category would be announced on Thursday November 13, 2008. The award was instituted by the Exchange in 1972 to promote healthy competition and culture of corporate governance among quoted companies.</p>
											<p>Union Homes and ASO Savings along with United African Company Property Development PLC, were short-listed from the real estate sector, for adhering to the post-listing requirements of the stock exchange.</p>
											<p>According to the statement, companies were short-listed from various sectors of the economy, with two companies from the agriculture/agro allied sub-sector, five from the banking sub-sector, two from the brewing industry, three companies each from the conglomerates, construction and downstream petroleum sub-sectors while two companies were nominated from the emerging market.</p>
											<p>In addition, two companies were chosen from the engineering technology sub-sector, while three companies each were short-listed from the food and beverages, healthcare, insurance, printing, chemical and real estate sub-sectors.</p>
											<p>Access Bank PLC, First Bank of Nigeria PLC, First City Monument Bank PLC, Guarantee Trust Bank PLC and Oceanic Bank PLC were nominated from the banking sub-sector. Intercontinental WAPIC Insurance PLC, Standard Alliance PLC and Sovereign Trust PLC were short- listed from the insurance sub-sector.</p>
											<p>African Petroleum PLC, Mobil Oil Nigeria PLC and Oando PLC were the nominees from the downstream petroleum sub-sector, while Dangote Sugar Refinery PLC, Flour Mills Nigeria PLC and Nestle PLC emerged from the food and beverages sub-sector.</p>
											<p>The short-listed companies also included GlaxoSmithKline Nigeria PLC, May and Baker Nigeria PLC. and Neimeth International Pharmaceuticals PLC. from the healthcare sub-sector.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">Nigerian Stock Exchange Nomination for Compliance</a> <span><i class="fa fa-calendar-o"></i> November 2008 </span>
									<ul>
										<li>
											<p>ASO was nominated for the Nigerian Stock exchange Presidential Awards alongside Union Homes UACN Properties in the Real Estate, REITS &amp; Mortgage category. The event took place on Thursday November 13, 2008 at the Civic Centre, Ozumba Mbadiwe Street, VI. Lagos. The criteria for selecting nominees are: satisfactory compliance with statutory requirements, compliance with the listing and post listing requirements of the Nigerian Stock Exchange, readability &amp; creativity of Annual reports/accounts, Financial Performance/Return on Investment (ROI) and proper conduct of Annual General Meeting (AGM).</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">Ondo partners with ASO</a> <span><i class="fa fa-calendar-o"></i> November 2008 </span>
									<ul> 
										<li>
											<p>Ondo State Governor, Olusegun Mimiko has performed the ground-breaking of two low-cost housing development projects expected to turn out 1,350 housing units in two locations in the state capital, Akure.</p>
											<p><span class="redlink"><a href="../../resources/downloads/Ondo Partners Aso.jpg" target="_blank">Click to view full article</a></span></p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">World Quality Commitment (WQC) Award (Paris 2008)</a> <span><i class="fa fa-calendar-o"></i> September 2008 </span>
									<ul>
										<li>
											<p>ASO Savings &amp; Loans PLC received the World Quality Commitment International Star Award (Gold Category) on September 22, 2008 in recognition of commitment to Quality, Leadership, Technology and Innovation at the International Business Initiatives Directions Convention (B.I.D) Paris 2008.</p>
											<p>The award was given in recognition of ASO's commitment to Quality, Leadership, Technology and Innovation. ASO Savings &amp; Loans PLC represents success for Nigeria in the business world.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">Nigeria: ASO Savings &amp; Loans PLC listed on the NSE</a> <span><i class="fa fa-calendar-o"></i> 28 April 2008 </span>
									<ul> 
										<li>
											<p>Lagos — Determined to be one of the best mortgage financial institution in the country, ASO Savings &amp; Loans PLC. was last Friday listed on the Nigerian Stock Exchange (NSE).</p>
											<p>Disclosing this in Lagos at the weekend, the Managing Director of ASO Savings &amp; Loans PLC, Mr. Hassan Usman, said ASO Savings &amp; Loans PLC is offering 8,679,148,676 Ordinary shares of 50kobo each at N3.50 per share at the Nigeria Stock Exchange, (NSE).</p>
											<p>Mr. Usman disclosed that ASO Savings &amp; Loans will open up about 30 branches nationwide to cater for the mortgage need of Nigerians.</p>
											<p>Speaking on the objective of its company in getting listed on the Stock Exchange, Mr. Usman said "we are today one of the top two as far as mortgage business is concerned, and having finance Mortgages and other related business in the country, we plan to be a major player and to this extent we believe that with today's event we are very much close to reaching the top in mortgage financing.</p>
											<p>He added, "We have great vision and big plans, we have arrived and people should just keep watch."</p>
											<p>Performing the official Introduction of ASO Savings &amp; Loans PLC. 8,679,I48,676 ordinary shares of N50 kobo each at N3.50 per share on the floor of the Nigeria Stock Exchange,the Assistant Deputy Director General of Nigeria Stock Exchange NSE Mr. Laz Musa Elkama stated that the company has emerged the first mortgage institution from the city of Abuja to get listed on the stock exchange and also emerged the second of such after Union Homes Savings, a subsidiary of Union Bank to get listed.</p>
											<p>He stated that the board of NSE has carried out detail investigations about ASO Savings &amp; Loans PLC, and they have met all the requirements for enlistment on the NSE. Incorporated in 1995 as private building company in Mortgage and building services and got converted into PLC. in 2005 with shares capital of 10billion.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">Union Homes vs ASO: ASO leading square and fair (Financial Standard article)</a> <span><i class="fa fa-calendar-o"></i> April 2008 </span>
									<ul>
										<li>
											<p class="redlink"><a href="#">click to view full article</a></p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">From Their Values, Intergrity Flows (This Day article)</a> <span><i class="fa fa-calendar-o"></i> April 2008 </span>
									<ul>
										<li>
											<p class="redlink"><a href="#">click to view full article</a></p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO Savings &amp; Loans Signs $5m Credit With Shelter Afrique</a> <span><i class="fa fa-calendar-o"></i> April 2008 </span>
									<ul>
										<li>
											<p>ASO Savings &amp; Loans PLC one of Nigeria's fastest growing mortgage Institutions yesterday bolstered its commitment to providing affordable housing for Nigerians as it signed a $5 million line of credit from Shelter Afrique which will be used to fund six small scale housing projects within the Federal Capital Territory.</p>
											<p>At the colourful signing ceremony held at Transcorp Hilton Hotel in Abuja, the Managing Director ASO Savings &amp; Loans PLC, Hassan Musa Usman said the bank had looked forward to the event with great expectations which he maintains opens a new chapter in the bank's history in its quest for leadership in the mortgage/housing finance sector of the nation's economy.</p>
											<p>&quot;<em>When we commenced our transformation drive nearly 3 years ago, we identified the need for strategic relationships with institutions such as Shelter Afrique as instrumental in achieving our objective of affordable housing in Nigeria; today we witness the realisation of this strategic initiative, which has bolstered our confidence and resolve to forge ahead with initiatives aimed at meeting the ever increasing need for affordable housing in Nigeria</em>&quot;, Hassan said.</p>
											<p>ASO Savings, he maintained, had carved a niche for itself in the nation's housing sector, more so &quot;at a time when most financial institutions are reluctant to finance mortgages, the bank is proud to have assisted well over 11,000 families to own their homes by providing mortgages worth over N40 billion, in addition to funding several developers in order to expand the supply of mortgageable homes.&quot;</p>
											<p>He disclosed that the initial $5 million will be used for the construction of 44 housing units targeted at the middle income bracket, adding that ASO Savings was optimistic that future collaborations would provide access to the tune of $30 million from Shelter Afrique in the medium term including the expertise and experience of Shelter Afrique in delivering housing solutions in Africa.</p>
											<p>The Chairman, ASO Savings &amp; Loans PLC, Abdu Mukhtar said the housing sector in Nigeria holds so much promise in spite of the global economic crisis and assured that the sector will continue to be a robust sector in Nigeria, while also pledging the bank's preparedness to be a global player by building on the relationship with Shelter Afrique and similar institutions across the globe.</p>
											<p>Managing Director Shelter Afrique, Mazi Osita Okonkwo said his organisation chose to partner with Aso Savings given its size, programmes and products which stands it out as a very strong Mortgage Institution and a finance power house for middle and low income earners.</p>
											<p>Okonkwo noted that Shelter Afrique was not only providing the credit facility but intends to build a relationship with ASO Savings in which both organisations will exchange experience over time.</p>
											<p>Shelter Afrique based in Kenya he said is owned by African governments with Nigeria as member and is delivering housing products to people in 42 countries through private and public institutions on the Continent.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td colspan="2" align="center" class="medgray"><strong>Scenes from the ASO/Shelter Afrique Kenya Signing Ceremony of $5Million Line of Credit to ASO at The Transcorp Hilton Hotel Abuja on January 29, 2008.</strong></td>
												</tr>
												<tr>
													<td align="center"><img src="../../resources/img/news/news1.png" width="250" height="167" /></td>
													<td align="center"><img src="../../resources/img/news/news2.png" width="250" height="167" /></td>
												</tr>
												<tr>
													<td class="smlsize clrgrey" align="center">L-R: Hassan Usman and the MD Shelter Afrique Mazi Osita Okonkwo and Arnold Shilimi Legal Adviser Shelter</td>
													<td align="center" class="smlsize clrgrey">Hassan Usman, presenting a speech at the event.</td>
												</tr>
												<tr>
													<td align="center"><img src="../../resources/img/news/news3.png" width="250" height="167" /></td>
													<td align="center"><img src="../../resources/img/news/news4.png" width="250" height="166" /></td>
												</tr>
												<tr>
													<td align="center" class="smlsize clrgrey">L-R: Funmi Nwachukwu, Kojo Sagoe, Tunji Abudu at the event.</td>
													<td class="smlsize clrgrey" align="center">Fatima Abbas Hassan (NTA correspondent) interviewing Hassan Usman</td>
												</tr>
												<tr>
													<td align="center"><img src="../../resources/img/news/news5.png" width="250" height="167" /></td>
													<td align="center"><img src="../../resources/img/news/news6.png" width="250" height="166" /></td>
												</tr>
												<tr>
													<td class="smlsize clrgrey" align="center">L-R: ED, O&amp;T Shehu Inuwa Mohammed, CS/GC, Bilkisu Rimi, ED, P&amp;M Muhammad Jibrin at the event.</td>
													<td class="smlsize clrgrey" align="center">L-R: Dr. Abdu Mukhtar, Bilkisu Rimi, Hassan Usman and Mazi Osita Okonkwo during the exchange of signed documents</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
							</ul>
						</div> <!-- end: wholeyear -->
					</div> <!-- end: asomain -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<div class="infoheader">
						<img src="../../resources/img/newinfoheaders/ad5.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.mousewheel.js"></script>
			<script type="text/javascript" src="../../scripts/includes/accordion.js"></script>
			<script type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery('#accordion a.item').click(function () { 
				jQuery('#accordion li').children('ul').slideUp('fast');
			jQuery('#accordion a.item').each(function () {
				if (jQuery(this).attr('rel')!='') {
					jQuery(this).removeClass(jQuery(this).attr('rel') + 'Over');
				}
			});
			jQuery(this).siblings('ul').slideDown('fast')
			jQuery(this).addClass(jQuery(this).attr('rel') + 'Over');          
			return false; 
			}); 
			});
	</script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->