		<div class="main">
			<div class="breadcrumb">
				<a href="../../">return to homepage</a> > <a href="#">News Room</a> > <a href="#">2015</a>
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pagehead">
						<div class="pageheadinner">
							News Room
						</div> <!-- end: pageheadinner -->
					</div> <!-- end: pagehead -->
					<menu>
						<ul class="slideMenu">
							<li><a href="#">News Room</a>
								<ul>
									<li><a href="../">2018</a></li>
									<li class="first activeTrail"><a href="#">2015</a></li>
									<li><a href="../2014">2014</a></li>
									<li><a href="../2013">2013</a></li>
									<li><a href="../2012">2012</a></li>
									<li><a href="../2011">2011</a></li>
									<li><a href="../2010">2010</a></li>
									<li><a href="../2009">2009</a></li>
									<li><a href="../2008">2008</a></li>
								</ul>
							</li>
						</ul>
					</menu>
					<div class="asomain">
						<h1>2015</h1>
						<p class="smlsize">click to expand/collapse</p>
						<ul id="accordion">
							<li>
								<a href="#" class="item" name="story1">ASO Partners With FCT On Karu and Lugbe Market Commissioning</a> <span><i class="fa fa-calendar-o"></i> February 19, 2015</span>
								<ul> 
									<li>
										<p style="margin-top:20px;">As part of our continuous effort to establish quality infrastructure and amenities in the federal capital territory, ASO savings and Loans in partnership with the FCT administration commissioned two standard market facilities in Karu and Lugbe , in the Abuja Municipal Area Council, AMAC.</p>
										<p>At the commissioning ceremony which was performed by The Minister of State, for FCT, Oloye Olajumoke Akinjide, the Managing Director of ASO Savings and Loans Plc. Mr. Hassan Musa Usman, said although the name ASO is synonymous with housing delivery, it is also passionate about commercial real estate development, believing it is not enough to provide only housing for Nigerians.</p>
										<p>The primary objective of the bank is to provide the Nigerian populace access to residential and commercial mortgages and help them meet their housing and commercial needs and aspirations.</p>
										<p>The Karu market structure sit on am approximate land are of 54,330m2. The market has a total of 1,405 shops, consisting of different sizes of lock-up shops, restaurants, canteen, cold rooms, meat shops, laundry block, open market spaces, rest rooms and band building, fire service,  police block and administration block.</p>
										<p>The Lugbe relocation market premises boast of standard market facilities consisting of 998 shops across three floors. These shops are a mix of lock-up shops of different sizes, open shops, warehouses, restaurants, supermarket, banking hall, restaurant, meat shops, cold rooms and office spaces. There is also a security post, fire service station, police station and well as a clinic.</p>
										<p>The AMAC Lugbe relocation market is one of the markets which ASO has partnered with the FCT to provide, amongst other markets in Wuse, Karu and Kubwa which ASO facilitated in development and sales. Having assisted over 15,000 civil servants own their homes under the Sale of Federal Government House (SOGFH), programme, the bank is committed to helping residents of the FCT to own their shops as well.</p>
										<p>The successful partnership with the FCT on market development has provided the bank the momentum to execute similar projects in other parts of the county. The bank is also about to commence the development of an ultramodern market comprising 4,020shops in the Lekki axis of Lagos state on a land asset measuring 10.9 hectares.</p>
										<p>Usman stated that the developer intends to create premium commercial and business hub for the Lekki district, in line with the federal government strategic development plan to provide world class infrastructure across the county to support residential, business and leisure activities.</p>
										<table width="100%" border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td align="center" width="50%"><img src="../../resources/img/news/news67.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>From left: Member House of Reps, Zephaniah Jisola; Permanent Secretary FCTA, Mr. John Chukwu; Minister of State for FCT, Oloye Olajumoke Akinjide; Chairman, Abuja Municipal Area Council (AMAC) , Micah Jida and Managing Director  ASO Savings and Loans Plc, Mr. Hassan Usman, during the commissioning ceremony</td>
											</tr>
										</table>
									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- end: asomain -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../../mls" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<div class="infoheader">
						<img src="../../resources/img/newinfoheaders/ad7.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../scripts/includes/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="../../scripts/includes/accordion.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery('#accordion a.item').click(function () { 
				jQuery('#accordion li').children('ul').slideUp('fast');
			jQuery('#accordion a.item').each(function () {
				if (jQuery(this).attr('rel')!='') {
					jQuery(this).removeClass(jQuery(this).attr('rel') + 'Over');
				}
			});
			jQuery(this).siblings('ul').slideDown('fast')
			jQuery(this).addClass(jQuery(this).attr('rel') + 'Over');          
			return false; 
			}); 
			});
	</script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->