		<div class="main">
			<div class="breadcrumb">
				<a href="../../">return to homepage</a> > <a href="../">News Room</a> > <a href="#">2011</a>
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pagehead">
						<div class="pageheadinner">
							News Room - 2011 Archive
						</div> <!-- end: pageheadinner -->
					</div> <!-- end: pagehead -->
					<menu>
						<ul class="slideMenu">
							<li><a href="#">News Room</a>
								<ul>
									<li><a href="../">2018</a></li>
									<li><a href="../2015/">2015</a></li>
									<li><a href="../2014/">2014</a></li>
									<li><a href="../2013/">2013</a></li>
									<li><a href="../2012/">2012</a></li>
									<li class="first activeTrail"><a href="#">2011</a></li>
									<li><a href="../2010/">2010</a></li>
									<li><a href="../2009/">2009</a></li>
									<li><a href="../2008/">2008</a></li>
								</ul>
							</li>
						</ul>
					</menu>
					<div class="asomain">
						<div class="wholeyear">
							<h1>2011</h1>
							<p class="smlsize">Click to expand/collapse</p>
							<ul id="accordion">
								<li>
									<a href="#" class="item">ASO Holds 12th &amp; 13th AGM in Abuja</a> <span><i class="fa fa-calendar-o"></i> November 30, 2011 </span>
									<ul> 
										<li>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center" width="50%"><img src="../../resources/img/news/news19.png" width="250" height="166"></td>
													<td align="center" width="50%"><img src="../../resources/img/news/news20.png" width="250" height="166"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Hassan Usman (ASO MD) clearing shareholder's doubts.</td>
													<td>ASO shareholders impressed over profit made in the year ended 2011.</td>
												</tr>
												<tr>
													<td align="center"><img src="../../resources/img/news/news21.png" width="250" height="166"></td>
													<td align="center"><img src="../../resources/img/news/news22.png" width="250" height="166"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Bilkisu Rimi (Company Secretary) reading out the notice of the 12th &amp; 13th AGM.</td>
													<td>L-R: Hassan Usman (ASO MD), Abdu Muktar (Chairman of the Board) and Collins Chikeluba (Board Director) after the 12th &amp; 13th Annual General Meeting.</td>
												</tr><tr>
													<td align="center"><img src="../../resources/img/news/news23.png" width="250" height="166"></td>
													<td align="center"><img src="../../resources/img/news/news24.png" width="250" height="166"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Members of the Board of ASO during the 12th &amp; 13th AGM.</td>
													<td>Shareholders ackowledge banks performance.</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO Receives RIMA Awards</a> <span><i class="fa fa-calendar-o"></i> November 10, 2011 </span>
									<ul>
										<li>
											<p>Recently, our Record Management Project, <b>Archives</b>, championed by Ramalan Suleiman (Internal Control unit), won an award at the last Record and Information Management (RIMA) event which took place in Lagos recently. Pictures from the event are below.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news17.png" width="250" height="188"></td>
													<td align="center"><img src="../../resources/img/news/news18.png" width="250" height="191"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Ramalan Suleiman and Dr Anne Thuston OBE, International Director of International Record Management Trust (London)at the event.</td>
													<td>Ramalan Suleiman posing for a picture with Dr Anne Thuston OBE after the event in Lagos.</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO Management pays courtesy visit to Oba of Benin &amp; Edo State</a> <span><i class="fa fa-calendar-o"></i> October 19, 2011 </span>
									<ul> 
										<li>
											<p>As part of efforts to better position Benin Branch for higher patronage and recognition in Edo State, the ASO Management Team, led by the Managing Director, Hassan Usman, paid a courtesy visit to Oba Erediawa of Benin.</p>
											<p>This was subsequently followed by another courtesy visit to the Executive Governor of the State, Comrade Adams Oshiomhole.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news9.png" width="250" height="167"></td>
													<td align="center"><img src="../../resources/img/news/news10.png" width="250" height="167"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Oba Erediawa and the ASO Management Staff.</td>
													<td>Comrade Adams Oshiomole with ASO MD and Management Team.</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO donates school toilet to LEA Primary School, Kabusa</a> <span><i class="fa fa-calendar-o"></i> October 19, 2011 </span>
									<ul>
										<li>
											<p>In keeping to the tenets of Corporate Social Responsibility (CSR ) ASO Savings &amp; Loans PLC recently constructed and donated a school toilet to LEA Primary School, Kabusa.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news15.png" width="250" height="188"></td>
													<td align="center"><img src="../../resources/img/news/news16.png" width="250" height="187"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>GH Northern Region, Ibrahim Admau (middle) with ASO Staff pupils &amp; Staff of LEA Primary School, Kabusa.</td>
													<td>School toilet constructed &amp; donated by ASO Savings &amp; Loans PLC.</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO sponsors HIV &amp; Malaria Campaign</a> <span><i class="fa fa-calendar-o"></i> October 19, 2011 </span>
									<ul> 
										<li>
											<p>ASO in collaboration with Silver Lining for the needy initiative (SLNI), organized a HIV &amp; Malaria Campaign at a Village in Mpape, Abuja, recently.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news11.png" width="250" height="188"></td>
													<td align="center"><img src="../../resources/img/news/news12.png" width="250" height="187"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Mohammed Shehu (Executive Director Operations &amp; Technology ASO Savings &amp; Loans PLC) distributing mosquito nets to one of the many participants at the campaign.</td>
													<td>Counselor from SLNI counseling participants &amp; ASO Staff prior to their HIV testing.</td>
												</tr>
												<tr>
													<td align="center"><img src="../../resources/img/news/news13.png" width="250" height="187"></td>
													<td align="center"><img src="../../resources/img/news/news14.png" width="250" height="187"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>Participants queuing up to ascertain their HIV Status.</td>
													<td>HIV testing in progress at the onsite lab.</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">IFC meets with top Management Team of ASO Savings &amp; Loans PLC</a> <span><i class="fa fa-calendar-o"></i> October 19, 2011 </span>
									<ul>
										<li>

										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">AIDC &amp; ASO Collaborates with Abia State Government on Housing Development</a> <span><i class="fa fa-calendar-o"></i> August 8, 2012 </span>
									<ul> 
										<li>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news8.png" width="500" height="332"></td>
												</tr>
												<tr class="smlsize clrgrey" align="center">
													<td>L-R: Mohammed Shehu (Executive Director Operations &amp; Technology ASO Savings &amp; Loans PLC), Solomon Adegbie (Country Manager Africa Department, IFC), Hassan Usman (Managing Director, ASO Savings &amp; Loans PLC), Thierry Tanoh (Vice President, Sub-Saharan Africa, Latin America and the Caribbean Region and Western Europe), Isimkah Ibuakah (Legal Adviser Nigeria Corporate Governance Programme, IFC), Gattah Woji (Head Treasury ASO Savings &amp; Loans PLC), Nagada Arhyel (Special Assistant to the ASO MD)</td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">MD of ASO Savings &amp; Loans PLC Advocates Incentives For PMIs</a> <span><i class="fa fa-calendar-o"></i> October 6, 2011 </span>
									<ul>
										<li>
											<p>The MD of ASO Savings &amp; Loans PLC Mr. Hassan Usman has stated that although the Nigerian economy has grown from $46BN to $247bn in the last ten years, considerable impact is still yet to be made to improve housing delivery in the country. He made this known at a conference on Shelter and Urban Renewal, held recently to commemorate the World Habitat Day.</p>
											<p>According to him, less than 30,000 housing units are developed every year as against the annual demand of between 500,000 to 1,000,000 by Nigerians. He added that the absence of viable quality mass housing developers and the reluctance of Banks to fund residential real estate among other factors, contributes largely to this challenge.</p>
											<p>Enumerating on incentives that are needed to boost the Housing Sector, Mr. Hassan said access to inexpensive lands, 5 year Tax holiday for Mass Housing developers, Mortgage Interest Relief and the creation of a N250BN origination fund will go a long way. He advocated that allowing PMIs access to CBN discount window and the foreign exchange market would encourage better mortgage creation. Added to this, allowing investments by PMIs and Banks in mortgage assets and mortgage backed securities to count as part of their liquidity reserve requirements whilst allowing recapitalized PMIs to go to clearing House were noted by the MD as potential spurs to further the provision of mortgages.</p>
											<p> Mr. Hassan concluded that to reduce the current Housing crisis in Nigeria, a critical intervention is required to increase Housing Finance from 1% to 5% of GDP within the next 5 years.</p>
											<table width="100%" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td align="center"><img src="../../resources/img/news/news7.png" width="500" height="301" /></td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO sponsors Emir of Kano Golf Tournament</a> <span><i class="fa fa-calendar-o"></i> September 8, 2011 </span>
									<ul> 
										<li>
											<p>As part of efforts aimed at promoting and supporting the game of golf in Nigeria, ASO Savings &amp; Loans PLC in collaboration with the Nigeria Professional Golf Association sponsored the Third Emir of Kano Golf tournament, held at the Kano Golf Club.</p>
											<p>The six-day tournament which featured two cadres – professional and amateur, attracted some of the best golfers from across the nation.</p>
											<p>The management of the bank was represented by the Executive Director Operations & Technology, Shehu Inuwa Mohammed. Speaking at the closing ceremony, Mr. Mohammed said ASO was desirous of supporting the growth of golf in the country, in view of the ever-rising popularity of the game globally, of which he said Nigeria must not be left out.</p>
											<p> The event was graced by the Executive Governor of Kano, Dr Rabiu Musa Kwankwaso, and the Turakin Kano, Alhaji Nasir Ado Bayero, who represented the Emir. Prizes were given to deserving winners at the end of the tournament.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item"></a>ASO Donates Educational Materials To LEA School Garki<span><i class="fa fa-calendar-o"></i> June 14, 2011 </span>
									<ul>
										<li>
											<p>In furtherance of its unwavering commitment towards supporting education for all, the management and staff of ASO Savings &amp; Loans PLC donated school materials to LEA School Garki-Abuja, as part of its BACK-TO-SCHOOL-DRIVE campaign.</p>
											<p>Led by the Executive Director Finance, Peter Longe, the ASO team donated materials such as pencils, erasers, math sets, rulers etc. At the presentation ceremony, Mr. Longe said that ASO was committed to alleviating the living standards of the less-privileged members of society, especially indigent students. This he said the donation would help in bringing the benefits of development to communities that are in dire need. He urged the students to be diligent and focused, as that was the only way they could become meaningful members of society.</p>
											<p>The Assistant Head Teacher (I) of LEA School, Mrs. Elizabeth Arogundade thanked the management of ASO for assisting the school with the donation, noting that a well-grounded educational foundation would go a long in positioning the students for future leadership roles. She promised that the materials would be put to judicious use for the benefit of the students.</p>
											<p>The Back to School Drive is a corporate social responsibility of ASO Savings &amp; Loans PLC which started in 2005. The objective is to assist children and wards of low income earners through basic education.</p>
											<p>By this, ASO is reaffirming its firm commitment to becoming a leadingfinancial services provider by 2012 by building mutually profitable relationship anchored on excellence, while maximizing the impact and value of education towards economic development.</p>
											<p>Photo shots from the ASO BACK-TO-SCHOOL-DRIVE visit to LEA School Garki-Abuja on June 8th, 2011.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">MD ASO Savings &amp; Loans Honoured at ThisDay Awards 2011</a> <span><i class="fa fa-calendar-o"></i> March, 2011 </span>
									<ul> 
										<li>
											<p>It was a day of celebration at the 16th Thisday Awards ceremony held in Lagos, as the Managing Director &amp; Chief Executive Officer of ASO Savings &amp; Loans PLC, Mr. Hassan Usman bagged the prestigious <strong>2011 Young Global Champions Award </strong>for <strong><em>Transforming a Savings &amp; Loans Entity.</em></strong></p>
											<p>This is in recognition of his efforts at not only re-positioning ASO Savings &amp; Loans PLC but also for putting the bank on the path to becoming one of Nigeria's Leading Financial Institutions. </p>
											<p>Mr. Hassan, who was accompanied to the ceremony by top management staff from the bank, was presented with his award by the former governor of the state of  California and renowned Hollywood actor, Arnold Schwarzenegger. Also present at the award ceremony was the former President of the United States of America, Bill Clinton.</p>
											<p>Over 50 Nigerians received awards for excellence in governance, and institutional development.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO Savings host 1st Housing Exhibition</a> <span><i class="fa fa-calendar-o"></i> March 17-18, 2011 </span>
									<ul>
										<li>
											<p>It was a day of celebration at the 16th Thisday Awards ceremony held in Lagos, as the Managing Director &amp; Chief Executive Officer of ASO Savings &amp; Loans PLC, Mr. Hassan Usman bagged the prestigious <strong>2011 Young Global Champions Award </strong>for <strong><em>Transforming a Savings &amp; Loans Entity.</em></strong></p>
											<p>This is in recognition of his efforts at not only re-positioning ASO Savings &amp; Loans PLC but also for putting the bank on the path to becoming one of Nigeria's Leading Financial Institutions. </p>
											<p>Mr. Hassan, who was accompanied to the ceremony by top management staff from the bank, was presented with his award by the former governor of the state of  California and renowned Hollywood actor, Arnold Schwarzenegger. Also present at the award ceremony was the former President of the United States of America, Bill Clinton.</p>
											<p>Over 50 Nigerians received awards for excellence in governance, and institutional development.</p>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="item">ASO Emerges Number One Mortgage Institution in Nigeria</a> <span><i class="fa fa-calendar-o"></i> January 3, 2011 </span>
									<ul> 
										<li>
											<p>Our drive towards becoming the national leader in mortgages has materialized, as ASO Savings &amp; Loans PLC emerged winner of the prestigious "Sectoral Leadership Award for Mortgage Companies in Nigeria" on November 29th 2010.</p>
											<p>The event was held at The Oriental Hotel, Victoria Island Lagos.</p>
											<p>This award bestowed on ASO, is in recognition of our outstanding operational and stock market performance in the 2009 assessment.</p>
											<p>The Executive Director, Operations &amp; Technology, Shehu Inuwa Mohammed, and Chief Financial Officer, Peter Longe, collected the award on behalf of The Management and Staff of ASO Savings &amp; Loans PLC.</p>
											<p>The awards ceremony is an annual event, organized by The Pearl Awards Project Secretariat for Companies quoted on the Floor of The Nigerian Stock Exchange.</p>
										</li>
									</ul>
								</li>
							</ul>
						</div> <!-- end: wholeyear -->
					</div> <!-- end: asomain -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<div class="infoheader">
						<img src="../../resources/img/newinfoheaders/ad5.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="../../scripts/includes/jquery.mousewheel.js"></script>
			<script type="text/javascript" src="../../scripts/includes/accordion.js"></script>
			<script type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery('#accordion a.item').click(function () { 
				jQuery('#accordion li').children('ul').slideUp('fast');
			jQuery('#accordion a.item').each(function () {
				if (jQuery(this).attr('rel')!='') {
					jQuery(this).removeClass(jQuery(this).attr('rel') + 'Over');
				}
			});
			jQuery(this).siblings('ul').slideDown('fast')
			jQuery(this).addClass(jQuery(this).attr('rel') + 'Over');          
			return false; 
			}); 
			});
	</script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->