		<div class="main">
			<div class="breadcrumb">
				<a href="../">return to homepage</a> > <a href="#">News Room</a>
			</div> <!-- end: breadcrumb -->
			<div class="mainpagecontent">
				<div class="contentwrapper">
					<div class="pagehead">
						<div class="pageheadinner">
							News Room
						</div> <!-- end: pageheadinner -->
					</div> <!-- end: pagehead -->
					<menu>
						<ul class="slideMenu">
							<li><a href="#">News Room</a>
								<ul>
									<li class="first activeTrail"><a href="#">2018</a></li>
									<li><a href="2015">2015</a></li>
									<li><a href="2014">2014</a></li>
									<li><a href="2013">2013</a></li>
									<li><a href="2012">2012</a></li>
									<li><a href="2011">2011</a></li>
									<li><a href="2010">2010</a></li>
									<li><a href="2009">2009</a></li>
									<li><a href="2008">2008</a></li>
								</ul>
							</li>
						</ul>
					</menu>
					<div class="asomain">
						<h1>2018</h1>
						<p class="smlsize">click to expand/collapse</p>
						<ul id="accordion">
							<li>
								<a href="#" class="item">ASO Savings Commissions ASO Garden Estate, Karsana</a> <span><i class="fa fa-calendar-o"></i> May 15, 2018</span>
								<ul> 
									<li>
										<p style="margin-top:20px;">Nigeria's leading Primary Mortgage Bank (PMB) ASO Savings and Loans Plc, Friday, scored another major goal as it commissioned the phase 1 of the ASO Garden Estate, Karsana, Abuja.</p>
										<p>The Estate, strategically located within the Karsana East District of Abuja, comprises of 249 Housing Units made up of 129 units of 2-bedroom apartments, 117 units of 3-bedroom apartments and three units of 4-bedroom duplexes.</p>
										<p>The housing project, conceived by ASO Savings and Loans Plc in partnership with Global High Property Development Ltd (Global High), is expected to raise the bar in housing projects delivery not only in the FCT but in the country.</p>
										<p>The project was fully financed by ASO Savings and Loans Plc.</p>
										<p>Managing Director of Federal Mortgage Bank of Nigeria, FMBN, Arc. Ahmed Musa Dangiwa who led dignitaries on a tour of the Estate and later did the commissioning, commended the Board, Management and Staff of ASO Savings and Loans Plc for successfully completing a project of this magnitude in spite of the challenging economic environment.</p>
										<p>Earlier on in his goodwill message, the chairman of the Board of Directors of ASO Savings and Loans Plc, Alhaji Ali Magashi also noted that the delivery of the estate is no small feat given the harsh economic realities.</p>
										<p>He said; "for those of you stakeholders, you know what a tough economic operating environment it has been for primary mortgage banks in Nigeria, as such, the delivery of the estate is no small feat for ASO."</p>
										<p>It is for this reason that Alhaji Magashi commended "the board and management and all staff for their continuous effort and commitment to weather the many storms and make ASO the true leader that it is."</p>
										<p>Executive Director, ASO Savings &amp; Loans Plc, Risikatu Ahmed spoke in the same vein, expressing her delight that in spite of the enormous challenges, her bank was able to see the project through.</p>
										<p>"I am therefore on behalf of the management and staff of ASO Savings and Loans Plc, under the leadership of a great man whose supervision and resilience, I am delighted to say, we are witnessing the official opening of phase 1 of this estate which promises to bring more meaning to the housing growth within the FCT and the nation."</p>
										<p>The journey to the last Friday commissioning of ASO Garden Estate started with the acquisition of 27 Hectares within the Karsana East District of Abuja by ASO Savings and Loans Plc.</p>
										<p>The leading Primary Mortgage Bank later approved the required funding for Global High and the company immediately mobilized to site. Global High utilized 4.6 hectares of the 27 hectares for the construction of the phase 1 of the estate.</p>
										<p>The completed phase 1 project stands out for high quality construction and finishing, first-rate infrastructure, breathtaking and stately civic facilities and posh recreation area.</p>
										<p>Work has since commenced on the phase 2 project.</p>
										<table width="100%" border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td align="center" width="50%"><img src="../resources/img/news/news68.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>From left, Alhaji Ali Magashi (Chairman, ASO Savings &amp; Loans Plc), Mr Toyin Okeowo (Non-Executive Director, ASO Savings &amp; Loans Plc), Risikatu Ahmed (Executive Director, ASO Savings &amp; Loans Plc) and Arc. Ahmed Dangiwa (Managing Director Federal Mortgage Bank of Nigeria).</td>
											</tr>
											<tr>
												<td align="center" width="50%"><img src="../resources/img/news/news69.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td align="center" width="50%"><img src="../resources/img/news/news70.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>Overhead tank at the estate.</td>
											</tr>
											<tr>
												<td align="center" width="50%"><img src="../resources/img/news/news71.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>Overview of the estate.</td>
											</tr>
											<tr>
												<td align="center" width="50%"><img src="../resources/img/news/news72.png"></td>
											</tr>
											<tr class="smlsize clrgrey" align="center">
												<td>Newly installed transformer.</td>
											</tr>
										</table>
									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- end: asomain -->	
				</div> <!-- end: contentwrapper -->	  
				<div class="asoshade gradient">	
					<div class="insideshadow">&nbsp;
					</div> <!-- end: insideshadow -->
				</div> <!-- end: asoshade -->
				<div class="asoside">
					<div id="newsletter">
						<a href="../mls" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
					</div> <!-- end: newsletter -->
					<div class="quicklinks">
						<script type="text/javascript">
							<!--
							function parseNavigation(ob) {
								toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");

								targetWindow = toBeBrokenDown[0];
								targetURL    = toBeBrokenDown[1];

								if (targetWindow!=='') {
									window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
									ob.selectedIndex = 0;
								} else {		
									window.open(targetURL,'_top')
								}
							}
							//-->
						</script>
						<form name="form" id="form" action="">
							<select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
								<option selected="selected">Quick Links</option>
								<option value="|http://www.asoplc.com/company/">About ASO</option>
								<option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
								<option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
								<option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
								<option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
								<option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
								<option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
								<option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
								<option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
								<option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
								<option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
								<option value="|http://mls.asoplc.com/Property">Available Properties</option>
								<option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
							</select>
						</form>
					</div> <!-- end: quicklinks -->
					<div class="infoheader">
						<img src="../resources/img/newinfoheaders/ad7.png" alt="">
					</div> <!-- end: infoheader -->
				</div> <!-- end: asoside -->
			</div> <!-- end: mainpagecontent -->
			<script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../scripts/includes/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../scripts/includes/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="../scripts/includes/accordion.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery('#accordion a.item').click(function () { 
				jQuery('#accordion li').children('ul').slideUp('fast');
			jQuery('#accordion a.item').each(function () {
				if (jQuery(this).attr('rel')!='') {
					jQuery(this).removeClass(jQuery(this).attr('rel') + 'Over');
				}
			});
			jQuery(this).siblings('ul').slideDown('fast')
			jQuery(this).addClass(jQuery(this).attr('rel') + 'Over');          
			return false; 
			}); 
			});
	</script>
	<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28605460-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

				 })();
			</script>
		</div> <!-- end: main -->
	</div> <!-- end: asom -->
	<div class="asor"></div> <!-- end: asor -->
	<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->