    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../">Our Products</a> > <a href="../">Savings For Mortgage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Savings For Mortgage
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Products</a>
                <ul>
                  <li><a href="../../">Home</a></li>
                  <li><a href="#">Individual Banking</a>
                    <ul>
                      <li><a href="../../current">ASO Current Account</a></li>
                      <li><a href="../../nontarget">Non Target Savings</a></li>
                      <li class="first activeTrail"><a href="#">Savings For Mortgage</a></li>
                      <li><a href="../../othersavings/">Savings For Other</a></li>
                      <li><a href="../../personalloans">Personal Loans</a></li>
                      <li><a href="../../faqs">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Business Banking</a>
                    <ul>
                      <li><a href="../../businesscurrent">Corporate Current</a></li>
                      <li><a href="../../businessfixed">ASO Fixed Deposit</a></li>
                      <li><a href="../../business/faqs">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Home Finance</a>
                    <ul>
                      <li><a href="../../myresidential">MyResidential Mortgage</a></li>
                      <li><a href="../../mybusiness">MyBusiness Mortgage</a></li>
                      <li><a href="../../nhf">National Housing Fund</a></li>
                      <li><a href="../../myhousepurchase/">MyHouse Purchase Prog</a></li>
                      <li><a href="../../homefinance/faqs">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">E-Banking Solutions</a>
                    <ul>
                      <li><a href="../../mobile">Mobile Phone</a></li>
                      <li><a href="../../web">Web/Internet Banking</a></li>
                      <li><a href="../../atm">ATM</a></li>
                      <li><a href="../../pos/">POS</a></li>
                    </ul>
                  </li>
                  <li><a href="../../realestate">Real Estate Investment</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="prodheader">
              <div class="prodheader-r">
                <img src="../../../resources/img/prodheaders/ruby.png" alt="">
              </div>
            </div> 
            <div class="proddetail">
              <p>A target savings account to access a mortgage.</p>
              <h1>Features</h1>
              <ul class="redbullet">
                <li><p>Minimum opening balance of N200,000</p></li>
                <li><p>Minimum monthly payments of N75,000 to N499,999</p></li>
                <li><p>Savings period from 6 to 24 months</p></li>
                <li><p>Equity contribution starting from N1,800,000</p></li>
                <li><p>House values from N6.0 - 19.9 million</p></li>
              </ul>
              <p><span class="redlink"><a href="../../../resources/downloads/My_House_Form.pdf" target="_blank">Download Account Opening Form</a></span></p>
            </div> <!-- end: proddetail -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../../mls/" target="_blank"><img src="../../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../../resources/img/newinfoheaders/ad6.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->