    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">Our Products</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              E-Banking Solutions 
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Products</a>
                <ul>
                  <li><a href="../">Home</a></li>
                  <li><a href="#">Individual Banking</a>
                    <ul>
                      <li><a href="../current/">ASO Current Account</a></li>
                      <li><a href="../nontarget/">Non Target Savings</a></li>
                      <li><a href="../myhouse/">Savings For Mortgage</a></li>
                      <li><a href="../othersavings/">Savings For Other</a></li>
                      <li><a href="../personalloans/">Personal Loans</a></li>
                      <li><a href="../faqs/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Business Banking</a>
                    <ul>
                      <li><a href="../businesscurrent/">Corporate Current</a></li>
                      <li><a href="../businessfixed/">ASO Fixed Deposit</a></li>
                      <li><a href="../faqs/business/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Home Finance</a>
                    <ul>
                      <li><a href="../myresidential/">MyResidential Mortgage</a></li>
                      <li><a href="../mybusiness/">MyBusiness Mortgage</a></li>
                      <li><a href="../nhf/">National Housing Fund</a></li>
                      <li><a href="../myhousepurchase/">MyHouse Purchase Prog</a></li>
                      <li><a href="../faqs/homefinance/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">E-Banking Solutions</a>
                    <ul>
                      <li class="first activeTrail"><a href="#">Mobile Phone</a></li>
                      <li><a href="../web/">Web/Internet Banking</a></li>
                      <li><a href="../atm/">ATM</a></li>
                      <li><a href="../pos/">POS</a></li>
                    </ul>
                  </li>
                  <li><a href="../realestate/">Real Estate Investment</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="proddetail">
              <p class="alignmiddle"><img src="../../resources/img/prodheaders/mobile.png" alt=""></p>
              <p>ASOMobile is a phone-based banking application designed to make transactions fast and secure for you. It allows subscribers bank on the-go at the touch of the button. This service can be used anywhere in Nigeria</p>
              <h1>Features</h1>
              <ul class="redbullet">
                <li><p>Balance Enquiries</p></li>
                <li><p>Mini statement of Account</p></li>
                <li><p>Funds Transfer</p></li>
                <li><p>Buy Airtime</p></li>
                <li><p>Bill payments e.g DSTV</p></li>
              </ul>
              <h1>To Subscribe</h1>
              <ul class="redbullet">
                <li><p>Complete forms and sign access agreement</p></li>
                <li><p>Activate access on your phone</p></li>
                <p class="redlink"><a href="../../resources/downloads/ASOMobile Request Form.pdf" target="_blank">Download ASO Mobile Access Form</a></p>
                <p class="redlink"><a href="http://mobile.asoplc.com/" target="_blank">Download ASO Mobile</a></p>
              </ul>
              <p class="alignmiddle"><img src="../../resources/img/prodheaders/transaction.png" alt=""></p>
              <p>With this service, you can receive SMS alert after every debit or credit transaction. This is subject to the customer’s choice.</p>
              <h1>To Subscribe</h1>
              <ul class="redbullet">
                <li><p>Complete forms</p></li>
                <li><p>Alert comes after every transaction(depending on the network)</p></li>
                <li><p>N10/SMS</p></li>
              </ul>
              <p><span class="redlink"><a href="../../resources/downloads/SMS ALERT FORM.doc" target="_blank">Download SMS Alert Form</a></span></p>
              <p class="alignmiddle"><img src="../../resources/img/prodheaders/smsbalance.png" alt=""></p>
              <p>Request for your current balance anywhere anytime from your registered phone number(normal network SMS rates apply).</p>
              <h1>To Subscribe</h1>
              <ul class="redbullet">
                <li><p>Register your phone with our Customer Service Officer</p></li>
                <li><p>Type ASOBAL + Your Account Number #</p></li>
                <li><p>Send to 07034107765</p></li>
              </ul>
              <h1>To Check Your Account Balance</h1>
              <ul class="redbullet">
                <li><p>Type ASOBAL + AcctNumber</p></li>
                <li>
                  <p>e.g.  ASOBAL  0010698925</p></li>
                <li><p>Send to 08145490769</p></li>
              </ul>
              <h1>To Check Your Loan Balance</h1>
              <ul class="redbullet">
                <li><p> Type LOANBAL  + AcctNumber</p></li>
                <li>
                  <p>e.g.  LOANBAL 0010698925</p></li>
                <li><p>Send to 08145490769</p></li>
              </ul>
            </div> <!-- end: proddetail -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->