    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a> > <a href="../products">Our Products</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Home Finance 
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainlong">
            <div id="property_slider_wrapper">
              <h1 class="title_header" style="padding-left:10px;">Amina Court, Apo Dutse</h1>
            </div>
            <div class="property-images-slider">
              <div class="flexslider" id="details-slider">
                <a class="fa fa-home property-type-icon" href="#"></a>
                <!--<a class="yellow-btn" href="#">N15,750,000</a>-->
                <a class="status" href="#">for sale</a>
                <ul class="slides">
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide1_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide2_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide3_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide4_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide5_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide6_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide7_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/aminacourt/slide8_big.jpg"></div>
                  </li>
                </ul>
              </div>
              <div class="flexslider" id="details-carousel">
                <ul class="slides">
                  <li><img src="../resources/img/aminacourt/slide1_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide2_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide3_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide4_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide5_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide6_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide7_thumb.jpg"></li>
                  <li><img src="../resources/img/aminacourt/slide8_thumb.jpg"></li>
                </ul>
              </div>
            </div>
            <article class="node node-apartment clearfix" style="min-height:430px;">
              <div class="pull-left overview">
                <div class="span3">
                  <h2>Features</h2>
                  <div class="table">
                    <ul class="span2">
                      <li class="checked">All Rooms En-suite</li>
                      <li class="checked">24hrs Security and Surveillance System</li>
                      <li class="checked">Ample Parking Space</li>
                      <li class="checked">Play Area For Children</li>
                      <li class="checked">Standby Generators</li>
                      <li class="checked">Transformer</li>
                      <li class="checked">Water Supply</li>
                    </ul>
                  </div> <!-- end: table -->
                </div> <!-- end: span3 -->
                <div class="clearfix"></div>
              </div>
              <div style="width:400px; float: right;">
              <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">
                    <p>Amina Court is located in a serene and decent environment within the rapidly developing Apo-Dutse District.</p>
                    <p>All rooms are lavishly spacious, nicely finished with glazed floor tiles and ready to be occupied.</p>
                    <p>The tranquility and warmth of the environment will enthrall the heart of everyone.</p>
                  </div>
                </div>
              </div>
              
                <div class="table">
                  <h3>House Types Available</h3>
                  <ul class="span2">
                    <li class="checked regfont">4 Bedroom Semi-Detached House, All Ensuite With 1 Room BQ</li>
                    <li class="checked regfont">4 Bedroom Semi-Detached House, All Ensuite With 2 Room BQ</li>
                  </ul>
                </div>
                <div class="table">
                  <h3>Attractive Offers</h3>
                  <ul class="span2">
                    <li class="checked regfont">Make only 10% down payment and enjoy a 10 year mortgage</li>
                    <li class="checked regfont">Mortage interest rate at 15% p.a.</li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </article>
            <!--<div style="margin-top:10px;"></div>
            <img src="../resources/img/properties/sponsors.png" alt="">
            <p class="redlink"><a href="" target="_blank">Take an Affordability Test <span class="smlsize">(please note this does not substitute for the prequalification exercise that will be conducted by the Bank in order to consider a customer eligible to participate in the product program)</span></a></p>-->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside" style="padding-top:92px;">
          <div class="formpage">
            <div class="formpage1">
              <h3>OK, I am interested in this property...</h3>
              <form class="houseform2" method="post" action="form_processing.php" onsubmit="return formValidation();" id="houseform2">
                <input name="property" id="property" type="text" class="finalinput" placeholder="Amina Court, Apo Dutse" value="Amina Court, Apo Dutse" readonly>
                <input name="name" id="name" type="text" class="finalinput" placeholder="Your name*" value="Your name*">
                <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="Email*">
                <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="Phone">
                <input name="twitter" id="twitter" type="text" class="finalinput" placeholder="Twitter Handle" value="Twitter Handle">
                <label class="formlabel" style="margin-top:20px;">Select State</label>
                <select name="state" id="state" class="finalinput">
                  <option value="" selected="selected">Please select</option>
                  <option value="Abuja FCT">Abuja FCT</option>
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa Ibom">Akwa Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kano">Kano</option>
                  <option value="Katsina">Katsina</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nassarawa">Nassarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                  <option value="Outside Nigeria">Outside Nigeria</option>
                </select><br>
                <label  class="formlabel">Select Property Type</label>
                <select name="housetype" id="housetype" class="finalinput">
                  <option selected>Please select</option>
                  <option value="75million">4 Bedroom Semi-Detached House, All Ensuite With 1 Room BQ - N75 million</option>
                  <option value="85million">4 Bedroom Semi-Detached House, All Ensuite With 2 Room BQ - N85 million</option>
                  <!--<option value="Five Bedroom Fully Detached Luxury House">Five Bedroom Fully Detached Luxury House</option>-->
                </select>
                <p style="margin-top:-3px;">On which of these platforms did you first learn about ASO?</p>
                <p style="margin-top:-10px;">
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Radio" id="CheckboxGroup1_0">Radio</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Newspaper/Magazine" id="CheckboxGroup1_1">Newspaper/Magazine</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Flier" id="CheckboxGroup1_2">Flier</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Television" id="CheckboxGroup1_3">Television</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Billboard" id="CheckboxGroup1_4">Billboard</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Website" id="CheckboxGroup1_5">Website</label><br>
                  <label class="medsize">
                  <input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Social Media" id="CheckboxGroup1_7">Social Media</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Event" id="CheckboxGroup1_8">Event</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Referrals" id="CheckboxGroup1_10">Referrals</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="SMS" id="CheckboxGroup1_9">SMS</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Online Advert/News" id="CheckboxGroup1_6">Online Advert/News</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Others (Please specify)" id="CheckboxGroup1_11">Others (Please specify)</label><br>
                  <input name="other" type="text" size="40" class="formtext"></p>
                  <p style="text-align:center;">
                  <input class="btn-primary" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
                </p>
              </form>
            </div> <!-- end: formpage1 -->
            <div class="formpage2">
              <h1>Thank You!</h1>
              <p>You have successfully entered your details on our data base. We look forward to helping you own your dream home.</p>
              <p>We will contact you shortly.</p>
            </div> <!-- end: formpage2 -->
          </div> <!-- end: formpage -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <link href="../resources/css/flexslider.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/myhouse.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="bootstrap.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/jquery.flexslider-min.js"></script>
      <script src="../scripts/includes/select.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../scripts/includes/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/flex-script.js"></script>
      <script type="text/javascript">
        function formValidation() {
          var c_name=document.forms["houseform"]["name"].value;
          if (c_name==null || c_name=="") {
              alert("Please enter your name");
              return false;
          }
          
          var x=document.forms["houseform"]["email"].value;
          var atpos=x.indexOf("@");
          var dotpos=x.lastIndexOf(".");
          if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
              alert("Please ensure your email is correct");
              return false;
          } 
          
          var c_phone=document.forms["houseform"]["phone"].value;
          if (c_phone==null || c_phone=="") {
              alert("Please enter your phone number");
              return false;
          } 
        }
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->