    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a> > <a href="../products">Our Products</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              ASO Property 
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asomainlong">
            <div class="wrap">
              <div class="tabsmain">
                <div class="tabs animated-fade">
                  <ul class="tab-links">
                    <li class="active"><a href="#cartercourt">Carter's Court</a></li>
                    <li><a href="#honeycrest">Shekinah Green Estate </a></li>
                    <li><a href="#nimdel">Nimdel Strip Estate </a></li>
                    <li><a href="#alcove">Alcove Homes </a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="cartercourt" class="tab active">
                      <div class="property-images-slider">
                        <div class="flexslider" id="details-slider">
                          <a class="fa fa-home property-type-icon" href="#"></a>
                          <a class="status" href="#">for sale</a>
                          <ul class="slides">
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide1_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide2_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide3_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide4_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide5_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/carter_slide6_big.jpg"></div>
                            </li>
                          </ul>
                        </div>
                        <div class="flexslider" id="details-carousel">
                          <ul class="slides">
                            <li><img src="../resources/img/carterhoneycrest/carter_slide1_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/carter_slide2_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/carter_slide3_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/carter_slide4_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/carter_slide5_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/carter_slide6_thumb.jpg"></li>
                          </ul>
                        </div>
                      </div>
                      <article class="node node-apartment clearfix">
                        <div class="pull-left overview">
                          <div class="span3">
                            <h2>Features</h2>
                            <p>On completion, the estate will have the following shared facilities:</p>
                            <div class="table">
                              <ul class="span2">
                                <li class="checked">Tennis Court</li>
                                <li class="checked">Playground</li>
                                <li class="checked">Park</li>
                                <li class="checked">Standby Generators</li>
                                <li class="checked">Security Services</li>
                              </ul>
                            </div> <!-- end: table -->
                          </div> <!-- end: span3 -->
                          <div class="clearfix"></div>
                        </div>
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even">
                              <p>Carter's Court is a contemporary and elegant estate situated in a low-density residential section in APO-Dutse district, Abuja. Occupying 2.7 hectares, Carter's Court is ideally situated one minute from Shoprite complex, two minutes from APO legislative quarters and 10 minute-drive from the city center, allowing a quick and easy access to many destinations, in and out of Abuja.</p>
                              <p>The estate will comprise of a mix of 8 units of four-bedroom detached duplexes, 12 units of four-bedroom semi-detached duplexes, and 86 units of fur-bedroom terrace town houses, all totalling 106 housing units. All rooms are en-suite.</p>
                              <p>All basic facilities such as tarred roads, street lighting, water and electricity are already in place.</p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO ESTATES BROCHURE [APPROVED].pdf" target="_blank" style="font-size:smaller;">Download ASO Estates Brochure</a></p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO FAQ - ASO CARTER&SHEKINAH.pdf" target="_blank" style="font-size:smaller;">Download ASO Carter's Court Estate / Shekinah Green Estate F.A.Qs</a></p>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <h2>Prices</h2>
                        <div class="row">
                          <p class="smlsize">* Prices do NOT include VAT</p>
                          <table width="100%" cellpadding="0" cellspacing="0" class="tblpurchase" border="1">
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Terrace</span></th>
                              <th class="tablehead"><span style="color:#000000;">Starting from</span> N29.9 Million</th>
                              <th rowspan="3" class="tablehead"><i class="fa fa-check"></i> <span style="color:#000000;">Flexible Payment Plans</span><br><i class="fa fa-check"></i> <span style="color:#000000;">Mortgage Option with 50% Equity Contribution</span></th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Semi Detached</span></th>
                              <th class="tablehead"><span style="color:#000000;">Starting from</span> N55 Million</th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Detached</span></th>
                              <th class="tablehead"><span style="color:#000000;">Starting from</span> N70 Million</th>
                            </tr>
                          </table>
                        </div>
                      </article>
                    </div>
                    <div id="honeycrest" class="tab">
                      <div class="property-images-slider">
                        <div class="flexslider" id="details-slider2">
                          <a class="fa fa-home property-type-icon" href="#"></a>
                          <a class="status" href="#">for sale</a>
                          <ul class="slides">
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide1_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide2_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide3_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide4_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide5_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide6_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/honeycrest_slide7_big.jpg"></div>
                            </li>
                          </ul>
                        </div>
                        <div class="flexslider" id="details-carousel2">
                          <ul class="slides">
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide1_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide2_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide3_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide4_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide5_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide6_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/honeycrest_slide7_thumb.jpg"></li>
                          </ul>
                        </div>
                      </div>
                      <article class="node node-apartment clearfix">
                        <div class="pull-left overview">
                          <div class="span3">
                            <h2>Features</h2>
                            <p>The estate has the following shared facilities:</p>
                            <div class="table">
                              <ul class="span2">
                                <li class="checked">Street Lights</li>
                                <li class="checked">Tarred Roads</li>
                                <li class="checked">Paved Walk-Ways</li>
                                <li class="checked">24-Hour security</li>
                                <li class="checked">Standby Generator</li>
                              </ul>
                            </div> <!-- end: table -->
                          </div> <!-- end: span3 -->
                          <div class="clearfix"></div>
                        </div>
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even">
                              <p>Shekinah Green is located opposite the legislative quarters in APO. This estate offers 38 units of upper highbrow housing haven in a secure and lush location. It features semi-detached duplexes and terrace duplexes. It also offers an adjoining mall with fitness and lifestyle options.</p>
                              <p>Shekinah Green estate is 7-minute drive to the city center, allowing a quick and easy access to many destinations, in and out of Abuja.</p>
                              <p>The estate comprises of a mix of 20 units of three bedroom townhouse, 8 units of four-bedroom townhouses, and 10 units of four-bedroom townhouses, all totalling 38 housing units.   All rooms are en-suite. All units have a BQ.</p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO ESTATES BROCHURE [APPROVED].pdf" target="_blank" style="font-size:smaller;">Download ASO Estates Brochure</a></p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO FAQ - ASO CARTER&SHEKINAH.pdf" target="_blank" style="font-size:smaller;">Download ASO Carter's Court Estate / Shekinah Green Estate F.A.Qs</a></p>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <h2>Prices</h2>
                        <div class="row">
                          <p class="smlsize">* Prices do NOT include VAT</p>
                          <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">3 bedroom Townhouse with BQ</span></th>
                              <th class="tablehead">N 75 Million</th>
                              <th rowspan="3" class="tablehead"><i class="fa fa-check"></i> <span style="color:#000000;">Flexible payment plans</span><br><i class="fa fa-check"></i> <span style="color:#000000;">Mortgage Option with 50% Equity Contribution</span></th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Townhouse with BQ</span></th>
                              <th class="tablehead">N 90 Million</th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Semi Detached with BQ</span></th>
                              <th class="tablehead">N 105 Million</th>
                            </tr>
                          </table>
                        </div>
                      </article>
                    </div>
                    <div id="nimdel" class="tab">
                      <div class="property-images-slider">
                        <div class="flexslider" id="details-slider3">
                          <a class="fa fa-home property-type-icon" href="#"></a>
                          <a class="status" href="#">for sale</a>
                          <ul class="slides">
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide1_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide2_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide3_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide4_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide5_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/nimdel_slide6_big.jpg"></div>
                            </li>
                          </ul>
                        </div>
                        <div class="flexslider" id="details-carousel3">
                          <ul class="slides">
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide1_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide2_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide3_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide4_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide5_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/nimdel_slide6_thumb.jpg"></li>
                          </ul>
                        </div>
                      </div>
                      <article class="node node-apartment clearfix">
                        <div class="pull-left overview">
                          <div class="span3">
                            <h2>Features</h2>
                            <p>The estate has the following shared facilities:</p>
                            <div class="table">
                              <ul class="span2">
                                <li class="checked">24 hours power &amp; dedicated transformer</li>
                                <li class="checked">Elevator</li>
                                <li class="checked">2 dedicated car park per flat</li>
                                <li class="checked">24/7 on ground security &amp; management staff</li>
                                <li class="checked">Recreational Facilities</li>
                                <li class="checked">Shopping facilities</li>
                              </ul>
                            </div> <!-- end: table -->
                          </div> <!-- end: span3 -->
                          <div class="clearfix"></div>
                        </div>
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even">
                              <p>With a front view of the Lagoon, Nimdel Strip Lekki is an elegant and contemporary residential apartment complex designed to cater to the discerning resident who has a strong appreciation for quality craftsmanship and luxury facilities. It is situated on 1 Hectare. The Nimdel Strip Lekki, situated on 1 Hectare property, will consist of 105 fully serviced residential units.</p>
                              <p>Nimdel Strip Lekki is located close to the Northern Foreshore estate, Friends Colony estate, Primewaterview estate and bordered by UAC Pinnock Beach Estate and, upon completion, it will be a 3 minute drive from the New La Palge shopping complex on the Lekki express; approximately 500m from the proposed Shell headquarters and under 15minutes drive from the Palms Shopping Complex and Victoria Island.</p>
                              <p>Nimdel Strip Lekki offers a choice of contemporary three and four bedroom apartments with spacious floor plans, a fully fitted kitchens and luxurious amenities. All bedrooms are very open and spacious with all bathrooms en-suite. Each apartment boasts of a number of balconies where the residents can bask in sunlight while enjoying the break taking views of the gardens and Lagoon. There are 5 penthouses that epitomize exclusive comfort and luxury living.</p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO NIMDEL & ALCOVE BROCHURE.pdf" target="_blank" style="font-size:smaller;">Download ASO Nimdel &amp; Alcove Brochure</a></p>
                              <!--<p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO FAQ - ASO CARTER&SHEKINAH.pdf" target="_blank" style="font-size:smaller;">Download ASO Carter's Court Estate / Shekinah Green Estate F.A.Qs</a></p>-->
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <h2>Prices</h2>
                        <div class="row">
                          <p class="smlsize">* Prices do NOT include VAT</p>
                          <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">3 Bedroom</span></th>
                              <th class="tablehead">N 40 Million</th>
                              <th rowspan="3" class="tablehead"><i class="fa fa-check"></i> <span style="color:#000000;">Flexible payment options available</span></th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom</span></th>
                              <th class="tablehead">N 45 Million</th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Masionette Penthouse</span></th>
                              <th class="tablehead">N 80 Million</th>
                            </tr>
                          </table>
                        </div>
                      </article>
                    </div>
                    <div id="alcove" class="tab">
                      <div class="property-images-slider">
                        <div class="flexslider" id="details-slider4">
                          <a class="fa fa-home property-type-icon" href="#"></a>
                          <a class="status" href="#">for sale</a>
                          <ul class="slides">
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide1_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide2_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide3_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide4_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide5_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide6_big.jpg"></div>
                            </li>
                            <li>
                              <div class="image-wrapper"><img alt="gallery" src="../resources/img/carterhoneycrest/alcove_slide7_big.jpg"></div>
                            </li>
                          </ul>
                        </div>
                        <div class="flexslider" id="details-carousel4">
                          <ul class="slides">
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide1_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide2_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide3_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide4_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide5_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide6_thumb.jpg"></li>
                            <li><img src="../resources/img/carterhoneycrest/alcove_slide7_thumb.jpg"></li>
                          </ul>
                        </div>
                      </div>
                      <article class="node node-apartment clearfix">
                        <div class="pull-left overview">
                          <div class="span3">
                            <h2>Features</h2>
                            <p>The estate has the following shared facilities:</p>
                            <div class="table">
                              <ul class="span2">
                                <li class="checked">	Ample parking space for residents and visitors</li>
                                <li class="checked">	Gated security</li>
                                <li class="checked">	Portable water supply</li>
                                <li class="checked">	Generators</li>
                                <li class="checked">	Paved walkways</li>
                                <li class="checked">	Recreational facilities</li>
                              </ul>
                            </div> <!-- end: table -->
                          </div> <!-- end: span3 -->
                          <div class="clearfix"></div>
                        </div>
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even">
                              <p>Nestled in a quaint and quiet neighborhood in Yaba, Alcove homes offers comfort, elegance and convenience. Occupying 14,300 sq. meters of land, the estate is conveniently located within the Lagos metropolis with close proximity and easy access to most places on the island and the mainland.</p>
                              <p>With 88 units, Alcove Estate is planned as a fully self-sustaining, gated community with emphasis placed on comfort and quality of living. It is truly… The Perfect Place to Call Home. The estate comprises of a mix of 64 units of three-bedroom apartments, 16 units of four-bedroom Town Houses and 8 units of three-bedroom Penthouses. In addition balconies and ample living spaces, each unit offers modern elegant designs with exquisite finishes, fitted kitchens with quality appliances, upscale bathrooms and a one room service quarters per unit.</p>
                              <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO NIMDEL & ALCOVE BROCHURE.pdf" target="_blank" style="font-size:smaller;">Download ASO Nimdel &amp; Alcove Brochure</a></p>
                              <!--<p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO FAQ - ASO CARTER&SHEKINAH.pdf" target="_blank" style="font-size:smaller;">Download ASO Carter's Court Estate / Shekinah Green Estate F.A.Qs</a></p>-->
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <h2>Prices</h2>
                        <div class="row">
                          <p class="smlsize">* Prices do NOT include VAT</p>
                          <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">3 Bedroom Apartments</span></th>
                              <th class="tablehead">N 40 Million</th>
                              <th rowspan="3" class="tablehead"><i class="fa fa-check"></i> <span style="color:#000000;">Flexible payment options available</span></th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">3 Bedroom Penthouses</span></th>
                              <th class="tablehead">N 80 Million</th>
                            </tr>
                            <tr>
                              <th class="tablehead"><span style="color:#000000;">4 Bedroom Townhouses</span></th>
                              <th class="tablehead">N 65 Million</th>
                            </tr>
                          </table>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p style="text-align:center;">For Enquiries Call:<br>0808 200 0199 (Debola)<br>0810 292 9079 (Hannatu)<br>0803 400 3173 (Emeka)</p>
            <div style="margin-top:10px;"></div>
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside" style="padding-top:92px;">
          <div class="formpage">
            <div class="formpage1">
              <h3>OK, I am interested in this property...</h3>
              <form class="houseform2" method="post" action="form_processing.php" onsubmit="return formValidation();" id="houseform2">
                <select name="property" id="property" class="finalinput" size=1 onchange="changeList(this)">
                  <option value="none">- Please Select -</option>
                  <option value="carter">Carter's Court</option>
                  <option value="shekinah">Shekinah Green Estate</option>
                  <option value="nimdel">Nimdel Strip Estate</option>
                  <option value="alcove">Alcove Homes</option>
                </select>
                <input name="name" id="name" type="text" class="finalinput" placeholder="Your name*" value="Your name*">
                <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="Email*">
                <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="Phone">
                <input name="twitter" id="twitter" type="text" class="finalinput" placeholder="Twitter Handle" value="Twitter Handle">
                <label class="formlabel" style="margin-top:20px;">Select State</label>
                <select name="state" id="state" class="finalinput">
                  <option value="" selected="selected">Please select</option>
                  <option value="Abuja FCT">Abuja FCT</option>
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa Ibom">Akwa Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kano">Kano</option>
                  <option value="Katsina">Katsina</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nassarawa">Nassarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                  <option value="Outside Nigeria">Outside Nigeria</option>
                </select><br>
                <label  class="formlabel">Select Property Type</label>
                <select name="housetype" id="housetype" class="finalinput" size=1>
<option>- Please Select -</option>
</select>
                <p style="margin-top:-3px;">On which of these platforms did you first learn about ASO?</p>
                <p style="margin-top:-10px;">
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Radio" id="CheckboxGroup1_0">Radio</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Newspaper/Magazine" id="CheckboxGroup1_1">Newspaper/Magazine</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Flier" id="CheckboxGroup1_2">Flier</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Television" id="CheckboxGroup1_3">Television</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Billboard" id="CheckboxGroup1_4">Billboard</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Website" id="CheckboxGroup1_5">Website</label><br>
                  <label class="medsize">
                  <input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Social Media" id="CheckboxGroup1_7">Social Media</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Event" id="CheckboxGroup1_8">Event</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Referrals" id="CheckboxGroup1_10">Referrals</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="SMS" id="CheckboxGroup1_9">SMS</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Online Advert/News" id="CheckboxGroup1_6">Online Advert/News</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Others (Please specify)" id="CheckboxGroup1_11">Others (Please specify)</label><br>
                  <input name="other" type="text" size="40" class="formtext"></p>
                  <p style="text-align:center;">
                  <input class="btn-primary" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
                </p>
              </form>
            </div> <!-- end: formpage1 -->
            <div class="formpage2">
              <h1>Thank You!</h1>
              <p>You have successfully entered your details on our data base. We look forward to helping you own your dream home.</p>
              <p>We will contact you shortly.</p>
            </div> <!-- end: formpage2 -->
          </div> <!-- end: formpage -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <link href="../resources/css/flexslider.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/myhouse.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/tabs-2.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../aminacourt/bootstrap.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/jquery.flexslider-min.js"></script>
      <script src="../scripts/includes/select.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../scripts/includes/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/flex-script.js"></script>
      <script type="text/javascript" src="../scripts/includes/tabs2.js"></script>
      <script type="text/javascript">
        function formValidation() {
          var c_name=document.forms["houseform2"]["name"].value;
          if (c_name==null || c_name=="" || c_name=="Your name*") {
              alert("Please enter your name");
              return false;
          }
          
          var x=document.forms["houseform2"]["email"].value;
          var atpos=x.indexOf("@");
          var dotpos=x.lastIndexOf(".");
          if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
              alert("Please ensure your email is correct");
              return false;
          } 
          
          var c_phone=document.forms["houseform2"]["phone"].value;
          if (c_phone==null || c_phone=="") {
              alert("Please enter your phone number");
              return false;
          }
          
          var c_property=document.forms["houseform2"]["property"].value;
          if (c_property==null || c_property=="" || c_property=="none") {
              alert("Please select a property");
              return false;
          } 
        }
      </script>
      <script language="javascript">
        var lists = new Array();
        
        // First set of text and values
        lists['none']    = new Array();
        lists['none'][0] = new Array(
            '- Please Select -'
        );
        lists['none'][1] = new Array(
            '- Please Select -'
        );
        
        lists['carter']    = new Array();
        lists['carter'][0] = new Array(
            '4 Bedroom Terrace - N29.9 Million',
            '4 Bedroom Semi Detached - N55 Million',
            '4 Bedroom Detached - N70 Million'
        );
        lists['carter'][1] = new Array(
            '4 Bedroom Terrace',
            '4 Bedroom Semi Detached',
            '4 Bedroom Detached'
        );
        
        // Second set of text and values
        lists['shekinah']    = new Array();
        lists['shekinah'][0] = new Array(
            '3 bedroom Townhouse with BQ - N75 Million',
            '4 Bedroom Townhouse with BQ - N90 Million',
            '4 Bedroom Semi Detached with BQ - N105 Million'
        );
        lists['shekinah'][1] = new Array(
            '3 bedroom Townhouse with BQ',
            '4 Bedroom Townhouse with BQ',
            '4 Bedroom Semi Detached with BQ'
        );
        
        // Third set of text and values
        lists['nimdel']    = new Array();
        lists['nimdel'][0] = new Array(
            '3 Bedroom - N40 Million',
            '4 Bedroom – N45 Million',
            '4 Bedroom Masionette Penthouse - N80 Million'
        );
        lists['nimdel'][1] = new Array(
            '3 Bedroom',
            '4 Bedroom',
            '4 Bedroom Masionette Penthouse'
        );
        
        // Fourth set of text and values
        lists['alcove']    = new Array();
        lists['alcove'][0] = new Array(
            '3 Bedroom Apartments – N40 Million ',
            '3 Bedroom Penthouses – N80 Million ',
            '4 Bedroom Townhouses – N65 Million '
        );
        lists['alcove'][1] = new Array(
            '3 Bedroom Apartments',
            '3 Bedroom Penthouses',
            '4 Bedroom Townhouses'
        );
        
        function changeList( box ) {
            list = lists[box.options[box.selectedIndex].value];
            emptyList( box.form.housetype );
            fillList( box.form.housetype, list );
        }
        function emptyList( box ) {
            while ( box.options.length ) box.options[0] = null;
        }
        function fillList( box, arr ) {
            for ( i = 0; i < arr[0].length; i++ ) {
                option = new Option( arr[0][i], arr[1][i] );
                box.options[box.length] = option;
            }
            box.selectedIndex=0;
        }
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->