    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../">Our Products</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              E-Banking Solutions
            </div> <!-- end: pageheadinner --> 
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Products</a>
                <ul>
                  <li><a href="../">Home</a></li>
                  <li><a href="#">Individual Banking</a>
                    <ul>
                      <li><a href="../current/">ASO Current Account</a></li>
                      <li><a href="../nontarget/">Non Target Savings</a></li>
                      <li><a href="../myhouse/">Savings For Mortgage</a></li>
                      <li><a href="../othersavings/">Savings For Other</a></li>
                      <li><a href="../personalloans/">Personal Loans</a></li>
                      <li><a href="../faqs/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Business Banking</a>
                    <ul>
                      <li><a href="../businesscurrent/">Corporate Current</a></li>
                      <li><a href="../businessfixed/">ASO Fixed Deposit</a></li>
                      <li><a href="../faqs/business/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Home Finance</a>
                    <ul>
                      <li><a href="../myresidential/">MyResidential Mortgage</a></li>
                      <li><a href="../mybusiness/">MyBusiness Mortgage</a></li>
                      <li><a href="../nhf/">National Housing Fund</a></li>
                      <li><a href="../myhousepurchase/">MyHouse Purchase Prog</a></li>
                      <li><a href="../faqs/homefinance/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">E-Banking Solutions</a>
                    <ul>
                      <li><a href="../mobile/">Mobile Phone</a></li>
                      <li class="first activeTrail"><a href="#">Web/Internet Banking</a></li>
                      <li><a href="../atm/">ATM</a></li>
                      <li><a href="../pos/">POS</a></li>
                    </ul>
                  </li>
                  <li><a href="../realestate/">Real Estate Investment</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain"> 
            <div class="proddetail">
              <p class="alignmiddle"><img src="../../resources/img/prodheaders/internet.png" alt=""></p>
              <h1>Features</h1>
              <ul class="redbullet">
                <li><p>View account historical records</p></li>
                <li><p>Transfer funds between accounts in ASO</p></li>
                <li><p>Transfer funds between banks</p></li>
                <li><p>Order replacement of cheque books and more</p></li>
              </ul>
              <h1>To Subscribe</h1>
              <ul class="redbullet">
                <li><p>Complete forms and sign access agreement</p></li>
                <li><p>Collect token from CSO (Token costs N3,000)</p></li>
              </ul>
              <h1>To Start</h1>
              <ul class="redbullet">
                <li><p>Log on to the website and in the field provided, indicate username and password and click enter</p></li>
                <li><p>A warning page pops up, please read information and click continue</p></li>
                <li><p>The home page comes up with the menu at the left hand side</p></li>
              </ul>
              <p class="redlink"><a href="https://asotib.asoplc.com/scripts/aso.dll" target="_blank">Click to log on to ASO Internet Banking</a></p>
              <h3>Internet Banking Menu</h3>
              <table cellpadding="5" cellspacing="5" style="margin-bottom:20px">
                <tr>
                  <td width="171"><b>Menu</b></td>
                  <td width="291"><b>Description</b></td>
                </tr>
                <tr>
                  <td>Sign off</td>
                  <td>To sign off</td>
                </tr>
                <tr>
                  <td>Home</td>
                  <td>To return to the home page</td>
                </tr>
                <tr>
                  <td>Terms and Condition</td>
                  <td>Terms and conditions of service</td>
                </tr>
                <tr>
                  <td>FAQ</td>
                  <td>Frequently asked questions</td>
                </tr>
                <tr>
                  <td>General</td>
                  <td>To change password and to contact us</td>
                </tr>
                <tr>
                  <td>Accounts</td>
                  <td>To check account balances, mortgage and statements</td>
                </tr>
                <tr>
                  <td>Payment</td>
                  <td>For Bill payment, top ups e.t.c</td>
                </tr>
                <tr>
                  <td>Transfer</td>
                  <td>Interbank and Intrabank transfer of funds</td>
                </tr>
                <tr>
                  <td>Bank Services</td>
                  <td>ATM and cheque requests, Bank Draft e.t.c</td>
                </tr>
              </table>
              <p class="redlink"><a href="../../resources/downloads/ASO Internet Banking Service Request Form Service Agreement.pdf" target="_blank">Download ASO Internet Banking Service Request Form Service Agreement</a></p>
              <p class="redlink"><a href="../../resources/downloads/ASO Internet Banking Service Request Form.pdf" target="_blank">Download ASO Internet Banking Service Request Form</a></p>
              <p class="alignmiddle"><img src="../../resources/img/prodheaders/epay.png" alt=""></p>
              <h1>Features</h1>
              <ul class="redbullet">
                <li><p>Monitor and authorize payments</p></li>
                <li><p>Pay salaries for Staff/Vendors</p></li>
                <li><p>Investigate historical transactions</p></li>
                <li><p>Issue standing order</p></li>
                <li><p>PAYE TAX Remittance</p></li>
              </ul>
              <h1>To Subscribe</h1>
              <ul class="redbullet">
                <li><p>Complete E-Pay Forms</p></li>
              </ul>
            </div> <!-- end: proddetail -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->