    <div class="main">
      <div class="breadcrumb">
        <a href="../../">return to homepage</a> > <a href="../../products">Our Products</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">
              Individual Banking - Frequently Asked Questions
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <menu>
            <ul class="slideMenu">
              <li><a href="#">Products</a>
                <ul>
                  <li><a href="../../products">Home</a></li>
                  <li><a href="#">Individual Banking</a>
                    <ul>
                      <li><a href="../current">ASO Current Account</a></li>
                      <li><a href="../nontarget">Non Target Savings</a></li>
                      <li><a href="../myhouse">Savings For Mortgage</a></li>
                      <li><a href="../othersavings">Savings For Other</a></li>
                      <li><a href="../personalloans">Personal Loans</a></li>
                      <li class="first activeTrail"><a href="#">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Business Banking</a>
                    <ul>
                      <li><a href="../businesscurrent">Corporate Current</a></li>
                      <li><a href="../businessfixed">ASO Fixed Deposit</a></li>
                      <li><a href="business/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Home Finance</a>
                    <ul>
                      <li><a href="../myresidential">MyResidential Mortgage</a></li>
                      <li><a href="../mybusiness">MyBusiness Mortgage</a></li>
                      <li><a href="../nhf">National Housing Fund</a></li>
                      <li><a href="../myhousepurchase">MyHouse Purchase Prog</a></li>
                      <li><a href="homefinance/">F.A.Qs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">E-Banking Solutions</a>
                    <ul>
                      <li><a href="../mobile">Mobile Phone</a></li>
                      <li><a href="../web">Web/Internet Banking</a></li>
                      <li><a href="../atm">ATM</a></li>
                      <li><a href="../pos">POS</a></li>
                    </ul>
                  </li>
                  <li><a href="../realestate">Real Estate Investment</a></li>
                </ul>
              </li>
            </ul>
          </menu>
          <div class="asomain">
            <div class="prodheader">
              <div class="prodheader-r">
                <img src="../../resources/img/prodheaders/faqhome.png" alt="">
              </div>
            </div> 
            <div class="proddetail">
              <h3>Individual Banking</h3>
              <p class="smlsize">Click to expand/collapse</p>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <article itemtype="#" itemscope="" class="item item-page">
                    <div itemprop="articleBody" class="lists">
                      <div class="panel-group lists-container" id="accordionOne">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneOne" class="btn btn-block accord uk-text-left"><h4 class="accord-title"> How do I open an account? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseOneOne" class="panel-collapse collapse in">
                            <div class="panel-body">                         
                              <p>You can open an account by visiting any one of our branches locations or online.</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneTwo" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What information is needed to open an Individual Account? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseOneTwo" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>Please view the Account Opening check lists</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneThree" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Will an ATM Debit card come with my ASO account? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseOneThree" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>It depends. You can get an ATM card upon request in the account opening package</p>	
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneFour" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What is the minimum balance required to open an account? </h4></a>
                            </div>
                          </div>
                          <div id="collapseOneFour" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>It depends on the account. Here is a summary:</p>
                              <p>N1,000.000 for Regular Savings</p>
                              <p>N10,000.00 for Fixed Deposit</p>
                              <p>N10,000.00 for ASO Plus Account (Savings Account)</p>
                              <p>N100,000.00 for Individual Account &amp; N250,000.00 for Corporate Account (Both Excel)</p>
                              <p>N50,000.00 for my House Account</p>
                              <p>N5,000.00 for Flourish Account</p>
                              <p>N20,000.00 for Corporate Account</p>
                            </div>
                          </div>
                        </div>	
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneFive" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What happens if my card is lost or stolen? </h4></a>
                            </div>
                          </div>
                          <div id="collapseOneFive" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>Please contact us immediately to report a lost or stolen ATM card or visit an ASO Financial center. You can order a replacement card at the same time.</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOneSix" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> How do I check my account status and other account information? </h4></a>
                            </div>
                          </div>
                          <div id="collapseOneSix" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>You can check your account balance and other information online (Internet Banking), mobile phones (SMS Banking), or at any of our branches near you.</p>
                            </div>
                          </div>
                        </div>		
                      </div>	
                    </div>
                  </article>	
                </div>			
              </div>
              <h3>CBN'S KYC Requirement For DNFBPs</h3>
              <p class="smlsize">Click to expand/collapse</p>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <article itemtype="#" itemscope="" class="item item-page">
                    <div itemprop="articleBody" class="lists">
                      <div class="panel-group lists-container" id="accordionTwo">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoOne" class="btn btn-block accord uk-text-left"><h4 class="accord-title"> What is DNFBPs? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseTwoOne" class="panel-collapse collapse in">
                            <div class="panel-body">                         
                              <p>DNFBP is an acronym for "Designated Non-Financial Businesses and Professions".</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoTwo" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What is SCUML? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseTwoTwo" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>SCUML means Special Control Unit against Money Laundering and is charged with the responsibility of monitoring, supervising and regulating the activities of Designated Non-Financial Institutions (DNFIs).</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoThree" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Which Businesses and Professions (DNFBPs) Are Currently Being Regulated By SCUML? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseTwoThree" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>CBN/EFCC have classed the following categories of businesses and professions as DNFBPs:</p> 
                              <ul class="redbullet">
                                <li><p>Dealers in Jewellery,</p></li>
                                <li><p>Dealers in Luxury Goods,</p></li>
                                <li><p>Chartered/Professional Accountants,</p></li>
                                <li><p>Audit Firms,</p></li>
                                <li><p>Tax Consultants,</p></li>
                                <li><p>Clearing and Settlement Companies,</p></li>
                                <li><p>Legal Practitioners,</p></li>
                                <li><p>Trust and Company Service Providers,</p></li>
                                <li><p>Estate Surveyors and Valuers,</p></li>
                                <li><p>Hotels and Hospitality Industry Businesses,</p></li>
                                <li><p>Dealers and Miners of Precious Stones and Metals,</p></li>
                                <li><p>Pool Betting, Casino and Lottery,</p></li>
                                <li><p>Supermarkets,</p></li>
                                <li><p>Non-Governmental Organizations,</p></li>
                                <li><p>Consultants and Consulting Companies,</p></li>
                                <li><p>Construction Companies,</p></li>
                                <li><p>Estate Agents, Dealers in Real Estate,</p></li>
                                <li><p>Importers and Dealers in Cars and  Vehicles,</p></li>
                                <li><p>Dealers in mechanized farming equipment and machinery,</p></li>
                                <li><p>Practitioners of mechanized farming and any other business(es) as may be designated from time to time by the Federal Ministry of Trade  and Investment or SCUML</p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoFour" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Where can I obtain the registration form? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoFour" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Registration forms are available in the branches for onward submission at SCUML offices or can be downloaded via this link; <a href="http://www.scuml.org" target="_blank" class="redlink">http://www.scuml.org.</a></p>
                            </div>
                          </div>
                        </div>	
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoFive" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> When is the deadline given by CBN, for existing customers to update their account information with the evidence of registration? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoFive" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>The deadline is the 31st of January 2013.</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoSix" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Will customers be collecting their certificates at the branches? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoSix" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>No, customers should process and collect their certificates at SCUML offices and forward same to their branches</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoSeven" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What categories of customers are expected to comply with this Directive? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoSeven" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>Both New &amp; Existing Customers</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoEight" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What are the requirements for SCUML registration? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoEight" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <ul class="redbullet">
                                <li><p>Certificate of Incorporation.</p></li>
                                <li><p>Article and Memorandum of Association.</p></li>
                                <li><p>Tax Clearance Certificate (Not Applicable to NGOs).</p></li>
                                <li><p>Audited Financial Report.</p></li>
                                <li><p>Authorised Operational License (Not Applicable to NGOs).</p></li>
                                <li><p>Company/ Organization Profile.</p></li>
                                <li><p>Constitution (For NGOs Only).</p></li>
                                <li><p>Agreement Signed between the NGO and the National Planning Commission (For International NGOs Only).</p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoNine" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Where are the SCUML offices located? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoNine" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <ul class="redbullet">
                                <li><p>Head Office: No. 1 Obosi Street off Ladoke Akintola Boulevard beside PHCN Garki II office Abuja. Tel: (234) 09 7806364 Website: <a href="http://www.scuml.org" target="_blank" class="redlink">http://www.scuml.org</a> E-mail: <a href="mailto:info@scuml.org" class="redlink">info@scuml.org</a></p></li>
                                <li><p>Lagos Zonal office: 15, Awolowo Road, Ikoyi, Lagos State</p></li>
                                <li><p>Kano Zonal office: GP 360 Bida Road, Civic Centre, Kano State</p></li>
                                <li><p>Port Harcourt zonal office: 8, Bank Road, (off Moscow Road), Port Harcourt, Rivers State.</p></li>
                                <li><p>Enugu Zonal office: Plot 106 Federal Government college road, Independence Layout, Enugu.</p></li>
                                <li><p>Gombe Zonal office: No.4, EFCC Street, New G.R.A Gombe, Gombe State.</p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwoTen" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Where can I make enquiries on the CBN KYC requirement? </h4></a>
                            </div>
                          </div>
                          <div id="collapseTwoTen" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>For more information, contact SCUML Registration Office on (234) 09 7806364 or visit their website on <a href="http://www.scuml.org" target="_blank" class="redlink">http://www.scuml.org</a> or visit our branches</p>
                            </div>
                          </div>
                        </div>		
                      </div>	
                    </div>
                  </article>	
                </div>			
              </div>
              <h3>Dud Cheques</h3>
              <p class="smlsize">Click to expand/collapse</p>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <article itemtype="#" itemscope="" class="item item-page">
                    <div itemprop="articleBody" class="lists">
                      <div class="panel-group lists-container" id="accordionThree">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeOne" class="btn btn-block accord uk-text-left"><h4 class="accord-title"> What is a dud cheque? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseThreeOne" class="panel-collapse collapse in">
                            <div class="panel-body">                         
                              <p>A dud cheque is a cheque that is written for more than what is in the bank e.g. a cheque for N200 when the person only has N150 in the bank will bounce (be dishonored) – the cheque is a dud</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeTwo" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> What action does the Central Bank of Nigeria (CBN) require my bankers to take should I inadvertently issue a dud cheque? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseThreeTwo" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>Your bankers are required to send names of its customers who have issued up to three (3) dud cheques to the CBN. So if you issue dud cheques up to three times, ASO will be constrained to send your name to the CBN.</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeThree" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Is it true that I need to make a pledge not to ever issue dud cheques? </h4></a>	
                            </div>
                          </div>
                          <div id="collapseThreeThree" class="panel-collapse collapse">
                            <div class="panel-body">                         
                              <p>Yes, you do. The CBN requires that you give your bankers a written pledge that you will never issue a dud cheque. ASO has made this easier by creating pledge forms you can use for this purpose. Please see your Relationship Manager or branch Customer Service Officer for a copy of this form for your use.</p>	
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeFour" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> How do I give my bank my pledge not to issue dud cheques? </h4></a>
                            </div>
                          </div>
                          <div id="collapseThreeFour" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>Please avail yourself of the Dud Cheque Pledge Form available at any ASO branch, and online (on the downloadable forms section of the ASO website)</p>
                            </div>
                          </div>
                        </div>	
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeFive" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Are there any penalties if I inadvertently issue dud cheques? </h4></a>
                            </div>
                          </div>
                          <div id="collapseThreeFive" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>Yes there are. ASO will be constrained to send your name to the CBN who could then forward same to EFCC for further action.</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThreeSix" class="btn btn-block accord uk-text-left collapsed"><h4 class="accord-title"> Why is the CBN doing this? </h4></a>
                            </div>
                          </div>
                          <div id="collapseThreeSix" class="panel-collapse collapse">
                            <div class="panel-body">					      
                              <p>The CBN’s action is geared to support its Cash Lite policy and improve customer confidence in the use of cheques as a medium of payment.</p>
                            </div>
                          </div>
                        </div>	
                      </div>	
                    </div>
                  </article>	
                </div>			
              </div>
            </div> <!-- end: proddetail -->
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../../mls" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../../resources/img/newinfoheaders/ad4.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <!-- Bootstrap core CSS -->
      <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="../../resources/css/myhouse.css" rel="stylesheet" type="text/css" />
      <!--<link href="http://dhtheme.com/monday-html/bootstrap/css/bootstrap.css" rel="stylesheet">-->	
      <!--<link href="http://dhtheme.com/monday-html/assets/color/color1.css" rel="stylesheet" type="text/css" title="color1">-->
      <script type="text/javascript" src="../../scripts/includes/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="../../scripts/includes/bootstrap.min.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->