    <div class="main">
      <div class="breadcrumb">
        <a href="../../../">return to homepage</a> > <a href="../../../property">ASO Properties</a> > Carter's Court Progress
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              ASO Properties
            </div>
          </div> <!-- end: pageheadnew -->
          <div class="asomainlong">
            <div class="property_slider_wrapper">
              <h1 class="title_header" style="padding-left:10px;">Carter's Court</h1>
            </div>  
            <div class="progress-bars">
              <div class="progress-bar-item" data-percent="82">
                <h5>Project Completion</h5>
                <span class="progress-percentage">45%</span>
                <div class="progress-container">
                  <div class="progress-empty"></div>
                  <div style="width: 45%;" class="progress-done"></div>
                </div>
                <h5 style="margin-top:30px;">Project Pictures</h5>
              </div>
            </div>
            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">
              <!-- Loading Screen -->
              <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('../img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
              </div>
              <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/01.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/02.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/03.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/04.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/05.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/06.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/07.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/08.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/09.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/10.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/11.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/12.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/13.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/14.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/15.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/16.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/17.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/18.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="../img/carterscourt/19.jpg" />
                </div>
              </div>
              <!-- Bullet Navigator -->
              <!--<div data-u="navigator" class="jssorb05" style="bottom:16px;right:6px;" data-autocenter="1">-->
                <!-- bullet navigator item prototype -->
                <!--<div data-u="prototype" style="width:16px;height:16px;"></div>
              </div>-->
              <!-- Arrow Navigator -->
              <span data-u="arrowleft" class="jssora12l" style="top:123px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
              <span data-u="arrowright" class="jssora12r" style="top:123px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
            </div>
            <p style="text-align:center; margin-top: 20px;"><img src="../../../resources/img/icons/greyseperator.png" alt=""></p>
          </div> <!-- end: asomainlong -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside" style="padding-top:92px;">
          <div class="formpage">
            <div class="formpage1">
              <h3>OK, I am interested in this property...</h3>
              <form class="houseform2" method="post" action="../../form_processing.php" onsubmit="return formValidation();" id="houseform2">
                <select name="property" id="property" class="finalinput" size=1 onchange="changeList(this)">
                  <option value="none">- Please Select -</option>
                  <option value="carter">Carter's Court</option>
                  <option value="shekinah">Shekinah Green Estate</option>
                  <option value="nimdel">Nimdel Strip Estate</option>
                  <option value="alcove">Alcove Homes</option>
                </select>
                <input name="name" id="name" type="text" class="finalinput" placeholder="Your name*" value="Your name*">
                <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="Email*">
                <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="Phone">
                <input name="twitter" id="twitter" type="text" class="finalinput" placeholder="Twitter Handle" value="Twitter Handle">
                <label class="formlabel" style="margin-top:20px;">Select State</label>
                <select name="state" id="state" class="finalinput">
                  <option value="" selected="selected">Please select</option>
                  <option value="Abuja FCT">Abuja FCT</option>
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa Ibom">Akwa Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kano">Kano</option>
                  <option value="Katsina">Katsina</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nassarawa">Nassarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                  <option value="Outside Nigeria">Outside Nigeria</option>
                </select><br>
                <label  class="formlabel">Select Property Type</label>
                <select name="housetype" id="housetype" class="finalinput" size=1>
<option>- Please Select -</option>
</select>
                <p style="margin-top:-3px;">On which of these platforms did you first learn about ASO?</p>
                <p style="margin-top:-10px;">
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Radio" id="CheckboxGroup1_0">Radio</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Newspaper/Magazine" id="CheckboxGroup1_1">Newspaper/Magazine</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Flier" id="CheckboxGroup1_2">Flier</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Television" id="CheckboxGroup1_3">Television</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Billboard" id="CheckboxGroup1_4">Billboard</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Website" id="CheckboxGroup1_5">Website</label><br>
                  <label class="medsize">
                  <input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Social Media" id="CheckboxGroup1_7">Social Media</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Event" id="CheckboxGroup1_8">Event</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Referrals" id="CheckboxGroup1_10">Referrals</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="SMS" id="CheckboxGroup1_9">SMS</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Online Advert/News" id="CheckboxGroup1_6">Online Advert/News</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Others (Please specify)" id="CheckboxGroup1_11">Others (Please specify)</label><br>
                  <input name="other" type="text" size="40" class="formtext"></p>
                  <p style="text-align:center;">
                  <input class="btn-primary" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
                </p>
              </form>
            </div> <!-- end: formpage1 -->
            <div class="formpage2">
              <h1>Thank You!</h1>
              <p>You have successfully entered your details on our data base. We look forward to helping you own your dream home.</p>
              <p>We will contact you shortly.</p>
            </div> <!-- end: formpage2 -->
          </div> <!-- end: formpage -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <link href="../../../resources/css/flexslider.css" rel="stylesheet" type="text/css">
      <link href="../../../resources/css/myhouse.css" rel="stylesheet" type="text/css">
      <link href="../../../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="../../../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
      <link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="../../../resources/css/tabs-2.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../../../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../../../aminacourt/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/jquery.flexslider-min.js"></script>
      <script src="../../../scripts/includes/select.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../../../scripts/includes/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/flex-script.js"></script>
      <script type="text/javascript" src="../../../scripts/includes/tabs2.js"></script>
      <script type="text/javascript" src="../js/jssor.slider.min.js"></script>
      <script>
          jssor_1_slider_init = function() {
              
              var jssor_1_SlideshowTransitions = [
                {$Duration:1200,$Opacity:2}
              ];
              
              var jssor_1_options = {
                $AutoPlay: true,
                $SlideshowOptions: {
                  $Class: $JssorSlideshowRunner$,
                  $Transitions: jssor_1_SlideshowTransitions,
                  $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                  $Class: $JssorArrowNavigator$
                },
                $BulletNavigatorOptions: {
                  $Class: $JssorBulletNavigator$
                }
              };
              
              var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
              
              //responsive code begin
              //you can remove responsive code if you don't want the slider scales while window resizes
              function ScaleSlider() {
                  var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                  if (refSize) {
                      refSize = Math.min(refSize, 600);
                      jssor_1_slider.$ScaleWidth(refSize);
                  }
                  else {
                      window.setTimeout(ScaleSlider, 30);
                  }
              }
              ScaleSlider();
              $Jssor$.$AddEvent(window, "load", ScaleSlider);
              $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
              $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
              //responsive code end
          };
      </script>
      <script>
        jssor_1_slider_init();
      </script>
      <script type="text/javascript">
        function formValidation() {
          var c_name=document.forms["houseform2"]["name"].value;
          if (c_name==null || c_name=="" || c_name=="Your name*") {
              alert("Please enter your name");
              return false;
          }
          
          var x=document.forms["houseform2"]["email"].value;
          var atpos=x.indexOf("@");
          var dotpos=x.lastIndexOf(".");
          if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
              alert("Please ensure your email is correct");
              return false;
          } 
          
          var c_phone=document.forms["houseform2"]["phone"].value;
          if (c_phone==null || c_phone=="") {
              alert("Please enter your phone number");
              return false;
          }
          
          var c_property=document.forms["houseform2"]["property"].value;
          if (c_property==null || c_property=="" || c_property=="none") {
              alert("Please select a property");
              return false;
          } 
        }
      </script>
      <script language="javascript">
        var lists = new Array();
        
        // First set of text and values
        lists['none']    = new Array();
        lists['none'][0] = new Array(
            '- Please Select -'
        );
        lists['none'][1] = new Array(
            '- Please Select -'
        );
        
        lists['carter']    = new Array();
        lists['carter'][0] = new Array(
            '4 Bedroom Terrace - N29.9 Million',
            '4 Bedroom Semi Detached - N55 Million',
            '4 Bedroom Detached - N70 Million'
        );
        lists['carter'][1] = new Array(
            '4 Bedroom Terrace',
            '4 Bedroom Semi Detached',
            '4 Bedroom Detached'
        );
        
        // Second set of text and values
        lists['shekinah']    = new Array();
        lists['shekinah'][0] = new Array(
            '3 bedroom Townhouse with BQ - N75 Million',
            '4 Bedroom Townhouse with BQ - N90 Million',
            '4 Bedroom Semi Detached with BQ - N105 Million'
        );
        lists['shekinah'][1] = new Array(
            '3 bedroom Townhouse with BQ',
            '4 Bedroom Townhouse with BQ',
            '4 Bedroom Semi Detached with BQ'
        );
        
        // Third set of text and values
        lists['nimdel']    = new Array();
        lists['nimdel'][0] = new Array(
            '3 Bedroom - N40 Million',
            '4 Bedroom – N45 Million',
            '4 Bedroom Masionette Penthouse - N80 Million'
        );
        lists['nimdel'][1] = new Array(
            '3 Bedroom',
            '4 Bedroom',
            '4 Bedroom Masionette Penthouse'
        );
        
        // Fourth set of text and values
        lists['alcove']    = new Array();
        lists['alcove'][0] = new Array(
            '3 Bedroom Apartments – N40 Million ',
            '3 Bedroom Penthouses – N80 Million ',
            '4 Bedroom Townhouses – N65 Million '
        );
        lists['alcove'][1] = new Array(
            '3 Bedroom Apartments',
            '3 Bedroom Penthouses',
            '4 Bedroom Townhouses'
        );
        
        function changeList( box ) {
            list = lists[box.options[box.selectedIndex].value];
            emptyList( box.form.housetype );
            fillList( box.form.housetype, list );
        }
        function emptyList( box ) {
            while ( box.options.length ) box.options[0] = null;
        }
        function fillList( box, arr ) {
            for ( i = 0; i < arr[0].length; i++ ) {
                option = new Option( arr[0][i], arr[1][i] );
                box.options[box.length] = option;
            }
            box.selectedIndex=0;
        }
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->