<div class="main">
  <div class="breadcrumb">
    <a href="../">return to homepage</a> > <a href="../products">Our Products</a>
  </div> <!-- end: breadcrumb -->
  <div class="mainpagecontent">
    <div class="contentwrapper">
      <div class="pagehead">
        <div class="pageheadinner">
          Home Finance 
        </div> <!-- end: pageheadinner -->
      </div> <!-- end: pagehead -->
      <menu>
        <ul class="slideMenu">
          <li><a href="#">Products</a>
            <ul>
              <li><a href="../products">Home</a></li>
              <li><a href="#">Individual Banking</a>
                <ul>
                  <li><a href="../products/current">ASO Current Account</a></li>
                  <li><a href="../products/nontarget">Non Target Savings</a></li>
                  <li><a href="../products/myhouse">Savings For Mortgage</a></li>
                  <li><a href="../products/othersavings">Savings For Other</a></li>
                  <li><a href="../products/personalloans">Personal Loans</a></li>
                  <li><a href="../products/faqs">F.A.Qs</a></li>
                </ul>
              </li>
              <li><a href="#">Business Banking</a>
                <ul>
                  <li><a href="../products/businesscurrent">Corporate Current</a></li>
                  <li><a href="../products/businessfixed">ASO Fixed Deposit</a></li>
                  <li><a href="../products/businessloans">Business Loans/LOC</a></li>
                  <li><a href="../products/faqs/business">F.A.Qs</a></li>
                </ul>
              </li>

              <li><a href="#">Home Finance</a>
                <ul>
                  <li><a href="../products/myresidential">MyResidential Mortgage</a></li>
                  <li><a href="../products/mybusiness">MyBusiness Mortgage</a></li>
                  <li><a href="../products/nhf">National Housing Fund</a></li>
                  <li class="first activeTrail"><a href="#">MyHouse Purchase Prog</a></li>
                  <li><a href="../products/faqs/homefinance">F.A.Qs</a></li>
                </ul>
              </li>
              <li><a href="#">E-Banking Solutions</a>
                <ul>
                  <li><a href="../products/mobile">Mobile Phone</a></li>
                  <li><a href="../products/web">Web/Internet Banking</a></li>
                  <li><a href="../products/atm">ATM</a></li>
                  <li><a href="../products/pos">POS</a></li>
                </ul>
              </li>
              <li><a href="../products/realestate">Real Estate Investment</a></li>
            </ul>
          </li>
        </ul>
      </menu>
      <div class="asomain">
        <div class="prodheader">
          <div class="prodheader-r">
            <img src="../resources/img/prodheaders/myhousepurchase.png" alt="" width="289" height="165">
          </div>
        </div> 
        <div class="proddetail">
          <h1>MyHouse Purchase Program</h1>
          <p>The ASO MyHouse Purchase Program is a new program that provides you with an accessible option of purchasing a home. With a structured payment plan, ASO MyHouse Purchase Program enables you to acquire a property by making down payments over the term of the agreement. The customer has two purchase options:</p>
          <ul class="redbullet">
            <li><p><b><u>Mortgage Option</u></b>: The Customer makes staggered payments based on his/her equity contribution</p></li>
            <li><p><b><u>Outright Purchase Option</u></b>: The customer makes staggered payments based on the purchase price.  Customers who select the Outright purchase option are eligible for a discount off the purchase price</p></li>
          </ul>
          <p>The ASO MyHouse Purchase Program is available on an exclusive range of ASO Real Estate projects. Any sale of properties under the ASO MyHouse Purchase Program is carried out following a strict prequalification.</p>
          <p class="redlink"><a href="../resources/downloads/ASO FAQS FLYER.PDF" target="_blank">Frequently Asked Questions</a></p>
          <!--<h1 class="page-header">Featured Properties</h1>
          <div class="properties-grid">
            <div class="row">
              <div class="property">
                <div class="image">
                  <div class="content">
                    <a href="../asogarden/"></a>
                    <img src="../resources/img/myhouse/property-small-6.png" alt="ASO Garden Estate" width="250" height="185">
                  </div>
                  <div class="price">
                    From N17,000,000
                  </div>
                </div>
                <div class="title">
                  <h2><a href="../asogarden/">ASO Garden Estate</a></h2>
                </div>
                <div class="location">Karsana, Abuja</div>
                <div class="area">
                  <span class="key">Area:</span>
                  <span class="value">Located just after Gwarinpa, &nbsp;&nbsp;&nbsp;along the Kubwa Express Road, &nbsp;&nbsp;&nbsp;beside the Papal Ground.
</span>
                </div>
              </div>
              <div class="property">
                <div class="image">
                  <div class="content">
                    <a href="../aminacourt/"></a>
                    <img src="../resources/img/myhouse/property-small-7.png" alt="Amina Court" width="250" height="185">
                  </div>
                  <div class="price">
                    From N75,000,000
                  </div>
                </div>
                <div class="title">
                  <h2><a href="../asogarden/">Amina Court</a></h2>
                </div>
                <div class="location">Apo Dutse, Abuja</div>
                <div class="area">
                  <span class="key">Area:</span>
                  <span class="value">Located within the rapidly developing Apo-Dutse District.</span>
                </div>
              </div>
            </div>
            <!--<div class="row">
              <div class="property">
                <div class="image">
                  <div class="content">
                    <a href="../asogarden/"></a>
                    <img src="../resources/img/myhouse/property-small-6.png" alt="3412 Cloudcroft Dr" width="250" height="185">
                  </div>
                  <div class="price">
                    From N15,000,000
                  </div>
                </div>
                <div class="title">
                  <h2><a href="../asogarden/">ASO Garden Estate</a></h2>
                </div>
                <div class="location">Karsana, Abuja</div>
                <div class="area">
                  <span class="key">Area:</span>
                  <span class="value">Located just after Gwarinpa, &nbsp;&nbsp;&nbsp;along the Kubwa Express Road, &nbsp;&nbsp;&nbsp;beside the Papal Ground.
</span>
                </div>
              </div>
            </div>-->
          <!--</div>-->
        </div> <!-- end: proddetail -->
      </div> <!-- end: asomain -->	
    </div> <!-- end: contentwrapper -->	  
    <div class="asoshade gradient">	
      <div class="insideshadow">&nbsp;
      </div> <!-- end: insideshadow -->
    </div> <!-- end: asoshade -->
    <div class="asoside">
      <div id="newsletter">
        <a href="../mls" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
      </div> <!-- end: newsletter -->
      <div class="quicklinks">
        <script type="text/javascript">
          <!--
          function parseNavigation(ob) {
            toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
  
            targetWindow = toBeBrokenDown[0];
            targetURL    = toBeBrokenDown[1];
  
            if (targetWindow!=='') {
              window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
              ob.selectedIndex = 0;
            } else {		
              window.open(targetURL,'_top')
            }
          }
          //-->
        </script>
        <form name="form" id="form" action="">
          <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
            <option selected="selected">Quick Links</option>
            <option value="|http://www.asoplc.com/company/">About ASO</option>
            <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
            <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
            <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
            <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
            <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
            <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
            <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
            <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
            <option value="|http://mls.asoplc.com/Property">Available Properties</option>
            <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
          </select>
        </form>
      </div> <!-- end: quicklinks -->
      <div class="infoheader">
        <img src="../resources/img/newinfoheaders/ad1.png" alt="">
      </div> <!-- end: infoheader -->
    </div> <!-- end: asoside -->
  </div> <!-- end: mainpagecontent -->
  <link href="../resources/css/myhouse.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

     })();
  </script>
</div> <!-- end: main -->
</div> <!-- end: asom -->
<div class="asor"></div> <!-- end: asor -->
<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->