    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a>
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pagehead">
            <div class="pageheadinner">                Our Products
            </div> <!-- end: pageheadinner -->
          </div> <!-- end: pagehead -->
          <div class="asohomemain">
            <ul class="clicker">
                <li>
                   <p><img src="../resources/img/prodtitle/assist-1.png" alt=""></p>
                   <!--<p>Welcome! Let&acute;s get started in selecting the best products to fit your needs</p>-->
                   <p><a href="#" class="blklink">OK, I'm ready, let's get started</a></p>
                   <div class="inside">  
                      <p><img src="../resources/img/prodtitle/assist-2.png" alt=""></p>
                      <!--<p>So, what type of product(s) are you interested in?</p>-->
                      <p><a href="#" class="clickback">go back</a></p>
                      <ul class="clicker">
                          <li>
                              <p><a href="#" class="blklink">Individual Banking</a></p>
                              <div class="inside">
                                  <p><img src="../resources/img/prodtitle/assist-3.png" alt=""></p>
                                  <p><a href="#" class="clickback">go back</a></p>
                                  <!--<p>Great! Now, are you looking for a</p>-->
                                  <ul class="clicker">
                                      <li>
                                          <p><a href="#" class="blklink">ASO Current Account</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4a.png" alt=""></p>	
                                              <p><a href="#" class="clickback">go back</a></p>									
                                              <!--<p>You can enjoy;</p>-->
                                              <ul class="clicker">
                                                  <li>
                                                      <p>A low maintenance account that takes care of your basic banking needs <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                           <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>		
                                                           <p><a href="#" class="clickback">go back</a></p>													
                                                           <p>We recommend the <a href="regularcurrent/" class="redlink">ASO Regular Current Account</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>A superior current account with zero COT <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>                                                            <p>We recommend the <a href="excel/" class="redlink">ASO Excel Account</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="#" class="blklink">Non Target Savings (For Regular Day To Day Savings)</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4a.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>Take advantage of;</p>-->
                                              <ul class="clicker">
                                                  <li>
                                                      <p>A simple savings account with low opening balance <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="regularsavings/" class="redlink">ASO Regular Savings Account</a></p>
                                                      </div>												
                                                  </li>
                                                  <li>
                                                      <p>A superior savings account with an attractive interest rate and zero COT <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="asoplus/" class="redlink">ASOPlus Account</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>A low risk investment for idle funds <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="fixeddeposit/" class="redlink">ASO Fixed Deposit</a></p>
                                                      </div>
                                                  </li>											
                                              </ul>
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="#" class="blklink">Savings For Mortgage (To Access A Mortgage Loan)</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>Would you like;</p>-->
                                              <ul class="clicker">
                                                <li>
                                                    <p>A target mortgage account for income earnings starting at N420,000/yr <a href="#" class="redlink">Select</a></p>
                                                    <div class="inside">
                                                        <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                        <p><a href="#" class="clickback">go back</a></p>
                                                        <p>We recommend the <a href="myhouse/opal/" class="redlink">MyHouse Opal Account</a></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>A target mortgage account for income earnings starting from N1.2 mil/yr <a href="#" class="redlink">Select</a></p>
                                                    <div class="inside">
                                                        <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>	
                                                        <p><a href="#" class="clickback">go back</a></p>												
                                                        <p>We recommend the <a href="myhouse/pearl/" class="redlink">MyHouse Pearl Account</a></p>
                                                    </div>													
                                                </li>												
                                                <li>
                                                    <p>A target mortgage account with income earnings starting from N2.8 mil/yr <a href="#" class="redlink">Select</a></p>
                                                    <div class="inside">
                                                        <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                        <p><a href="#" class="clickback">go back</a></p>
                                                        <p>We recommend the <a href="myhouse/ruby/" class="redlink">MyHouse Ruby Account</a></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>A target mortgage account with income earnings starting from N18 mil/yr <a href="#" class="redlink">Select</a></p>
                                                    <div class="inside">
                                                        <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                        <p><a href="#" class="clickback">go back</a></p>
                                                        <p>We recommend the <a href="myhouse/blackdiamond/" class="redlink">MyHouse Black Diamond Account</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                          </div>									
                                      </li>
                                      <li>
                                          <p><a href="#" class="blklink">Savings For Other (To Save For A Particular Need)</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4a.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>Choose a;</p>-->
                                              <ul class="clicker">
                                                  <li>
                                                      <p>A target savings for Holy Travel <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="pilgrimage/" class="redlink">ASO Pilgrimage Account</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>Savings Account for your child(ren). <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="flourish/" class="redlink">ASO Flourish Savings Account</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>									
                                      </li>
                                      <li>
                                          <p><a href="#" class="blklink">Personal Loan</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>Would you like;</p>-->
                                              <ul class="clicker">											
                                                  <li>			
                                                      <p>A consumer loan to meet your daily obligations such as Rent, Appliances, Trade facility, Laptops <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="consumerloan/" class="redlink">ASO GAP Consumer Loan</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>A loan to purchase a car <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="carloan/" class="redlink">ASO GAP Car Loan</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>									
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li>
                              <p><a href="#" class="blklink">Business Banking</a></p>
                              <div class="inside">
                                  <p><img src="../resources/img/prodtitle/assist-3a.png" alt=""></p>
                                  <p><a href="#" class="clickback">go back</a></p>
                                  <!--<p>Good Choice! Would you like a</p>-->
                                  <ul class="clicker">
                                      <li>
                                          <p><a href="#" class="blklink">Corporate Current Account</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4a.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>Why not open;</p>-->
                                              <ul class="clicker">
                                                  <li>
                                                      <p>A Business Account with low checking and deposit activity levels <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="corporatecurrent/" class="redlink">ASO Corporate Current Account</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>A Business Account with high activity levels that is COT sensitive <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="corporateexcel/" class="redlink">ASO Excel Corporate Account</a></p>
                                                      </div>
                                                  </li>
                                              </ul>	
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="businessfixed/" class="blklink">ASO Fixed Deposit</a></p>
                                      </li>
                                      <li>
                                          <p><a href="businessloans/" class="blklink">Business Loans/Lines of Credit</a></p>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li>
                              <p><a href="#" class="blklink">Home Finance</a></p>
                              <div class="inside">
                                  <p><img src="../resources/img/prodtitle/assist-3.png" alt=""></p>
                                  <p><a href="#" class="clickback">go back</a></p>
                                  <!--<p>Excellent! Which would you like to explore</p>-->
                                  <ul class="clicker">
                                      <li>
                                          <p><a href="#" class="blklink">MyResidential Mortgage Loan</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <p>A mortgage option to:</p>
                                              <ul class="clicker">
                                                  <li>
                                                      <p>finance a single/multiple family unit for personal residence <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="myhomepurchase/" class="redlink">MyHome Purchase Mortgage Loan</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>finance the construction of residential real estate <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="myhomeconstruction/" class="redlink">MyHome Construction</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>finance the renovation or remodeling of a property <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="myhomeimprovement/" class="redlink">MyHome Improvement Mortgage Loan</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>refinance to pay off an existing loan by taking a new loan using the same property as security <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="myhomerefinance/" class="redlink">MyHome Refinancing Mortgage</a> option</p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>refinance to free up surplus funds which would have remained part of the dormant value of a property <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="myhomeequity/" class="redlink">MyHome Equity option</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="mybusiness/" class="blklink">MyBusiness Mortgage Loan(Commercial)</a></p>
                                      </li>
                                      <li>
                                          <p><a href="nhf/" class="blklink">National Housing Fund (NHF)</a></p>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li>
                              <p><a href="#" class="blklink">E-Banking Solutions</a></p>
                              <div class="inside">
                                  <p><img src="../resources/img/prodtitle/assist-3a.png" alt=""></p>
                                  <p><a href="#" class="clickback">go back</a></p>
                                  <p>a solution for the following platforms:</p>
                                  <ul class="clicker">
                                      <li>
                                          <p><a href="#" class="blklink">Mobile Phone</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4a.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <!--<p>You can;</p>-->
                                              <ul class="clicker">
                                                  <li>
                                                      <p>Control your finances from your mobile phone <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="mobile/" class="redlink">ASO Mobile</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>Get an alert on every transaction you make <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="smsalert/" class="redlink">ASO SMS Alert Service</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>Request for your current balance anywhere anytime on your mobile phone. <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="smsbalance/" class="redlink">ASO SMS Balance enquiry</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="#" class="blklink">Web/Internet Banking</a></p>
                                          <div class="inside">
                                              <p><img src="../resources/img/prodtitle/assist-4.png" alt=""></p>
                                              <p><a href="#" class="clickback">go back</a></p>
                                              <ul class="clicker">
                                                  <li>
                                                      <p>controlling your finances on the internet <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5a.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="web/" class="redlink">ASO Internet Banking</a></p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <p>internet banking for corporate organizations <a href="#" class="redlink">Select</a></p>
                                                      <div class="inside">
                                                          <p><img src="../resources/img/prodtitle/assist-5.png" alt=""></p>
                                                          <p><a href="#" class="clickback">go back</a></p>
                                                          <p>We recommend the <a href="epay/" class="redlink">ASO E-Pay</a></p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li>
                                          <p><a href="atm/" class="blklink">ATM</a></p>
                                      </li>
                                      <li>
                                          <p><a href="pos/" class="blklink">POS</a></p>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li>
                              <p><a href="realestate/" class="blklink">Real Estate Investments</a></p>
                          </li>				
                      </ul>
                   
                   </div>
                </li>
            </ul>
          </div> <!-- end: asomain -->	
          <div class="clearfix"></div>
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">
            &nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside">
          <div id="newsletter">
            <a href="../mls/" target="_blank"><img src="../resources/img/icons/asomls.png" alt=""></a>
          </div> <!-- end: newsletter -->
          <div class="quicklinks">
            <script type="text/javascript">
              <!--
              function parseNavigation(ob) {
                toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
      
                targetWindow = toBeBrokenDown[0];
                targetURL    = toBeBrokenDown[1];
      
                if (targetWindow!=='') {
                  window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
                  ob.selectedIndex = 0;
                } else {		
                  window.open(targetURL,'_top')
                }
              }
              //-->
            </script>
            <form name="form" id="form" action="">
              <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
                <option selected="selected">Quick Links</option>
                <option value="|http://www.asoplc.com/company/">About ASO</option>
                <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
                <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
                <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
                <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
                <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
                <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
                <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
                <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
                <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
                <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
                <option value="|http://mls.asoplc.com/Property">Available Properties</option>
                <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
              </select>
            </form>
          </div> <!-- end: quicklinks -->
          <div class="infoheader">
            <img src="../resources/img/newinfoheaders/ad1.png" alt="">
          </div> <!-- end: infoheader -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>		
      <script type="text/javascript">
        function hideInitial(objs) {
          $(objs).each(function() {
            var v=$(this).css('display');
            if ((v != 'block') || (v != 'none')) {
              $(this).css('display', 'none');
            } else {
              $(this).hide();
            }
          });
        }
        
        $(function() {
          //clicker init code	
          var ptotal=0;
          var nChildren=new Object;
          hideInitial($('.clicker li .inside'));
          $('.clicker').each (function() {
              $(this).children(':not(.inside)').show();
              $(this).children('.inside').hide();			  
              
              $(this).prop('id', 'clicker_' + ptotal);
              var stotal=0;
              $(this).children('li').each(function() {
                  var sid='subitem_' + ptotal + '_' + stotal;
                  $(this).prop('id', sid);				  

                  stotal++;
              });
              
              ptotal++;			  
          });
          
          $('.clickback').click(function(e) {		      
              e.stopPropagation();
              
              var o=$(this).parent().parent().parent();
              var inside=o.children('.inside');
              
              if (inside) {
                  inside.slideUp(200, function() {
                      o.children(":not('.inside')").slideDown(200);
                      var i=o.prop('id').toString();
                      var id=i.replace('subitem_', '').split('_');
                      if (id[0] != 0) {
                          var pp=o.parent().parent();						  
                          pp.children(':not(.inside)').slideDown(200, function() {					  
                              pp.children('.clicker').slideDown(200, function() {
                                  o.parent().children().slideDown(200);								  
                              });
                          });
                      }					  
                  });
                  
              }
              
              return false;
          });
         
          $('.blklink, .redlink').click(function(e) {
              var href=$(this).prop('href').replace(window.location.href, '');
              if ((href.length > 0) && (href != '#')) return true;
              
              e.stopPropagation();
              
              var o=$(this).parent().parent();
              var inside=o.children('.inside');
              
              o.children(":not('.inside')").slideUp(200);
              if (inside) {
                  inside.children(":not('.inside')").show();
                  inside.children('.inside').hide();				  
                  inside.slideDown(200);
                  
                  var i=o.prop('id').toString();
                  var id=i.replace('subitem_', '').split('_');
                  if (id[0] != 0) {
                    var pinside=o.parent().parent();
                    pinside.children(':not(.clicker)').slideUp(200);
                    pinside.children('.clicker').children().each(function() {
                        if ($(this).prop('id') != i)
                            $(this).slideUp(200);
                    });
                  }
              }
                          
              return false;
          });	  
          //end clicker init code	
      });
      
      //google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28605460-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();      
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->