    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a> > <a href="../property/">ASO Properties</a> > ASO New Home Campaign
      </div> <!-- end: breadcrumb -->
      <div class="clearfix"></div>
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              ASO New Home Campaign
            </div>
          </div> <!-- end: pagehead -->
          <div class="clearfix"></div>
          <div class="asomainfull">
            <div class="row">
              <div class="col-md-4 col-sm-4 propbox">
                <div class="thumbnail boxed">
                  <div class="listing-image">
                    <span class="listing-tag important">For Sale</span>
                    <img alt="Listing" src="../resources/img/properties/img-5.jpg">
                    <div class="image-links">
                      <div class="right">
                        <a class="inner" href="../asomeadows"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="image-tags">
                      <ul class="property-tags">
                        <li><span><i class="icon-bed"></i> 2/3<br><span class="small">Bedrooms</span></span></li>
                        <li><span><i class="icon-shower"></i> 1/2<br><span class="small">Bathrooms</span></span></li>
                        <li><span><i class="icon-garage"></i> 0<br><span class="small">Quarters</span></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="description">
                    <h4><span class="oswaldfont">ASO Meadows Estate<br><small>Kuje District, Abuja</small></span></h4>
                    <hr>
                    <div class="row">
                      <div class="col-xs-6">
                        <strong>Type:</strong>
                      </div>
                      <div class="col-xs-6">
                        Bungalows
                      </div>
                      <div class="col-xs-6">
                        <strong>Size:</strong>
                      </div>
                      <div class="col-xs-6">
                        15 Hectares 
                      </div>
                      <div class="col-xs-6">
                        <strong>Rooms:</strong>
                      </div>
                      <div class="col-xs-6">
                        2/3 Bed, 1/2 Bath
                      </div>
                    </div>
                    <hr>
                    <span class="price-tag">N 8.2 million</span>
                    <a class="btn btn-link" role="button" href="../asomeadows">+ Show Details</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 propbox">
                <div class="thumbnail boxed">
                  <div class="listing-image">
                    <span class="listing-tag important">For Sale</span>
                    <img alt="Listing" src="../resources/img/properties/img-6.jpg">
                    <div class="image-links">
                      <div class="right">
                        <a class="inner" href="../hortigraph"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="image-tags">
                      <ul class="property-tags">
                        <li><span><i class="icon-bed"></i> 3/4<br><span class="small">Bedrooms</span></span></li>
                        <li><span><i class="icon-shower"></i> 2/3<br><span class="small">Bathrooms</span></span></li>
                        <li><span><i class="icon-garage"></i> 0<br><span class="small">Quarters</span></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="description">
                    <h4><span class="oswaldfont">Hortigraph Housing Estate<br><small>Karmo District, Abuja</small></span></h4>
                    <hr>
                    <div class="row">
                      <div class="col-xs-6">
                        <strong>Type:</strong>
                      </div>
                      <div class="col-xs-6">
                        Apartments/Duplexes 
                      </div>
                      <div class="col-xs-6">
                        <strong>Size:</strong>
                      </div>
                      <div class="col-xs-6">
                        1.5 Hectares 
                      </div>
                      <div class="col-xs-6">
                        <strong>Rooms:</strong>
                      </div>
                      <div class="col-xs-6">
                        3/4 Bed, 2/3 Bath
                      </div>
                    </div>
                    <hr>
                    <span class="price-tag">N 19 million</span>
                    <a class="btn btn-link" role="button" href="../hortigraph">+ Show Details</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 propbox">
                <div class="thumbnail boxed">
                  <div class="listing-image">
                    <span class="listing-tag important">For Sale</span>
                    <img alt="Listing" src="../resources/img/properties/img-7.jpg">
                    <div class="image-links">
                      <div class="right">
                        <a class="inner" href="../gracecourt"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="image-tags">
                      <ul class="property-tags">
                        <li><span><i class="icon-bed"></i> 3/4/5<br><span class="small">Bedrooms</span></span></li>
                        <li><span><i class="icon-shower"></i> 2/3<br><span class="small">Bathrooms</span></span></li>
                        <li><span><i class="icon-garage"></i> 0<br><span class="small">Quarters</span></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="description">
                    <h4><span class="oswaldfont">Grace Court<br><small>Yaba, Lagos</small></span></h4>
                    <hr>
                    <div class="row">
                      <div class="col-xs-6">
                        <strong>Type:</strong>
                      </div>
                      <div class="col-xs-6">
                        Flats/Maisonettes 
                      </div>
                      <div class="col-xs-6">
                        <strong>Size:</strong>
                      </div>
                      <div class="col-xs-6">
                        1.5 Hectares 
                      </div>
                      <div class="col-xs-6">
                        <strong>Rooms:</strong>
                      </div>
                      <div class="col-xs-6">
                        3/4/5 Bed, 2/3 Bath
                      </div>
                    </div>
                    <hr>
                    <span class="price-tag">N 35 million</span>
                    <a class="btn btn-link" role="button" href="../hortigraph">+ Show Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->
      </div> <!-- end: mainpagecontent -->
      <link href="../resources/css/myhouse.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/tabs-2.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../property - Copy/bootstrap.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/jquery.flexslider-min.js"></script>
      <script src="../scripts/includes/select.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../scripts/includes/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/flex-script.js"></script>
      <script type="text/javascript" src="../scripts/includes/tabs2.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->