    <div class="main">
      <div class="breadcrumb">
        <a href="../">return to homepage</a> > <a href="../products">Our Products</a> > <a href="../property"> ASO Properties</a> > Primesoil
      </div> <!-- end: breadcrumb -->
      <div class="mainpagecontent">
        <div class="contentwrapper">
          <div class="pageheadnew">
            <div class="title">
              ASO Property
            </div>
          </div> <!-- end: pagehead -->
          <div class="asomainlong">
            <div id="property_slider_wrapper">
              <h1 class="title_header" style="padding-left:10px;">Primesoil</h1>
            </div>
            <div class="property-images-slider">
              <div class="flexslider" id="details-slider3">
                <a class="fa fa-home property-type-icon" href="#"></a>
                <a class="status" href="#">for sale</a>
                <ul class="slides">
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/primesoil/slide1_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/primesoil/slide2_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/primesoil/slide3_big.jpg"></div>
                  </li>
                  <li>
                    <div class="image-wrapper"><img alt="gallery" src="../resources/img/primesoil/slide4_big.jpg"></div>
                  </li>
                </ul>
              </div>
              <div class="flexslider" id="details-carousel3">
                <ul class="slides">
                  <li><img src="../resources/img/primesoil/slide1_thumb.jpg"></li>
                  <li><img src="../resources/img/primesoil/slide2_thumb.jpg"></li>
                  <li><img src="../resources/img/primesoil/slide3_thumb.jpg"></li>
                  <li><img src="../resources/img/primesoil/slide4_thumb.jpg"></li>
                </ul>
              </div>
            </div>
            <article class="node node-apartment clearfix">
              <div class="pull-left overview">
                <div class="span3">
                  <h2>Features</h2>
                  <p>Ideal for:</p>
                  <div class="table">
                    <ul class="span2">
                      <li class="checked">Crop Farms</li>
                      <li class="checked">Poultry</li>
                      <li class="checked">Hatcheries</li>
                      <li class="checked">Fish Ponds</li>
                      <li class="checked">Orchards</li>
                      <li class="checked">Plantations</li>
                      <li class="checked">Agro-Product</li>
                      <li class="checked">Processing Plants</li>
                      <li class="checked">Warehousing/Silos</li>
                      <li class="checked">Cattle Ranching</li>
                      <!--<li class="checked">Cr&eacute;che &amp; Minimart Buildings</li>-->
                    </ul>
                  </div> <!-- end: table -->
                </div> <!-- end: span3 -->
                <div class="clearfix"></div>
              </div>
              <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">
                    <p>The Agricultural and Rural Development Secretariat (ARDS) of the FCT has identified and selected 15,000 hectares of arable land for development under an Agricultural Land Resources Development Program in collaboration with Primesoil Ltd as the Developer and ASO Savings and Loans Plc as financier.</p>
                    <p>The entire farm land is located at Kwali Area Council, FCT Abuja earmarked by the FCDA for commercial farming activities. The farmland, 67 km from city center is approximately 55 minutes leisure drive from the city centre.</p>
                    <p>Kwali Area Council falls within the Iku/Gurara plain and bobo plains which makes farm land irrigation easier and suitable for agricultural activities and food production.  With this unique and affordable investment opportunity, you can acquire a title able 1 hectare (10,000 SQM) of arable farmland in Abuja for only N 1,575,000.</p>
                    <h2>Available Units</h2>
                      <div class="col-xs-3">
                        <p><span class="nmlred"><b>Small Farm Holdings</b></span><br>1 - 4 Hectares<br>5 - 9 Hectares</p>
                      </div>
                      <div class="col-xs-3">
                         <p><span class="nmlred"><b>Medium Farm Holdings</b></span><br>10 - 24 Hectares<br>25 - 49 Hectares</p>
                      </div>
                      <div class="col-xs-3">
                         <p><span class="nmlred"><b>Large Farm Holdings</b></span><br>50+ Hectares</p>
                      </div>
                    <!--<p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO Hortigraph Estate.pdf" target="_blank" style="font-size:smaller;">Download Hortigraph Housing Estate Brochure</a></p>
                    <p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO HORTIGRAPH ESTATE - FAQs.pdf" target="_blank" style="font-size:smaller;">Download Hortigraph Housing Estate FAQs</a></p>-->
                    <!--<p class="redlink"><i class="icon-before fa fa-download"></i>&nbsp;&nbsp;&nbsp;<a href="../resources/downloads/ASO FAQ - ASO CARTER&SHEKINAH.pdf" target="_blank" style="font-size:smaller;">Download ASO Carter's Court Estate / Shekinah Green Estate F.A.Qs</a></p>-->
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <h2>Prices</h2>
              <div class="row">
                <!--<p class="smlsize">* Prices do NOT include VAT</p>-->
                <table width="100%" cellpadding="3" cellspacing="0" class="tblpurchase" border="1">
                  <tr>
                    <th class="tablehead">Basic Selling Price:<br><br><span style="color:#000000;">N1,575,000 Per Hectare</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead">Payment Plan:<br><br><span style="color:#000000;">Option 1 - Outright Cash Payment</span></th>
                  </tr>
                  <tr>
                    <th class="tablehead"><span style="color:#000000;">Option 2 - Staggered Payment can be made as follows:<br><br>
                      <ul>
                        <li>On acceptance of offer: N 787,500 (50% contribution)</li>
                        <li>Monthly payment over 12 months N 65,625 monthly (post-dated cheques to be made available)</li>
                      </ul>
                    </span></th>
                  </tr>
                  <tr>
                    <th class="tablehead">Payment Details:<br><br><span style="color:#000000;">Bank Name: Zenith<br>Account Name: Primesoil<br>Account No: 1014792451</span></th>
                  </tr>
                </table>
              </div>
            </article>
            <div style="margin-top:10px;"></div>
            <img src="../resources/img/properties/sponsors.jpg" alt="">
            <p class="smlsize"><b>Special Considerations:</b>
              <ol type="I" style="margin-left: 20px;">
                <li>Initial minimum 50% payment of offer price shall be payable within one (1) week of receipt of  offer letter.</li>
                <li>Upon payment of 50% of the property price, a provisional allocation letter shall be issued to you which will detail your payment instalments and specific due dates.</li>
                <li>Refunds to an Allotee shall be effected only when an alternative purchaser for the same land has been secured by the Allotee and in the following manner:
                  <ol type="i" style="margin-left: 20px;">
                    <li>Receipt of proceeds from the intended buyer (Total amount of Land)</li>
                    <li>Deduction of 10% of the sum deposited by the Allotee upon receipt of proceeds by the alternate buyer of the sale stated in condition (i) above.</li>
                  </ol>
                </li>
                <li>Upon your default of the payment of the second instalment stated above, you shall be given 14 Days within which to make the outstanding payment failure which the Vendor shall proceed to sell the property in line with the conditions stated in Clause (3) above.</li>
              </ol>
            </p>
          </div> <!-- end: asomain -->	
        </div> <!-- end: contentwrapper -->	  
        <div class="asoshade gradient">	
          <div class="insideshadow">&nbsp;
          </div> <!-- end: insideshadow -->
        </div> <!-- end: asoshade -->
        <div class="asoside" style="padding-top:92px;">
          <div class="formpage">
            <div class="formpage1">
              <h3>OK, I am interested in this property...</h3>
              <form class="houseform2" method="post" action="form_processing.php" onsubmit="return formValidation();" id="houseform2">
                <input name="property" id="property" type="text" class="finalinput" placeholder="Primesoil" value="Primesoil" readonly>
                <input name="name" id="name" type="text" class="finalinput" placeholder="Your name*" value="Your name*">
                <input name="email" id="email" type="email" class="finalinput" placeholder="Email*" value="Email*">
                <input name="phone" id="phone" type="text" class="finalinput" placeholder="Phone" value="Phone">
                <input name="twitter" id="twitter" type="text" class="finalinput" placeholder="Twitter Handle" value="Twitter Handle">
                <label class="formlabel" style="margin-top:20px;">Select State</label>
                <select name="state" id="state" class="finalinput">
                  <option value="" selected="selected">Please select</option>
                  <option value="Abuja FCT">Abuja FCT</option>
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa Ibom">Akwa Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kano">Kano</option>
                  <option value="Katsina">Katsina</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nassarawa">Nassarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                  <option value="Outside Nigeria">Outside Nigeria</option>
                </select><br>
                <label  class="formlabel">Select Property Type</label>
                <select name="housetype" id="housetype" class="finalinput">
                  <option selected>Please select</option>
                  <option value="1to4Hectares">1 - 4 Hectares</option>
                  <option value="5to9Hectares">5 - 9 Hectares</option>
                  <option value="10to24Hectares">10 - 24 Hectares</option>
                  <option value="25to49Hectares">25 - 49 Hectares</option>
                  <option value="50+Hectares">50+ Hectares</option>
                </select>
                <p style="margin-top:-3px;">On which of these platforms did you first learn about ASO?</p>
                <p style="margin-top:-10px;">
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Radio" id="CheckboxGroup1_0">Radio</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Newspaper/Magazine" id="CheckboxGroup1_1">Newspaper/Magazine</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Flier" id="CheckboxGroup1_2">Flier</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Television" id="CheckboxGroup1_3">Television</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Billboard" id="CheckboxGroup1_4">Billboard</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Website" id="CheckboxGroup1_5">Website</label><br>
                  <label class="medsize">
                  <input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Social Media" id="CheckboxGroup1_7">Social Media</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Event" id="CheckboxGroup1_8">Event</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Referrals" id="CheckboxGroup1_10">Referrals</label>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="SMS" id="CheckboxGroup1_9">SMS</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Online Advert/News" id="CheckboxGroup1_6">Online Advert/News</label><br>
                  <label class="medsize"><input type="radio" name="learnt_about_aso" class="CheckboxGroup1" value="Others (Please specify)" id="CheckboxGroup1_11">Others (Please specify)</label><br>
                  <input name="other" type="text" size="40" class="formtext"></p>
                  <p style="text-align:center;">
                  <input class="btn-primary" name="submit" type="submit" id="submit" tabindex="5" value="Send" />
                </p>
              </form>
            </div> <!-- end: formpage1 -->
            <div class="formpage2">
              <h1>Thank You!</h1>
              <p>You have successfully entered your details on our data base. We look forward to helping you own your dream home.</p>
              <p>We will contact you shortly.</p>
            </div> <!-- end: formpage2 -->
          </div> <!-- end: formpage -->
        </div> <!-- end: asoside -->
      </div> <!-- end: mainpagecontent -->
      <style>
      </style>
      <link href="../resources/css/flexslider.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/myhouse.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="../resources/css/owl.theme.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../scripts/includes/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../alcove/bootstrap.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/jquery.flexslider-min.js"></script>
      <script src="../scripts/includes/select.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../scripts/includes/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../scripts/includes/flex-script.js"></script>
      <script type="text/javascript">
        function formValidation() {
          var c_name=document.forms["houseform"]["name"].value;
          if (c_name==null || c_name=="") {
              alert("Please enter your name");
              return false;
          }
          
          var x=document.forms["houseform"]["email"].value;
          var atpos=x.indexOf("@");
          var dotpos=x.lastIndexOf(".");
          if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
              alert("Please ensure your email is correct");
              return false;
          } 
          
          var c_phone=document.forms["houseform"]["phone"].value;
          if (c_phone==null || c_phone=="") {
              alert("Please enter your phone number");
              return false;
          } 
        }
      </script>
      <script type="text/javascript">
        jQuery(function($) {
            // Save the initial values of the inputs as placeholder text
            $('#houseform2 input').attr("data-placeholdertext", function() {
                return this.value;
            });
            
            // Hook up a handler to delete the placeholder text on focus,
            // and put it back on blur
            $('#houseform2')
            .delegate('input', 'focus', function() {
                if (this.value === $(this).attr("data-placeholdertext")) {
                    this.value = '';
                }
            })
            .delegate('input', 'blur', function() {
                if (this.value.length == 0) {
                    this.value = $(this).attr("data-placeholdertext");
                }
            });
        });
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28605460-1']);
        _gaq.push(['_trackPageview']);
  
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  
         })();
      </script>
    </div> <!-- end: main -->
  </div> <!-- end: asom -->
  <div class="asor"></div> <!-- end: asor -->
  <div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->