<div class="main">
  <div class="breadcrumb">
    <a href="../../">return to homepage</a> > <a href="../">Our Products</a>
  </div> <!-- end: breadcrumb -->
  <div class="mainpagecontent">
    <div class="contentwrapper">
      <div class="pageheadnew">
        <div class="title">
          Home Finance
        </div>
      </div> <!-- end: pagehead -->
      <menu>
        <ul class="slideMenu">
          <li><a href="#">Products</a>
            <ul>
              <li><a href="../">Home</a></li>
              <li><a href="#">Individual Banking</a>
                <ul>
                  <li><a href="../current/">ASO Current Account</a></li>
                  <li><a href="../nontarget/">Non Target Savings</a></li>
                  <li><a href="../myhouse/">Savings For Mortgage</a></li>
                  <li><a href="../othersavings/">Savings For Other</a></li>
                  <li><a href="../personalloans/">Personal Loans</a></li>
                  <li><a href="../faqs/">F.A.Qs</a></li>
                </ul>
              </li>
              <li><a href="#">Business Banking</a>
                <ul>
                  <li><a href="../businesscurrent/">Corporate Current</a></li>
                  <li><a href="../businessfixed/">ASO Fixed Deposit</a></li>
                  <li><a href="../faqs/business/">F.A.Qs</a></li>
                </ul>
              </li>
              <li><a href="#">Home Finance</a>
                <ul>
                  <li class="first activeTrail"><a href="#">MyResidential Mortgage</a></li>
                  <li><a href="../mybusiness/">MyBusiness Mortgage</a></li>
                  <li><a href="../nhf/">National Housing Fund</a></li>
                  <li><a href="../myhousepurchase/">MyHouse Purchase Prog</a></li>
                  <li><a href="../faqs/homefinance/">F.A.Qs</a></li>
                </ul>
              </li>
              <li><a href="#">E-Banking Solutions</a>
                <ul>
                  <li><a href="../mobile/">Mobile Phone</a></li>
                  <li><a href="../web/">Web/Internet Banking</a></li>
                  <li><a href="../atm/">ATM</a></li>
                  <li><a href="../pos/">POS</a></li>
                </ul>
              </li>
              <li><a href="../realestate/">Real Estate Investment</a></li>
            </ul>
          </li>
        </ul>
      </menu>
      <div class="asomain">
        <div class="prodheader">
          <div class="prodheader-r">
            <img src="../../resources/img/prodheaders/myresidential.png" alt="">
          </div>
        </div> 
        <div class="proddetail">
          <h1>MyResidential Mortgage Loan</h1>
          <p>This is a loan for the acquisition of a house or property. This could be in variants of single family or multi-family depending on the type of housing/building. The options under residential mortgage loans are:</p>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/myhomepurchase.png" alt="MyHome Purchase Mortgage Loan"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>This is a Residential Loan that is acquired to finance the buying of a real estate/landed property which should be for residential purpose only. The house type can be for single family or a multiple family unit.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Equity Contribution:</p></li>
            <li><p>Civil Servants - 10%</p></li>
            <li><p>Other Employees - 20%</p></li>
            <li><p>Self Employed - 30%</p></li>
            <li><p>Tenor:</p></li>
            <li><p>Maximum tenor of 10 years</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/myhomeconstruction.png" alt="MyHome Construction Mortgage Loan"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>This is a loan acquired to finance the construction of residential real estate. It is secured by the real estate being constructed. In most cases, the Customer already owns the landed property.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Equity Contribution:</p></li>
            <li><p>Civil Servants - 10%</p></li>
            <li><p>Other Employees - 20%</p></li>
            <li><p>Self Employed - 30%</p></li>
            <li><p>Tenor:</p></li>
            <li><p>Maximum tenor of 10 years</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/myhomeimprovement.png" alt="MyHome Improvement Mortgage Loan"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>This loan is acquired to finance the renovation or remodeling of a property. While home renovations often refer to building projects that alter the structure of an existing home, it can also include improvements to lawns, gardens and outdoor structures such as garages.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Equity Contribution:</p></li>
            <li><p>Civil Servants - 10%</p></li>
            <li><p>Other Employees - 20%</p></li>
            <li><p>Self Employed - 30%</p></li>
            <li><p>Tenor: Maximum tenor of 10 years</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/myhomerefinancing.png" alt="MyHome Refinancing Mortgage Loan"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>This is the process of paying off an existing loan by taking a new loan using the same property as security. It is a loan that is acquired to replace an existing mortgage obligation.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Tenor: Maximum tenor of 10 years</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/myhomeequity.png" alt="MyHome Equity Mortgage Loan"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>MyHome Equity is the process of freeing up surplus funds, which would have remained part of the dormant value of a property. It is defined as a process that allows the customer to release cash from his property as one lump sum or in installments.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Tenor: Maximum tenor of 7 years</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/residentialequity.jpg" alt="Residential Equity Line Of Credit" width="250" height="124"></p>
          </div>
        </div>
        <div class="proddetail">
          <p>To meet temporary expense commitment with use of a line of credit secured by a residential collateral.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Obligor Exposure : Based on affordability (No single obligor shall access more than 70% of FSV of collateral)</p></li>
            <li><p>Interest rate: 25% P.A</p></li>
            <li><p>Tenure: 1 year</p></li>
            <li><p>Security/Collateral : Residential collateral where FSV &gt; Value of loan + 1 year interest pyt</p></li>
            <li><p>Repayment Structure : Monthly repayment of interest and principal</p></li>
          </ul>
        </div>
        <div class="prodheader">
          <div class="prodheader-r">
            <p class="alignmiddle"><img src="../../resources/img/prodheaders/rentaladvance.jpg" alt="Rental Advance" width="250" height="124"></p> 
          </div>
        </div>
        <div class="proddetail">
          <p>This is for existing customers who find it difficult to meet short term expenses as a result of commitments on mortgage loans. The loans does not necessarily need to have been issued by ASO ab initio.</p>
          <h1>Features</h1>
          <ul class="redbullet">
            <li><p>Obligor Exposure : Based on affordability: Max 33% of net monthly income</p></li>
            <li><p>Interest rate: 30% P.A</p></li>
            <li><p>Tenure: 1 month</p></li>
            <li><p>Security/Collateral : Mortgage or savings customers who are required to domicile their salary or business accounts with ASO</p></li>
            <li><p>Repayment Structure : Monthly repayment of interest and principal</p></li>
          </ul>
        </div> <!-- end: proddetail -->
      </div> <!-- end: asomain -->	
    </div> <!-- end: contentwrapper -->	  
    <div class="asoshade gradient">	
      <div class="insideshadow">&nbsp;
      </div> <!-- end: insideshadow -->
    </div> <!-- end: asoshade -->
    <div class="asoside">
      <div id="newsletter">
        <a href="../../mls/" target="_blank"><img src="../../resources/img/icons/asomls.png" alt=""></a>
      </div> <!-- end: newsletter -->
      <div class="quicklinks">
        <script type="text/javascript">
          <!--
          function parseNavigation(ob) {
            toBeBrokenDown = ob.options[ob.selectedIndex].value.split("|");
  
            targetWindow = toBeBrokenDown[0];
            targetURL    = toBeBrokenDown[1];
  
            if (targetWindow!=='') {
              window.open(targetURL,targetWindow,'toolbar=1,location=1,directories=1,status=1,menubar=1,scrollbars=1,resizable=1,width=400,height=300');
              ob.selectedIndex = 0;
            } else {		
              window.open(targetURL,'_top')
            }
          }
          //-->
        </script>
        <form name="form" id="form" action="">
          <select class="searchfont" onchange="parseNavigation(this)" style="width:230px; padding:2px;">
            <option selected="selected">Quick Links</option>
            <option value="|http://www.asoplc.com/company/">About ASO</option>
            <option value="|http://www.asoplc.com/exco/">ASO Exhibition &amp; Conference 2013</option>
            <option value="|http://www.asoplc.com/products/myhouse/">ASO MyHouse Account</option>
            <option value="|http://www.asoplc.com/products/faqs/">Individual Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/myhousepurchase/">MyHouse Purchase Program</option>
            <option value="|http://www.asoplc.com/products/myresidential/">MyResidential Mortgage Loan</option>
            <option value="|http://www.asoplc.com/products/mybusiness/">MyBusiness Mortgage</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/">ASO Affordability Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/payment/">ASO Payment Calculator</option>
            <option value="|http://www.asoplc.com/learningcentre/calculators/amortization/">ASO Amortization Calculator</option>
            <option value="|http://www.asoplc.com/products/faqs/homefinance/">Home Finance F.A.Q</option>
            <option value="|http://www.asoplc.com/products/faqs/business/">Business Banking F.A.Q</option>
            <option value="|http://www.asoplc.com/products/mobile/">E-Banking Solutions</option>
            <option value="|http://www.asoplc.com/learningcentre/a2z/mortgageprocess/">General Mortgage Steps</option>
            <option value="|http://mls.asoplc.com/Property">Available Properties</option>
            <option value="|http://www.asoplc.com/mail/whistleblowerform.php">ASO Whistleblower Form</option>
          </select>
        </form>
      </div> <!-- end: quicklinks -->
      <div class="infoheader">
        <img src="../../resources/img/newinfoheaders/ad1.png" alt="">
      </div> <!-- end: infoheader -->
    </div> <!-- end: asoside -->
  </div> <!-- end: mainpagecontent -->
  <script type="text/javascript" src="../../scripts/includes/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28605460-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

     })();
  </script>
</div> <!-- end: main -->
</div> <!-- end: asom -->
<div class="asor"></div> <!-- end: asor -->
<div class="clearfix"></div> <!-- end: clearfix -->
</div> <!-- end: content -->